<div class="row">
    <div class="large-12 medium-12 small-12 text-center">
        <img src="../../../../img/mensaje_pagina_prohibido.png" />
    </div>
    <div class="small-12 medium-12 large-12 columns text-center">
       <h1>El cambio de contraseña solo es posible el mismo día que se genera el correo electrónico</h1>
        <a role="button" href="<?php echo '../../'; ?>" class="button small success radius" aria-hidden="true">Ir a inicio</a>
    </div>
</div>   