<div style="height: 60px;"></div>

<a href="#" id="abrirModal" class="radius button">iniciar sesion</a>
<!-- Reveal Modals begin -->
<div id="firstModal" class='reveal-modal' data-reveal>
          <legend>Registrar Usuarios</legend>
          <div class="large-12 columns">
              <div class="MenuItemLabel" >
                  <?php
                  $columnas     = $usuario->obtenerColumnasUsuario();
                  $form = $this->form;
                  $form->setAttribute('action', $this->url('login', array('action' => 'login')));
                  $form->prepare();
                  echo $this->form()->openTag($form);
                  echo $this->formRow($form->get($columnas[3]));
                  echo $this->formRow($form->get($columnas[4]));
                  ?>
                  <div class="small-12 large-12 columns">
                 	<div class="small-6 large-6 columns text-right">
                 		<?php echo $this->formSubmit($form->get('submit')); ?>
                 	</div>
	                 <div class="small-6 large-6 columns text-left">
	                 	<?php echo $this->formRow($form->get('cancelar'));  ?>
	                 </div>
                 </div>
                  <?php
                    echo $this->form()->closeTag();
                  ?>
                  
                  <a href="#" id="cerrarModal" >Cancelar</a>
                </div>
            </div>
</div>

<input type="hidden" id="urlregistroajax" value="<?php echo $this->url('login',array('controller'=>'login','action'=>'loginajax'));?>"/>
<?php
    $this->headScript()->prependFile($this->basePath() . '/js/foundation/foundation.reveal.js');
?>