<html lang="es">
<head>
<meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Grupo Educare Plataforma de evaluaciones'))->setSeparator(' - ')->setAutoEscape(false)?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')?>

        <!-- Le styles -->
         <?php
//									
//echo $this->headLink ( array (
//											'rel' => 'shortcut icon',
//											'type' => 'image/vnd.microsoft.icon',
//											
//									) )->prependStylesheet ( $this->basePath () . '/css/general.css' )->prependStylesheet ( $this->basePath () . '/css/bootstrap-responsive.min.css' )->prependStylesheet ( $this->basePath () . '/css/bootstrap.min.css' )?>

        <!-- Scripts -->
        <?php
          echo $this->headScript()
                    ->prependFile($this->basePath() . '/js/login/confirma.js');
//								
//echo $this->headScript ()->prependFile ( $this->basePath () . '/js/login/confirma.js' )->prependFile ( $this->basePath () . '/js/html5.js', 'text/javascript', array (
//										'conditional' => 'lt IE 9' 
//								) )->prependFile ( $this->basePath () . '/js/bootstrap.min.js' )->prependFile ( $this->basePath () . '/js/jquery.jqMensaje.js' )->prependFile ( $this->basePath () . '/js/jquery.min.js' );
//								
								?>
    </head>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
			window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
			d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
			$.src='//cdn.zopim.com/?1BsbfJ4c9m7EPwVGSXTxHmVJz0dcOhXB';z.t=+new Date;$.
			type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
		</script>
<!--End of Zopim Live Chat Script-->

<body>
	<div style="width: 100%;">
		<div class="lineBlueSoft"></div>
	</div>
	<div style="width: 100%; background-color: #FFFFFF;">
		<div class="container">
			<div class="row ">
<!--				<div class="span12" style="margin: 10px;">
					<a href="<?php echo $this->url("home")?>" class="right"><i
						class="icon-home"></i><?php echo  $this->translate("Regresar al inicio")?></a>
				</div>-->
			</div>
		</div>
	</div>
	<div style="width: 100%;">
		<div class="lineBlueHard"></div>
	</div>

	<div class="container fondoAzul">
		<div class="row ">
			<div class="span12 ">
				<div class="spacer20"></div>
				<div class="spacer20"></div>
				<div class="spacer20"></div>
			</div>
<!--			<div class="span12 " style="overflow: auto;">
				<img alt="Logo TID"
					src="<?php echo $this->basePath();?>/images/logoTID.png"
					class="left" style="margin-left: 20px;" /> <img
					alt="Logo Grupo Educare"
					src="<?php echo $this->basePath();?>/images/logoGE.png"
					class="right" style="margin-right: 20px;" />

			</div>-->
			<div class="span12 ">
				<div class="spacer20"></div>
				<div class="spacer20"></div>
				<div class="spacer20"></div>
			</div>
			<div class="span12">
				<div
					style="background-color: #FFFFFF; margin: 20px; overflow: auto; text-align: center;">
					<div class="spacer20"></div>
					<div id="changePassForm">
						<h4 class="subheader">Cambio de contrase&#241;a</h4>

						<input id="_txtPassword" type="password"
							placeholder="Digita Contrase&#241;a"> <input
							id="_txtconfirmarPassword" type="password"
							placeholder="Confirma Contrase&#241;a">

						<button class="btn btn-primary" id="_btnCambiaPassword">Cambiar</button>
					</div>
					<div id="msgResultado"></div>
					<div id="imgLoading" style="display: none;">
						<img src="<?php echo $this->basePath();?>/images/loader_back.gif" />
					</div>
					<div class="spacer20"></div>
				</div>

			</div>
		</div>
		<div id="_loading"></div>
		<input type="hidden" id="urlSitioCambiarPass"
			value="<?php echo $this->url('login',array('controller'=>'login','action'=>'cambiarpassajax'));?>" />
		<input type="hidden" id="_urlSitio"
			value="<?php echo $this->url('login',array('controller'=>'login','action'=>'index'));?>" />
		<input type="hidden" id="_txtCode" value="<?php echo $_strCodigo;?>" />
		<div class="span12 ">
			<div class="spacer20"></div>
			<div class="spacer20"></div>
			<div class="spacer20"></div>
		</div>
<!--		<footer>
			<div class="copyright"><?php echo $this->translate("Copyright © 2013 Grupo Educare S.A. de C.V. Todos los derechos Reservados.")?></div>
			<div class="copyrightInterno">
				&middot;<a
					href="<?php echo $this->url('login',array("controller"=>"Index",'action'=>'terminos'));?>"
					target="_new" class="copyrightInterno"><?php echo $this->translate('Terminos y condiciones ');?></a>
				&middot;<a
					href="<?php echo $this->url('login',array("controller"=>"Index",'action'=>'privacidad'));?>"
					target="_new" class="copyrightInterno"><?php echo $this->translate('Pol&iacute;tica de privacidad');?></a>
			</div>
		</footer>-->
	</div>


</body>
</html>




