<body>
	<div id="header">
		<img src="http://portalge.grupoeducare.com/images/ge.png" width="136"
			height="64" alt="ge" />
	</div>
	<p style="text-align: center;">&nbsp;</p>
	<p>Hola <?php echo $_strNombreDestino;?> :</p>
	<p>De acuerdo a tu solicitud, tu correo y nombre de usuario han sido
		modificados en Plataforma de evaluaciones de Grupo Educare.</p>
	<p>
		Abajo te presentamos nombre de usuario:<br>
		<br>
	</p>
    <?php echo $_strCorreoReceptor;?>
    
    <p>
		Ingresa al sitio o haz click <a href="<?php echo $_strValorURL; ?>"
			target="_blank">aqui</a> para realizar los cambios necesarios.
	</p>
	<p>Si tienes problemas con el link, puedes copiar la siguiente
		direcci&oacute;n y pegarla en tu navegador:</p>
	<p> <?php echo $_strValorURL; ?></p>

	<p style="text-align: center;">&nbsp;</p>
	<div id="footer">
		<div align="right">
			<table style="width: 100%; text-align: left;">
				<tbody>
					<tr align="center">
					</tr>
					<tr>
						<td width="486"><h3 align="center">Formas de contactar a soporte
								en l&iacute;nea</h3>
							<p align="center">
								<span style="height: 69px;"><strong>E-mail:</strong> <a
									href="mailto:soporte@grupoeducare.com">soporte@grupoeducare.com</a></span>
							</p>
							<p align="center">
								Horario de Soporte de Lunes a Viernes, de 8:30 a.m. a 16:30 p.m.<br>
								<a href="http://www.grupoeducare.com/web/legales.html"
									target="_blank">Pol&iacute;ticas de Privacidad. </a>
							</p></td>
					</tr>
					<tr>
						<td align="center">
							<p>
								<strong><span style="font-size: 8pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										Copyright (c) 2011 Grupo Educare S.A. de C.V. &nbsp;Todos los
										derechos reservados.</span></strong><br> <span
									style="font-size: 8pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(442)
									222-5444 con 4 l&iacute;neas</span>
							</p>
							<div>
								<strong><span style="font-size: 8pt;"><a target="_blank"
										href="http://www.youtube.com/user/GrupoEducare"><img
											src="http://www.grupoeducare.com/web/images/stories/slide/logo-youtubeM_2_2.png"
											alt="Siguenos en Youtube"
											style="margin-top: 30px; vertical-align: middle;" height="24"
											width="24" /></a></span></strong><strong><span
									style="font-size: 8pt;"><a target="_blank"
										href="http://www.facebook.com/GrupoEducare"><img
											src="http://www.grupoeducare.com/web/images/stories/slide/facebook_logo_2_2.png"
											alt="Siguenos en Facebook"
											style="margin-top: 30px; vertical-align: middle; margin-right: 2px;"
											height="24" width="24" /></a></span></strong>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<p style="text-align: center;">&nbsp;</p>
</body>
