
  <div class="row_pregunta">
    <div id="contenedor" class='large-12 small-12 columns text-left'>
        <div class="large-12 medium-12 small-12 columns text-center form_constructor">
         <div class="small-12 large-12 text-left columns title_cons titulo_gral">Preguntas</div>
        <?php
            $link = $_SERVER['REQUEST_URI'];
            $link_array = explode('/',$link);
            $page = end($link_array);
            $columns        = $this->cols;
            $columnsResp    = $this->colsResp; 
            $form           = $this->formPreg;
            $formResp       = $this->formResp;
            $arrMinMax      = $this->minimo_maximo;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
                <div class="cont-preguntas large-12 medium-12 small-12 columns" id="">
                    <div class="row">
                        <div class="small-6 medium-2 large-6 columns text-center">
                            <h5>Categoria</h5>
                            <p style="border-left: 10px"><textarea class="_objPregResp" rows="" cols="" id="textAreaCategoria"></textarea></p>
                            <p id="errorSelectCategoria"  style="display: none; color:#f04124;">
                                Debes seleccionar al menos 1 categoría
                            </p>  
                        </div>
                        <div class="small-6 medium-2 large-6 columns text-center">
                            <h5>Etiqueta</h5>
                            <p><textarea rows="" class="_objPregResp" cols="" id="textAreaEtiqueta"></textarea></p>
                            <p id="errorSelectTag"  style="display: none; color:#f04124;" >
                                Debes seleccionar al menos 1 etiqueta
                            </p>
                        </div>
                    </div>
                </div>
            <?php
            echo '<div class="cont-preguntas large-12 medium-12 small-12 columns text-center">';
            echo $this->formHidden($form->get('obtenerpreguntas'));
            echo $this->formHidden($form->get('obtenertipos'));
            echo $this->formHidden($form->get('obtenerrespuestas'));
            echo $this->formHidden($form->get('creapregunta'));
            echo $this->formHidden($form->get('obtenerNumeracion'));
            echo '<div class="large-2 small-6 columns"> Instrucciones </div>';
            echo $this->formRow($form->get($columns[1]));
            echo $this->formRow($form->get($columns[2])->setValueOptions($this->arrTipos));
            echo $this->formHidden($form->get($columns[4]));   
            echo $this->formRow($form->get($columns[5]));   
            echo $this->formHidden($form->get($columns[6]));    
            echo '<div class="spacer_16" style="height=10px;"></div>';
            echo '<div class="large-2 small-6 columns"> Pregunta </div>'; 
            echo $this->formRow($form->get($columns[7]));  
            echo $this->formHidden($form->get($columns[8])->setValueOptions($this->arrNumeracion));
            echo $this->formRow($form->get($columns[3]));
            echo $this->formHidden($form->get($columns[11]));
            echo '</div>';
            ?>
            <div class="large-12 medium-12 small-12 columns contenedor_respuestas"> 
                <?php
                    for($i=0; $i<$arrMinMax['maximo']; $i++){
                        $_idSubPreg = isset($arrPreguntas[$i]['t11id_pregunta']) ? $arrPreguntas[$i]['t11id_pregunta'] : 0;
                ?>
                <div id='<?php echo $i.'_nuevo' ?>' class="small-12 medium-12 large-12 columns respuesta_style">
                    <input type="hidden" id="idSubPreg" value="<?php echo $_idSubPreg; ?>">
                    <?php
                    if($i<$arrMinMax['minimo']){
                        echo $this->formRow($formResp->get($columnsResp[6])
                                ->setAttributes(array('id' => 'estatus_nuevo'. $i, 'value' => 1))
                                );
                        echo $this->formRow($formResp->get($columnsResp[2])
                                ->setAttributes(array('id'=>'respuesta_'.$i))
                                ); 
                    }else{
                        echo $this->formRow($formResp->get($columnsResp[6])
                                ->setAttributes(array('id' => 'estatus_nuevo'. $i, 'value' => 1)));
                        echo $this->formRow($formResp->get($columnsResp[2])
                                ->setAttributes(array('id'=>'respuesta_'.$i)));
                    }
                    if($i<$arrMinMax['minimo']){
                        $this->formRow($formResp->get($columnsResp[7])->setValueOptions(array('correcta_'.($i+1) =>'')));
                        echo $this->formRow($formResp->get($columnsResp[7])
                                ->setAttributes(array('id'=>'correcta_'.($i + 1))));
                        }else{
                            $this->formRow($formResp->get($columnsResp[7])->setValueOptions(array('correcta_'.($i+1) =>'')));
                            echo $this->formRow($formResp->get($columnsResp[7])
                                    ->setAttributes(array('id'=>'correcta_'.($i + 1))));
                            }
                            ?>            
                    <div class="large-1 medium-1 small-2 columns text-right cont_boton data-tooltip tip-top" title="Eliminar respuesta">
                        <?php
                        if($i<$arrMinMax['minimo']){
                            echo $this->formRow($formResp->get('borrar')
                                    ->setAttributes(array('id'=>'borrar_'.$i))
                                    ->setAttributes(array('onclick' => 'cambia_estatus_nueva("nuevo'.$i.'")'))
                                    );
                            }else{
                                echo $this->formRow($formResp->get('borrar')
                                        ->setAttributes(array('id'=>'borrar_'.$i))
                                        ->setAttributes(array('onclick' => 'cambia_estatus_nueva("nuevo'.$i.'")'))
                                        );
                                }
                                ?>
                    </div>
                </div>
                    <?php
                    }
                    ?>
            </div>
          <div class="small-8 large-12 columns">                  
            <ul id="inputTags"></ul>
          </div>
        <div class="small-12 large-12 columns">
            <div class="small-6 medium-3 large-3 columns text-center">
                   <?php echo $this->formRow($formResp->get('agregar'));  ?>
            </div>
            <div class="small-6 medium-3 large-3 columns text-center">
                   <?php echo $this->formRow($form->get('cancelar'));  ?>
            </div>
            <div class="small-6 medium-3 large-3 columns text-center">
                    <?php echo $this->formSubmit($form->get('almacenar')); ?>
            </div>
        </div>
    
        <?php
            echo $this->form()->closeTag();
        ?>

         <input type="hidden" id="urlMostrarTipos" value="<?php echo $this->url('preguntas', array('action'=>'muestratipos')); ?>">
         <input type="hidden" id="urlMostrarBuscador" value="<?php echo $this->url('preguntas', array('action'=>'buscadorpreguntas')); ?>">
         
        </div> 
    </div>
 </div>
<!-- cierra contenedor del body --> 
  <script type="text/javascript">
  </script>
  
<div data-alert class="alert-box hide">     
    <a href="#" class="close">&times;</a> 
</div>
 <div id="modalConfir" class="reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div id="modalSucces" class="text-left" style="display: none;">
            <p><?php echo $this->translate("La pregunta se almacenó correctamente.");?></p>
    </div>			
    <div id="modalError" class="text-left" style="display: none;">
        <p><?php echo $this->translate("La pregunta no pudo ser almacenada correctamente.");?></p>
    </div>
    <div class="large-12 columns" id="loading">
            <img alt="loading" src="<?php echo $this->basePath()?>/images/loader_back.gif" /><?php echo $this->translate('Procesando...')?>
    </div>
    <div class="large-12 columns" id="modalAjaxError" class="text-left" style="display: none;">
            <p><?php echo $this->translate('El proceso no se completó, error en la comunicación.')?></p>
    </div>
    <div id="modalBtnAceptar" style="display: none;">
            <a href="#" class="small button success" id="cerrar-reveal-add"><?php echo $this->translate('Aceptar')?></a>
    </div>
</div>

<div id="modalAlerta" class="reveal-modal text-left" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p><?php echo $this->translate("Nota:</br>&nbsp;&nbsp;-Debes tener por lo menos 3 respuestas disponibles.</br>&nbsp;&nbsp;-No es posible eliminar la respuesta correcta."); ?></p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
    <input type="hidden" id="urlConsultaCat" value="<?php echo $this->url('examenes',array('action'=>'getCategorias'));?>">
    <input type="hidden" id="urlConsultaTags" value="<?php echo $this->url('examenes',array('action'=>'getTags'));?>">
    <input type="hidden" id="urlPaginaActual"     value="<?php echo $page;?>">
<?php
$this->headLink()   
                    ->prependStylesheet($this->basePath() . '/css/examenes/jquery.tag-editor.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/constructor.css')
                    ->prependStylesheet($this->basePath() . '/css/jquery.jspanel.min.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/preguntas.css')
                    ;

$this->headScript()
                    ->prependFile($this->basePAth() .'/js/validate/jquery.validate.js')                    
                    ->prependFile($this->basePath() .'/js/examenes/preguntas.js')
                    ->prependFile($this->basePAth() .'/js/examenes/jquery.tag-editor.min.js')                    
                    ->prependFile($this->basePAth() .'/js/examenes/jquery.caret.min.js')
                    ->prependFile($this->basePath() .'/js/jquery.blockUI.js')
                    ->prependFile($this->basePath() .'/js/jquery.jspanel.min.js')
                    ->prependFile($this->basePath() .'/js/tinymce/tinymce.min.js')                    
                ;


