<?php echo $this->doctype(); ?>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        
        
        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
               
               
                ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
             //   ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
                ->prependStylesheet($this->basePath() . '/css/examenes/constructor.css');
        ?>
         <?php
         
        echo $this->headScript()
               	
              //  ->prependFile($this->basePath() . '/js/foundation.min.js')
                ->prependFile($this->basePath() . '/js/jquery-ui.min.js')
              //  ->prependFile($this->basePath() . '/js/jquery.min.js');
        ?>
    </head>
    <body>
        
       <div class="row">
       <div class="large-12 right columns"></div>
         <div class="large-12 columns div_buscador">
           <form>
            <div class="">
			    <div class="small-12 right columns div_busqueda">
			      <div class="row">
			        <div class="small-3 large-2 columns">
			          <label class="right inline label_style buscador">Buscador</label>
			        </div>
			        <div class="small-9 large-10 right  columns">
			          <input type="text" placeholder="Buscar preguntas" class=" _objPregRes">
			        </div>
			      </div>
			    </div>
			  </div>
		   </form>
		  </div>
         <div class="large-12 columns"><!-- acordeón -->
          
         	<div class="row">
			 <div id="accordion">
			  <h3 class="color_subtitle">Preguntas almacenadas</h3>
			  <div>
			    <p class="ajuste">
			    1- Se sabe que: Carmen es menor que Diana; Ana es mayor que Bernardo;  Emilio es menor que Diana y 
				Bernardo es mayor...
			    </p>
			    <p class="parrafo_bg">
			    2-¿Qué dibujo se forma con las siguientes figuras?
			    </p>
			  </div>
			  <h3>Historia Universal</h3>
			  <div>
			    <p class="ajuste">
			   1- Se sabe que: Carmen es menor que Diana; Ana es mayor que Bernardo;  Emilio es menor que Diana y 
				Bernardo es mayor...
			    </p>
			    <p class="parrafo_bg">
			    2-¿Qué dibujo se forma con las siguientes figuras?
			    </p>
			     <p class="ajuste">
			   3- Se sabe que: Carmen es menor que Diana; Ana es mayor que Bernardo;  Emilio es menor que Diana y 
			   Bernardo es mayor...
			    </p>
			  </div>
			  <h3 class="ask_title color_subtitle">Banco de preguntas</h3>
			  <div>
			     <p class="ajuste">
			    1- Señala la opción que es diferente a los demás.
			    </p>
			    <p class="parrafo_bg">
			    2-¿Qué dibujo representa la fracción que se muestra en la imágen?
			    </p>
			    <p class="ajuste">
			    3- Cuántas kilocalorías quema un deportista que realiza 50
				minutos en bicicleta y 45 minutos de trote?.
			    </p>
			    <ul>
			      <li>List item one</li>
			      <li>List item two</li>
			      <li>List item three</li>
			    </ul>
			  </div>
			  <h3 class="">Historia Contemporánea</h3>
			  <div>
			    <p>
			    1- Señala la opción que es diferente a los demás.
			    </p>
			    <p class="parrafo_bg">
			    2-¿Qué dibujo representa la fracción que se muestra en la imágen?
			    </p>
			    <p>
			    3- Cuántas kilocalorías quema un deportista que realiza 50
				minutos en bicicleta y 45 minutos de trote?.
			    </p>
			  </div>
			</div>
		   </div>
		</div>
       </div>

  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script> 

    </body>
</html>    