<br> 
<div class="row">
    <div id="contenedor" class='large-12 small-12 columns text-center'>
        <div class="large-9 small-9 columns text-center">
            Delete!
        </div>
    </div>
</div>