<br>
<div class="row_pregunta">
    <div id="contenedor" class='large-12 medium-12 small-12 columns text-left'>
        <div class="large-12 medium-12 small-12 columns text-center form_constructor">
            <div class="small-12 large-12 text-left columns title_cons">Editar Pregunta</div>
            <?php
            //$urlAnterior = $_SERVER['HTTP_REFERER'];
            $columns = $this->cols;
            $columnsResp = $this->colsResp;
            $form = $this->formPreg;
            $formResp = $this->formResp;
            $arrMinMax = $this->minimo_maximo;
            $arrRespuestas = $this->respuestas['respuestas'];
            $arrPreguntas = $this->respuestas['preguntas'];
            $arrClaveTipo = $this->arrClaveTipo;
            $intTipoPregunta = intval($this->respuestas['pregunta']['c03id_tipo_pregunta']);
            $minRespuestas = 3;
            $_numRespuestas = $this->respuestas['numRespuestas'] > 0 ? $this->respuestas['numRespuestas'] : $minRespuestas;
            $form->setAttribute('action', $this->url('preguntas', array('action' => 'edit', 'id' => $this->id)));
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
                <div class="cont-preguntas large-12 medium-12 small-12 columns" id="">
                    <div class="row">
                        <div class="small-6 medium-2 large-6 columns text-center">
                            <h5>Categoria</h5>
                            <p style="border-left: 10px"><textarea class="_objPregResp" rows="" cols="" id="textAreaCategoria"></textarea></p>
                            <p id="errorSelectCategoria"  style="display: none; color:#f04124;">
                                Debes seleccionar al menos 1 categoría
                            </p>    
                        </div>
                        <div class="small-6 medium-2 large-6 columns text-center">
                            <h5>Etiqueta</h5>
                            <p><textarea rows="" class="_objPregResp" cols="" id="textAreaEtiqueta"></textarea></p>
                            <p id="errorSelectTag"  style="display: none; color:#f04124;" >
                                Debes seleccionar al menos 1 etiqueta
                            </p>
                        </div>
                    </div>
                </div>            
            <?php
            echo '<div class="cont-preguntas large-12 medium-12 small-12 columns text-center">';
            echo '<div class="large-2 small-6 columns"> Instrucciones </div>';
            echo $this->formRow($form->get($columns[1]));
            echo $this->formRow($form->get($columns[2])->setValueOptions($this->arrTipos)); //tipo de pregunta
            echo $this->formRow($form->get($columns[4]));   //nombre corto / clave
            echo $this->formRow($form->get($columns[5]));   //instruccion
            echo $this->formRow($form->get($columns[6]));   //Tiempo limite
            echo '<div class="spacer_16" style="height=10px;"></div>';
            echo '<div class="large-2 small-6 columns"> Pregunta </div>';
            echo $this->formRow($form->get($columns[7]));   //Columnnas
            echo $this->formHidden($form->get($columns[8])); //numeracion
            echo $this->formRow($form->get($columns[3]));   //pregunta
            echo $this->formHidden($form->get($columns[11]));
            echo $this->formHidden($form->get($columns[0])->setAttributes(array('value' => $this->id)));
            echo '</div>'
            ?>
            <div class="large-12 small-12 large-12 columns contenedor_respuestas">
                <?php
                for ($i = 0; $i < $arrMinMax['maximo']; $i++) {
                    $id_respuesta = isset($arrRespuestas[$i]['t13id_respuesta']) ? $arrRespuestas[$i]['t13id_respuesta'] : null;
                    $_idSubPreg = isset($arrPreguntas[$i]['t11id_pregunta']) ? $arrPreguntas[$i]['t11id_pregunta'] : 0;
                    $correcta = false;
                    ?>
                    <div id='<?php 
                if (isset($id_respuesta)) {
                    echo 'respuesta_' . $id_respuesta;
                } else {
                    echo $i . '_nuevo';
                } ?>' class="small-12 large-12 columns respuesta_style">
                        <input type="hidden" id="idSubPreg" value="<?php echo $_idSubPreg; ?>">
                        <?php
                        //configura la estructura para la respuesta
                        if ($i < $_numRespuestas) {//Configura presentación para la columna 1 respueta (pregunta, en caso de que la pregunta paren tenga doble columna)
                            $_estatus = $arrRespuestas[$i]['t13' . $columnsResp[6]] == 'ACTIVA' ? 1 : 2;
                            echo $this->formRow($formResp->get($columnsResp[6])
                                            ->setAttributes(array('id' => 'estatus_' . $id_respuesta, 'value' => $_estatus))
                            );

                            if ($intTipoPregunta == $arrClaveTipo['PREGCO'] || $intTipoPregunta == $arrClaveTipo['ARRACO'] || $intTipoPregunta == $arrClaveTipo['RELNUM'] || $intTipoPregunta == $arrClaveTipo['RELLIN']) {//se debe agregar el tipo 4 cuando sea remplazado por el 17
                                echo $this->formRow($formResp->get($columnsResp[2])
                                                ->setAttributes(array('id' => 'respuesta_' . $i, 'value' => $arrPreguntas[$i]['t11' . $columns[3]])));
                            } else {
                                echo $this->formRow($formResp->get($columnsResp[2])
                                                ->setAttributes(array('id' => 'respuesta_' . $i, 'value' => $arrRespuestas[$i]['t13' . $columnsResp[2]])));
                            }
                        } else {//Crea y oculta loas respuestas nuevas
                            echo $this->formRow($formResp->get($columnsResp[6])
                                            ->setAttributes(array('id' => 'estatus_nuevo' . $i, 'value' => 1)));
                            echo $this->formRow($formResp->get($columnsResp[2])->setAttributes(array(
                                        'id' => 'respuesta_' . $i, 'class' => '_objPregResp t13respuesta edit contorno respuesta hide')));
                        }
                        //configra la estructira para el indicador de la respuesta correcta
                        if ($i < $_numRespuestas) {//Configura presentación para la columna 2 indicador correcta (respuesta, en caso de que la pregunta parent tenga doble columna)
                            
                            if ($intTipoPregunta == $arrClaveTipo['PREGCO'] || $intTipoPregunta == $arrClaveTipo['ARRACO'] || $intTipoPregunta == $arrClaveTipo['RELNUM'] || $intTipoPregunta == $arrClaveTipo['RELLIN']) {//se debe agregar el tipo 4 cuando sea remplazado por el 17
                                $this->formRow($formResp->get($columnsResp[7])->setValueOptions(array($arrRespuestas[$i]['t13' . $columnsResp[2]] => '')));
                            } else {
                                $this->formRow($formResp->get($columnsResp[7])->setValueOptions(array('correcta_' . ($i + 1) => '')));
                            }
                            $correcta = $arrRespuestas[$i]['t17correcta'] == 1 ? true : false;//valida si es la respuesta correcta
                            if ($correcta != false) {
                                $formResp->get('correcta')->setAttribute('value', 'correcta_' . ($i + 1));
                            }
                            
                            echo $this->formRow($formResp->get($columnsResp[7])->setAttributes(array('id' => 'correcta_' . ($i + 1))));
                        } else {//Crea y oculta los indicadores nuevos
                                $this->formRow($formResp->get($columnsResp[7])->setValueOptions(array('' => '')));
                            if ($intTipoPregunta == $arrClaveTipo['PREGCO'] || $intTipoPregunta == $arrClaveTipo['ARRACO'] || $intTipoPregunta == $arrClaveTipo['RELNUM'] || $intTipoPregunta == $arrClaveTipo['RELLIN']) {//se debe agregar el tipo 4 cuando sea remplazado por el 17
                                echo $this->formRow($formResp->get($columnsResp[7])->setAttributes(array(
                                            'id' => 'correcta_' . ($i + 1), 'class' => '_objPregResp respuesta correcta columns hide')));
                            } else {
                                $this->formRow($formResp->get($columnsResp[7])->setValueOptions(array('correcta_' . ($i + 1) => '')));
                                echo $this->formRow($formResp->get($columnsResp[7])->setAttributes(array(
                                            'id' => 'correcta_' . ($i + 1), 'class' => '_objPregResp respuesta correcta columns hide')));
                            }
                        }
                        ?>         
                        <div class="large-1 medium-1 small-2 columns s cont_boton data-tooltip tip-top" title="Eliminar respuesta">
                        <?php
                        if ($i < $_numRespuestas) {
                            echo $this->formRow($formResp->get('borrar')
                                            ->setAttributes(array('id' => 'borrar_' . $i))
                                            ->setAttributes(array('onclick' => 'cambia_estatus(' . $id_respuesta . ')'))
                            );
                        } else {
                            echo $this->formRow($formResp->get('borrar')
                                            ->setAttributes(array('id' => 'borrar_' . $i, 'class' => 'alert tiny fa fa-trash-o boton-borrar hide'))
                                            ->setAttributes(array('onclick' => 'cambia_estatus_nueva("nuevo' . $i . '")'))
                                    //->removeAttributes(array('onclick'))
                            );
                        }
                        ?>                   
                        </div>
                    </div>
                            <?php
                        }
                        ?>
            </div>
            <div class="row">
                <!--<div class="small-6 medium-3 large-3 columns text-center">
                    < ?php echo $this->formRow($form->get('preview')); ?>
                </div> -->
                <div class="small-6 medium-3 large-3 columns text-center">
                    <?php echo $this->formRow($formResp->get('agregar')); ?>
                </div>
                <div class="small-6 medium-3 large-3 columns text-center">
                    <?php echo $this->formRow($form->get('cancelar')); ?>
                </div>
                <div class="small-6 medium-3 large-3 columns text-center">
                    <?php echo $this->formSubmit($form->get('almacenar')); ?>
                </div>
                <div class="small-6 medium-3 large-3 columns text-center">
                    <a role="button" href="<?php echo $urlAnterior ?>" class="button small success radius" aria-hidden="true">Regresar</a>
                </div>
            </div>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
        </div>
    </div>
</div>
<input type="hidden" id="urlCambiaTipoPregunta" value="<?php echo $this->url('preguntas', array('action' => 'obtenertipopreguntaajax')) ?>">
<div data-alert class="alert-box hide">
    <a href="#" class="close">&times;</a>
</div>
<div id="modalConfir" class="reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div id="modalSucces" class="text-left" style="display: none;">
        <p><?php echo $this->translate("La pregunta se actualizó correctamente."); ?></p>
    </div>			
    <div id="modalError" class="text-left" style="display: none;">
        <p><?php echo $this->translate("La pregunta no pudo ser actualizada correctamente."); ?></p>
    </div>
    <div class="large-12 columns" id="loading">
        <img alt="loading" src="<?php echo $this->basePath() ?>/images/loader_back.gif" /><?php echo $this->translate('Procesando...') ?>
    </div>
    <div class="large-12 columns" id="modalAjaxError" class="text-left" style="display: none;">
        <p><?php echo $this->translate('El proceso no se completó, error en la comunicación.') ?></p>
    </div>
    <div id="modalBtnAceptar" style="display: none;">
        <button class="small button success" id="cerrar-reveal"><?php echo $this->translate('Aceptar') ?></button>
    </div>
</div>

<div id="modalAlerta" class="reveal-modal text-left" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p><?php echo $this->translate("Nota:</br>&nbsp;&nbsp;-Debes tener por lo menos 3 respuestas disponibles.</br>&nbsp;&nbsp;-No es posible eliminar la respuesta correcta."); ?></p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
    <input type="hidden" id="urleditaPreguntas" value="<?php echo $this->url('preguntas', array('action' => 'editaRespPreguntaAjax')) ?>"/>
    <input type="hidden" id="urlConsultaCat" value="<?php echo $this->url('examenes',array('action'=>'getCategorias'));?>">
    <input type="hidden" id="urlConsultaTags" value="<?php echo $this->url('examenes',array('action'=>'getTags'));?>">
    <input type="hidden" id="urlConsultaEditCat" value="<?php echo $this->url('preguntas',array('action'=>'obtenerCategoriasEdit')) ?>">
    <input type="hidden" id="urlConsultaEditEtiq" value="<?php echo $this->url('preguntas',array('action'=>'obtenerEtiquetaEdit')) ?>">
    <input type="hidden" id="urlIdPregunta" value="<?php echo $this->id ?>">
    
<?php

$this->headLink()
        ->prependStylesheet($this->basePath() . '/css/examenes/jquery.tag-editor.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/constructor.css')
        ->prependStylesheet($this->basePath() . '/css/crearexamen.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/preguntas.css')
;


$this->headScript()
        ->prependFile($this->basePAth() .'/js/examenes/jquery.tag-editor.min.js')  
        ->prependFile($this->basePAth() .'/js/examenes/jquery.caret.min.js')
        ->prependFile($this->basePath() . '/js/examenes/preguntas.js')
        ->prependFile($this->basePath() . '/js/examenes/cambiaTipoPregunta.js')
        ->prependFile($this->basePath() . '/js/tinymce/tinymce.min.js')
        ->prependFile($this->basePath() . '/js/validate/jquery.validate.js')
;

