
	     <ul id="sortable1" class="droptrue">   
	        <li id="elemnto1" class="ui-state-default">Posicion 1</li>
	        <li id="elemnto2" class="ui-state-default">Posicion 2</li>
			<li id="elemnto3" class="ui-state-default">Posicion 3</li>
	    </ul>
	    
		<ul id="sortable3" class="dropfalse">
		
		</ul>
		
	     <ul id="sortable2" class="droptrue">   
	        <li id="elemnto4" class="ui-state-highlight" >Posicion 4</li>
	        <li id="elemnto5" class="ui-state-highlight">Posicion 5</li>
			<li id="elemnto6" class="ui-state-highlight">Posicion 6</li>
	    </ul>
    


<style>
  #sortable1, #sortable2, #sortable3 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
  #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
</style>


<script>
$(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul",
      opacity: 0.6,
	  cursor: 'move',
	  update: function(event, ui) 
	  {
		  var item_id = $(this).attr("id");
          var drag_id = $(ui.item).attr('id')
          console.log('Lista padre: '+item_id+' Elemento: '+drag_id);
			 
				/*$.post(
				"updateDB.php", 
				order, 
				function(theResponse)
				{
					$("#contentRight").html(theResponse);
				});*/
	  } 
    });
 
    $( "ul.dropfalse" ).sortable({
      //connectWith: "ul",
      dropOnEmpty: false,
    });   
 
    $( "#sortable1, #sortable2, #sortable3" ).disableSelection();
  });

</script>