<div class="row">
    <div class="large-8 small-6 columns">
            <h1><?php echo $this->translate('Preguntas');?></h1>
    </div>   
    <div class="large-4 small-6 columns text-right">
            <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip" title="<?php echo $this->translate('Agregar nueva pregunta');?>">
                    <a href="
                       <?php echo $this->url('preguntas',array('controller'=>'preguntas','action'=>'add'));?>
                       " class="button round success"><i class="fa fa-plus"></i></a>
            </span>
            <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip" title="<?php echo $this->translate('Mostrar preguntas eliminadas');?>">
                    <a href="#" class="button round success"><i class="fa fa-trash"></i></a>
            </span>
    </div>
</div>
<div id="contentDataTables">
    <?php
        $link = $_SERVER['REQUEST_URI'];
        $link_array = explode('/',$link);
        $page = end($link_array);
        $count = 1;
        foreach ($this->preguntas as $id => $data){
    ?> 
            <fieldset id="<?php echo $count ?>">
                 <div style="width: 100%;display: inline-block">
                     <div style="width: 50%; float:left">
                        <h3><?php echo $data['tipo'] ?></h3>
                     </div>
                 </div>
                <table id="" class="display" border="0" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Nombre de la Pregunta</th>
                            <th>Editar Pregunta</th>
                            <th>Eliminar Pregunta</th>
                        </tr>
                    </thead>
                    <tbody> 

                        <?php
                        foreach ($data['preguntas'] as $ind => $dato){
                            if($dato === ''){
                                $dato= 'pregunta Vacia';
                            }
                            ?>
                        <tr id="listadopreguntas">
                            <th style="text-align: justify" class="pregunta"><h6><?php echo $dato?></h6></th>
                            <th style="text-align: center;"><h5><a id="copiarPregunta_<?php echo  $ind?>" class="tiny success fa fa-pencil-square-o editar-pregunta" ></a></h5></th>
                            <th style="text-align: center;"><h5><a id="eliminarPregunta_<?php echo  $ind?>" class="tiny alert fa fa-trash-o elimina_pregunta"></a></h5></th>
                        </tr>
                        <?php
                        }
                        ?>
                    </tbody>
                </table>    
                <div class="spacer20"></div>                          
            </fieldset>
                        <?php
                        ++$count;
                            }
                        ?>
</div>
<input type="hidden" id="eliminar" value="<?php echo $this->url('preguntas',array('action'=>'delete')) ?>"/>

<div id="modalPregunta" class="reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

    <div id="modalSucces" class="text-left" style="display: none;">
        <p><?php echo $this->translate("La pregunta se eliminó correctamente."); ?></p>
    </div>			
    <div id="modalError" class="text-left" style="display: none;">
        <p><?php echo $this->translate("La pregunta no pudo ser eliminar correctamente."); ?></p>
    </div>
    <div class="large-12 columns" id="modalAjaxError" class="text-left" style="display: none;">
        <p><?php echo $this->translate('El proceso no se pudo eliminar, error en la comunicación.') ?></p>
    </div>
     <div id="modalBtnAceptar" style="display: none;">
        <button class="small button success" id="cerrar-reveal"><?php echo $this->translate('Aceptar') ?></button>
     </div>
</div>


<div id="modalAlert" class="reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div id="modalAlert" class="text-left">
        <p><?php echo $this->translate("¿Estas seguro de querer eliminar esta pregunta?"); ?></p>
        <button class="small button success" id="acepta-delete"><?php echo $this->translate('Aceptar') ?></button>
        <button id="modalBtnCancel" class="small button alert"><?php echo $this->translate('Cancelar') ?></button>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        <input type="hidden" id="idEliminaPreg" value=""/>
    </div>
</div>
<div id="modalClonarPregunta" style="text-align: center" class="small reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <input type="hidden" value="" id="idPreguntaCopiar">
    <h5>La pregunta se encuentra almacenada en un examen. ¿Desea crear una copia de la pregunta para su edicion?</h5><br>
    <a id="acepta-clonar-pregunta"role="button" class="button" aria-label="Close">Aceptar</a>
    <a id="btnCancelCopiarPreg" class="button"><?php echo $this->translate('Cancelar'); ?></a>
</div>
<input type="hidden" id="urlCopiarPregunta"     value="<?php echo $this->url('preguntas',array('action'=>'copiarpregunta'));?>">
<input type="hidden" id="urlPreguntaInExa"     value="<?php echo $this->url('preguntas',array('action'=>'ifPreguntaInExam'));?>">
<input type="hidden" id="urlPaginaActual"     value="<?php echo $page;?>">
<input type="hidden" id="preguntasTipo"     value="<?php echo $this->url('preguntas',array('action'=>'tipoPregunta')) ?>">


<?php
 //echo $this->headLink()   ->prependStylesheet($this->basePath() . '/css/menu.css');

$this->headScript() //->prependFile($this->basePath() .'/js/menu.js')
                    ->prependFile($this->basePath() .'/js/examenes/examenes.js')
                    ->prependFile($this->basePath() . '/js/jquery.dataTables.min.js')
            ;

    echo $this->headLink()
            ->prependStylesheet($this->basePath() . '/css/dataTable/jquery.dataTables.css')
            ->prependStylesheet($this->basePath() . '/css/preguntasScroll.css');
        ?>
         <?php
        echo $this->headScript()
                ;
