<div class="row">
    <div class="small-12 medium-12 large-12 text-left columns detalle_exa">
        <div class="row">
            <div class="small-12 medium-12 large-7 text-left columns detalle_exa">
                <div class="informacion_exa large-2 hidden-for-medium hidden-for-small columns">Evaluación: </div>
                <div class="informacion_exa descripcion_exa large-10 columns"><?php 
                if($this->demo){
                    echo "Examen ".$this->nombreExamen;
                }else{
                    echo $this->nombreExamen;
                    
                }
                ?>
                </div>
            </div>	  
            <div class="small-5 medium-5 large-5 text-left columns detalle_exa hide">
                <div class="informacion_exa large-3 hidden-for-medium hidden-for-small columns">Sección:</div>
                <div class="informacion_exa descripcion_exa large-9 columns"><?php echo $this->seccion; ?></div>
            </div>	
        </div>	
    </div>	
</div>

<!--Instrucciones y ayuda examen-->
<div class="row lightbox_inst encabezado-ayuda">
</div>
<!--Fin Instrucciones y ayuda examen--> 

<div class="row contenedor-player">  
    <!-- Instrucciones de la pregunta --> 
    <div class="inst_exa large-12 columns medium-12 small-12 encabezado-instrucciones">        
        <div class="large-4 medium-6 hidden-for-small right columns">
            <div class="large-4 medium-4 columns text-center">
                <a href="#" id="infoPregunta" data-reveal-id="info_pregunta" class=" fa fa-info-circle fa-2x icono-superior"></a>
            </div>
            <div class="large-4 medium-4 columns text-center">
                <a href="#" data-reveal-id="info_examen" class=" fa fa-question-circle fa-2x icono-superior"></a> 
            </div>  
            <div class="large-4 medium-4 columns text-center">
                <a href="#" class="fa <?php echo $marcada !== 'Marcada' ? 'fa-flag-o' : 'fa-flag'; ?> fa-2x marca-preg icono-superior"></a>
            </div>
        </div>
        <div class="show-for-small-only text-right icon_responsive small-6 columns">
            <div class="small-4 columns text-center">
                <a href="#" data-reveal-id="info_pregunta" class=" fa fa-info-circle fa-2x icono-superior"></a>
            </div>
            <div class="small-4 columns text-center">
                <a href="#" data-reveal-id="info_examen" class=" fa fa-question-circle fa-2x icono-superior"></a> 
            </div>  
            <div class="small-4 columns text-center">
                <a href="#" class="fa <?php echo $marcada !== 'Marcada' ? 'fa-flag-o' : 'fa-flag'; ?> fa-2x marca-preg icono-superior"></a>
            </div>
        </div>
    </div>
    <iframe src='/motorEvaluaciones/index_Rev.html'
            style='width: 100%; height: 0px;
            margin: 0; padding: 0; border: 0;
            '></iframe>
    <!-- Fin preguntas --> 
<!--    <div class="naveg-examen">  
        <div class="large-12 medium-12 small-12 columns exam_footer" >
            <div class="large-3 medium-3 small-3 columns div-progress hide-for-small-only columns" >
                <div class="progress large-12 success round barra">
                    <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $pctAvance ?>% de avance">
                        <span class="meter" style="width: <?php echo $pctAvance ?>%"></span>
                    </span>
                </div>
            </div>
            <div class="large-1 medium-1 small-6 text-center columns show-for-small-only pro_footer">
                <span class="pct_avc texto-nav text-bold text-center"><?php echo $pctAvance ?>% </span>
            </div>
            <div class="large-3 medium-3 small-6 columns pro_footer text-center texto-tiempo">                
                <div id="time" class="texto-nav text-bold text-center ">
                    <span  id="segundo"></span>
                    <span  id="minuto">.</span>
                    <span  id="hora"></span>
                </div>
            </div> 
            <div class="large-1 medium-1 small-2 nave_exa text-left columns">
                <div class="nav_style text-left">
                    <a href="#" class="fa fa-chevron-circle-left fa-2x fa-inverse navega-pregunta anterior nav-left nav-position "></a>
                </div>
            </div>          
            <div class="large-2 medium-2 small-4 text-center text-center columns pro_footer">
                <div class="texto-nav num_preg text-bold text-center">
                    <a data-dropdown="drop_num_preguntas" aria-controls="drop_num_preguntas" 
                       aria-expanded="false" data-options="align: top; align: left">
                        <?php echo $this->numPreg; ?> / <?php echo $this->total; ?></a>
                    <ul id="drop_num_preguntas" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" >
                        <?php
//                        $j = 1;
//                        foreach ($this->pregsExam as $index => $pregunta) {
//                            $_strPregClean = strip_tags($pregunta);
//                            echo '<li><label id="' . $index . '" class="navega-pregunta "' .
//                            ' title="' . $_strPregClean . '">' .$j . '</label></li>';
//                            $j++;
//                        }
                        //substr($pregunta, 0, strpos($pregunta, '.-'))  --en lugar de $j como valor en el label
                        ?>
                    </ul>
                </div>                
            </div>    
            <div class="large-1 medium-1 small-2 nave_exa text-right columns">
                <div class="nav_style text-right">
                    <a href="#" class="fa fa-chevron-circle-right fa-2x fa-inverse navega-pregunta siguiente nav-right nav-position-r "></a>
                </div>
            </div>
            <div class="large-2 medium-2 small-4 columns text-left" >
                <div data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip" title="">
                    <button class="radius_button button-nav but-text boton_evaluar" id="button-evaluar" data-reveal-id="confirma-finalizar">
                        Finalizar
                    </button>
                </div>                
            </div>
        </div>
    </div>   -->

    <input type="hidden" id="marcaDesmarcaPregunta" value="<?php echo $this->url('preguntas', array('action' => 'marcarpreguntaajax')); ?>"> 
    <input type="hidden" id="jq_siguiente_pregunta" value="<?php echo $this->url('preguntas', array('controller'=>'preguntas','action' => 'preguntatodo')); ?>"> 
    <input type="hidden" id="urlMisExamenes" value="<?php echo $this->url('examenes', array('action' => 'misexamenes')); ?>">
    <input type="hidden" id="urlFinalizaExamen" value="<?php echo $this->url('examenes', array('action' => 'finalizaexamenajax')); ?>">


    <input type='hidden' id='anterior' value='<?php echo $this->anterior; ?>' />
    <input type='hidden' id='siguiente' value='<?php echo $this->siguiente; ?>' />
    <input type='hidden' id='primera' value='<?php 
    echo $this->primera; 
    ?>' />
    <input type='hidden' id='ultima' value='<?php echo $this->ultima; ?>' />
    <input type='hidden' id='total' value='<?php echo $this->total; ?>' />
    <input type='hidden' id='idPregunta' value='<?php 
    echo $this->actual; 
    ?>' />
    <input type='hidden' id='orden' value='<?php 
    echo $this->orden; ?>' />
    <input type='hidden' id='valoresInciales' value='34 1256 ' />
</div>










<!--Inicio de Modals-->
<!--
    <div id="info_pregunta" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalInstruccionesPregunta">Instrucciones de la pregunta.</h2>
    <p class="instrucciones_pregunta"></p>  
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
-->

<!--Modal Instrucciones-->

    <!--Modal Instrucciones-->    
<div id="info_pregunta" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

      <div class="small-9 medium-6 large-6 small-centered medium-centered large-centered columns v_instrucciones">
       <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        <h2 class="titulo_evaluacion">Instrucciones de la pregunta</h2>
          <p class="ventana_secundario">Da clic en el botón de la respuesta correcta.</p>
          <div class="mano_instruccion"><img src="/css/images/mano_instruccion.png" alt="mano instruccion"></div>
</div>
</div>
    <!--Fin Modal Instrucciones-->
   
    


<div id="info_examen" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalInstruccionesExamen">Instrucciones de la evaluación.</h2>
    <p class="instrucciones_examen columns">
        <img alt="Ayuda evaluación" src="<?php echo $this->basePath() . '/img/ayuda_evaluacion.jpg' ?>">        
    </p>  
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="confirma-finalizar" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalFinalizarExamen">Finalizar evaluación.</h2>
    <p class="finalizar_examen">           
        Al dar clic en el bot&oacute;n "Aceptar" se almacenar&aacute; la calificaci&oacute;n de las preguntas que contestaste.<br><br>
        &iquest;Est&aacute;s seguro que deseas finalizar la evaluaci&oacute;n?
    </p>
    <div class="text-center">
        <button class="btn_evaluar">Aceptar</button>
        <button class="btn_cancelar" aria-label="Close">Cancelar</button>
    </div>     
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div> 

<!--Modal Finalizar-->
  
  <!--
<div id="ir-examenes" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">
    <h2 id="modalRegresarExamenes">Evaluación Terminada</h2>
    <p class="regresar_examenes"> 
        Se han almacenado satisfactoriamente tus resultados. <br><br>
        <div id="calificacionDemo"></div> <br><br>

        <a href="#" onclick="location.reload()">Reiniciar evaluación</a>
        <br>
        <a href="<?php echo $this->url("home", array("controller"=>"Index", "action"=>"index")) ; ?>">Inicio</a>
    </p>  
</div>
-->

<div id="ir-examenes" class="reveal-modal blanco" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">

      <div class="small-9 small-centered medium-centered large-centered columns v_instrucciones">
         <h2 class="titulo_evaluacion">Evaluación Terminada</h2>
          <p class="ventana_secundario">Se han almacenado satisfactoriamente tus resultados.</p>
             <p class="ventana_secundario">Calificación final:</p>

             <div class="calificacion_numero">10</div>

             <div class="small-6 medium-3 small-centered columns circulo"></div>

          

             <div class="centered">
             <a href="#" onclick="location.reload()"><div class="ventana_finalizar_inicio"><p class="texto_finalizar2"><i class="fa fa-repeat fa-lg"></i>Reiniciar evaluación</p></div></a>

               <a href="<?php echo $this->url("home", array("controller"=>"Index", "action"=>"index")) ; ?>"><div class="ventana_finalizar_inicio"><p class="texto_finalizar2"><i class="fa fa-home fa-lg"></i>Inicio</p></div></a>
               </div>
             </div>
 </div>



<!--Fin Modal Finalizar-->

        <audio id="snd_clic" src="/motorEvaluaciones/sounds/click.mp3"> </audio>
        <audio id="snd_correcta" src="/motorEvaluaciones/sounds/campana.mp3"> </audio>
        <audio id="snd_incorrecta" src="/motorEvaluaciones/sounds/corneta.mp3"> </audio>   
        <script type="text/javascript">
                    var calificacion = "33";

                    $(document).ready(function(){
                    
                    $("*").on("finalizarExamen", function(){

                        $(".calificacion_numero").html(parseInt(calificacion));
                        $('#ir-examenes').foundation('reveal', 'open');
                        localStorage.clear();
                        return false;
                    });
                    
                    $("#infoPregunta").on("click", function(){
                       $(".instrucciones_pregunta").html(json[preguntaActual].pregunta.t11instruccion);
                    });
                });
        </script>
<?php
if ($this->tiempo) {
    ?>        
    <script type="text/javascript">

        function finalizarExamen() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: $('#urlFinalizaExamen').val(),
                data: {
                },
                beforeSend: function () {
                },
                success: function (json) {
                    if (json) {
                        $('#ir-examenes').foundation('reveal', 'open');
                    } else {
                    }
                },
                error: function (json) {
                    console.log("Hubo un error al procesar los datos: " + json);
                }
            });
        }
    </script>
    <?php
} else {
    
}
?>
<!-- cierra contenedor del body -->
<?php
$this->headScript()
        ->prependFile($this->basePath() . '/js/jquery.chrony.js')
        ->prependFile($this->basePath() . '/js/jquery.ui.touch-punch.min.js')
        ->prependScript('evaluacion=true;')
        ->prependScript('objCadenas='.$this->respuestasUsuario."; tiempo = ".$this->tiempo.'; demo='.$this->demo);
        
        if($this->demo){
            $this->headScript()
            ->prependFile($this->json);
        }else{
            $this->headScript()
            ->prependScript($this->json);
        }
?>

<?php
if ($this->idNivel !== 1) {
    $_strNivel = 'alta';
} else {
    $_strNivel = 'baja';
}

$this->headLink()
        ->prependStylesheet($this->basePath() . '/motorEvaluaciones/css/fonts.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/estilo_modal.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/examenes.css')
        ->prependStylesheet($this->basePath() . '/css/libros/foundation.css')
        ->prependStylesheet($this->basePath() . '/css/libros/jquery-ui.css');


//$this->headLink()->appendStylesheet($this->basePath() . '/motorEvaluaciones/css/estilosGenerales.css')
//                ->appendStylesheet($this->basePath(), 'screen', false, array('id' => 'estilosActividad'))
//                ->appendStylesheet($this->basePath().'/motorEvaluaciones/css/estilosEval.css', 'screen', false, array('id' => 'estilosEval'));
//$this->headScript()->appendFile($this->basePath() . '/motorEvaluaciones/js/funcionesGenerales.js');
?>
