<?php echo $this->doctype(); ?>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        
        
        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
               

                //->prependStylesheet($this->basePath() . '/css/foundation.min.css')
                //->prependStylesheet($this->basePath() . '/css/examenes/constructor.css')
                ;
        ?>
         <?php
        echo $this->headScript()
        
                ->prependFile($this->basePath() . '/js/foundation.min.js')             	
                ->prependFile($this->basePath() . '/js/examenes/cambiaTipoPregunta.js')
              //  ->prependFile($this->basePath() . '/js/foundation.min.js')
              //  ->prependFile($this->basePath() . '/js/jquery.min.js');
        ?>
    </head>
    <body>
        
        <?php
            
            $arrTipos = $this->tipos;
            $_intTipos = count($arrTipos);
        ?>
        <div class="row contenedor_tipos">
            <div class="small-12 medium-12 large-12 columns container_ask">
                <?php
                    foreach($arrTipos as $index => $data){                  
                ?>
                
                		<div class="small-3 medium-3 large-3 text-center columns div_img">
                            <?php
                              echo '<img class="img_size jq_tipo_pregunta" id="'.$data['c03id_tipo_pregunta'].'" alt="'.$data['c03tipo_pregunta'].'" title="'.$data['c03tipo_pregunta'].'" src="'. $this->basePath() .'/img/selsvg/'. $data['c03url_icono_tipo'].'.svg">';
                            ?>
                            <div class="text_icon"><?php  echo $data['c03tipo_pregunta']; ?></div>
                        </div> 
                               
                <?php
                    }
                ?>      
           </div>  
       </div>
	   <input type="hidden" id="urlCambiaTipoPregunta" value="<?php echo $this->url('preguntas', array('action'=>'obtenertipopreguntaajax'))?>">

   	<script type="text/javascript">
    $(function() {
        $( document ).tooltip({
          position: {
            my: "center bottom-5",
            at: "center top",
            using: function( position, feedback ) {
              $( this ).css( position );
              $( "<div>" )
                .addClass( "arrow" )
                .addClass( feedback.vertical )
                .addClass( feedback.horizontal )
                .appendTo( this );
            }
          }
        });
      });
    </script>
        
    </body>
</html>    