<div class="row">
    <div class="small-12 medium-12 large-12 text-left columns detalle_exa">
        <div class="row">
            <div class="small-12 medium-12 large-7 text-left columns detalle_exa">
                <div class="informacion_exa large-2 hidden-for-medium hidden-for-small columns">Evaluación:</div>
                <div class="informacion_exa descripcion_exa large-10 columns"><?php echo $this->nombreExamen; ?></div>
           </div>	  
            <div class="small-5 medium-5 large-5 text-left columns detalle_exa hide">
                <div class="informacion_exa large-3 hidden-for-medium hidden-for-small columns">Sección:</div>
                <div class="informacion_exa descripcion_exa large-9 columns"><?php echo $this->seccion; ?></div>
            </div>	
        </div>	
    </div>	
</div>

<!--Instrucciones y ayuda examen-->
<div class="row lightbox_inst encabezado-ayuda">
</div>
<!--Fin Instrucciones y ayuda examen--> 
   
<div class="row contenedor-player">  
    <!-- Instrucciones de la pregunta --> 
    <div class="inst_exa large-12 columns medium-12 small-12 encabezado-instrucciones">        
        <div class="large-4 medium-6 hidden-for-small right columns">
            <div class="large-4 medium-4 columns text-center">
                <a href="#" data-reveal-id="info_pregunta" data-tooltip class="tip-bottom fa fa-info-circle fa-2x icono-superior" title="Haz clic para ver las instrucciones de la pregunta."></a>
            </div>
            <div class="large-4 medium-4 columns text-center">
                <a href="#" data-reveal-id="info_examen" data-tooltip class="tip-bottom fa fa-question-circle fa-2x icono-superior" title="Haz clic para ver las instrucciones de la evaluacion."></a> 
            </div>  
            <div class="large-4 medium-4 columns text-center">
                <a href="#" data-tooltip class="tip-bottom fa <?php echo $marcada !== 'Marcada' ? 'fa-flag-o' : 'fa-flag'; ?> fa-2x marca-preg icono-superior" title="Haz clic para marcar o desmarcar la pregunta."></a>
            </div>
        </div>
        <div class="show-for-small-only text-right icon_responsive small-6 columns">
            <div class="small-4 columns text-center">
                <a href="#" data-reveal-id="info_pregunta" data-tooltip class="tip-bottom fa fa-info-circle fa-2x icono-superior" title="Haz clic para ver las instrucciones de la pregunta."></a>
            </div>
            <div class="small-4 columns text-center">
                <a href="#" data-reveal-id="info_examen" data-tooltip class="tip-bottom fa fa-question-circle fa-2x icono-superior" title="Haz clic para ver las instrucciones de la evaluacion."></a> 
            </div>  
            <div class="small-4 columns text-center">
                <a href="#" data-tooltip class="tip-bottom fa <?php echo $marcada !== 'Marcada' ? 'fa-flag-o' : 'fa-flag'; ?> fa-2x marca-preg icono-superior" title="Haz clic para marcar o desmarcar la pregunta."></a>
            </div>
        </div>
    </div>    
    <div id="fondoPregunta" class="large-12 columns border-exa" style="background-color: #ffffff;" > 
        <div class="large-12 small-12 columns pregunta">
            <p id="preguntaTexto" class="pregunta preg_txt"></p>
        </div>
        <div class="large-12 small-12 columns respuesta" id="respuestasRadialGroup"></div>                                                
    </div> 
    
    <!-- Fin preguntas --> 
    <div class="naveg-examen">  
        <div class="large-12 medium-12 small-12 columns exam_footer" >
            <div class="large-3 medium-3 small-3 columns div-progress hide-for-small-only columns" >
                <div class="progress large-12 success round barra">
                    <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $pctAvance?>% de avance">
                        <span class="meter" style="width: <?php echo $pctAvance?>%"></span>
                    </span>
                </div>
            </div>
            <div class="large-1 medium-1 small-6 text-center columns show-for-small-only pro_footer">
                <span class="pct_avc texto-nav text-bold text-center"><?php echo $pctAvance?>% </span>
            </div>
            <div class="large-3 medium-3 small-6 columns pro_footer text-center texto-tiempo">                
                <div id="time" class="texto-nav text-bold text-center tip-top" data-tooltip title="Tiempo restante para resolver la evaluacion">
                    <span  id="segundo"></span>
                    <span  id="minuto">.</span>
                    <span  id="hora"></span>
                </div>
            </div> 
            <div class="large-1 medium-1 small-2 nave_exa text-left columns">
                <div class="nav_style text-left">
                    <a href="#" data-tooltip title="Haz clic para ir a la pregunta anterior"
                       class="fa fa-chevron-circle-left fa-2x fa-inverse navega-pregunta anterior nav-left nav-position tip-top whiteText"></a>
                </div>
            </div>          
            <div class="large-2 medium-2 small-4 text-center text-center columns pro_footer">
                <div class="texto-nav num_preg text-bold text-center">
                    <a data-dropdown="drop_num_preguntas" aria-controls="drop_num_preguntas" 
                       aria-expanded="false" data-options="align: top; align: left" class="tip-top"
                       data-tooltip title="Haz clic para mostrar el listado de preguntas">
                           <span id="jq_num_pregunta"><?php echo $this->numPreg; ?></span> / <?php echo $this->total; ?></a>
                    <ul id="drop_num_preguntas" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" >
                        <?php
                        $j = 1; 
                        foreach($this->pregsExam as $index => $pregunta){
                            $_strPregClean = strip_tags($pregunta);
                            echo '<li><label id="'.$index .'" class="navega-pregunta "'.
                                 ' title="'.$_strPregClean.'">'. substr($pregunta, 0, strpos($pregunta, '.-'))  . '</label></li>';
                            $j++;
                            }
                            ?>
                    </ul>
                </div>                
            </div>    
            <div class="large-1 medium-1 small-2 nave_exa text-right columns">
                <div class="nav_style text-right">
                    <a href="#" data-tooltip title="Haz clic para  ir a la pregunta siguiente2"
                       class="fa fa-chevron-circle-right fa-2x fa-inverse navega-pregunta siguiente nav-right nav-position-r tip-top"></a>
                </div>
            </div>
            <div class="large-2 medium-2 small-4 columns text-left" >
                <div  aria-haspopup="true" data-options="disable_for_touch:true">
                    <button data-tooltip class="radius_button button-nav but-text boton_evaluar tip-top" 
                            id="button-finalizar" data-reveal-id="confirma-finalizar" 
                            title="Haz clic aqu&iacute; para finalizar la evaluaci&oacute;n"
                            >
                        Finalizar
                    </button>
                </div>                
            </div>
        </div>
    </div>   
    
    <input type="hidden" id="marcaDesmarcaPregunta" value="<?php echo $this->url('preguntas', array('action'=>'marcarpreguntaajax')); ?>"> 
    <input type="hidden" id="jq_siguiente_pregunta" value="<?php echo $this->url('preguntas', array('action'=>'preguntamultiple')); ?>"> 
    <input type="hidden" id="urlMisExamenes" value="<?php echo $this->url('examenes', array('action'=>'misexamenes')); ?>">
    <input type="hidden" id="urlFinalizaExamen" value="<?php echo $this->url('examenes', array('action'=>'finalizaexamenajax')); ?>">
    <input type='hidden' id='jsonPregunta' value='<?php echo $jsonPregunta; ?>' />
    <input type='hidden' id='anterior' value='<?php echo $this->anterior; ?>' />
    <input type='hidden' id='siguiente' value='<?php echo $this->siguiente; ?>' />
    <input type='hidden' id='primera' value='<?php echo $this->primera; ?>' />
    <input type='hidden' id='ultima' value='<?php echo $this->ultima; ?>' />
    <input type='hidden' id='idPregunta' value='<?php echo $this->actual; ?>' />
</div>

<!--Inicio de Modals-->
<div id="info_pregunta" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalInstruccionesPregunta">Instrucciones de la pregunta.</h2>
  <p class="instrucciones_pregunta"></p>  
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="info_examen" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalInstruccionesExamen">Instrucciones de la evaluación.</h2>
    <p class="instrucciones_examen columns">
        <img alt="Ayuda evaluación" src="<?php echo $this->basePath() . '/img/ayuda_evaluacion.jpg'?>">        
    </p>  
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!-- Primer Candado-->
<div id="confirma-finalizar" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalFinalizarExamen">Finalizar evaluaci&oacute;n.</h2>
    <p class="finalizar_examen">           
        Se almacenar&aacute; la calificaci&oacute;n de las preguntas que contestaste 
        y ya no podr&aacute;s seguir resolviendo la evaluaci&oacute;n.<br><br>
        &iquest;Deseas continuar para finalizar la evaluaci&oacute;n? 
    </p>
    <p>
        <button id="" class="button alert btn_cancelar"><i class="fa fa-thumbs-o-down" style="color:whie;"></i>  No deseo continuar</button>
	<button id="" class="button success btn_evaluar"><i class="fa fa-thumbs-o-up" style="color:whie;"></i>  Si deseo continuar</button>
    </p>      
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!-- Segundo modal-->    
<div id="segundocandado" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalFinalizarExamen">Finalizar evaluaci&oacute;n.</h2>
    <p>
        <button id="" class="button alert btn_cancelar"><i class="fa fa-times" style="color:whie;"></i>  Cancelar</button>
        <button id="btnAceptar" class="button success btn_succes"><i class="fa fa-check" style="color:whie;"></i>  Aceptar</button>
    </p>      
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--Termina modals -->
<div id="ir-examenes" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">
    <h2 id="modalRegresarExamenes">Regresar a mis evaluaciones.</h2>
    <p class="regresar_examenes"> 
        Se han almacenado satisfactoriamente tus resultados. <br><br>
        Para regresar al listado de tus evaluaciones da click en el siguiente link: <br><br>
        <a href="<?php echo $this->url('examenes', array('action'=>'misexamenes')); ?>">Mis evaluaciones</a>
    </p>  
</div>   

<?php
    if($this->tiempo){
?>        
   <script type="text/javascript">
           $(function() {
               $('#time').chrony({  
                                  hour: <?php echo isset ($this->tiempo['horas']) ? $this->tiempo['horas'] : $this->tiempo[0] ?>, 
                                  minute: <?php echo isset ($this->tiempo['minutos']) ? $this->tiempo['minutos'] : $this->tiempo[1] ?>,
                                  second: <?php echo isset ($this->tiempo['segundos']) ? $this->tiempo['segundos'] : $this->tiempo[2] ?>,
                                  finish:function(){
                                      finalizarExamen();
                                  }
                              });
            });
            
            function finalizarExamen(){
        $.ajax({
            type:'POST',
            dataType:'json',            
            url:  $('#urlFinalizaExamen').val(),
            data:{ 
                },
            beforeSend: function() {
            },
            success:function(json){
                    if( json ){
                         $('#ir-examenes').foundation('reveal', 'open');
                    }else{
                    }
            },
            error: function(json){
                 console.log("Hubo un error al procesar los datos: " + json);
            }
        });
    }
    </script>
<?php
    }else{
        
    }
    ?>
    <!-- cierra contenedor del body -->
        <?php
        $this->headScript()
                        ->prependFile($this->basePath() .'/js/snap.svg-min.js')
                        ->prependFile($this->basePath() .'/js/examenes/funcionesGenerales.js?id=6881')
                        ->prependFile($this->basePath() .'/js/examenes/funcionesOpcionMultiple.js')
                   //     ->prependFile($this->basePath() .'/js/examenes/funcionesSopadeLetras.js')
                        ->prependFile($this->basePath() .'/js/examenes/funcionesRelacionarColumnas.js')
                        ->prependFile($this->basePath() .'/js/examenes/preguntas_examen.js')
                        //->prependFile($this->basePath() .'/js/lightbox-plus-jquery.min.js') 
                        ->prependFile($this->basePath() .'/js/jquery.chrony.js') 
                        ->prependFile($this->basePath() .'/js/jquery.ui.touch-punch.min.js')
                
        ;
?>

<?php
    if($this->idNivel !== 1){
        $_strNivel = 'alta';
    }else{
        $_strNivel = 'baja';
    }
     $this->headLink()
        ->prependStylesheet($this->basePath() . '/css/examenes/estiloSopadeletras.css') 
        ->prependStylesheet($this->basePath() . '/css/examenes/estiloRompecabezas.css') 
        ->prependStylesheet($this->basePath() . '/css/style_DE.css') 
        ->prependStylesheet($this->basePath() . '/css/examenes/examenes.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/examen_primaria_'.$_strNivel.'.css')
        //->prependStylesheet($this->basePath() . '/css/examenes/examen_primaria_alta.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/component.svg.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/demo.css')
        //->prependStylesheet($this->basePath() . '/css/lightbox.css')
        ->prependStylesheet($this->basePath() . '/css/drop.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/evaluaciones.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/estiloColumnas.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/estiloEvaluaciones.css');
?>
