<div style="height: 80px;"></div>

<div class="row">
    <div  class="large-3 columns medium-6 small-12">
        <p>
            <a href="#" id="dialog-tipo" class="ui-state-default ui-corner-all boton-gral dialog-default">
                <span class="ui-icon ui-icon-newwin"></span>Tipo de pregunta
            </a>
        </p>
    </div>
    <div  class="large-3 columns medium-6 small-12">
        <p>
            <a href="#" id="dialog-config" class="ui-state-default ui-corner-all boton-gral dialog-default">
                <span class="ui-icon ui-icon-newwin"></span>Configuración
            </a>
        </p>
    </div>
    <div  class="large-3 columns medium-6 small-12">
        <p>
            <a href="#" id="dialog-banco" class="ui-state-default ui-corner-all boton-gral dialog-default">
                <span class="ui-icon ui-icon-newwin"></span>Preguntas
            </a>
        </p>
    </div>
    <div  class="large-3 columns medium-6 small-12">
    </div>
</div>
          
<div class="row">
    <div class="large-8 columns"> 
        <form> 
            <div class="row"> 
                <div class="large-8 columns">                     
                    <h3 id="t11instruccion" class="_objPregResp edit contorno instruccion">Escribe las instrucciones...</h3> 
                </div>            
                <div class="large-4 columns"> 
                    <label>Nombre corto / Clave
                        <input id="t11nombre_corto_clave" class="_objPregResp" type="text" placeholder="Nombre corto / Clave" /> 
                    </label> 
                </div> 
            </div> 
            <div class="row"> 
                <div class="large-12 columns">                     
                    <div id="t11pregunta" class="_objPregResp edit contorno pregunta" >Escribe la pregunta...</div>                     
                </div> 
            </div> 
            <div class="row" id="contenedor-respuestas"></div>    
            <div class="row">
                <div class="large-2 columns">
                    <p>Tiempo</p>
                </div>
                <div class="large-2 columns">
                    <input id="t11tiempo_limite" class="_objPregResp" type="text" disabled="disabled"/>
                </div>
                <div class="large-8 columns">
                </div>
            </div>
        </form>
    </div>
    <div class="large-4 columns">
        <div id="contenedor-config"></div>
    </div>
</div>
<div class="row contenedor-botonera">
    <div class="large-8 columns">
        <div class="large-4 columns">
            <a href="#" id="boton-almacenar" class="ui-state-default ui-corner-all boton-gral boton-accion">
                <span class="ui-icon ui-icon-disk"></span>Almacenar
            </a>
            <!-- <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only boton-gral" value="Almacenar">-->
        </div>
        <div class="large-4 columns">
            <a href="#" id="boton-actualizar" class="ui-state-default ui-corner-all boton-gral boton-accion" >
                <span class="ui-icon ui-icon-disk"></span>Clonar
            </a>
            <!-- <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only boton-gral" value="Almacenar">-->
        </div>
        <div class="large-4 columns">            
            <a href="#" id="boton-reset" class="ui-state-default ui-corner-all boton-gral">
                <span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>Reestablecer
            </a>
            <!-- <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only boton-gral" value="Reestablecer"> -->
        </div>
        <div class="large-4 columns">
            <a href="#" id="boton-nueva" class="ui-state-default ui-corner-all boton-gral">
                <span class="ui-icon ui-icon-plusthickui-icon-arrowreturnthick-1-w"></span>Nueva Respuesta
            </a>
            <!-- <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only boton-gral" value="Nueva"> -->
        </div>
    </div>
</div>


<!-- ui-dialog -->
<div id="dialog_tipo" title="Tipos de preguntas"></div>
<div id="dialog_banco" title="Banco de preguntas"></div>

<div id="dialog_config" title="Configuración de la pregunta">
    <div class="row"> 
        <div class="large-6 medium-6 small-6 columns">
            Aleatorio
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <input id="checkbox2" type="checkbox">
        </div>
    </div>
    <div class="row"> 
        <div class="large-6 medium-6 small-6 columns">
            Numeración
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <input id="c06id_numeracion" class="_objPregResp" type="checkbox">
        </div>
    </div>
    <div class="row"> 
        <div class="large-6 medium-6 small-6 columns">
            Tiempo
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <input id="chk-tiempo" type="checkbox">
        </div>
    </div>
    <div class="row"> 
        <div class="large-6 medium-6 small-6 columns">
            Filas
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <input id="t11filas" class="_objPregResp" type="checkbox" disabled="disabled">
        </div>
    </div>
    <div class="row"> 
        <div class="large-6 medium-6 small-6 columns">
            Columnas
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <input id="t11columnas" class="_objPregResp" type="checkbox" disabled="disabled">
        </div>
    </div>
    <div class="row"> 
        <div class="large-6 medium-6 small-6 columns">
            Orientación Respuestas
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <select  disabled="disabled"> 
                <option value="horizontal">Horizontal</option> 
                <option value="vertical" selected="selected">Vertical</option> 
            </select> 
        </div>
    </div>
</div>
<input type="hidden" value="creapreguntaajax" id="urlCreaPregunta" />
<input type="hidden" value="obtenerrespuestasajax" id="urlObtenerRespuestas" />
<input type="hidden" value="obtenertiposajax" id="urlObtenerTipos" />
<input type="hidden" value="obtenerpreguntasajax" id="urlObtenerPreguntas" />
<input id="c03id_tipo_pregunta" class="_objPregResp" type="hidden"  /> 


<script>

</script>
<?php
$this->headLink()   ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
                    ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
                    ->prependStylesheet($this->basePath() . '/css/preguntas.css');

$this->headScript() ->prependFile($this->basePath() .'/js/examenes/preguntas.js')
                    ->prependFile($this->basePath() .'/js/tinymce/tinymce.min.js')
                    ->prependFile($this->basePath() .'/js/foundation.min.js')
                    ->prependFile($this->basePath() . '/js/jquery-ui.min.js');
