<br> 
<div class="row">
    <div id="contenedor" class='large-12 small-12 columns text-center'>
        <div class="large-9 small-9 columns text-center">
        <?php
            $columns        = $this->pregunta->obtenerColumnasPregunta();
            $columnsResp    = $this->respuesta->obtenerColumnasRespuesta(); 
            $form       = $this->formPreg;
            $formResp   = $this->formResp;
            //$form->setAttribute('action', $this->url('examenes', array('action' => 'creapreguntaajax')));
            $form->prepare();
            echo $this->form()->openTag($form);            
            echo $this->formRow($form->get('obtenerpreguntas'));
            echo $this->formRow($form->get('obtenertipos'));
            echo $this->formRow($form->get('obtenerrespuestas'));
            echo $this->formRow($form->get('creapregunta'));
            echo $this->formRow($form->get($columns[1]));
            echo $this->formRow($form->get($columns[2])->setValueOptions($this->arrTipos));
            echo $this->formRow($form->get($columns[3]));
            echo $this->formRow($form->get($columns[4]));   
            echo $this->formRow($form->get($columns[5]));   
            echo $this->formRow($form->get($columns[6]));   
            echo $this->formRow($form->get($columns[7]));   
            echo $this->formRow($form->get($columns[10]));  
            ?>
            <div class="small-12 large-12 columns">
                <?php
                    for($i=0; $i<20; $i++){
                ?>
                <div class="small-12 large-12 columns">
                    <?php             
                        if($i<3){
                            echo $this->formRow($formResp->get($columnsResp[7])
                                    ->setAttributes(array('id'=>'correcta_'.($i + 1))));
                        }else{
                            echo $this->formRow($formResp->get($columnsResp[7])
                                ->setAttributes(array('id'=>'correcta_'.($i + 1), 
                                    'class' => '_objPregResp respuesta small-1 large-1 columns hide')));
                        }
                    ?>

                    <div class="small-10 large-10 columns text-right">
                        <?php                
                            if($i<3){
                                echo $this->formRow($formResp->get($columnsResp[2])
                                    ->setAttributes(array('id'=>'respuesta_'.$i))); 
                            }else{
                                echo $this->formRow($formResp->get($columnsResp[2])
                                    ->setAttributes(array('id'=>'respuesta_'.$i, 
                                        'class' => '_objPregResp t13respuesta edit contorno respuesta hide')));                             
                            }

                        ?>                   

                    </div>
                    <div class="small-1 large-1 columns text-right">
                        <?php                
                            if($i<3){ 
                                echo $this->formRow($formResp->get('borrar')
                                    ->setAttributes(array('id'=>'borrar_'.$i))); 
                            }else{
                                echo $this->formRow($formResp->get('borrar')
                                    ->setAttributes(array('id'=>'borrar_'.$i,
                                        'class' => ' tiny fa fa-trash-o boton-borrar hide'))); 
                            }

                        ?>                   

                    </div>
                </div>
                <?php
                    }    
                ?>
                
            </div>

        <div class="small-12 large-12 columns">
            <div class="small-12 large-4 columns text-center">
                    <?php echo $this->formRow($form->get('almacenar')); ?>
            </div>
            <div class="small-12 large-4 columns text-center">
                   <?php echo $this->formRow($form->get('cancelar'));  ?>
            </div>
            <div class="small-12 large-4 columns text-center">
                   <?php echo $this->formRow($formResp->get('agregar'));  ?>
            </div>
        </div>
        <?php
            echo $this->form()->closeTag();
        ?>

        </div>
    </div>
 </div>

<div data-alert class="alert-box hide">     
    <a href="#" class="close">&times;</a> 
</div>

<?php
$this->headLink()   ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
                    ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
                    ->prependStylesheet($this->basePath() . '/css/preguntas.css')
                    ->prependStylesheet($this->basePath() . '/css/kendo/kendo.common.min.css')
                    ->prependStylesheet($this->basePath() . '/css/kendo/kendo.default.min.css')
                    ->prependStylesheet($this->basePath() . '/css/kendo/kendo.dataviz.min.css')
                    ->prependStylesheet($this->basePath() . '/css/kendo/kendo.default.mobile.min.css');

$this->headScript() ->prependFile($this->basePath() .'/js/examenes/preguntas.js')
                    ->prependFile($this->basePath() .'/js/tinymce/tinymce.min.js')
                    ->prependFile($this->basePath() . '/js/foundation/foundation.reveal.js')
                    ->prependFile($this->basePath() .'/js/foundation.min.js')
                    ->prependFile($this->basePath() . '/js/kendo/kendo.all.min.js')
                    ->prependFile($this->basePath() . '/js/jquery-ui.min.js');


