<div class="large-12 medium-12 columns" >
    <br/>
    <h3>Exámenes TODO</h3>
    <br/>
</div>

        <div class="large-12 columns" id="tablaMaterias">
            <form method="POST" action="<?php echo $this->url('catalogo',array('controller'=>'catalogo','action'=>'descargar'));?>" enctype="multipart/form-data">
            <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Materia</th>
                            <th style="text-align: center;">Alumno</th>
                            <th style="text-align: center;">Profesor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php 
                            foreach ($_arrDataMaterias as $materias)
                                {
                                $cadena = explode(' ', $materias['t12nombre']);
                                $nombreExamen = $cadena[0];
                        ?>
                    <tr>
                        <td width="20%" style="text-align: center;"><?php echo $materias['t12nombre'] ?></td>
                        <td width="40%" style="text-align: center;"><button type="submit" name="download" class="btn-azul" value="<?php echo $nombreExamen ?>A"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Descargar</button></td>
                        <td width="40%" style="text-align: center;"><button type="submit" name="download" class="btn-azul" value="<?php echo $nombreExamen ?>P"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Descargar</button></td>

                    </tr>  
                        <?php 
                            }
                        ?>
                    </tbody>
                </table>
            </form>
        </div>

    
<div class="large-12 medium-12 columns" >
    <br/><br/><br/>
</div>

<?php
$this->headLink()->prependStylesheet($this->basePath() . '/css/grupos/grupos.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/misexamenes.css');
        


$this->headScript()->prependFile($this->basePath() . '/js/jquery.blockUI.js') 
        ->prependFile($this->basePath() . '/js/grupos/impresosTodo.js');

