<div class="large-12 medium-12 columns" >
    <br/>
    <h3>Impresos TODO</h3>
    <br/>
</div>
<div class="small-12 large-6 medium-6 columns exa" id="examen">
    <div class=" grupo-container">
        <div class="row">
            <div class="small-8 large-8 medium-8 columns ">
                <a href="#" style='font-weight: bolder;'><i class="fa fa-folder-open "></i>&nbsp;Exámenes</a>
            </div>
        </div>
    </div>
</div>
<?php 
    $i = 0;
        do{
            $i++;
            echo "<div class='small-12 large-4 medium-6 columns exa bloques'>
                    <div class='grupo-container'>
                        <div class='row'>
                            <div class='small-8 large-8 medium-8 columns'>
                                <a href='#' class='bloque' id='B0$i' style='font-weight: bolder;'>Bloque $i</a>
                            </div>
                        </div>
                    </div>
                </div>";
                        
        }while ($i<=4);
    ?>

    <div class="large-12 columns">
        
            <table style="width: 100%;" id="tablaGrados">
		<thead>
                    <tr>
                        <th style="text-align: center;" colspan="2">Primaria</th>
			<th style="text-align: center;">Secundaria</th>
                    </tr>
		</thead>
		<tbody>
		</tbody>
            </table>
        </div>

<input type="hidden" id="urlGetMaterias" value="<?php echo $this->url('catalogo',array('controller'=>'catalogo','action'=>'examenesImpresos','id'));?>" />

        
<?php
$this->headLink()->prependStylesheet($this->basePath() . '/css/grupos/grupos.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/misexamenes.css');
        


$this->headScript()->prependFile($this->basePath() . '/js/jquery.blockUI.js') 
        ->prependFile($this->basePath() . '/js/grupos/impresosTodo.js');

