<div class="large-12 medium-12 columns" >
    <br/>
    <h3>Carga masiva de resultados</h3>
    <br/>
</div>
<?php
foreach ($_arrDataGrupos as $id => $data){
 ?>
<div class="small-12 large-6 medium-6 columns exa">
    <div class=" grupo-container">
        <div class="row">
            <div class="small-8 large-8 medium-8 columns ">
                <i class="fa fa-group fa-2x"></i>&nbsp;<span style="font-weight: bolder;"><?php echo $data['t05descripcion'] ?></span>
            </div>
            <div class="small-2 large-2 medium-2 columns ">
                <span data-tooltip aria-haspopup="true" class="has-tip" title="Subir formato de calificaciones correspondiente a este grupo">
                    <a class="solicitacargamasiva alert fa fa-upload" id="btnCM-<?php  echo $data['t05id_grupo']?> " ></a>
                </span>
            </div>
            <div class="small-2 large-2 medium-2 columns ">
                <span data-tooltip aria-haspopup="true" class="has-tip" title="Descargar evaluación en formato PDF">
                    <a class="solicitaexamenimpreso tiny fa fa-file" id="btnEX-<?php  echo $data['t05id_grupo']?> "></a>
                </span>
            </div>
        </div>
        
        
    </div>
    
</div>

<?php
}
?>

<div class="large-12 medium-12 columns" >
    <br/><br/><br/>
</div>
   
                    
                   





<div id="modalUploadCargaMasiva" class="reveal-modal xlarge" data-reveal>
    <div class="row" >
        
        <div class="small-12 large-12 columns step hvr-grow-shadow" id="">
            <div class="row">
                <div class="small-2 large-2 columns" >
                        <span class="ribbon">Paso 1</span>
                </div>
                <div class="small-10 large-10 columns" >
                    Descarga el formato correspondiente al examen y llénalo<br/>
                    Nota: El formato debe llenarse solo con las letras correspondientes a la respuesta del alumno(a,b,c,d). En caso de que el alumno no haya contestado el reactivo la celda deberá dejarse en blanco.
                    <br/><br/>
                    <div  id="listado-examenes">
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 large-12 columns" id="">
            <hr>
        </div>
         
        <div class="small-12 large-12 columns step hvr-grow-shadow" id="">
            <div class="small-2 large-2 columns" >
                        <span class="ribbon">Paso 2</span>
            </div>
            <div class="small-10 large-10 columns" >
                <input type="hidden" id="urlRestoreGrupo" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'restore-grupo')); ?>' />
                <input type="hidden" id="urlCreaPlantilla" value="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva', 'action'=> 'descargarPlantillaExamen', 'id'=>1))?>">
                <input type="hidden" id="urlListaExamenes" value="<?php echo $this->url('cargamasiva', array('controller'=>'agenda','action'=>'lista-examenes'))?>">
                
                Sube el formato llenado<br/><br/>
                <form id="frmUploadFileExam" name="cargamasiva" action="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva','action'=>'validarplantillaexamen'));?>" method="post" enctype="multipart/form-data" >
                    <fieldset>
                        <input id="fileUploadFileExam" type="file"   name="carga_masiva"  style="display:none;">
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="row collapse">
                                    <div class="small-11 columns">
                                        <input id="txtUploadFileExam" type="text" class="round" placeholder="<?php echo $this->translate('Nombre del archivo')?>" disabled>
                                        <input type="hidden" name="idGrupoCMExamen" id="idGrupoCMExamen"  value=""/>
                                    </div>
                                    <div class="small-1 columns end">
                                        <a href="#" id="btnSelectFileExam" class="button postfix "><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <a href="#" id="btnUploadFileExam" class="button success "><i class="fa fa-upload"></i>&nbsp;<?php echo $this->translate('Enviar'); ?></a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
            <a class="close-reveal-modal">&#215;</a>
    </div>
</div>

<div id="modaldescargaexamen" class="reveal-modal xlarge" data-reveal>

    
        <input type="hidden" id="urlDescargaExamen" value='<?php echo $config['constantes']['RUTA_RECURSOS_DISTRIBUIDORES'] ?>' />
        <input type="hidden" id="urlDescargaExamenPrimaria" value='<?php echo $config['constantes']['RUTA_RECURSOS_DISTRIBUIDORES_PRIMARIA'] ?>' />
        <input type="hidden" id="urlDescargaExamenSecundaria" value='<?php echo $config['constantes']['RUTA_RECURSOS_DISTRIBUIDORES_SECUNDARIA'] ?>' />
        <input type="hidden" id="urlDescargaExamenPrepa" value='<?php echo $config['constantes']['RUTA_RECURSOS_DISTRIBUIDORES_PREPA'] ?>' />
        <input type="hidden" id="urlDescargaExamenKinder" value='<?php echo $config['constantes']['RUTA_RECURSOS_DISTRIBUIDORES_KINDER'] ?>' />

            
        <h4>Lista de exámenes disponibles para el grupo seleccionado</h4>
        <br/><br/>
            <div id="listado-descargaExamen"></div>
            <a class="close-reveal-modal">&#215;</a>
        
    
</div>
<?php
$this->headLink()->prependStylesheet($this->basePath() . '/css/grupos/grupos.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/misexamenes.css');
        


$this->headScript()->prependFile($this->basePath() . '/js/jquery.blockUI.js') 
        ->prependFile($this->basePath() . '/js/grupos/catalogodescarga.js');

