#contenedores{     
    width: 50%;
    display: inline-block;
    height: 100%;
}
#respuestas{
    width: 50%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    color: #FFF !important;
    position: relative;
}
.contenedor{
    width: 420px;
    background-color: #FFF;
    position: relative;
    background: #FFF;
}
.encabezado{
    height: 30px;
    min-height: 40px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
#contenidoActividad table{
    float: right;
    border-spacing: 4px;
    background: #f8b559;
    margin: 3px;
    margin-right: 10px;
    height: auto;
}
.respuestaDrag{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 420px;
    align-content: center;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.actividadEvaluacion .respuestaDrag{
    min-height: 40px;
}
.respuestaDrag p{
    padding: 0;
    margin: auto;
    float: right;
    padding: 5px;
    width: calc(100% - 20px);
    white-space: normal;
    line-height: 20px;
}
.contenedorOcupado{
    margin: 0 auto;
    position: relative;
    align-content: center;
}
.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
    -webkit-transition: none !important;
}
