.button{/*//gpu aceleration*/
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 5000;
   -moz-perspective: 5000;
   -ms-perspective: 5000;
   perspective: 5000;
   will-change: transform;
   -webkit-transform-style: preserve-3d;
}
#espacioSopa td, #espacioPalabras *{
    font-family: FF-Poppins;
}
#espacioSopa{
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: calc(70% - 20px);
    height: calc(100% - 20px);
    color: rgba(0,0,0, 0.8);
}
#espacioPalabras{
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    font-size: 22px;
    line-height: 30px;
    color: dimgrey;
    background: none;
    width: calc(30% - 30px);
    padding-left: 10px;
    height: calc(100% - 20px);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
}
.actividadEvaluacion #espacioSopa, .actividadEvaluacion #espacioPalabras{
    height: auto;
}
#resueltas{
    padding-top: 10px;
    width: 100%; height: auto;
    min-height: 40px;
    position: relative;
}
.palabra{
    width: 0;
    opacity: 1;
    overflow: hidden;
    font-family: FF-Poppins-light !important;
}
.palabraResuelta{
    height: 30px;
    width: 220px;
    overflow: hidden;
    margin: 5px; padding: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    background: white;
    box-shadow: 2px 2px 3px rgba(39, 162, 206, 0.35);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
}
.palabraResuelta.hidde{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 0px;
    color: transparent;
    opacity: 0;
    box-shadow: 0 0 0 transparent !important;
}
.palabraResuelta .close{
    position: absolute;
    right: 5px; top: calc(50% - 15px);
    background-color: #2689b2;
    width: 30px; height: 30px;
    border-radius: 50% 48%;
    background-image: url(../../img/opcion_multiple_tache.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.1s;
    -webkit-transition: transform 0.1s;
}
.palabraResuelta .close:hover{
    transform: scale(1.075, 1.075);
}
.palabraResuelta .close:active{
    transform: scale(0.75, 0.75);
}
#contenidoActividad table{
    height: 100%;
    max-height: 100%;
    border-spacing: 0;
    margin: 0 auto;
    border: solid 1px white;
    background: white;
    cursor: pointer;
}

#contenidoActividad td{
    width: 37px;
    height: 37px;
    max-height: 41px;
    border: 1px solid silver;
    padding: 0;
    margin: 0;
    text-align: center;
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
    font-size: 110%;
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
    border: solid 1px white;
    border-radius: 0px;
    transition: opacity 0.35s, visibility 0.35s, transform 0.35s, border-radius 0.35s, background 0.35s, border-color 0.35s;
    -webkit-transition: opacity 0.35s, visibility 0.35s, transform 0.35s, border-radius 0.35s, background 0.35s, border-color 0.35s;
}
.load{
    border-radius: 50%;
    transform: scale(0.01, 0.01);
    opacity: 0;
    visibility: hidden;    
}
.onSelection{
    background: rgba(169, 130, 217, 0.1) !important;
    border-color: rgba(169, 130, 217, 0.85) !important;
    box-shadow: inset 0 2px 4px rgba(169, 130, 217, 0.85) !important;
    border-radius: 50% !important;
}
.wordSolved, .actividadEvaluacion .palabra.mark{
    text-decoration: line-through;
}
#contenidoActividad  td.cellSolved{
    background: rgba(169, 130, 217, 0.3);
    border-color: rgba(169, 130, 217, 0.6);
    box-shadow: inset 0 0 4px rgba(169, 130, 217, 0.6);
}
/*Estilos para la sopa de letras extendida*/
#espacioSopa.Extendido{
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    margin:5px;
    display: flex;
    align-content: center;
    display: block;
}
#espacioPalabras.Extendido{
    margin: 5px;
    margin-top: 2px;
    padding-left: 80px;
    padding-right:80px;
    width: calc(100% - 170px);    
    height: 40px !important;
    font-size: 20px;
    opacity: 1;
    color: white;
    font-weight: normal;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;    
    -webkit-transition: opacity 0.5s, visibility 0.5s;    
    line-height: 40px;
    overflow-x: visible;
    overflow-y: hidden;
    background: #2689b2;
}
#espacioPalabras.Extendido .palabra{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
#espacioSopa.Extendido table{
    margin: auto;
}
.actividadEvaluacion #espacioSopa.Extendido table{
    margin-top: 0 ;
}
.button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    z-index: 10;
    cursor: pointer;
}
#lastWord{
    right: 50px;
    background-image: url("../../img/icons.png");
    background-size: cover;
    background-position: 119px 0px;
}
#nextWord{
    background-image: url("../../img/icons.png");
    background-size: cover;
    background-position: 42px 0px;
    right: 5px;
}
/*estilos para la sopa de letras de evaluacion*/
.actividadEvaluacion #contenidoActividad table{
    height: auto !important;
}
.actividadEvaluacion td.search, .palabraResuelta.search{
    background: #dee594;
    border-color: #dee594;
}
.actividadEvaluacion #espacioSopa{
    height: auto;
    margin-bottom: 15px;
}
.actividadEvaluacion #espacioPalabras .palabra{
    font-size: 20px;
    font-family: FF-Poppins-Light !important;
    font-weight: bold; 
    color: white;
}
.actividadEvaluacion .button{
    top: 0px !important;
}
.actividadEvaluacion #espacioPalabras{
    margin: 0;
    width: calc(100% - 92px);
    margin-bottom: 15px;
}
.actividadEvaluacion .palabra{
    cursor: pointer;
}
.actividadEvaluacion #espacioSopa{
    display: block !important;
}
.actividadEvaluacion .onSelection{
    border-radius: 10px !important;
}