#contenedores{     
    width: 100%;
    height: auto;
    margin-top: 5px;
    text-align: center;
}
#respuestas{
    width: 100%;
    height: auto;
    max-height: 100px;
    overflow: visible;
    color: white;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}
.contenedor{
    background: #FFF;
    position: relative;
    height: 40px;
}
.encabezado{
    height: 40px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.encabezado img{
    display: inline-block;
    vertical-align: middle;
}
#contenidoActividad table{
    width: auto;
    border-spacing: 4px;
    background: #f8b559;
    height: auto;
    max-height: 100%;
    margin-right: 4px;
    display: inline-table;
    vertical-align: top;
}
.respuestaDrag{
    height: auto;
    min-height: 40px;
    overflow: hidden;
    padding: 5px;
    margin: 5px auto;
    padding: 0;
    background-color: silver;
    display: flex;
    align-content: center;
    cursor: pointer;
}
.respuestaDrag p{
    padding: 5px;
    width:100%;
    height: auto;
    margin: auto;
    font-size: 20px;
    line-height: 22px;
    white-space: normal;
    text-align: center;
}
.respuestaDrag p.img{
    margin: 0;
    padding: 0;
    width: auto;
    margin: 0 auto;
}
.respuestaDrag p img{
    height: 100%;
    width: auto;
    max-width: 100%;
    display: block;
    padding: 0;
}