*{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent;
}
#fondoPregunta{
    font-size: 20px;
    line-height: 50px;
    vertical-align: top;
    display: inline-block;
    width: 70%;
    min-width: 30%;
    height: 100%;
    font-weight: bold;
    color: rgba(0,0,0, 0.9);
    overflow: hidden;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: 100% 100%;
}
.contenedor{
    height: 40px;
    max-height: 40px;
    width: 40px;
    max-width: 40px;    
    overflow: visible;
    position: absolute;
    background: rgba(0,0,0, 0.35);
    box-shadow: 0 0 7px rgba(0,0,0, 1);
    pointer-events: none;
    transition: box-shadow 1.4s, background 1.6s;
    -webkit-transition: box-shadow 1.4s, background 1.6s;
}
.free{
    border-radius: 5px;
    pointer-events: all !important;
}

#colRespuestas{
    height: 100%;
    width: 30%;
    min-width: 30%;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.respuesta{
    min-height: 40px;
    height: auto;
    min-width: 150px;
    width: auto;
    color: white;
    font-size: 20px;
    text-align: left;
    line-height:25px;
    margin: 5px;
    margin-top: 10px;
    padding-right: 5px;
    position: relative;
    background: #51c3af;
    box-shadow: -4px 4px 8px #555;
    border-left: solid 40px #51c3af;
    cursor: pointer;
    display: flex;
    align-items: center;    
}
.solved{
    pointer-events: none !important;
    background: #de6568 !important;
    border-color: #de6568;
}
.solved .etiqueta{
    background: #de6568 !important;
}

.etiqueta{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    max-height: 40px;
    width: 40px;
    max-width: 40px;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 20px);
    left: -40px;
    background: #51c3af;
    color: white;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.etiqueta img{
    max-width: 100%;
    max-height: 100%;
}
#fondoPreguntaActividad>.etiqueta{
    position: absolute;
    z-index: 2 !important;
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    overflow: hidden;
}
.arrow{
    width: 30px;
    height: 30px;
    background-image: url(../../img/icons_black.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
    position: absolute;
    opacity: 0.8;
    transition: top 0.35s, left 0.35s;
    -webkit-transition: top 0.35s, left 0.35s;
}
.arrow.left{
    top: 5px;
    left: -30px;
}
.arrow.right{
    top: 5px;
    left: 40px;
    transform: rotate(180deg);
}
.arrow.up{
    top: -30px;
    left: 5px;
    transform: rotate(90deg);
    background-position-y: 2px;
}
.arrow.down{
    top: 40px;
    left: 5px;
    transform: rotate(-90deg);
}