.fvButtons *{/*//gpu aceleration*/
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 5000;
   -moz-perspective: 5000;
   -ms-perspective: 5000;
   perspective: 5000;
   will-change: transform;
   -webkit-transform-style: preserve-3d;
}
#fvBacground{
    border-right: solid 250px #11528c;
    width: calc(100% - 250px);
    height: 100%;
    position: relative;
}
#fvContainer{
    width: 100%;
    height: auto;
    overflow: visible;
    font-size: 20px;
    color: black;
    margin: 0; padding: 0;
    list-style-type: none;
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
}
#fvContainer>li{
    counter-increment: step-counter;
    width: calc(100% - 60px);
    min-height: 50px;
    border-left: 55px solid transparent;
    position: relative;
    line-height: 24px;
    padding: 10px 0;
    border-bottom: 2px solid rgba(157, 182, 207, 0.5);
    padding-right: 245px;
    clear: both;
}
#fvContainer>li:last-child{
    border-bottom: 0;
}
#fvContainer>li::before {
    content: attr(t11);
    color: #f48a26;
    font-size: 35px;
    position: absolute;
    top: calc(50% - 15px);
    left: -55px;
    width: 55px;
    text-align: center;
    height: 100%;
    background: white;
}
#fvContainer>li>img{
    width: auto;
    margin-right: 5px;
    vertical-align: top;
    float: right;
    max-height: 200px !important;
}
/*default buttons*/
.fvButtons{
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    line-height: 30px;
    text-align: center;
}
.fvButtons>.fvBtn{
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 50%; left: 0;
    transform: translateY(-50%);
    transition-duration: 0.35s;/*//transition opacity*/
    transition-property: opacity;
    transition-delay: 0.5s;
    -webkit-transition-duration: 0.35s;/*safari*/
    -webkit-transition-property: opacity;
    -webkit-transition-delay: 0.5s;
}
.fvButtons>.fvBtn>div{
    width: 50px; height: 50px;
    background: white;
    border: solid 3px #704d87;
    border-radius: 50%;
    line-height: 55px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: #704d87;
    box-shadow: 4px 4px 6px rgba(0,0,0, 0.35);
    background-image: none;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition: color 0.15s, border-color 0.15s, background 0.25s,transform 0.15s !important;
    -webkit-transition: color 0.15s, border-color 0.15s, background 0.25s,transform 0.15s !important;
}
.fvButtons p{
    display: none;
}
/*hover event*/
.fvButtons>.fvBtn:hover>div{
    color: silver !important;
    border-color: silver !important;
    transform: scale(1.1, 1.1);
}
.fvButtons>.fvBtn:hover>p{
    color: silver !important;
}
/*click event*/
.fvButtons>.fvBtn.correct>div{
    background-color: #704d87;
    background-image: url(../../img/opcion_multiple_palomita.png);
    color: transparent !important;
}
.fvButtons>.fvBtn.incorrect{
    opacity: 0.35;
}
.fvButtons>.fvBtn.incorrect>div{
    background-color: #704d87;
    background-size: 60% 60%;
    background-image: url(../../img/opcion_multiple_tache.png);
    color: transparent !important;
    
}
/*//text butonns*/
.fvButtons.custom>.fvBtn{
    top: 50%;
    margin: 0;
    width: 100%;
    display: block;
    max-height: 50%;
    text-align: left;
    transform: translateY(-100%);
}
.fvButtons.custom p{
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: inline-block;
    color: white;
    margin-left: 10px;
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
}
.fvButtons.custom>.fvBtn>div{
    color: transparent !important;;
    width: 24px; height: 24px;
    margin: 2px;
    margin-left: 5px;
    display: inline-block;
    transition: border-color 0.25s;
    -webkit-transition: border-color 0.25s;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.35);
}
/*//img buttons*/
#fvContainer li.hasImg .respuesta{
    position: absolute;
    top: calc(50% - 15px); left: -5px;
    z-index: 10;
}
#fvContainer li.hasImg .fvBtn{
    display: inline-block;
    margin: 2px;
    padding: 0;
    width: calc(50% - 4px);
    height: calc(100% - 4px);
    text-align: center;
}
#fvContainer li.hasImg .fvBtn p{
    margin: 0; padding: 0;
    height: 100%;
    width: auto;
    max-width: 100%;
}
#fvContainer li.hasImg .fvBtn img{
    height: 100%;
    width: auto;
    max-width: 100%;
    margin: 0; padding: 0;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}