.color{/*//gpu aceleration*/
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 5000;
   -moz-perspective: 5000;
   -ms-perspective: 5000;
   perspective: 5000;
   will-change: transform;
   -webkit-transform-style: preserve-3d;
}
#fondoActividad{
    width: calc(100% - 90px);
    height: 100%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#fondoActividad.tamañoReal{
    background-size: auto;
}
#colores{
    width: 90px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.color{
    -webkit-appearance: none;
    display: block;
    border: none;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    float: right;
    transform: scale(1);
    transition: transform 0.15s, opacity 0.15s;
    -webkit-transition: transform 0.15s, opacity 0.15s;
    opacity: 0.5;
    -webkit-mask-image: url(../../img/color-palette.png);
    
}
.color.na{
    -webkit-mask-image: none;
    background-image: url(../../img/color-palette-na.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.color:hover{
    transform: scale(1.1);
}
.color:active{
    transform: scale(0.5);
}
.color.selected{
    opacity: 1;
    transform: scale(1.3) !important;
}
/*color picker*/
#colorPicker{
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: white;
    transition: width 0.4s;
    -webkit-transition: width 0.4s;
    overflow: hidden;
}
#colorsTable{
    width: 820px;
    height: 400px;
    margin: 0;
    margin-top: 50px;
    border-spacing: 2px;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    position: relative;
    top: 0; left: 50%;
    transform: translateX(-50%);
}
.noWidth #colorsTable{
    opacity: 0 !important;
}
#colorsTable .hexColor{
    border-radius: 0%;
    cursor: pointer;
    border: none;
    transition: border-radius 0.25s, border 0.15s;
    -webkit-transition: border-radius 0.25s, border 0.15s;
}
#colorsTable .hexColor:hover, #colorsTable .hexColor.selected{
    border-radius: 50%;
}
/*Bloques de coloreado*/
.block{
    cursor: pointer;
    position: absolute;
    background: transparent;
    mix-blend-mode: overlay;
}
.block.multiply{
    mix-blend-mode: multiply;
}

.block.mask, .color{
    -webkit-mask-size: 100% 100% !important;
    -webkit-mask-position: center !important;
    -webkit-mask-repeat: no-repeat !important;
}
.block:hover{
    background-color: #fffa90;
}
.block.dev{
    background: silver;
}