#contenedores, #respuestas{     
    width: 50%;
    display: inline-block;
    height: calc(100% - 10px);
    margin: 10px 0;
    position: relative;
    color: white;
    vertical-align: top;
}
.contenedor{
    background-color: #FFF;
    border: 1px solid #A0A0A0;
    display: flex;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 420px;
    position: relative;
}

.respuestaDrag{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 420px;
    height: 40px;
    align-content: center;
    margin-bottom: 7px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.respuestaDrag p{
    padding: 5px;
    margin: auto;
    width: calc(100% - 10px);
    white-space: normal;
    line-height: 22px;
}
.contenedorOcupado{
    position: relative;
    align-content: center;
    white-space: normal;
    line-height: 20px;
}
.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
    -webkit-transition: none !important;
}
.textoContenedor{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 20px;
    margin: auto;
    color: #A4CD6D;
}
.correctAnswer{
    color: #FFF;
}