#contenedores{     
    width: 50%;
    display: inline-block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#respuestas{
    width: 50%;
    display: inline-block;
    height: calc(100% - 7px);
    vertical-align: top;
    margin-top: 7px;
    color: #FFF !important;
    position: relative;
}

.contenedor{
    border: 1px solid #A0A0A0;
    width: 100%;
    position: relative;
    min-height: 80px;
    background-color: transparent;
}

.respuestaDrag{
    margin: 0 auto;
    position: relative;
    width: 40%;
    margin-bottom: 7px;
    display: inline-block;
    min-height: 80px;
    background-size: auto 100%;
    background-position: center;
}

.respuestaDrag p{
    padding: 0;
    margin: auto;
    float: right;
    width: calc(100% - 50px);
    white-space: normal;
    line-height: 20px;
}
.contenedorOcupado{
    position: relative;
    align-content: center;
    white-space: normal;
    line-height: 20px;
}

.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
    -webkit-transition: none !important;
}

.textoContenedor{
    margin: auto;
    color: #A4CD6D;
}
.correctAnswer{
    color: #FFF;
}