/*Estilos generales*/
body, html{
    height: 100% !important;
    width: 920px !important;
    max-width: 920px;
}
#contenidoActividad.actividadEvaluacion{
    height: calc(100% - 55px);
    margin: 0;
    margin-top: 50px;
    margin-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.actividadEvaluacion #cuestionMarker{
    display: none;
}
.actividadEvaluacion #preguntaActividad{
    line-height: 25px;
    font-weight: normal;
    color: black;
    width: calc(100% - 50px);
    margin: 10px 0 10px 0;
    padding: 0 40px 0 10px;
    min-height: 0;
    height: auto;
    border-bottom: solid 1px grey;
    color: #34495E; font-weight: 500;
    text-align: justify;
}
.actividadEvaluacion .grupoRespuestas #preguntaActividad{
    width: calc(100% - 60px);
    margin-right: 10px;
}
.actividadEvaluacion #contenedor{
    height: auto;
    min-height: 525px;
}
/*Barra de navegacion*/
nav#preguntas{
    width: calc(100% - 20px);
    height: 50px;
    background: #555b5c;
    position: absolute;
    top: 0; left:0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-left: 10px solid #555b5c;
    border-right: 10px solid #555b5c;
}
nav#preguntas>hr{
    content: "";
    display: inline-block;
    width: 9px; height: 50px;
    background-image: url(../img/icons.png);
    background-size: 65px auto;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.35s, visibility 0.35s;
    margin:0; padding: 0;
    border: 0;
    cursor: pointer;
}
nav#preguntas>hr.left{
    left: 0px;
    background-position: -28px center;
    border-right: solid 1px grey;
}
nav#preguntas.noLeft>hr.left{ visibility: hidden; opacity: 0; }
nav#preguntas>hr.right{
    right: 0px;
    background-position: -53px center;
    border-left: solid 1px grey;
}
nav#preguntas.noRight>hr.right{ visibility: hidden; opacity: 0; }
nav#preguntas.noPseudo>hr.right, nav#preguntas.noPseudo>hr.left{ display: none; }
nav#preguntas .nPregunta{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 28px;
    opacity: 0.4; color: white;
    width: 50px; height:50px;
    line-height:55px;
    position: relative;
    background: none;
    padding: 0 3px;
    transition: opacity 0.25s, width 0.15s, margin 0.15s, padding 0.15s;
}
nav#preguntas .nPregunta.selected{
    background: #334142 !important;
    opacity: 1;
}
nav#preguntas .nPregunta:after{
    content: "";
    display: block;
    position: absolute;
    width: 25px; height: 25px;
    top: 1px; right: 1px;
    background-image: url(../img/flag-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-30deg);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0;
}
nav#preguntas .nPregunta.selected:after{
    opacity: 0.5;
}
nav#preguntas .nPregunta.flag:after{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    opacity: 1;
}
/*Estilos para los tipos de actividades*/
/*opcion Multiple*/
.OMSelectedEval .eventoClick{
    width: 100%;
    border-left: solid 10px #27a2ce;
    background-color: rgba(39, 162, 206, 0.5);
}
.respuesta .inciso{
    color:transparent;
    background-color: white;
    box-shadow: inset 0 0 0 2px silver;
    position: relative;
}
.inciso.noRadius{
    border-radius: 5px;
}
.inciso.noRadius:after{
    display: none !important;
}
.OMSelectedEval .inciso{
    background-color: white;
    box-shadow: inset 0 0 0 2px #27a2ce;
}
.OMSelectedEval .inciso.noRadius{
    background-image: url(../img/opcion_multiple_palomita_orangeBase.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.OMSelectedEval .inciso:after{
    content: "";
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    top: 20%; right: 20%;
    background: #27a2ce;
}
/*relaciona lineas*/
.correctAnswer .circuloLineas{
    background: #27a2ce !important;
    border-color: #27a2ce !important;
}
.correctLine{
    stroke: #27a2ce !important;
}
/*arrastra contenedor/corta*/
.contenedorEval{
    overflow: visible !important;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75) !important;
    background-color: #fffa90 !important;
}
.ui-state-highlight .respuestaDrag{
    opacity: 0.65 !important;
}
.dragElement{
    opacity: 1;
    transition: none !important;
    -webkit-transition: none !important;
    color: white !important;
    box-shadow: 2px 4px 8px rgba(0,0,0, 0.75);
}
#time{
    vertical-align: top;
    width: 100px;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}
/*//estilos boton extras*/
#modal-extras{
    width: 0px;
    height: 0px;
    padding: 0;
    overflow: hidden;
    background: white;
    position: absolute;
    top: 75px; right: 25px;
    font-size: 18px;
    color: dimgrey;
    text-align: justify;
    z-index: 100;
    transform: translateZ(0);
    perspective: 1000;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    will-change: top, right, width, height, padding, border-radius;
    transition: 0.5s;
}
#modal-extras.reveal{
    top:50px; right:0;
    border-radius: 0px;
    width: calc(100% - 40px);
    height: calc(100% - 110px);
    padding: 40px 20px 20px 20px;
}
.contenedor-modal{
    width: calc(920px - 40px);
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
#btn-extras{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #27a2ce;
    position: absolute;
    top: 60px; right: 10px;
    background-image: url(../img/opcion_multiple_tache.png);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    will-change: transform;
    visibility: hidden;
    transform: scale(0) rotate(45deg);
    transition: transform 0.5s, visibility 0.5s, background 0.5s, top 0.5s;
    z-index: 110;
}
#btn-extras:before{
    content: "";
    width: 60px; height: 60px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%; left: 50%;
}
#btn-extras.reveal{
    visibility: visible;
    transform: scale(1) rotate(135deg);
}
#btn-extras.reveal.modal-open{
    transform: scale(1) rotate(0deg);
    background-color: #F03853;
}
.actividadEvaluacion  input#scroll{
    max-width: 85% !important;
}

/*estilos para la barra de scroll*/
::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 4px rgba(93, 109, 126  , 0.85);
        border-radius: 10px;
        background-color: white;
}

::-webkit-scrollbar{
        width: 9px;
        background: none;
        display: block !important;
}

::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #95A5A6;
}

#respuestas{ border: 0 !important; }
#respuestas::-webkit-scrollbar{ display: none !important; }