#contenidoActividad *{
    pointer-events: all !important;
}
/*contenido para las preguntas*/
.panel.preguntas{
    width: 300px;
    height: 100%;
    display: block;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 8px rgba(0,0,0, 0.35);
    position: relative;
    z-index: 10;
}
.contenedor{
    width: calc(100% - 20px);
    height: calc(50% - 20px);
    padding: 10px;
    display: block;
    position: relative;
    overflow: hidden;
}
.contenedor.selected{
    color: #2471A3;
    font-weight: 600;
}
.contenedor:before{
    content: attr(type);
    width: 100%;
    height: 30px;
    display: block;
    background: #3d85c6;
    padding: 10px;
    margin: -10px auto auto -10px ;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.contenedor.green{ color: #79a556; }
.contenedor.green:before{ background: #79a556; }
.contenedor.red{ color: #e1385a; }
.contenedor.red:before{ background: #e1385a; }
/*botones siguiente anterior*/
.contenedor .btn{
    width: 30px; height: 30px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 0px;
    border: 0;
    box-shadow: 0 0 0 1px silver;
    transform: scale(1);
    transition: transform 0.15s;
    cursor: pointer;
    /*//gpu aceleration*/
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 5000;
    -moz-perspective: 5000;
    -ms-perspective: 5000;
    perspective: 5000;
    will-change: transform;
    -webkit-transform-style: preserve-3d;
}
.contenedor .btn:hover{ transform: scale(1.2); }
.contenedor .btn:active{ transform: scale(0.75); }
.contenedor .btn:before{
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width:100%;
    height: 100%;
    background: #3d85c6;
    -webkit-mask-image: url(../../img/icons_black.png);
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
.contenedor .btn.back{ left: 10px; }
.contenedor .btn.next{ right: 10px;}
.contenedor .btn.next:before{-webkit-mask-position: -117px center; }
.contenedor.green .btn:before{ background: #79a556; }
.contenedor.red .btn:before{ background: #e1385a; }
/*estilos para las preguntas*/
.contenedor .pregunta{
    display: inline-block;
    vertical-align: top;
    width: 0px;
    height: calc(100% - 40px);
    opacity: 0;
    overflow: hidden;
    transition: none;
}
.contenedor .pregunta.reveal{
    transition: opacity 1.5s;
    opacity: 1;
    width: 100%;
}
.contenedor .pregunta:before{
    content: attr(nPreg) ".-";
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}
/*contenido del crucigrama*/
.panel.cuadricula{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 320px);
    height: calc(100% - 20px);
    padding: 10px;
    background: white;
}
/*//estilos para los elementos editables*/
input{
    width:100%;
    height:100%;
    font-size: 200%;
    margin: 0;
    padding: 0;
    border:0;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: inherit;
    position: absolute;
    top:0; left:0;
}
/*estilos del grid*/
.grid{
    border:0; padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
    max-height: 100%;
    border-spacing: 2px;
}
.grid td{
    background: white;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}
.grid td.cell{
    box-shadow: 0 0 0 2px #3d85c6;
    position: relative;
    transition: color 0.5s, box-shadow 0.5s;
}
.grid td.cell.number:after{
    content: attr(nPreg);
    font-size: 12px;
    margin: 2px;
    width: 10px; height: 10px;
    pointer-events: none;
    position: absolute;
    top:0; left: 0;
    line-height: 14px;
    text-align: left;
}
.grid td.cell.focus{
    outline: solid 2px #7D3C98;
    color: #7D3C98;
    box-shadow: 0 0 4px 2px #7D3C98;
    z-index: 500;
    transition:none;
}
.grid td.cell.green{
    color: #79a556;
    pointer-events: none;
    z-index: 100;
    box-shadow: 0 0 0 2px #79a556;
    transition: none;
    outline: none;
}
.grid td.cell.red{
    color: #e1385a;
    z-index: 500;
    pointer-events: none;
    box-shadow: 0 0 0 3px #e1385a;
    transition: none;
    outline: none;
}
.grid td.cell.white{
    color:white;
    outline: none;
    z-index: 100;
}