.serie {/*//gpu aceleration*/
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 5000;
   -moz-perspective: 5000;
   -ms-perspective: 5000;
   perspective: 5000;
   will-change: transform;
   -webkit-transform-style: preserve-3d;
}
#preguntaActividad{
    margin-bottom: 5px;
}
#contenedorGrafica{
    width: 100%;
    height: auto;
    max-height: calc(100% - 50px);
}
#grafica{
    max-height: 100%;
    max-width: 100%;
    width: auto; height: auto;
    margin: 0 auto;
    border-spacing: 0;
    background: white;
    position: relative;
}
#grafica td{
    border-top: solid 2px rgba(30,144,255, 0.25);
    font-size: 110%;
    position: relative;
}
.frecuencia, .categoria{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
.frecuencia{
    border-right: solid 4px rgba(30,144,255, 0.75);
}
.categoria{
    border: none;
    border-top: solid 4px rgba(30,144,255, 0.75) !important;
}
#contenidoActividad tr:last-child td:first-child{
    border-top: solid 4px rgba(30,144,255, 0.75) !important;
}
#contenidoActividad  td[t17]{
    cursor: pointer;
}
#contenidoActividad td[t17]:hover>div{
    background-color: #fffa90 !important;
}
.serie{
    height: 0;
    position: absolute;
    top: -2px; right: 1px;
    pointer-events: none;
}
.serie.badAnswer{
    background: rgba(225, 56, 90, 0.75);
    box-shadow: inset 0 0 6px 2px #e1385a;
}
.serie.correctAnswer{
    background: rgba(164, 205, 109, 0.75);
    box-shadow: inset 0 0 6px 2px #A4CD6D;
}
.serie.selected{
    box-shadow: inset 0 0 6px 2px #27a2ce;
    background: rgba(39, 162, 206, 0.5);
}

/*boton de guardar*/
#emptyCell{
    position: static !important;
}
#emptyCell .button{
    width: 40px;
    height: 40px;
    background: white;
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.5);
    border-radius: 50%;
    position: absolute;
    right: -50px;
    background-position: center;
    cursor: pointer;
    transform: scale(1,1);
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
}
#emptyCell .button{
    transform: scale(1.1, 1.1);
}
#emptyCell #guardarRespuesta{
    top: 0px;
    background-image: url(../../img/guardar.png);
    background-repeat: no-repeat;
    background-size: 70% 70%;
}
#emptyCell #next{
    top: 50px;
    background-image: url(../../img/icons_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -156px center;
}
#emptyCell #back{
    top: 100px;
    background-image: url(../../img/icons_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#emptyCell #reiniciar{
    top: 150px;
    background-image: url(../../img/flecha_verde.png);
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: 49% 49%;
}