#contenido{
    font-size: 20px;
    line-height: 40px;
}
textArea.libre{
    width: calc(100% - 100px);
    max-width: calc(100% - 120px);
    height: auto; min-height: 200px;
    margin: 50px;
    margin-top: 0px;
    padding: 10px;
    border: 0;
    color: DimGray;
    background: white;
    font-size: 20px;
    font-family: inherit;
    box-shadow: inset 2px 2px 8px rgba(0,0,0, 0.35);
}
textArea.area{
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    min-width: 50px;
    line-height: 20px;
    vertical-align: middle;
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
    resize: none;
    font-size: 20px;
    margin: 0;
    padding: 5px 2px;
    padding-bottom: 0px;
    color: dimgrey;
    text-align: center;
    box-shadow: none;
}
textArea.area.correct{
    color: #689a40 !important;
    border-color: #689a40 !important;
    box-shadow: 0 2px 8px -2px #689a40;
}
textArea.area.incorrect{
    color: #e1385a !important;
    border-color: #e1385a !important;
    box-shadow: 0 2px 8px -2px #e1385a;
}