.button{/*//gpu aceleration*/
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 5000;
   -moz-perspective: 5000;
   -ms-perspective: 5000;
   perspective: 5000;
   will-change: transform;
   -webkit-transform-style: preserve-3d;
}
p.help.informacion{
    margin-bottom: 0;
}
p.help.ejemplo{
    margin-top: 0;
}
#contenido{
    height: 100%;
    width: 100%;
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}
#contenido .respuesta, #contenido .resultado{
    width: auto;
    min-width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-top: solid whitesmoke 5px;
    padding: 0 4px;
    margin-left: 5px;
    position: absolute;
    font-size: 24px;
    color: dimgrey;
    bottom: 0px; left: 0;
}
.resultado.lock, .respuesta.lock{
    color: #689a40 !important;
    border-color: #689a40 !important;
}
#contenido .respuesta{
    color: dodgerblue;
    border-color: dodgerblue;
}
#contenido .resultado{
    color: #BB8FCE;
    border-color: #BB8FCE;
    bottom: 50px;
}
#contenido .pizarra{
    width: calc(100% - 10px);
    height: calc(100% - 120px);
    padding: 20px 5px;
    padding-bottom: 0px;
    overflow: hidden;
    box-shadow: inset 0 -10px 10px -10px silver;
}
/*Estilos para botones de operadores*/
.button{
    color: white;
    width: 40px; height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.35);
    line-height: 45px;
    font-size: 35px;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 100;
    transition: transform 0.15s, right 0.35s, opacity 0.35s;;
    -webkit-transition: transform 0.15s, right 0.35s, opacity 0.35s;;
}
.button:hover{
    transform: scale(1.15);
}
.button:active{
    transform: scale(0.5);
}
.button.eliminar{
    background-image: url(../../img/trash_ico.png);
    background-size: 100% 85%;
    background-position: center;
    background-repeat: no-repeat;
}
.button.lock{ opacity: 0.35; }
.button.porcentaje{  font-size: 25px; }
.button.potencia{  font-size: 30px; }
.button.raiz{  font-size: 30px; line-height: 48px; }
/*.button.parentesis{  font-size: 24px; line-height: 47px; }*/

/*//Estilos elementos en pizarron*/
.element{
    width: auto;
    min-width: 40px;
    height: auto;
    min-height: 40px;
    border-radius: 5px;
    box-shadow: none;
    color: black;
    text-align: center;
    line-height: 40px;
    opacity: 1;
    display: inline-block;
    transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
    cursor: pointer;
    margin-right: 4px;
    vertical-align: top;
    opacity: 0.5;
    border-left-width: 20px !important;
    position: relative;
}
.pizarra>.element{
    margin-bottom: 5px;
}
.element.selected>.element{
    opacity: 0.5;
}
.element.selected{
    opacity: 1 !important;
}
.element:before{
    content: "";
    width: 22px;
    color: white;
    height: calc(100% + 4px);
    position: absolute;
    top: -2px; left: -20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.element span{
    min-width: 40px;
    min-height: 40px;
    border: 0;
    padding: 0;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    outline: none;
    display: block;
}
.element>.element{
    opacity: 1;
    margin-right: 0;
    margin: 4px !important;
}
.element>.element+.element{
    margin-left: 5px;
}
/*//colores por operador*/
.bg.suma{  background: #017890; }
.element.suma{ color: #017890; border: solid 2px #017890;}
.element.suma:before{ content:"+"; background: #017890;}

.bg.resta{  background: #336699; }
.element.resta{ color: #336699; border: solid 2px #336699;}
.element.resta:before{ content:"-"; background: #336699; font-size: 32px;}

.bg.multiplicacion{  background: #177F75; }
.element.multiplicacion{ color: #177F75; border: solid 2px #177F75;}
.element.multiplicacion:before{ content:"×"; background: #177F75; font-size: 26px;}

.bg.division{  background: #7C7062; }
.element.division{ color: #7C7062; border: solid 2px #7C7062; }
.element.division:before{ content:"÷"; background: #7C7062; font-size: 26px;}
.element.division>span:nth-child(2){ border-top: solid 1px #7C7062;}
.element.division>.element{ display: block; }

.bg.porcentaje{  background: #2980B9; }
.element.porcentaje{ color: #2980B9; border: solid 2px #2980B9; display: inline-table; border-spacing: 3px 0px; }
.element.porcentaje:before{ content:"%"; background: #2980B9;}
.element.porcentaje>*{ display: table-cell; margin: 0; vertical-align: middle; }
.element.porcentaje>p{ height: 100%; font-size: 16px; padding: 0 5px; border-right: 1px solid #2980B9; border-left: solid 1px #2980B9; }

.bg.potencia{  background: #8C489F; }
.element.potencia{ color: #8C489F; border: solid 2px #8C489F; display: inline-table; border-spacing: 3px 0px; }
.element.potencia:before{ content:"^"; background: #8C489F;}
.element.potencia>span{ min-width: 30px;}
.element.potencia>span:nth-child(2){ border-left: 1px solid #8C489F; font-size: 14px; line-height: 25px; vertical-align: top; }
.element.potencia>*{  display: table-cell;}

.bg.raiz{  background: #41924B; }
.element.raiz{ color: #41924B; border: solid 2px #41924B;}
.element.raiz:before{ content:"√"; background: #41924B;}

/*.bg.parentesis{  background: #FF9900; }
.element.parentesis{ color: #FF9900; border: solid 2px #FF9900;}
.element.parentesis:before{ content:"( )"; background: #FF9900;     font-size: 14px;}*/