#buttonsNav>p{
    display: none !important;
}
#preguntaTest{
        margin: 10px;
        width: calc(100% - 40px);
        min-height: 45px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        background: rgb(239, 125, 0);
        line-height: 35px;
        text-align: center;
        font-size: 20px;
        color: white;
        font-weight: bold;
}

.respuesta{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 20px);
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
}
.respuesta p{
    margin: 0;
}
.respuesta>div:nth-child(2){
    max-width: calc(100% - 125px);
    display: inline-block;
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    font-family: FF-Poppins-Regular;
    position: relative;
    z-index: 2;
    left: 90px;
}
.inciso{
    vertical-align: top;
    display: inline-block;
    background: #2eb29f;
    width: 1.6em; height: 1.6em;
    line-height: 1.6em;
    border-radius: 50%;
    font-size: 20px;
    color: white; font-weight: bolder;
    text-align: center;
    margin: 0px;
    position: relative;
    z-index: 2;
    left: 75px;
}

.clickEvent{
    position: absolute;
    top: 0; left:0;
    border-left: solid 0px transparent;
    width: 0px; height: 100%;
    background: rgba(0, 224, 255, 0.6);
    transition: width 0.35s, border 0.35s;
    -webkit-transition: width 0.35s, border 0.35s;
    z-index: 1;
}

.selected .clickEvent{
    width: calc(100% - 10px);
    border-left: solid 10px rgb(0, 224, 255);
}

/*modal test*/
#modalContent{
    position: absolute;
    top: 100%;
    width: 95%;
    padding: 2.5%;
    text-align: center;
    color: dimgrey;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    background: rgba(255,255,255, 0.8);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 18px rgba(0,0,0, 0.35);
    
}