#contenidoActividad{
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
#contenidoActividad.real{
    background-size: auto !important;
}
.respuesta{
    width: 40px; height: 40px;
    z-index: 2;
    position: absolute;
    background: rgba(50, 50, 50, 0.5);
    opacity: 0; 
    transform: scale(0.1, 0.1);
    border: solid 4px rgba(50, 50, 50, 0.6);
    background-image: none;
    transition: opacity 1.2s, transform 0.5s, background-image 0.35s;
    -webkit-transition: opacity 1.2s, transform 0.5s, background-image 0.35s;
}

.correctAnswer{
    pointer-events: none !important;
    border-color: rgb(171, 204, 99) !important;
    background: rgba(171, 204, 99, 0.75) !important;
    background-image: url('../../img/opcion_multiple_palomita.png') !important;
    background-size: 95% 95% !important;
    background-repeat: no-repeat !important;
}
.badAnswer{
    pointer-events: none !important;
    border-color: #e1385a !important;
    background: rgba(225, 56, 90, 0.85) !important;
    background-image: url('../../img/opcion_multiple_tache.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.selected{
    border-color: #2689b2 !important;
    background: rgba(39, 162, 206, 0.5) !important;
    background-image: url('../../img/opcion_multiple_palomita.png') !important;
    background-size: 80% 80% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    box-shadow: none !important;
}