#respuestas, #contenido{
    position: relative !important;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.35s;
    -webkit-transition: opacity 0.35s;
    position: relative;
}
.respuestaDrag, .contenedor{
    min-width: 200px;
    max-width: 800px;
    height: 0px;
    margin:  0 auto;
    margin-top: 6px;
    display:block;
    font-size: 20px;
    border-radius: 10px;
    background: white;
}
.respuestaDrag{
    min-height: 40px;
    display: flex;
    align-content: center;
    cursor: pointer;
    color: white;
}
.respuestaDrag p, .contenedor .mask p{
    margin: auto;;
    padding: 0;
    width: 100%;
    line-height: 25px;
    padding: 2px;
    text-align: center;
}
.contenedor{
    position: relative;
    max-width: 840px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.contenedor .mask{
    display: flex;
    align-content: center;
    width: 100%; height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 0 1.5px silver;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.contenedor .mark{
    width: 28px; height: 28px;
    background: rgb(239, 125, 0);
    -webkit-mask-image: url(../../img/icons_black.png);
    -webkit-mask-size: cover;
    -webkit-mask-position: center 0px;
    position: absolute;
    top: calc(50% - 15px);
    right: -32.5px;
}
.contenedor.noHeight{
    overflow: hidden;
}
.contenedor .mask p{
    width: auto;
    color: #A4CD6D;
    font-weight: bold;
}