/*grupos.css*/
.item{
	background:#5489b0;
}

.itemExa{
	background:#5489b0;
}
.tit-addGpo{                  /*estilotiyulo fieldset add-grupo*/
	padding-bottom: 5px;
	font-weight: bold;
	font-style:italic;
	color:#fff;
}

.fondo{                            /*estilofondo blanco archivo add-grupo*/
	background:#fff;
	height:35em;
}

.inputstyle[type="text"] {          /*estilo datepicker quitar*/
  height:3em;
  font-style:italic;
  color: #268ab3;
  font-size:1.1em;
  -webkit-color: #268ab3;
}

.no-margin{           /* estilos cajas add-grupo*/
	margin: 0 !important;
}

.margin-row-form{      /* estilos cajas add-grupo*/
	margin-bottom: 1rem !important;
}


.cic {                          /* new class para Gpos contenedor naranja*/
	background-color: #fd9c5a;
	color: white;
	font-style: italic;
	text-decoration: none;
	border-radius:3px;
	margin-top:0.5em;
}

.h5, .cis {     /*color icono add-grupo.phtml*/
  color: #fff;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

.has-tip{
	color: #268ab3;
	cursor:default;
}

.tooltip{
	background-color:#395675; 
	font-size:1.1em;
	font-style:italic;
	margin-top:-1em;
}

.iconField{
	 color: #268ab3;	
}

.label, #label-correo-5, .labelFielValue, .editInline{
   color:#268ab3;
}  

.has-tip, .tituloGrupo {
  border-bottom: none;
  color: #268ab3;
  font-style: italic;
  font-size: 1.3 em;
  font-weight: bold;
}

.subtitleTable{
	background-color:#fd9c5a;
	margin-top:7px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	font-style:italic;
	font-weight:bold;
}

.codigoGrupo{
	font-weight: bolder;
	color: #268AB3;
	text-decoration: underline;
	font-style: italic;
}
.barra-azul{
	margin-top:1.5em;
}

.cont-grup{
	margin-top:9.5em;
}
.icon-bar {
    width: 100%;
    font-size: 0px;
    display: inline-block;
    background: #5489b0 none repeat scroll 0% 0%;
}
.examen-grado{
    color: #fff;
    margin: 0 10px 0 10px;
}


.listExamenes li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    transition-duration: 0.3s;
}

.listExamenes li:hover{
    margin-left: 10px;
    background-color: #e6e6e6;
    
}

.step{
     border-left: 5px solid #268ab3;
     margin-bottom: 20px;
}

.step:hover{
    border-left: 5px solid #fd9c5a;
    
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.linkFormato{
    
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.linkFormato:hover{
    background: #5489b0;
    color:#FFFFFF;
    font-weight: bolder;
}

input.error{
    color:#cf2a0e;
}

.borderless_table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    width: 100%;
}


