
<?php 
 $i=1;
foreach ($this->preguntas as $preguntas){
	?>	
<div>
	<span>
	<?php 	
 echo $i . '.- ' . $preguntas['t11pregunta'];
 ?>
 </span>
 <?php 
 

 foreach ($preguntas['respuestas'] as $index=>$respuestas){
//
//         echo '<div>';
//         echo str_replace('</p>', '</strong></p>',str_replace("<p>", '<p><strong>', $respuestas)) ;
//         echo '</div>';

         
         if($preguntas['correcta'][$index]==='1'){
         echo '<div style="border:1px solid">';
             echo str_replace('</p>', '</strong></p>',str_replace("<p>", '<p><strong>', $respuestas)) ;
             echo '</div>'; 
         }else{
             echo '<div>';
         echo $respuestas;
             echo '</div>'; 
         }
         
    
    
 }
 echo '</div>';
 $i++;
}

$this->headScript()->prependFile($this->basePath() . '/js/examenes/vista_impresion.js');