<br><br><br>
<a href="#" id="abrirModal" class="radius button">Registrate</a>

<div id="firstModal" class='reveal-modal' data-reveal>
      <div class="large-12 columns">
      	<legend>Registro de usuarios</legend>
           <div class="MenuItemLabel" >
              <?php
                 $columns	= $usuario->obtenerColumnasUsuario();
                 $form 		= $this->form;
                 $form->setAttribute('action', $this->url('login', array('action' => 'registro')));
                 $form->prepare();
                 echo $this->form()->openTag($form);
                 echo $this->formRow($form->get($columns[1]));
                 echo $this->formRow($form->get($columns[2]));
                 echo $this->formRow($form->get($columns[3]));
                 echo $this->formRow($form->get($columns[4]));
                 echo $this->formRow($form->get('confPass'));
                 ?>
                 <div class="small-12 large-12 columns">
                 	<div class="small-6 large-6 columns text-right">
                 		<?php echo $this->formSubmit($form->get('submit')); ?>
                 	</div>
	                 <div class="small-6 large-6 columns text-left">
	                 	<?php echo $this->formRow($form->get('cancelar'));  ?>
	                 </div>
                 </div>
                 <?php
                 echo $this->form()->closeTag();
                 ?>
           </div>
      </div>
</div>

<?php
    $this->headScript()->prependFile($this->basePath() . '/js/foundation/foundation.reveal.js');                  
?>

