<div class="large-12  small-12 column">
        <h3>Usuarios que no tienen asignado examen POST: </h3>
</div>
<div class="large-8 large-centered small-12 column" >
    <input type="hidden" id="urlProcesarActivar" value="<?php echo $this->url('activar',array('controller' => 'activar', 'action' => 'activarpost')); ?>" />
    <div class="row">
        
        <div class="large-4  small-6 column"><b>
                <input type="hidden" id="cantidad-1" value="<?php echo $_arrUsuariosKinder[0]['cantidad'] ?>"/>
                <input type="hidden" id="cons-1" value="<?php echo $config['constantes']['ID_INTELLECTUS_KINDER'] ?>"/>
            <?php echo $_arrUsuariosKinder[0]['cantidad'] ?></b> nivel Kinder.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-1" class="meter" style="width: 0%"></span>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-2" value="<?php echo $_arrUsuariosPrimaria1[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-2" value="<?php echo $config['constantes']['ID_INTELLECTUS_PRIMARIA_1'] ?>"/>
            <b><?php echo $_arrUsuariosPrimaria1[0]['cantidad'] ?></b> nivel Primaria 1.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-2" class="meter" style="width: 0%"></span>
            </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-3" value="<?php echo $_arrUsuariosPrimaria2[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-3" value="<?php echo $config['constantes']['ID_INTELLECTUS_PRIMARIA_2'] ?>"/>
            <b><?php echo $_arrUsuariosPrimaria2[0]['cantidad'] ?></b> nivel Primaria 2.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-3" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-4" value="<?php echo $_arrUsuariosPrimaria3[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-4" value="<?php echo $config['constantes']['ID_INTELLECTUS_PRIMARIA_3'] ?>"/>
            <b><?php echo $_arrUsuariosPrimaria3[0]['cantidad'] ?></b> nivel Primaria 3.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-4" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-5" value="<?php echo $_arrUsuariosPrimaria4[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-5" value="<?php echo $config['constantes']['ID_INTELLECTUS_PRIMARIA_4'] ?>"/>
            <b><?php echo $_arrUsuariosPrimaria4[0]['cantidad'] ?></b> nivel Primaria 4.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-5" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-6" value="<?php echo $_arrUsuariosPrimaria5[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-6" value="<?php echo $config['constantes']['ID_INTELLECTUS_PRIMARIA_5'] ?>"/>
            <b><?php echo $_arrUsuariosPrimaria5[0]['cantidad'] ?></b> nivel Primaria 5.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-6" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-7" value="<?php echo $_arrUsuariosPrimaria6[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-7" value="<?php echo $config['constantes']['ID_INTELLECTUS_PRIMARIA_6'] ?>"/>
            <b><?php echo $_arrUsuariosPrimaria6[0]['cantidad'] ?></b> nivel Primaria 6.</div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-7" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-8" value="<?php echo $_arrUsuariosSecundaria1[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-8" value="<?php echo $config['constantes']['ID_INTELLECTUS_SECUNDARIA_1'] ?>"/>
            <b><?php echo $_arrUsuariosSecundaria1[0]['cantidad'] ?></b> nivel Secundaria 1.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-8" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-9" value="<?php echo $_arrUsuariosSecundaria2[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-9" value="<?php echo $config['constantes']['ID_INTELLECTUS_SECUNDARIA_2'] ?>"/>
            <b><?php echo $_arrUsuariosSecundaria2[0]['cantidad'] ?></b> nivel Secundaria 2.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-9" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-10" value="<?php echo $_arrUsuariosSecundaria3[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-10" value="<?php echo $config['constantes']['ID_INTELLECTUS_SECUNDARIA_3'] ?>"/>
            <b><?php echo $_arrUsuariosSecundaria3[0]['cantidad'] ?></b> nivel Secundaria 3.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-10" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column" style="" >
            <input type="hidden" id="cantidad-11" value="<?php echo $_arrUsuariosPreparatoria1[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-11" value="<?php echo $config['constantes']['ID_INTELLECTUS_PREPARATORIA_1'] ?>"/>
            <b><?php echo $_arrUsuariosPreparatoria1[0]['cantidad'] ?></b> nivel Preparatoria 1.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-11" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-12" value="<?php echo $_arrUsuariosPreparatoria2[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-12" value="<?php echo $config['constantes']['ID_INTELLECTUS_PREPARATORIA_2'] ?>"/>
            <b><?php echo $_arrUsuariosPreparatoria2[0]['cantidad'] ?></b> nivel Preparatoria 2.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-12" class="meter" style="width: 0%"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4  small-6 column">
            <input type="hidden" id="cantidad-13" value="<?php echo $_arrUsuariosPreparatoria3[0]['cantidad'] ?>"/>
            <input type="hidden" id="cons-13" value="<?php echo $config['constantes']['ID_INTELLECTUS_PREPARATORIA_3'] ?>"/>
            <b><?php echo $_arrUsuariosPreparatoria3[0]['cantidad'] ?></b> nivel Preparatoria 3.
        </div>
        <div class="large-8 small-6 column">
            <div class="progress">
                <span id="meter-13" class="meter" style="width: 0%"></span>
            </div>
        </div>
    
    </div>
</div>

<div class="large-8 large-centered small-12 column">
    <hr/>
    <button  class="button" style="float: right;" id="btnProcesar"><i class="fa fa-check-circle"></i>&nbsp;Procesar</button>
    <span id="spanProcesando" style="display: none;">
        <h4><i class="fa fa-spinner fa-spin "></i>&nbsp;Procesando...</h4>
    </span>
</div>


<?php

//$this->headLink ()->prependStylesheet ( $this->basePath () . '/css/layout_global/global.css' );

$this->headScript()->prependFile($this->basePath() .'/js/activar/activar.js');