#pregunta{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 60%;
    position: relative;
}
#respuestas{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 40%;
}


#dialog{
    width: 200px;
    position: absolute;
    top: 40px;
    left: 270px;
}

#cerdito img{
    width: 200px;
    height: auto;
}

#cerdito{
    position: absolute;
    top: 100px;
    left: 50px;
}
#cerdito #body{
    position: relative;
    z-index: 3;
}
#cerdito #eyes{
    position: absolute;
    width: 78px !important;
    height: 13px !important;
    top: 66px;
    left: 62px;
    z-index: 4;
}
#cerdito #ears{
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
}
#cerdito #feet{
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: 1;
}
#cerdito #shadow{
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: 0;
}

#total{
    width: 300px;
    height: auto;
    min-height: 60px;
    border-top: solid 8px dodgerblue;
    background: white;
    position: absolute;
    top: 330px;
    left: 10px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}
#avance{
    width: 160px;
    max-height: 60px;
    overflow: hidden;
    position: absolute;
    top: 80px;
    left:295px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}
.columna{
    width: calc(100% - 10px);
    height: 80px;
    display: inline-table;
    overflow: visible;
    position: relative;
    z-index: 0;
}
.respuesta{
    width: 200px;
    height: 100%;
    position: absolute;
    top:0; right:0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    cursor: pointer;
}

.dragEvent{
    z-index: 1 !important;
}
.dragEvent .respuesta{
    z-index: 1000 !important;
}

.correctAnswer{
    left: 0 !important;
    top: 0 !important;
    z-index: 0 !important;
    transition: none !important;
    pointer-events: none;
}

/*aplica si no es cerdito*/
.contenedores{
    position: absolute;
    display: table;
    border-spacing: 0;
    margin:0;
    padding: 0;
    border-collapse: collapse;
}
.contenedores td{
    border: 1px solid;
    position: relative;
}
.contenedores td>*{
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    background-position: center;
}