#contenedores{     
    width: 100%;
    height: auto;
    margin-top: 5px;
    /*max-height: calc(100% - 120px);*/
    text-align: center;
}
#respuestas{
    width: 100%;
    height: auto;
    max-height: 100px;
    overflow: visible;
    color: white;
    margin-top: 10px;
    position: relative;
}
.contenedor{
    background: #FFF;
    position: relative;
}
.encabezado{
    height: 40px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.encabezado img{
    display: inline-block;
    vertical-align: middle;
}
table{
    width: auto;
    border-spacing: 4px;
    background: #f8b559;
    height: auto;
    max-height: 100%;
    margin-right: 4px;
    display: inline-table;
    vertical-align: top;
}

.respuestaDrag{
    height: auto;
    overflow: hidden;
    padding: 5px;
    padding-left: 35px;
    margin: 0 auto;
    background-color: silver;
    display: flex;
    align-content: center;
    cursor: pointer;
}
.respuestaDrag p{
    padding: 0;
    width:100%;
    height: auto;
    margin: auto;
    font-size: 20px;
    line-height: 22px;
    white-space: normal;
}
.respuestaDrag.img{
    padding-top: 2px;
    padding-bottom: 2px;
}
.respuestaDrag p.img{
    margin: 0 !important;
}
.respuestaDrag p img{
    height: 100%;
    width: auto;
    max-width: 100%;
}

.respuestaDrag:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 100%;
    background-size: 25px 35px;
    background-repeat: no-repeat;
    background-position: center 0px;
    position: absolute;
    top: calc(50% - 15px);
    left: 2.5px;
}

.contenedor .respuestaDrag{
    margin: 0;
    color: white;
    padding: 0 !important;
    padding-left: 35px !important;
    padding-right: 5px !important;
    width: calc(100% - 40px) !important;
    height: 100% !important;
    transition: none !important;
    text-align: left;
}
/*.ui-state-highlight{
    background-color: #fffa90 !important;
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75);
}*/