#contenedores{     
    width: 100%;
    display: inline-block;
    height: calc(100% - 115px);
    text-align: center;
}

#respuestas{
    width: 100%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
    color: #FFF !important;
    position: absolute;
    bottom: 10px; left: 0;
}

.contenedor{
    background-color: #FFF;
    position: relative;
    background: #FFF;
    min-width: 100px;
    max-width: 300px;
}
.contenedor .respuestaDrag{
    text-align: center;
}
.encabezado{
    height: 40px;
    min-height: 40px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
table{
    width: auto;
    border-spacing: 4px;
    margin-right: 4px;
    height: auto;
    display: inline-table;
    vertical-align: top;
}
.respuestaDrag{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 384px;
    align-content: center;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.respuestaDrag p{
    padding: 0;
    margin: auto;
    float: right;
    width: calc(100% - 50px);
    white-space: normal;
    line-height: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.respuestaDrag:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}
.ui-state-highlight{
    background-color: #fffa90 !important;
}

.contenedorOcupado:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}

.contenedorOcupado{
    margin: 0 auto;
    position: relative;
    align-content: center;
}

.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75);
}

.correctAnswer{
    height: 100% !important;
    color: #FFF;
    width: 100% !important;
    text-align: left;
}

.textoFilas{
    min-width: 120px;
    max-width: 300px;
    width: auto;
    color: #FFF;
    font-size: 20px;
}
.textos{
    background: #f8b559;
    font-weight: bold;
    padding: 5px;
}
tr+tr{
    background: #f8b559;
}
td {
    border: 1px solid #CECECE;
}
.blank{
    border: none;
}