#cartas{
    width:100%;
    height: auto;
    margin-bottom: 5px;
    overflow: visible;
    position: relative;
    z-index: 1;
}
#cartas.vertical{
    width:auto;
    height: 100%;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
.respuestaDrag{
    vertical-align: top;
    overflow: hidden;
    display: inline-table;
    background: #38b29f;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
    position: relative;
    transform: scale(1, 1);
    z-index: 0;
    text-align: left;
}
.actividadEvaluacion .respuestaDrag{
    width: auto; height: auto;
}
.respuestaDrag img{
    vertical-align: middle;
    max-width: 100%;
}
.temp{
    opacity: 0 !important;
}

.vertical .respuestaDrag{
    display: block;
    margin-top: 7px;
    margin-left: 0;
}
.iconDrag{
    padding-left: 32px;
}
.iconDrag:after{
    content: "";
    width: 30px;
    height: 100%;
    position: absolute;
    top:0; left: 5px;
    background-image: url(../../img/drag_icon.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.respuestaDrag>p{
    width: auto; height: auto;
    display: inline-block;
    margin: 0;
    line-height: 40px;
    color: white;
    font-size: 20px;
    font-family: FF-Poppins-Light;
    margin-left: 5px;
    margin-right: 5px;
}


#contenido{
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    min-height: 100px;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    top:0; left: 0;
    z-index: 0;
}
#contenido.vertical{
    width:40px;
    height: 100%;
    float: left;
    vertical-align: top;
}
.contenedor{
    display: inline-block;
    height: 40px;
    margin: 0;
    border: solid 2px silver;
    background: white;
    box-shadow: inset 0 0px 0px rgba(0,0,0, 0);
    position: relative;
    vertical-align: middle;
    line-height: 40px;
    overflow: hidden !important;
}
.contenedor .respuestaDrag{
    width: 100% !important;
    height: 100% !important;
}
.contenedor .iconDrag{
    width: calc(100% - 30px) !important;
    height: 100% !important;
}

.ui-state-highlight{
    border-color: #fd9c5a;
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75);
}
.correctAnswer{
    background: #fd9c5a !important;
}

/*estilos evaluaciones*/
.actividadEvaluacion #contenido.vertical{
    height: auto;
}