#contenidoActividad{
    margin-top: 15px;
}
.respuesta{
    display: inline-table;
    position: relative;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    overflow: hidden;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    height: auto;
    line-height: 35px;
    padding-top: 6px;
    padding-bottom: 6px;    
    transition: opacity 0.35s;
}
#respuestasActividad{
    width: 100%;
    height: auto;
}
.grupoRespuestas{
    margin-bottom: 30px;
}
.respuesta>div:nth-child(2){
    width: calc(100% - 1.6em - 85px);
}
.respuesta>div{
    display: inline-block;
    font-family: FF-Poppins-Regular;
    position: relative;
    z-index: 1;
}
.inciso{
    width: 1.6em; height: 1.6em;
    line-height: 1.6em;
    border-radius: 50%;
    font-size: 20px;
    vertical-align: top;
    color: white; font-weight: bolder;
    text-align: center;
    margin-left: 70px;
    margin-right: 15px;
    background-color: #2eb29f;
}
.eventoClick{
    width: 0px;
    height: 100%;
    position: absolute !important;
    top: 0; left: 0;
    z-index: 0 !important;
    border-left: solid 30px transparent;
    transition: width 0.25s, border 0.35s;
}
.badAnswer .eventoClick{
    background: rgba(225, 56, 90, 0.5);
    border-left: solid 10px #e1385a;
    width: calc(100% - 10px);
}
.badAnswer .inciso{
    background-color: #e1385a;
    background-image: url("../../img/opcion_multiple_tache.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.correctAnswer  .eventoClick{
    background: rgba(164, 205, 109, 0.5);
    border-left: solid 10px #A4CD6D;
    width: calc(100% - 10px);
}
.correctAnswer .inciso{
    background-color: #A4CD6D;
    background-image: url("../../img/opcion_multiple_palomita.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.eventoClick:has(img){
    background-position: right top;
}
.badAnswer, .correctAnswer{
    pointer-events: none !important;
}
/*estilos al usar bandera Dos columnas*/
.dosColumnas #preguntaActividad{
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    vertical-align: top;
    width: calc(50% - 80px);
    height: calc(100% - 10px);
    display: inline-block;
    padding-left: 30px;
    position: relative;
}
.dosColumnas #respuestasActividad{
    width: 50%;
    display: inline-block;
    float: right;
}
.dosColumnas #cuestionMarker{
    margin-top: 0px;
    left:0px;
    top: 5px;
}
.dosColumnas #preguntaActividad>div{
    margin-left: -25px;
    max-width: calc(100% + 30px);
    overflow: hidden;
}
.dosColumnas #preguntaActividad img{
    max-width: 100%;
}
.dosColumnas #preguntaActividad>div>*{
    max-width: 100%;
}
.dosColumnas .respuesta{
    width: 100%;
    margin: 0;
    line-height: 30px;
}
.dosColumnas .respuesta>div:nth-child(2){
    width: calc(100% - 20px - 1.6em) !important;
}
.dosColumnas .inciso{
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
}
.dosColumnas .eventoClick, .columnas .eventoClick{
    /*background-image: none;*/
}
/*Estilos al usar bandera columnas*/
.columnas .inciso{
    margin-left: 10px;
    margin-right: 10px;
}
.columnas .respuesta{  
    line-height: 30px;
}
.columnas .respuesta>div:nth-child(2){
    width: calc(100% - 20px - 1.6em);
    vertical-align: top;
}
.columnas .respuesta img{
    max-width: 100%; height: auto;
}