table{
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 100%;
    border-spacing: 0;
}
tr>td:nth-child(1){
    width: 50%;
    padding: 5px;
}
tr>td:nth-child(1) img{
    max-width: 100%;
    max-height: 100%;
}

.header td{
    border: solid 5px transparent;
    height: 50px;
    max-height: 100px;
    line-height: 30px;
}

.row{
    min-height: 80px;
    line-height: 25px;
}
.answer>p{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
tr:nth-child(2) td{
    border-top: solid 10px #f2f2f2 !important;
}
td{
    margin: 0;
    padding: 0;
    border-top: solid 5px #f2f2f2;
    border-bottom: solid 5px #f2f2f2;
    text-align: center;
    font-family: FF-Poppins-Light;
    font-size: 20px;
    color: white;
}

.check{
    width: 32px;
    height: 32px;
    background: #5CC2D7;
    border: solid 4px white;
    border-radius: 50%;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.check.correctAnswer{
    background: #A4CD6D;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.check.badAnswer{
    background: #e1385a;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}