#contenedores{     
    width: 50%;
    display: inline-block;
    height: 100%;
}

#respuestas{
    width: 50%;
    display: inline-block;
    height: calc(100% - 7px);
    vertical-align: top;
    margin-top: 7px;
    color: #FFF !important;
    position: relative;
}

.contenedor{
    background-color: #FFF;
    border: 1px solid #A0A0A0;
    display: flex;
    margin: 5px;
    width: 385px;
    margin-left: 60px;
    position: relative;
}

.respuestaDrag{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 384px;
    align-content: center;
    margin-bottom: 7px;
    font-size: 20px;
    text-align: center;
}

.respuestaDrag p{
    padding: 0;
    margin: auto;
    float: right;
    width: calc(100% - 50px);
    white-space: normal;
    line-height: 20px;
}

.respuestaDrag:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}
.ui-state-highlight{
    background-color: #fffa90 !important;
}

.contenedorOcupado:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}

.contenedorOcupado{
    position: relative;
    align-content: center;
    white-space: normal;
    line-height: 20px;
}

.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
}

.textoContenedor{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 20px;
    margin: auto;
    color: #A4CD6D;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75);
}
.correctAnswer{
    width: 100%;
    color: #FFF;
}