#pincels{
    width: 100%;
    height: 60px;
    text-align: center;
}
.pincel{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    border: solid 5px white;
    display: inline-block;
    box-shadow: 3px 3px 6px rgba(0,0,0, 0.45), inset 2px 2px 6px 1px rgba(0,0,0, 0.35);
    transform: scale(0.75, 0.75);
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.25s, opacity 0.25s;
}
.pincel.white{
    border-color: white;
    background: rgba(255, 255, 255, 05);
}
.pincel.selected{
    opacity: 1;
    transform: scale(1,1);
}
#map{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: calc(100% - 70px);
}
#grid{
    height: 100%;
    width: auto;
    background: none;
    border-spacing: 0;
    margin: 0 auto;
    /*box-shadow: 2px 2px 4px rgba(0,0,0, 0.15);*/
    border-collapse: separate;
    position: relative;
}
#grid td{
    min-height: 10px;
    min-width: 10px;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
/*botones adicionales del tipo de actividad*/
#cellEmpty{
    visibility: hidden;
    width: 50px !important;
    pointer-events: none;
    
}
.button{
    width: 40px;
    height: 40px;
    background: white;
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 5px;
    transform: scale(1,1);
    transition: transform 0.2s;
    background-position: center;
    cursor: pointer;
    visibility: visible;
    pointer-events: all !important;
    
}
.button:hover{
    transform: scale(1.1, 1.1);
}
#guardarRespuesta{
    top: 0px;
    background-image: url(../../img/guardar.png);
    background-repeat: no-repeat;
    background-size: 70% 70%;
}
#next{
    top: 50px;
    background-image: url(../../img/icons_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -156px center;
}
#back{
    top: 100px;
    background-image: url(../../img/icons_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#reiniciar{
    top: 150px;
    background-image: url(../../img/flecha_verde.png);
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: 49% 49%;
}