#crucigrama{
    vertical-align: top;
    display: inline-block;
    height: calc(100% - 10px);
    width: calc(100% - 355px);
    margin: 5px;
    border: 10px;
}
#preguntasActividad{
    display: inline-block;
    vertical-align: top;
    height: calc(100% - 10px);
    width: 340px;
    border: solid 2px #3D6F9C;
    background: white;
}

.header{
    width: 100%;
    height: 40px;
    background: #3d85c6;
    position: relative;
    cursor: pointer;
}
.header p{
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
    color:white; 
    font-size:24px;
    font-weight: bold;
    pointer-events: none;
}
#back.button{
    position: absolute;
    top: 2px; left: 20px;
    width: 37px; height: 37px;
    background-image: url('../../img/icons.png');
    background-size: cover;
    background-position: -75px -2px;
    background-repeat: no-repeat;
    transition: left 0.15s;
    cursor: pointer;
}
#next.button{
    position: absolute;
    top: 2px; right: 21px;
    width: 37px; height: 37px;
    background-image: url('../../img/icons.png');
    background-size: cover;
    background-position: -146px -2px;
    background-repeat: no-repeat;
    transition: right 0.15s;
    cursor: pointer;
}
.contenedor{
    width: calc(100% - 10px);
    height: calc(50% - 50px);
    padding: 5px;
    background: white;
    color: dimgrey;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
.contenedor h6{
    display: inline-block;
    width: auto;
    color: dimgrey;
    font-size: 20px;
    margin: 0; padding: 0;
    line-height: 22px;
    font-weight: bold;
}
.contenedor.focus{
    /*box-shadow: inset 0 0 8px rgba(0, 98, 149, 0.75);*/
    color:  #006295;
    text-shadow: 2px 2px 6px rgba(0, 98, 149, 0.5);
    box-shadow:  inset  0 0 12px rgba(0, 98, 149, 0.75);
}
.contenedor.focus h6{
    color:  #006295;
    text-shadow: 1px 1px 4px rgba(0, 98, 149, 1);
}
.contenedor.solved{
    /*box-shadow: inset 0 0 8px rgba(0, 98, 149, 0.75);*/
    color:  #689a40;
    text-shadow: 2px 2px 6px rgba(104, 154, 64, 0.5);
    box-shadow:  inset  0 0 14px rgba(104, 154, 64, 1);
}
.contenedor.solved h6{
    color:  #689a40;
    text-shadow: 1px 1px 4px rgba(104, 154, 64, 1);
}

table{
    width: 100%; height: 99%;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
td{
   pointer-events: none;
   opacity: 0;
}
td.cell{
    pointer-events: all;
    opacity: 1;
    border: solid 1px #3d85c6;
    background: white;
    box-shadow: inset 2px 2px 4px rgba(61, 133, 198, 0.4);
    overflow: hidden;
    position: relative;
}

input[type='text']{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 150%;
    text-align: center;
    background: none;
    font-weight: bold;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    text-transform: uppercase;
    color: black;
}

.cell label{
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 14px;
    margin: 3px;
    font-weight: bold;
    position: absolute;
    top:5px; left: 0;
    z-index: 1;
    color: dimgray;
    
}

.correctAnswer{
    pointer-events: none !important;
    box-shadow: inset 2px 2px 4px rgba(164, 205, 109, 1) !important;
}
.correctAnswer *{
    color: #689a40 !important;
}

.badAnswer{
    pointer-events: none !important;
    box-shadow: inset 2px 2px 4px rgba(225, 56, 90, 1) !important;
}
.badAnswer *{
    color: #e1385a !important;
}