#contenido{
    font-size: 19px;
    line-height: 35px;
    width: calc(100% - 10px);
    margin: 5px;
    font-weight: bold;
    color: rgba(0,0,0, 0.9);
    overflow: hidden;
    word-spacing: normal;
}
#contenido.vertical{
    vertical-align: top;
    display: inline-block;
    height: 100%;
}
.contenedor{
    display: inline-block;
    line-height: 35px;
    height: 30px;
    max-height: 30px;
    width: 30px;
    max-width: 30px;
    background: white;
    border: 2px solid silver;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    border-color: rgba(0, 102, 153, 0.65);
    box-shadow: inset 0 2px 4px rgba(0, 102, 153, 0.5);    
}
.contenedor .etiqueta{
    color: white;
}

#colRespuestas{
    width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#colRespuestas.vertical{
    height: 100%;
    max-width: 300px;
    width: auto;
}
.respuesta{
    display: inline-block;
    height: auto;
    min-width: 150px;
    width: auto;
    color: white;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    margin: 10px;
    margin-top: 0px;
    padding-right: 15px;
    box-shadow: -4px 4px 8px #555;
    cursor: pointer;
    position: relative;
    border-left: solid 32px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.vertical .respuesta{
    height: auto;
    display: block;
    margin: 5px;
    margin-top: 10px;
}

.etiqueta{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    max-height: 30px;
    width: 30px;
    max-width: 30px;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 15px);
    left: -30px;
}

#contenidoActividad>.etiqueta{
    position: absolute;
    z-index: 2 !important;
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    overflow: hidden;
}

.columna{
    margin-left: 50px;
    position: relative;
    width: calc(100% - 50px);
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.columna .contenedor{
    position: absolute;
    top: 3px;
    left: -50px;
}
/*estilos evaluacion*/
.actividadEvaluacion #contenido, .actividadEvaluacion #contenido.vertical{
    height: auto !important;
}
.actividadEvaluacion #colRespuestas.vertical{
    height: auto;
}