#preguntaActividad{
    margin-left: 85px;
    margin-bottom: 15px;
    min-height: 40px;
    font-family: FF-Poppins-Regular;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    width: calc(100% - 100px);
    overflow: visible;
    position: relative;
}
#cuestionMarker{
    background: rgb(239, 125, 0);
    width: 20px; height: 20px;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    left: -35px; top: 0;
}
#preguntaActividad>div>*{
    vertical-align: middle;
}
textArea{
    width: calc(100% - 100px);
    max-width: calc(100% - 120px);
    height: auto; min-height: 200px;
    margin: 50px;
    margin-top: 0px;
    padding: 10px;
    border: 0;
    color: DimGray;
    background: white;
    font-size: 20px;
    font-family: inherit;
    box-shadow: inset 2px 2px 8px rgba(0,0,0, 0.35);
}