#contenedores{     
    width: 100%;
    display: inline-block;
    height: calc(100% - 115px);
    text-align: center;
}

#respuestas{
    width: 100%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
    color: #373737
        !important;
    position: absolute;
    bottom: 10px; left: 0;
}

.contenedor{
    background-color: #FFF;
    position: relative;
    width: 100%;
    background: #FFF;
    text-align: left;
}
.encabezado{
    height: 60px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    background: #816DBB;
}
table{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-spacing: 0;
    margin: 5px;
}
.respuestaDrag{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 384px;
    align-content: center;
    margin-bottom: 5px;
    background: #FFF;
    border: 1px solid #C9C9C9;
}

.respuestaDrag p{
    padding: 0;
    margin: auto;
    float: right;
    width: calc(100% - 50px);
    white-space: normal;
    line-height: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.respuestaDrag:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}
.ui-state-highlight{
    background-color: #fffa90 !important;
}

.contenedorOcupado:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}

.contenedorOcupado{
    margin: 0 auto;
    position: relative;
    align-content: center;
}

.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75);
}

.correctAnswer{
    height: 100% !important;
    color: #373737;
    width: 100% !important;
    border: none;
}

.textoFilas{
    width: 25%;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.mostrar>div{
    margin-left: 15px;
    line-height: 20px;
    font-size: 20px;
    color: #00B07F;
}

td{
    border-top: solid 3px #f2f2f2;
    border-bottom: solid 3px #f2f2f2;
    border-left: solid 6px #f2f2f2;
}