#contenedores{     
    width: 50%;
    display: inline-block;
    height: 100%;
}

#respuestas{
    width: 50%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    color: #FFF !important;
    position: relative;
}

.contenedor{
    background-color: #FFF;
    position: relative;
    width: 100%;
    background: #FFF;
}
.encabezado{
    height: 30px;
    min-height: 40px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
table{
    width: 385px;
    float: right;
    border-spacing: 4px;
    background: #f8b559;
    margin: 3px;
    margin-right: 10px;
    height: auto;
}
.respuestaDrag{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 377px;
    align-content: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.respuestaDrag p{
    padding: 0;
    margin: auto;
    float: right;
    width: calc(100% - 50px);
    white-space: normal;
    line-height: 18px;
}

.respuestaDrag:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}
.ui-state-highlight{
    background-color: #fffa90 !important;
}

.contenedorOcupado:after{
    content: "";
    background-image: url("../../img/drag_icon.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    background-position: center;
}

.contenedorOcupado{
    margin: 0 auto;
    position: relative;
    align-content: center;
}

.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75);
}

.correctAnswer{
    height: 100% !important;
    color: #FFF;
}
