#contenedorIzquierda, #contenedorDerecha{
    position: relative;
    z-index: 1;
    vertical-align: top;
    width: calc(50% - 10px);
    margin: 5px;
    height: calc(100% - 10px);
    display: inline-block;
}
#contenedorDerecha>.columnas, .colDerecha{
    float: right;
}
#contenedorIzquierda>.columnas, .colIzquierda{
    float: left;
}
.columnas{
    position: relative;
    display: inline-block;
    width: 100%; height: auto;    vertical-align: top;
    margin-bottom: 15px;
}
.colIzquierda, .colDerecha{
    width: 80%;
    display: inline-block;
    min-height: 60px; 
    overflow: hidden;
    display: flex;
    align-content: center;
    cursor: pointer;
}
.colIzquierda *, .colDerecha *{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.colIzquierda{background: #a4cd6d;}
.colDerecha{background: #2f83c0;}

.colIzquierda>div, .colDerecha>div{
    padding: 4px;
    width: auto;
    height: auto;
    margin: auto !important;
    line-height: 22px;
}
.circuloLineas{
    cursor: pointer;
    position: absolute;
    top: calc(50% - 33px);
    display: none;
    width: 44px; height: 44px;
    background: white;
    border: solid 4px #ffb55d;
    border-radius: 50%;
    margin: 10px;
    box-shadow: none;
    transition: border-color 0.35s, background 0.35s;
}
.onLineSelection{
    border: solid 4px #0066FF !important;
    background: #0066FF !important;
}


.badAnswer{
    pointer-events: none !important; 
}
.correctAnswer .circuloLineas{
    border: solid 4px #A4CD6D !important;
    background: #A4CD6D !important;
}
.badAnswer .circuloLineas{
    border: solid 4px #e1385a !important;
    background: #e1385a !important;
}
#svgLine{
    z-index:2;
    width: auto;
    height:0px;
    overflow:visible;
    pointer-events:none;
    background:none !important;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
}

#svgLine line{
    fill-opacity: 1;
    stroke-opacity: 1;
    stroke-width: 8;
    stroke: #0066FF;
    -webkit-transition: fill-opacity 0.35s, stroke-opacity 0.35s;
    transition: fill-opacity 0.35s, stroke-opacity 0.35s;
}
.correctLine{
    stroke: #A4CD6D !important;
}

.columnas img{
    max-width: 100%;
}
/*estilos para evaluaciones*/
.dragLine{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left:0;
}