#contenidoActividad{
    line-height: 40px;
    font-size: 20px;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    width: calc(100% - 10px);
    overflow: visible;
}
#padding-top{
    width: 100%;
    height: 10px;
    display: block;
    margin: 0; padding: 0;
    vertical-align: top;
}
#preguntaActividad{
    text-align: center;
}
#hideTrigger{
    width: 100%;
    height: 100%;
    position: absolute; top:0; left: 0;
    z-index: 5;
}
.dropList{
    display: inline-block;
    min-width: 100px;
    width: auto;
    height: 30px;
    padding-right: 30px;
    padding-left: 5px;
    vertical-align: top;
    position: relative;
    top: 0; left: 0;
    z-index: 10;
    line-height: 30px;
    background: ghostwhite;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 2px 1px rgba(30,144,255, 0.4);
    color: rgba(0,0,0, 0.7);
    overflow: hidden;
    cursor: pointer;
}
.dropList>p{
    margin: 0;
    padding: 0;
    display: block;
    opacity: 1; visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}
.dropList .hidden{
    opacity: 0 !important;
    visibility: hidden !important;
}
.arrow{
    content:"";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px; right: 5px;
    border-radius: 50%;
    background-image: url("../../img/icons_black.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(0.85, 0.85) rotate(-90deg);
    opacity: 0.4;
    transition: transform 0.35s, border 0.35s;
}
.arrow.displayed{
    transform: scale(0.85, 0.85) rotate(90deg);
}

#droppedBox{
    width: auto; height: auto;
    background: ghostwhite;
    /*border: 2px solid rgba(30,144,255, 0.65);*/
    box-shadow: 0 2.5px 2px 1px rgba(30,144,255, 0.4);
    /*box-shadow: 0 0 6px 2px rgba(70,130,180, 0.5);*/
    position: absolute;
    top: 0; left: 0;
    z-index: 100;
    overflow: hidden;
    transform: scale(1, 1);
    transition: transform 0.5s;
    
    -webkit-transform-origin : 50% 0%;
    -moz-transform-origin : 50% 0%;
    -o-transform-origin : 50% 0%;
    -ms-transform-origin : 50% 0%;
    transform-origin : 50% 0%;
}
.droppedBoxHidden{
    transform: scale(1, 0) !important;
    transition: transform 0.2s !important;
}
.respuesta{
    min-width: 100px;
    width: auto;
    margin: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: rgba(0,0,0, 0.7);
    cursor: pointer;
    transition: color 0.35s, background 0.35s;
}
#droppedBox>.respuesta:hover, .selected{
    color: dodgerblue;
    background: rgba(30,144,255, 0.2);
}

.correctAnswer{
    box-shadow: 0 0 2px 2px rgba(164, 205, 109, 0.95);
    color: #689a40;
}
.badAnswer{
    color: #e1385a !important;
    background: rgba(225, 56, 90, 0.15) !important;
}
/*estilos evaluacion*/
.actividadEvaluacion .dropList.selected, .actividadEvaluacion #droppedBox .selected{
    color: dodgerblue !important;
    background: rgba(30,144,255, 0.2) !important;
}
.actividadEvaluacion .selected:not(.dropList){
    background: none !important;
}