#espacioSopa td, #espacioPalabras *{
    font-family: FF-Poppins;
    font-weight: bold;
    color: rgba(0,0,0, 0.85);
}

#espacioSopa{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: calc(70% - 20px);
    height: calc(100% - 20px);
    
}
#espacioPalabras{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: calc(30% - 20px);
    height: calc(100% - 20px);
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}
.actividadEvaluacion #espacioSopa, .actividadEvaluacion #espacioPalabras{
    height: auto;
}
#resueltas{
    padding-top: 10px;
    width: 100%; height: auto;
    min-height: 40px;
    position: relative;
}
.palabra{
    width: 0;
    opacity: 1;
    overflow: hidden;
}
.palabraResuelta{
    height: 30px;
    width: 220px;
    overflow: hidden;
    margin: 5px; padding: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(0,0,0, 0.75);
    background: white;
    box-shadow: 2px 2px 3px rgba(39, 162, 206, 0.35);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}
.palabraResuelta.hidde{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 0px;
    color: transparent;
    opacity: 0;
    box-shadow: 0 0 0 transparent !important;
}
.palabraResuelta .close{
    position: absolute;
    right: 5px; top: calc(50% - 15px);
    background-color: #2689b2;
    width: 30px; height: 30px;
    border-radius: 50% 48%;
    background-image: url(../../img/opcion_multiple_tache.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.1s;
}
.palabraResuelta .close:hover{
    transform: scale(1.075, 1.075);
}
.palabraResuelta .close:active{
    transform: scale(0.75, 0.75);
}
table{
    height: 100%;
    max-height: 100%;
    border-spacing: 0;
    margin: 0 auto;
    border: solid 1px white;
    background: white;
    cursor: pointer;
}

td{
    width: 37px;
    height: 37px;
    max-height: 41px;
    border: 1px solid silver;
    padding: 0;
    margin: 0;
    text-align: center;
    background: #afdde8;
    font-size: 110%;
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
    border: solid 1px white;
    border-radius: 0px;
    transition: opacity 0.35s, visibility 0.35s, transform 0.35s, border-radius 0.35s, background 0.35s, border-color 0.35s;
}
.load{
    border-radius: 50%;
    transform: scale(0.01, 0.01);
    opacity: 0;
    visibility: hidden;    
}
.onSelection{
    background: white !important;
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
}
.wordSolved, .actividadEvaluacion .palabra.mark{
    text-decoration: line-through;
}
.cellSolved{
    background: #d0c2e1;
    box-shadow: inset 0 2px 4px rgba(169, 130, 217, 0.85);
}
/*Estilos para la sopa de letras extendida*/
#espacioSopa.Extendido{
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    margin:5px;
    display: flex;
    align-content: center;    
}
.actividadEvaluacion #espacioSopa{
    display: block !important;
}
#espacioPalabras.Extendido{
    margin: 5px;
    padding-left: 45px;
    padding-right:45px;
    width: calc(100% - 100px);    
    height: 40px !important;
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;    
    line-height: 40px;
    overflow-x: visible;
    overflow-y: hidden;
}
#espacioPalabras.Extendido .palabra{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
#espacioSopa.Extendido table{
    margin: auto;
}
.actividadEvaluacion #espacioSopa.Extendido table{
    margin-top: 0 ;
}
.button{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 7.5px;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
}
#lastWord{
    left: 12px;
    background-image: url("../../img/icons_black.png");
    background-size: cover;
    background-position: 119px 0px;
}
#nextWord{
    background-image: url("../../img/icons_black.png");
    background-size: cover;
    background-position: 44px 0px;
    right: 15px;
}
/*estilos para la sopa de letras de evaluacion*/
.actividadEvaluacion table{
    background: white !important;
    height: auto;
}
.actividadEvaluacion td{
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
}
.actividadEvaluacion td.search, .palabraResuelta.search{
    background: #dee594;
    border-color: #dee594;
}
.actividadEvaluacion .onSelection{
    background: white !important;
    border-color: rgba(169, 130, 217, 0.85) !important;
    box-shadow: inset 0 2px 4px rgba(169, 130, 217, 0.85) !important;
    border-radius: 10px !important;
}
.actividadEvaluacion .cellSolved{
    background: rgba(169, 130, 217, 0.3);
    border-color: rgba(169, 130, 217, 0.6);
    box-shadow: inset 0 0 4px rgba(169, 130, 217, 0.6);
}
.actividadEvaluacion #espacioSopa{
    height: auto;
    margin-bottom: 15px;
}
.actividadEvaluacion #espacioPalabras .palabra{
    font-size: 20px;
    font-family: FF-Poppins-Light !important;
    font-weight: bold; color: white;
}
.actividadEvaluacion .button{
    opacity: 1 !important;
    top: 0px !important;
    background-image: url("../../img/icons.png") !important;
}
.actividadEvaluacion #espacioPalabras{
    margin: 0;
    width: calc(100% - 92px);
    background: #2689b2 !important;
    margin-bottom: 15px;
}
.actividadEvaluacion .palabra{
    cursor: pointer;
}