#fondoPregunta{
    width: calc(100% - 24px); height: calc(100% - 24px);
    background-image: url("../../img/fv_background.png");
    background-size: 20px;
    border: solid 12px #f2f2f2;
    box-shadow: inset 0 0 44px #f2f2f2;
}
#preguntaActividad{
    color: black;
    font-size: 26px;
    font-family: FF-Poppins;
    color: rgba(0,0,0,.8);
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin: 10px;
    width: calc(100% - 290px);
}

#msgError{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    opacity: 1; visibility: visible;
    transition: opacity 1s, visibility 1s;
    background: rgba(0,0,0, 0.35);
}

#msgError img{
    width: auto;
    height: 80%;
    margin: auto;
}

.button{
    display: table; 
    text-align: center;
    width: 200px; height: 200px;
    border: solid 10px white;
    position: absolute;
    right: 25px;
    border-radius: 50%;
    box-shadow: 0 0 32px rgba(0,0,0, 0.4);
    font-family: FF-Poppins-Light;
    font-size: 26px;
    color: white;
    cursor: pointer;
    transform: scale(1,1) rotate(0deg);
    opacity: 1;
}
.button>*{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 30px;
}
#verdadero{
    top: 20px;
    background: #A4CD6D;
    background-repeat: no-repeat;
}
#falso{
    top: 260px;
    background: #e1385a;
    background-repeat: no-repeat;
}

#verdadero img{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: calc(50% - 30px);
}
#falso img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: calc(50% - 25px);
}

.off{
    background: grey !important;
    color: rgba(255, 255, 255, 0.5);
}
.off img{
    opacity: 0.5;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

/*estilos segun banderas*/
.custom{
    border-radius: 0px !important;
    text-align: center;
    width: 220px;
    min-height: 100px;
    height: auto;
    border: none;
    font-weight: bold;
}
.custom>*{
    top: 0;
}

#verdadero.custom{
    top: 25% !important;
    background: #9362a4;
}
#falso.custom{
    top: 55% !important;
    background: #31bcaa;
}


#verdadero.text{
    background: #927aa7;
}
#falso.text{
    background: #4dc4d5;
}
.text>*{
    top: 0;
}