/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/08/2015, 11:42:46 AM
    Author     : cgochoa
*/

@font-face {
    font-family: Myriad;
    src: url(fonts/MYRIAD.TTF) format(‘truetype’);

}
@font-face {
    font-family: SignPainter_HouseScript;
    src: url(fonts/SignPainter_HouseScript.ttf) format(‘truetype’);

}
.fullWidth {
   width: 100%;
   max-width: 100%;
}
.tit-pasos{
    font-family: "MyriadPro-Regular",Arial,Helvetica,sans-serif;
    font-size: 36px;
    color: #ffffff;
    padding: 10px;
}
.background-pasos{
    
    background-color:#2273b6;
}
.texto-renglones{
    font-family:"MyriadPro-Regular",Arial,Helvetica,sans-serif;
    color: #4c4c4c;
    font-size: 20px;
}
.subtit-green{
    font-family: "MyriadPro-Regular",Arial,Helvetica,sans-serif;
    font-size: 18px;
    color:#A1BF37;
}
.subtit-azul{
    font-family: "MyriadPro-Regular",Arial,Helvetica,sans-serif;
    font-size: 22px;
    color:#36537A;
    text-align: center;
}