/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/04/2015, 12:33:19 PM
    Author     : rjuarez
*/

.cont_tipo_preg{
    width: 90%;
    border-radius: 25px;
    border: 2px solid #FF8000;
    padding: 20PX;
    height: 150px;
    margin-left: 0rem;
}

.addScrollbar li{
    font-size: 20em;
    padding: .25em 1em;
    line-height: 1em; //espaciado entre las preguntas
}

.addScrollbar{
    //background-color: rgba(192,192,192,0.3); //fondo gris
    border: 2px solid black;
    padding: 1px;
    max-height: 30em;
    overflow-y: auto;
    margin-bottom: 0px; 
    margin-left: 0px;
}

.addScrollbarExamen{
    background-color: rgba(192,192,192,0.3); //fondo gris
    border: 2px solid black;
    padding: 1px;
    max-height: 50em;
    overflow-y: auto;
}
.addScrollbarPreguntas{
    border: 2px solid black;
    padding: 18px;
    max-height: 50em;
    overflow-y: auto;
}
