@CHARSET "UTF-8";

.contain-to-grid {
	background: #395675; }
.row-contenedor{
	background-color:#ffffff;
}
/*menu top-bar*/

.sub-exa {
    line-height: 80px; 
    font-family: Century Gothic;
    font-size:14px;
    color:#4c4c4c;
    font-weight: bold; 
}
.info-exa {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1.5em;
}    

/*.instruccion-exa{
background-color:#2589B3; 
padding-top: 8px;
}*/

/*
.instruccion-preg {
    font-family: Century Gothic;
    font-size:16px;
    color:#268AB3;
    font-weight: bold; 
}
.instruccion-cuerpo {
	font-family: Century Gothic;
    font-size:16px;
    color:#4c4c4c !important;
}*/

/*barra de controles examen*/

.butt_comienza{
	background-color:#395675;
	padding-top: 25px;
}
.texto_exa{
	color:#ffffff;
}
.barra_azul{
	line-height: 50px;
	text-align: right;
	font-family: Century Gothic;
	font-size:14px; color:#4c4c4c; 
}
.text_content{
	text-align: right;
	font-family:Courgette;
	font-size:14px;
	color:#268ab3;
	margin-bottom: 0.25rem;
	margin-top: 1.25rem;
}
.text_content2{
	text-align: right;
	font-family:Courgette;
	font-size:14px;
    color:#268ab3; 
}
.head_exa{
	background-color:#fff;
}
.header_logo{
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
}

.inst_tittle{
	color:#2589B3;
	margin-top:0.5em;
	margin-bottom:0.5em;
	adding-left:1em;
}

.small-link{
    font-size: 17px;
}