<?php 
$_idGrupo = null;
$_arrCiclo = array(null,null);
$_strDescripcion = null;
$_strTitle = 'Agregar grupo';
$_strSubtitle = 'Agregar nuevo grupo';
$_strAction = 'add-grupo';

if(isset($_arrDataGrupo)){
    $_idGrupo = $_arrDataGrupo[0]['t05id_grupo'];
    $_arrCiclo= explode('-', $_arrDataGrupo[0]['t05ciclo']);
    $_strDescripcion = $_arrDataGrupo[0]['t05descripcion'];
    $_strTitle = 'Editar grupo';
    $_strSubtitle = 'Editar grupo';
    $addLink = 1;
    $_strAction = 'editGrupo';
}
?>
<div class="row">
    <div class="large-6 small-12 columns">
        <h3 class="titulo_gral"><?php echo $_strTitle ?></h3>
    </div>
 <div class="large-12 columns fondo">
	<div class="small-12 large-9 columns large-centered">
		<form id="frmNewGrupo" method="post" action="<?php echo $this->url('grupos', array('controller'=>'grupos','action'=>$_strAction));?>"class="large-12 columns bg">
                    <input type="hidden" id="txtIdGrupo" name="txtIdGrupo" value="<?php echo $_idGrupo; ?>" />
			<fieldset  class="cic" >
				<h5 class="tit-addGpo"><?php echo $this->translate($_strSubtitle);?></h5>
					<div class="row">
						<div class="small-12 columns">                  
							<div class="row margin-row-form"> 
								<div class="large-1 small-2 centered columns has-tip tip-top" data-tooltip aria-haspopup="true" title="Escribe el inicio de ciclo"> 
									<label id="lblInicioCiclo" for="txtInicioCiclo" class="right inline"><i class="fa fa-calendar fa-lg cis"></i></label> 
								</div>
								<div class="large-11 small-10 columns end">
                                                                    <input type="text" class="fecha no-margin inputstyle" id="txtInicioCiclo" name="txtInicioCiclo" placeholder="<?php echo $this->translate("Inicio de ciclo(formato dd/mm/aaaa)");?>" value="<?php echo trim($_arrCiclo[0]); ?> ">
									<small id="errorInicioCiclo" class="error" style="display: none;">Invalid entry</small> 
								</div>
							</div>
							<div class="row margin-row-form"> 
								<div class="large-1 small-2 columns has-tip tip-top" data-tooltip aria-haspopup="true" title="Escribe el fin de ciclo">  
									<label id="lblFinCiclo" for="txtFinCiclo" class="right inline"><i class="fa fa-calendar fa-lg cis"></i></label> 
								</div>
								<div class="large-11 small-10 columns end">
									<input type="text" class="fecha no-margin inputstyle" id="txtFinCiclo" name="txtFinCiclo" placeholder="<?php echo $this->translate("Fin de ciclo(formato dd/mm/aaaa)");?>"  value="<?php echo trim($_arrCiclo[1]); ?> ">
									<small class="error" id="errorFinCiclo" style="display: none;" >Invalid entry</small> 
								</div>
							</div>
							<div class="row margin-row-form"> 
								<div class="large-1 small-2 columns has-tip tip-top" data-tooltip aria-haspopup="true" title="Escribe la descripción del grupo"> 
									<label id="lblDescripcion" for="txtDescripcion" class="right inline"><i class="fa fa-font cis"></i>&nbsp;<i class="fa fa-pencil fa-lg cis"></i></label> 
								</div>
								<div class="large-11 small-10 columns end">
									<input type="text" id="txtDescripcion" class="no-margin inputstyle" name="txtDescripcion" placeholder="<?php echo $this->translate("Descripción del grupo o nombre del grupo(p. ej. Grupo Primero A )");?>"  value="<?php echo $_strDescripcion; ?> ">
									<small id="errorDescripcion"  class="error" style="display: none;" >Invalid entry</small> 
								</div>
							</div>
							<div class="row"> 
								<div class="large-12 small-12 columns end " style="text-align: right;">
									<?php
										if(isset($addLink) && $addLink == 1){
									?>
										<a data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" href="<?php  echo $this->url('grupos',array('controller' => 'grupos', 'action' => 'index'));?>" class="button radius tip-top"
                                                                                   title="<?php echo $this->translate('Haz clic para buscar el archivo de carga masiva');?>">
											<i class="fa fa-times"></i>&nbsp;Cancelar
										</a>
									<?php 
										}
									?>
									<button data-tooltip aria-haspopup="true" data-options="disable_for_touch:true"  id="btnAgregarGrupo" class="button radius tip-top" title="<?php echo $this->translate('Haz clic para buscar el archivo de carga masiva');?>">
                                                                            <i class="fa fa-check"></i>&nbsp;Guardar
                                                                        </button>
                                                                    
								</div>
							</div>
						</div>
					</div>
			</fieldset>
		</form>

	</div>
  </div>
</div>


<?php
	$this->headScript()->prependFile($this->basePath() . '/js/foundation-datepicker.js')
	->prependFile($this->basePath() . '/js/grupos/add_grupo.js')
                ->prependFile($this->basePath() . '/js/jquery.blockUI.js');
	
	$this->headLink()->prependStylesheet($this->basePath() . '/css/foundation-datepicker.css')
					->prependStylesheet($this->basePath() . '/css/grupos/grupos.css');
?>