<div class="row">
	<div class="large-12 small-12 columns">
	
	</div>
</div>
<div class="row">
	<div class="large-6 small-12 columns">
             <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip " title="<?php echo $this->translate('Los contenedores que se muestran a continuación, contienen información de los alumnos que agrupaste');?>">
                 Grupos
             </span>
        </div>
	<div class="large-6 small-12 columns text-right">
		
		
		<div class="icon-bar three-up">
			<a class="item" href="<?php echo $this->url('grupos',array('controller'=>'grupos', 'action'=> 'add-grupo'))?>?addLink=1">
				<span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip tip-top" title="<?php echo $this->translate('Haz clic para agregar un nuevo grupo');?>">
					<i class="fa fa-plus"></i>
				</span>
			</a>
                    <!--
			<a class="item" id="uploadGroup"  >
				<span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip tip-top" title="<?php echo $this->translate('Crear nuevo grupo desde archivo');?>">
					<i class="fa fa-upload"></i>
				</span>
			</a>
                                        -->
			<a class="item" target="_blank" href="<?php echo $this->url('cargamasiva',array('controller'=>'Cargamasiva', 'action'=> 'descargar-plantilla'))?>" >
				<span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip tip-top" title="<?php echo $this->translate('Haz clic para descargar el archivo para carga masiva');?>">
					<i class="fa fa-download"></i>
				</span>
			</a>
			<a class="item" id="buttonRestore" >
				<span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip tip-top" title="<?php echo $this->translate('Haz clic para restaurar grupos eliminados');?>">
					<i class="fa fa-trash"></i>
				</span>
			</a>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="large-12 small-12 columns">
		<input type="hidden" id="urlReloadTables" value="<?php echo $this->url('grupos', array('controller'=>'grupos','action'=>'index'))?>">
		<input type="hidden" id="dataGrupos" value='<?php echo $json_data ?>' />
		
	</div>
</div>
<div id="grupos">
	<div class="row">
		<div class="large-12 small-12 columns" style="text-align: center;">
			<p class="lead"><i class="fa fa-spinner fa-spin"></i>&nbsp;<?php echo $this->translate('Procesando'); ?>..</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 columns">
		<br/><br/><br/>
	</div>
</div>

<div id="modalPass" class="reveal-modal" data-reveal>
	<input type="hidden" id="urlChangePass" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'change-pass')); ?>' />
	<form id="frmChangePass">
		<fieldset>
	    <legend id="legendChangePass"></legend>
			<div class="row "> 
				<div class="small-12 large-12 columns"> 
					<input class="no-margin" id="newPass" type="password" placeholder="<?php echo $this->translate('Nueva contraseña');?>">
					<small id="errorPassLength" class="error" style="display: none;"></small> 
				</div>
			</div>
			<div class="row "> 
				<div class="small-12 large-12 columns" style="margin-top: 15px;"> 
					<input id="confirmPass" class="no-margin" type="password" placeholder="<?php echo $this->translate('Confirmar contraseña');?>">
					<small id="errorPassConfirm" class="error" style="display: none;" ></small> 
				</div>
			</div>
			<div class="row "> 
				<div class="small-12 large-12 columns" style="text-align: right; margin-top: 15px;">
					<a id="buttonCancelPass" onclick="return false;" class="radius button alert" href="#"><i class="fa fa-times"></i>&nbsp;<?php echo $this->translate('Cancelar');?></a>			 
					<a id="buttonDoPass" onclick="return false;" class="radius success button" href="#"><i class="fa fa-check"></i>&nbsp;<?php echo $this->translate('Actualizar');?></a>
				</div>
			</div>
			<input type="hidden" id="idGrupoPass" value=""/>
			<input type="hidden" id="idAlumnoPass" value=""/>
		</fieldset>
	</form>	
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="modalResultPass" class="reveal-modal" data-reveal>
	<a class="close-reveal-modal">&#215;</a>	
	<p id="msjModalResult" class="lead text-center"></p>
</div> 

<div id="modalAskDelete" class="reveal-modal" data-reveal>
	<input type="hidden" id="urlDeleteUser" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'delete-user')); ?>' />
	<input type="hidden" id="idUserDelete" value="" /> 
	<input type="hidden" id="idUserGrupoDelete" value="" />
	<p class="lead " ><?php echo $this->translate("Eliminar del grupo a ")?>&nbsp;<span id="nameDeleteUser" class="text-bold"></span></p>
	<p class="lead " >
            <i class="fa fa fa-question-circle fa-2x"></i>
		&nbsp;<?php echo $this->translate("¿Estás seguro que deseas eliminar a este alumno del grupo?");?>
	</p>
	<br/>
	<p class="text-right">
		<button  id="btnDeleteOk" class="button success tip-top" ><i class="fa fa-check"></i>&nbsp;<?php echo $this->translate('Aceptar');?></button>
		<button id="btnDeleteCancel" class="button radius alert"><i class="fa fa-times"></i>&nbsp;<?php echo $this->translate('Cancelar');?></button>
	</p>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="modalAskDeleteGrupo" class="reveal-modal" data-reveal>
	
	<p class="lead " ><?php echo $this->translate("Eliminar grupo  ")?></p>
	<p class="lead " >
            <i class="fa fa fa-question-circle fa-2x"></i>
		&nbsp;<?php echo $this->translate("¿Estás seguro que deseas eliminar a este grupo?");?>
	</p>
	<br/>
	<p class="text-right">
		<a data-tooltip href="#" id="btnDeleteGrupoOk" class="button radius success tip-top" title="<?php echo $this->translate('Al dar clic aquí el grupo se inhabilitará. Lo puedes recuperar en la opción de restaurar grupos.');?>" ><i class="fa fa-check"></i>&nbsp;<?php echo $this->translate('Aceptar');?></a>
		<button data-tooltip id="btnDeleteGrupoCancel" class="button radius alert tip-top" title="<?php echo $this->translate('Haz clic para regresar a la ventana principal.');?>" ><i class="fa fa-times"></i>&nbsp;<?php echo $this->translate('Cancelar');?></button>
	</p>
	<a class="close-reveal-modal">&#215;</a>
</div>


<div id="modalRestoreGrupo" class="reveal-modal" data-reveal>
	<input type="hidden" id="urlRestoreGrupo" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'restore-grupo')); ?>' />
	<p class="lead " ><?php echo $this->translate("Grupos Eliminados")?>&nbsp;<span id="nameDeleteUser" class="text-bold"></span></p>
	<div class="row">
		<div id="containerDeletedGroups" class="small-12 columns">
					 
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>


<div id="modalUploadGrupo" class="reveal-modal" data-reveal>
    <div class="row">
        <div class="small-12 large-12 columns step hvr-grow-shadow" id="">
            <div class="row">
                <div class="small-2 large-2 columns" >
                    	<span class="ribbon">Paso 1</span>
                </div>
                <div class="small-10 large-10 columns" >
                    Descarga el formato para agregar usuarios al grupo y llénalo <br/><br/>
                    <a class="button" target="_blank" href="<?php echo $this->url('cargamasiva',array('controller'=>'Cargamasiva', 'action'=> 'descargar-plantilla'))?>" >
                        <i class="fa fa-download"></i>&nbsp;Formato de carga masiva usuarios
                    </a>
                    
                </div>
            </div>
        </div>
         
        <div class="small-12 large-12 columns step hvr-grow-shadow" id="">
            <div class="row">
                <div class="small-2 large-2 columns" >
                    	<span class="ribbon">Paso 2</span>
                </div>
                <div class="small-10 large-10 columns" >
                    Sube el archivo <br/><br/>
                    <input type="hidden" id="urlRestoreGrupo" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'restore-grupo')); ?>' />
                    <form id="frmUploadFile" name="cargamasiva" action="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva','action'=>'validarplantilla'));?>" method="post" enctype="multipart/form-data" >
                        <fieldset>
                            <input id="fileUploadFile" type="file"   name="carga_masiva"  style="display:none;">
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row collapse">
                                        <div class="small-11 columns">
                                            <input id="txtUploadFile" type="text" class="round" placeholder="<?php echo $this->translate('Nombre del archivo')?>" disabled>
                                            <input type="hidden" name="idGrupoCM" id="idGrupoCM"  value=""/>
                                        </div>
                                        <div class="small-1 columns end">
                                            <a data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" href="#" id="btnSelectFile" class="button postfix tip-top" title="<?php echo $this->translate('Haz clic para buscar el archivo de carga masiva');?>">
                                                <i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <a data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" href="#" id="btnUploadFile" class="button success has-tip tip-top" title="<?php echo $this->translate('Haz clic para subir el archivo de carga masiva');?>">
                                        <i class="fa fa-upload"></i>&nbsp;<?php echo $this->translate('Subir'); ?></a>

                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
            
            <a class="close-reveal-modal">&#215;</a>
        

       
    </div>
</div>

 <div id="modalUnblockExams" class="reveal-modal" data-reveal>
     <input type="hidden" id="urlObtenerExamenesInterrumpidos" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action'=>'obtenerinterrumpidosajax')); ?>' />
     <input type="hidden" id="urlDesbloquearExamen" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action'=>'desbloquearexamenajax')); ?>' />
     <input type="hidden" id="urlResetearExamen" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action'=>'resetearExamenAjax')); ?>' />
     
     <h2>Lista de exámenes interrumpidos</h2>
     <div class="row contenido_interrumpidos">
        <div class="small-12 large-12 columns">
            <div class="table_bg tabla" id="tbl">
                <div  class="tab">
                    <div class="table_encabezado">
                        <div class="large-3 medium-4 columns"><h5  id="tit_tabla">Usuario</h5></div>
                        <div class="large-3 medium-5 columns"><h5  id="tit_tabla">Examen</h5></div>
                        <div class="large-2 medium-2 columns"><h5 id="tit_tabla">Licencia</h5></div>
                        <div class="large-2 medium-1 columns"><h5 id="tit_tabla">Desbloquear</h5></div>
                        <div class="large-2 medium-1 columns"><h5 id="tit_tabla">Resetear</h5></div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <a class="close-reveal-modal">&#215;</a>
 </div>

 <div id="modalMostrarCalif" class="reveal-modal" data-reveal>
     <input type="hidden" id="urlGeneraPdfAjax" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action' => 'generarPdfAjax')); ?>' />
     <input type="hidden" id="urlObtenerCalificaciones" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action'=>'obtenercalificacionesajax')); ?>' />
     
     <h2>Calificaciones del grupo</h2>
     <div class="row">
        <div class="small-12 large-12 columns">
            <div class="table_bg_calif tabla" id="tbl_calif">
                <div  class="tab">
                    <div class="table_encabezado">
                        <div class="large-5 medium-5 columns"><h5  id="tit_tabla">Usuario</h5></div>
                        <div class="large-5 medium-5 columns"><h5  id="tit_tabla">Examen</h5></div>
                        <div class="large-2 medium-2 columns"><h5 id="tit_tabla">Calificación</h5></div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <a class="close-reveal-modal">&#215;</a>
 </div>

<div id="modalReportes" class="reveal-modal" data-reveal>
     
     <h2>Reportes del grupo</h2>
     <div class="row">
        <div class="small-12 large-12 columns" id="divTableReportes">
            
        </div>
     </div>
     <a class="close-reveal-modal">&#215;</a>
 </div>



<div id="modalCargaLlaves" class="reveal-modal" data-reveal>
     <input type="hidden" id="idGrupoPlantillaLicencia" value="" />
     <input type="hidden" id="urlPlantillaLicencias" value="<?php echo $this->url('grupos', array('controller' => 'grupos', 'action' => 'plantillaLicencias')); ?>" />
     <h3>Agregar licecias a los usuarios del grupo<span id="spanNombreGrupo" style="font-weight: bold;"></span></h3>
     <br/>
     <div class="row">
        <div class="small-12 large-12 columns step hvr-grow-shadow" id="">
            <div class="row">
                <div class="small-2 large-2 columns" >
                    	<span class="ribbon">Paso 1</span>
                </div>
                <div class="small-10 large-10 columns" >
                    Descarga el archivo con los usuarios de este grupo e ingresa las licencias <br/><br/>
                    <button id="btnPlatillaLicencias" class="small button"><i class="fa fa-download"></i>&nbsp;Descargar</button>
                    
                </div>
            </div>
        </div>
         
        <div class="small-12 large-12 columns step hvr-grow-shadow" id="">
            <div class="row">
                <div class="small-2 large-2 columns" >
                    	<span class="ribbon">Paso 2</span>
                </div>
                <div class="small-10 large-10 columns" >
                    Carga el archivo con las licencias<br/><br/>
                    
                    <form id="frmUploadFileLicencias" name="cargamasiva" action="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva','action'=>'validacmlicencias'));?>" method="post" enctype="multipart/form-data" >
                        <fieldset>
                            <input id="fileUploadFileLicencias" type="file"   name="carga_masiva"  style="display:none;">
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row collapse">
                                        <div class="small-11 columns">
                                            <input id="txtUploadFileLicencias" type="text" class="round" placeholder="<?php echo $this->translate('Nombre del archivo')?>" disabled>
                                            <input type="hidden" name="idGrupoCMLicencias" id="idGrupoCMLicencias"  value=""/>
                                        </div>
                                        <div class="small-1 columns end">
                                            <a href="#" id="btnSelectFileLicencias" class="button postfix "><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <a href="#" id="btnUploadFileLicencias" class="button success "><i class="fa fa-upload"></i>&nbsp;<?php echo $this->translate('Enviar'); ?></a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                        
                    
                </div>
            </div>
        </div>
     </div>
     <a class="close-reveal-modal">&#215;</a>
</div>


<!--<input type="hidden" id="actualizaNombreGrupoUsuario" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'actualizaUsuarioGrupoajax')); ?>' />-->
<input type="hidden" id="actualizaNombreGrupo" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'actualizaNombreGrupoajax')); ?>' />
<input type="hidden" id="urlListReportes" value='<?php echo $this->url('grupos', array('controller'=>'grupo', 'action'=>'getListReportes')); ?>' />


<?php


    $this->headScript()->prependFile($this->basePath() . '/js/jquery.blockUI.js')
    ->prependFile($this->basePath() . '/js/jquery.jqTable.js')
    ->prependFile($this->basePath() . '/js/grupos/grupos.js');

    $this->headLink()->prependStylesheet($this->basePath() . '/css/jquery.jqTable.css')
    ->prependStylesheet($this->basePath() . '/css/grupos/grupos.css');

