<div class="large-12 small-12 columns text-right">
		<a href="#" id="abrirModalLogin" 	class="radius button tiny">Iniciar sesión</a>
		<a href="#" id="abrirModalValidacion" class="radius button tiny">Regístrate</a>
	</div>
	
		
	<!-- Formulario para validar licencias -->
	<div id="modalValidacion" class='reveal-modal tiny radius' data-reveal>
	      <div class="large-12 small-12 columns text-center">
	      	<h4>Registro</h4>
              <?php
                 $form = $this->form;
                 $form->setAttribute('id', 'frmLicencias');
                 $form->prepare();
                 echo $this->form()->openTag($form);
                 echo $this->formRow($form->get('codigogrupo'));
                 echo $this->formRow($form->get('licenciaexamen'));
                 echo $this->formRow($form->get('validarcodigos'));
                 echo $this->formRow($form->get('urlValidarCodigos')
						   ->setAttribute('value', $this->url('login',array('controller'=>'login','action'=>'validarcodigos'))));
                 echo $this->form()->closeTag();
               ?>
	      </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
	
	<!-- Formulario para registrar usuarios-->
	<div id="modalRegistro" class='reveal-modal tiny radius' data-reveal>
	      <div class="large-12 small-12 columns text-center">
	      	<h4>Registro</h4>
              <?php
                 $columns	= $usuario->obtenerColumnasUsuario();
                 $formReg 	= $this->form;
                 $formReg->setAttribute('id'	, 'frmUsuarios');
                 $formReg->setAttribute('action', $this->url('login',array('controller'=>'login','action'=>'registrarusuario')));
                 $formReg->prepare();
                 echo $this->form()->openTag($formReg);
                 echo $this->formRow($formReg->get('vercodigogrupo'));
                 echo $this->formRow($formReg->get('verlicenciaexamen'));
                 echo $this->formHidden($formReg->get('idPaquete'));
                /* echo $this->formRow($formReg->get($columns[1]));
                 echo $this->formRow($formReg->get($columns[2]));
                 echo $this->formRow($formReg->get($columns[3]));
                 echo $this->formRow($formReg->get($columns[4]));
                 echo $this->formRow($formReg->get($columns[7]));
                 echo $this->formRow($formReg->get($columns[8]));
                 echo $this->formRow($formReg->get($columns[13]));*/
                 echo $this->formRow($formReg->get('confPass'));
                 echo $this->formRow($formReg->get('registrate')); 
              ?>
                 		 <div class="row-collapse text-center hidden-for-small">
                 	         <i class="fi-social-facebook  large-3 small-4 columns" style="color: #FFFFFF; background-color: #008cba; font-size:1.90rem;" id="logeotwit"> </i>
                 	         <a href="/user/login/facebook" class="button small large-9 small-9 columns text-left">Ingresar con Facebook</a>
                 	               			
                 	         <i class="fi-social-twitter  large-3 small-4 columns" style="color: #FFFFFF; background-color: #a0d3e8; font-size:1.90rem;" id="logeotwit"> </i>
                 	         <a href="/user/login/twitter" class="button info small large-9 small-9 columns text-left">Ingresar con Twitter</a>
                 	               			
                 	         <i class="fi-social-google-plus alert large-3 small-4 columns" style="color: #FFFFFF; background-color: #f04124; font-size:1.90rem;" id="logeotwit"> </i>
                 	         <a href="/user/login/google" class="button alert small large-9 small-9 columns text-left">Ingresar con Google</a>
                 		 </div>
                 		               
                 		 <div class="row-collapse text-center show-for-small">
                 	    	<a href="/user/login/facebook" class="button fi-social-facebook small-4 columns" style="color: #FFFFFF; font-size:1.90rem;" id="logeotwit"> </a>
                 	    	<a href="/user/login/twitter" class="button info fi-social-twitter  small-4 columns" style="color: #FFFFFF; font-size:1.90rem;" id="logeotwit"> </a>
                 	    	<a href="/user/login/google"  class="button alert fi-social-google-plus alert small-4 columns" style="color: #FFFFFF; font-size:1.90rem;" id="logeotwit"> </a>
                 		 </div>
                 		            
             <?php 
                 echo $this->form()->closeTag();
              ?>
	      </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
	
	<!-- Formulario para iniciar sesion -->
	<div id="modalLogin" class='reveal-modal tiny radius' data-reveal>
		<div class="row">
                    <div class="large-12 columns">
			  <h4>Iniciar sesión</h4>
	               <?php
		               $columnas  = $usuario->obtenerColumnasUsuario();
		               $formLogin = $this->formLogin;
		               $formLogin->setAttribute('action', $this->url('login',array('controller'=>'login','action'=>'iniciarsesion')));
		               $formLogin->prepare();
		               echo $this->form()->openTag($formLogin);
		            /*   echo $this->formRow($formLogin->get($columnas[3]));
		               echo $this->formRow($formLogin->get($columnas[4]));*/
		               echo $this->formSubmit($formLogin->get('submit'));
		               echo $this->formRow($formLogin->get('resetcontrasena'));
		               ?>
		               <div class="row text-center hidden-for-small">
                                   <div class="large-12 columns">
	               			<a  href="/user/login/facebook"  class="fi-social-facebook  large-4 small-4 columns" style="color: #FFFFFF; background-color: #008cba; font-size:1.90rem; text-align: center;" id="logeotwit"> </a>
<!--	               			<a href="/user/login/facebook" class="button large-4 small-9 columns">Ingresar con Facebook</a>-->
	               			
	               			<i ref="/user/login/twitter" class="fi-social-twitter  large-4 small-4 columns" style="color: #FFFFFF; background-color: #a0d3e8; font-size:1.90rem; text-align: center;" id="logeotwit"> </i>
<!--	               			<a href="/user/login/twitter" class="button large-4 small-9 columns">Ingresar con Twitter</a>-->
	               			
	               			<i href="/user/login/google" class="fi-social-google-plus large-4 small-4 columns" style="color: #FFFFFF; background-color: #f04124; font-size:1.90rem; text-align: center;" id="logeotwit"> </i>
<!--	               			<a href="/user/login/google" class="button  large-4 small-9 columns">Ingresar con Google</a>-->
                                      </div>
                                   </div>
		               
		               <div class="row-collapse text-center show-for-small">
	               			<a href="/user/login/facebook" class="button fi-social-facebook small-4 columns" style="color: #FFFFFF; font-size:1.90rem;" id="logeotwit"> </a>
	               			<a href="/user/login/twitter" class="button info fi-social-twitter  small-4 columns" style="color: #FFFFFF; font-size:1.90rem;" id="logeotwit"> </a>
	               			<a href="/user/login/google"  class="button alert fi-social-google-plus alert small-4 columns" style="color: #FFFFFF; font-size:1.90rem;" id="logeotwit"> </a>
		               </div>
		            
            	<?php echo $this->form()->closeTag(); ?>
                </div>
	    </div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
<?php
    $this->headScript()->prependFile($this->basePath() . '/js/foundation/foundation.reveal.js');                  
?>

