<?php

    use Zend\Session\Container;

    //$urlHost = $_SERVER['SERVER_NAME'];
    $this->datos_sesion = new Container('user');

    if ($this->datos_sesion->sesionActiva === true) {
            $ruta = "<script>document.write(regresar);</script>";
    } else {
            $ruta = 'http://evaluaciones.dev.com/?logout';
    }
?>
<script>
    function goBack(){
        var regresar = window.history.back();
        return regresar;
    }
</script>
<div class="row">
    <div class="large-12 medium-12 small-12 text-center">
        <img src=<?php $this->basePath ()?>"/img/mensaje_pagina_prohibido.png"/>
    </div>
    <div class="small-12 medium-12 large-12 columns text-center">
        <a onclick="goBack()" role="button" class="button small success radius" aria-hidden="true">Regresar</a>
    </div>
</div>    