
<!-- Titulo de la vista. -->
<div style="width:800px; margin-bottom:40px; text-align:center;">
	<h4>Configuración de Variables. 
		<small>Las modificaciones en variables las visualizas en el archivo <kbd>/config/autoload/global.php</kbd> con un editor de texto.</small>
	</h4>
</div>

<form onsubmit="return false">
	<!-- Espacio para iterar y pintar todas las constantes que contiene nuestro arreglo llamado constantes en global.php -->
	<?php
	 	if(isset($constants)) {
			$contador = 0;
			foreach($constants as $nameconst=>$constant) { ?>
				<div style="height:60px; width:800px;" >
					<div style="padding-top:7px; height:33px; width:250px; float:left; text-align:center; border: 1px solid; border-color:#CCCCCC; border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
						<span><?php echo $nameconst;?></span>
					</div>
					<div style="width:500px; float:left;">
						<input  id="<?php echo $contador++ ?>" name="<?php echo $nameconst;?>" type="text" value="<?php echo $constant; ?>" />
					</div>
					<div style="height:33px; width:50px; float:left;">
						<button title="Eliminar variable" onclick="borrarVariable('<?php  echo $nameconst; ?>')" >X</button>
					</div>
				</div>
	<?php 	}
		 } ?>
	 <!-- Espacio para agregar nueva variable -->
	 <div id="addVar" style="height:60px; width:800px;" >
	 
	 </div>
	 
	 <!-- Botones de control para agregar, modificar, cancelar y guardar variables. -->
	 <div style="margin-top:40px; text-align:center;">
 		<button id="btnAgregar" >Agregar</button> 
 		<button id="btnModificar"  >Modificar</button> 
 		<button id="btnGuardar"  class="disabled">Guardar</button>  
 		<button id="btnCancelar" class="disabled">Cancelar</button> 
	 </div>
	 
</form>

<input id="urlModificarVar" type="hidden" value="<?php echo $this->url('configuracion',array('controller'=>'configuracion','action'=>'modificarconfig'));?>"/>
<input id="urlConfig"       type="hidden" value="<?php echo $this->url('configuracion',array('controller'=>'configuracion','action'=>'index'));?>" />
<input id="urlGuardarVar"   type="hidden" value="<?php echo $this->url('configuracion',array('controller'=>'configuracion','action'=>'guardarvariable'));?>" />
<input id="urlEliminarVar"  type="hidden" value="<?php echo $this->url('configuracion',array('controller'=>'configuracion','action'=>'eliminarvariable'));?>" />

<?php  
	$this->headLink()	->prependStylesheet('http://portalge.grupoeducare.com/css/jquery.jqMensaje-1.1.css');

	$this->headScript()->prependFile($this->basePath().'/js/configuracion/configuracion.js')
					   ->prependFile('http://portalge.grupoeducare.com/js/jquery.jqMensaje-1.1.js');
?>