

<div class="row">
    
    <div  class="large-5 columns medium-5 small-5">
        <div class="preguntaRelaciona">Monitor</div>
        <div class="preguntaRelaciona">Monitor</div>
        <div class="preguntaRelaciona">Monitor</div>
    </div> 
    <div  class="large-2 columns medium-2 small-2">
        <svg id="elementosSVG" width=100% height=100%>
            <circle cx=10 cy=10 r=6 stroke="#4c4c4c" stroke-width=3 fill="#4c4c4c"/>
            <circle cx=90 cy=10 r=6 stroke="#4c4c4c" stroke-width=3 fill="#4c4c4c"/>
           
            <circle  cx=10 cy=37 r=6 stroke="#4c4c4c" stroke-width=3 fill="#4c4c4c"/>
            <circle  cx=90 cy=37 r=6 stroke="#4c4c4c" stroke-width=3 fill="#4c4c4c"/>
            
            <circle  cx=10 cy=63 r=6 stroke="#4c4c4c" stroke-width=3 fill="#4c4c4c"/>
            <circle  cx=90 cy=63 r=6 stroke="#4c4c4c" stroke-width=3 fill="#4c4c4c"/>
            
        </svg>
    </div>
    <div  class="large-5 columns medium-5 small-5">
        <div class="preguntaRelaciona">Nos permite ver lo que hacemos en la computadora</div>
        <div class="preguntaRelaciona">Nos permite ver lo que hacemos en la computadora</div>
        <div class="preguntaRelaciona">Nos permite ver lo que hacemos en la computadora</div>
       
    </div>
</div>

<?php
$this->headLink()   ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
                    ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/component.svg.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/examenes.css');

$this->headScript() ->prependFile($this->basePath() .'/js/examenes/preguntas.js')
                    ->prependFile($this->basePath() .'/js/tinymce/tinymce.min.js')
                    ->prependFile($this->basePath() .'/js/examenes/funcionesOpcionMultiple.js')
                    ->prependFile($this->basePath() .'/js/examenes/funcionesRelacionarColumnas.js')
                    ->prependFile($this->basePath() .'/js/foundation.min.js')
                    ->prependFile($this->basePath() . '/js/jquery-ui.min.js');
