		<div class="row">
	     	<div class="spacer_16">&nbsp;</div>
	     	<div class="spacer_16">&nbsp;</div>
		</div>	
		<div class="row">
			<div class="small-12 large-12 columns">
				<span class="titulo" id="iniciar_joyrider">Carga masiva de alumnos para <?php echo $_strGrupo;?></span>
			</div>
		</div>
		<div class="row">
	     	<div class="spacer_16">&nbsp;</div>
	     	<div class="spacer_16">&nbsp;</div>
	     	<div class="spacer_16">&nbsp;</div>
	     	<div class="spacer_16">&nbsp;</div>
	 	</div>  
		<div class="row">
			<div class="small-11 large-5 columns bg_blanco redondear efecto3">
					<div class="row">
	     				<div class="spacer_16">&nbsp;</div>
					</div>
					<div class="row">
						<div class="small-12 large-12 columns">
				    		<span>1.-Descarga la plantilla para la carga masiva.</span>
				    	</div>
				    </div>
				    <div class="row">
	     				<div class="spacer_16">&nbsp;</div>
	     				<div class="spacer_16">&nbsp;</div>
	     				<div class="spacer_16">&nbsp;</div>
	 				</div> 
	 				<div class="row">
						<div class="small-centered small-11 large-centered large-4 columns">
			 				<!-- <a href="<?php //echo $this->basePath();?>/archivo_carga_masiva.php" class="min small button" id="paso1_joyrider">Descargar</a> -->
			 				<a href="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva', 'action'=>'descargarPlantilla'));?>" class="min small button" id="paso1_joyrider">Descargar</a>
			 			</div>
			 	   </div>
			 	   <div class="row">
	     				<div class="spacer_16">&nbsp;</div>
	     				<div class="spacer_16">&nbsp;</div>
	     				<div class="spacer_16 hide-for-small">&nbsp;</div>
	     				<div class="spacer_16 hide-for-small">&nbsp;</div>
	     				<div class="spacer_16 hide-for-small">&nbsp;</div>
					</div>
			</div> 
			<div class="hide-for-small large-1 columns">&nbsp;</div>
			<div class="show-for-small small-11">
				<div class="spacer_16">&nbsp;</div>
	     		<div class="spacer_16">&nbsp;</div>
			</div>
			<div class="small-11 large-5 columns bg_blanco redondear efecto3">
					<div class="row">
	     				<div class="spacer_16">&nbsp;</div>
					</div>
					<div class="row">
						<div class="small-12 large-12 columns">
					 		<span id="paso2_joyrider">2.-Subir la plantilla con los datos de los usuarios:</span>
						</div>
					</div>
					<div class="row">
	     				<div class="spacer_16">&nbsp;</div>
	     				<div class="spacer_16">&nbsp;</div>
	 				</div> 
				 <form name="cargamasiva" action="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva','action'=>'validarplantilla'));?>" method="post" enctype="multipart/form-data" >
					<div class="row collapse">
						 <div class="large-8 small-8 columns">
						     <input id="fakeSubmitText" type="text" placeholder="Nombre del Archivo">
						  </div>
						  <div class="large-4 small-4 columns">
						     <a id="fakeSubmitButton" href="#" class="min small button">Examinar</a>
						  </div>
					</div>
					<div class="row" style="display:none;">
						<div class="small-10 large-8 columns">
							<label>Archivo:</label>
						   <input id="fileUpload" type="file"   name="carga_masiva" >
						   <input id="_idGrupo"   type="hidden" name="_strCodigoGrupo"       value="<?php echo $_intCodigoGrupo;?>" />
						</div>
						<div class="small-2 large-4 columns">&nbsp;</div>
					</div>
					<div class="row">
	     				<div class="spacer_16">&nbsp;</div>
					</div>
					<div class="row">
						<div class="small-centered small-11 large-centered large-8 columns">
							<input id="btnSubmitCargaMasivaTrue" class="min small button" type="submit"  value="Aceptar">
							<input id="cancelar" 				 class="min small button" type="button"  value="Cancelar" onclick="cerrar()">
						</div>
					</div>
				 </form>
			</div>
			<div class="hide-for-small large-1 columns">&nbsp;</div>
		</div>    	
    	<div class="row">
	     	<div class="spacer_16">&nbsp;</div>
	     	<div class="spacer_16">&nbsp;</div>
	 	</div>
	 	<!-- se comentan las ayudas en caso de implementar ayudas solo descomentar esta linea --> 
    	<!--<ol id="cargamasiva_list">
	   		<li data-button="Iniciar">
	   			<h5>Secci&oacute;n Carga Masiva</h5>
	   			<p>¿Necesitas ayuda para la secci&oacute;n de Carga de Alumnos?</p>
	   		</li>
	   		<li data-id="paso1_joyrider" data-button="Siguiente">
	   			<h5>Paso 1</h5>
	   			<p>Descargar la plantilla con un clic en el bot&oacute;n "Descargar".</p>
	   		</li>
	   		<li data-id="paso2_joyrider" data-button="Siguiente">
	   			<h5>Paso 2</h5>
	   			<p>Inserta los datos de los usuarios que deseas registrar.</p>
	   		</li>
	   		<li data-id="fakeSubmitButton" data-button="Siguiente">
	   			<h5>Paso 3</h5>
	   			<p>Clic en el bot&oacute;n "Examinar" para buscar la plantilla que contiene alumnos.</p>
	   		</li>
	   		<li data-id="btnSubmitCargaMasivaTrue" data-button="Finalizar">
	   			<h5>Paso 4</h5>
	   			<p>Clic en el bot&oacute;n "Aceptar" para validar los datos proporcionados.</p>
	   		</li>
		</ol>-->
	
		<input type="hidden" id="index" value="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva', 'action'=>'index'));?>" />

<?php
		  
	$this->headScript()		->prependFile($this->basePath() .'/js/cargamasiva/iniciar_carga_masiva.js');
?>
