<div class="row" id="paso3CargaMasiva">
    <div class="small-10 large-8 columns">
        <h3 id="iniciar_joyrider_procesar"><?php echo $this->translate(' Paso 3: verificar informaci&oacute;n y confirmar:');?></h3>
    </div>
    <div class="small-2 large-4 columns">
        
    </div>
</div>

<div class="row" >
    <input type="hidden" id="urlWebService" value="<?php echo $this->url('cargamasiva', array('controller' => 'cargamasiva', 'action' => 'checklicencia')); ?>" />
    <input type="hidden" id="urlActivarLicencia" value="<?php echo $this->url('cargamasiva', array('controller' => 'cargamasiva', 'action' => 'activarlicencia')); ?>" />
    
           
    <div class="small-12 large-12 columns">
        <table class='no-border hover stack' id='tblCheckRes' style="width: 100%;" >
            <thead>
                <tr>
                    <th></th>    
                    <th>Id Usuario</th>
                    <th>Nombre</th>
                    <th>Licencia</th>
                </tr>
            </thead>
            <tbody>
            <?php 
            foreach ($_arrReturn as $user) {
                echo "<tr id='row-".$user['id_usuario_perfil']."'>";
                    echo "<td id='action-".$user['id_usuario_perfil']."'>"
                        .'<span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Quitar a este usuario de la lista">'
                        .'<a  id="delete-'.$user['id_usuario_perfil'].'" class=" btnDeleteRow "><i class="fa fa-times-circle fa-2x"></i></a>'   
                        . '</span>'
                        . "</td>";
                    echo "<td>".$user['id_usuario_perfil']."</td>";
                    echo "<td>".$user['nombre']."</td>";
                    echo "<td id='tdTxtLicencia-".$user['id_usuario_perfil']."'>"
                            ."<input class='txtLicencia' id='txtLicencia-".$user['id_usuario_perfil']."' type='text' value='".$user['licencia_code']."' style='margin:0 0 0;'>";
                    $_strMensajeLicencia = $user['licencia']['msj'];
                    if($user['licencia']['valida'] === true ){
                        $_strDisplayError = 'display:none;';
                        
                    }
                    else{
                        $_strDisplayError = 'display:block;';
                        
                    }
                        echo "<small id='txtLicencia-".$user['id_usuario_perfil']."ImgError' class='error' style='".$_strDisplayError."' >".$_strMensajeLicencia."</small>";
                    echo "</td>";
                    
                echo "</tr>";
            }

            ?>
            </tbody>
        </table>
    </div>
    <div class="small-12 large-12 columns" id="buttons-send">
        <a href="<?php echo $this->url('grupos', array('controller' => 'grupos', 'action' => 'index')); ?>" class="button">
            <i class="fa fa-arrow-left"></i>&nbsp;Regresar
        </a>
        <button id="btnConfirmarLicencias" class="button success"><i class="fa fa-check-circle-o"></i>&nbsp;Confirmar licencias</button>
    </div>
    
</div>



<div id="modalDeleteRow" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <input type="hidden" id="idDeleteRow" value="">
  <p class="lead">¿Estás seguro de eliminar este usuario de la lista?</p>
  <p>La acción no podrá revertirse.</p>
  <p>
      <a href="#" id="cancelDeleteRow" class="button alert small " ><i class="fa fa-times"></i>&nbsp;Cancelar </a>
      <a href="#" id="confirmDeleteRow" class="button small"><i class="fa fa-check"></i>&nbsp;Confirmar </a>
  </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<?php 

	$this->headLink()->prependStylesheet($this->basePath() . '/css/grupos/grupos.css');
        
	$this->headScript()->prependFile($this->basePath() .'/js/grupos/validate_carga_masiva_licencias.js')
                            ->prependFile($this->basePath() . '/js/jquery.blockUI.js');