<input type="hidden" id="idExamen" value="<?php echo $_idExamen ?>"/>
<div class="row" >
    <div class="small-12 large-12 columns">
        <br/>
	<h4 >Verificar informaci&oacute;n y confirmar:</h4>
        <br/>
    </div>
</div>
<div class="row" >
    <div id="containerTabla" class="small-12 large-12 columns" style="overflow: scroll;">
	<?php   
                        $_intRegistros = 0;
                        
                        //onscroll='OnScrollDiv(this)'
		 	echo "<table id='tblCheckRes' border=2 >";
		 	 	echo "<thead>";
		 	 		echo "<tr>";
                                          foreach ($_arrTitulos as $titulos){
		 	 			echo "<th>$titulos</th>";
                                          }
		 	 		echo "</tr>";
		 	 	echo "</thead>";
		 	 	echo "<tbody>";
		 	 	$_arrUsers = array();
		 	 	$_arrLicencias = array();
		 	 	$_iteradorRow = 1;
                                $_califrow =1;
		 	 	
		 	 foreach($_arrUsuarios as $row){
				 		$_flagdatos = false;
				 		$strRow = "";
				 		
				 		$_strError = "";
				 		foreach($row as $_indice=>$cell){
				 			//obtener el valor de la celda 
				 			$_strValorCelda = $cell;
				 			
                                                        switch ($_indice){
                                                        
                                                        case 1:
                                                               
                                                        $strRow .=  "<td>";
                                                        $strRow .= "<input style='width: 150px' disabled class='txtNombre' id='nombre".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
                                                        $strRow .= "<small id='nombre".$_iteradorRow."ImgError' class='error' style='display:none;' ></small>";
                                                        $_flagdatos = true;
                                                        
                                                  
                                                        break;
                                                                                                           
                                                        case 2:
                                                        if(in_array(strtolower($_strValorCelda),$_arrlicenciasExistentes)){
                                                               $strRow .=  "<td>";
                                                        $strRow .= "<input maxlength=6  style='width:76px' class='txtLicencia' id='licencia".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
                                                        $strRow .= "<small id='licencia".$_iteradorRow."ImgError' class='error' style='display:none;' ></small>";
                                                        $_flagdatos = true;    
                                                         }else{
                                                                   
                                                        $strRow .=  "<td>";
                                                        $strRow .= "<input maxlength=6 class='txtLicencia error' id='licencia".$_iteradorRow."' type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
                                                        $strRow .= "<small id='licencia".$_iteradorRow."ImgError' class='error'>*</small>";
                                                        $_flagdatos = true;
                                                         
                                                               }
                                                        
                                                        
                                                  
                                                        break;
                                                     
                                                    
                                                        case $_indice:
                                                            $_strValorCelda = strtoupper($_strValorCelda);
                                                            if(strlen($_strValorCelda) <= 1){
                                                                 if( preg_match("/[e-zE-Z_]/i", $_strValorCelda) || preg_match("/^((\.|_|-)?[e-zE-Z0-9]+){6}$/D", $_strValorCelda))
                                                            
                                                               {
                                                        $strRow .=  "<td>";
                                                        $strRow .= "<input maxlength=1 style='width:35px' class='txtCalificacion calif".$_iteradorRow." error' id='calif".$_califrow."' type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
                                                        $strRow .= "<small id='calif".$_califrow."ImgError' class='error'>**</small>";
                                                        $_flagdatos = true;
                                                       
                                                        
                                                        }else{
                                                        
                                                     
                                                        $strRow .=  "<td>";
                                                        $strRow .= "<input maxlength=1 style='width:35px' class='txtCalificacion calif".$_iteradorRow."'  id='calif".$_califrow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
                                                        $strRow .= "<small id='calif".$_califrow."ImgError' class='error' style='display:none;' ></small>";

                                                        }
                                                                
                                                            }else{
                                                        $strRow .=  "<td>";
                                                        $strRow .= "<input maxlength=1 style='width:35px' class='txtCalificacion calif".$_iteradorRow." error' id='calif".$_califrow."' type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
                                                        $strRow .= "<small id='calif".$_califrow."ImgError' class='error'>**</small>"; 
                                                            }
                                                        
                                                        
                                                         $_califrow++;
                                                        break;
                                                        }
                                                        
				 			$strRow .= "</td>";
				 			//$itr4Cell++;
				 			
				 		}
				 		if($_flagdatos === true){
				 			echo "<tr id='row".$_iteradorRow."' class='filaUser'>";
				 			echo $strRow;
				 			echo "<td><a id='joyrider_".$_iteradorRow."' class='small botonEliminar button'>Eliminar</a></td>";
				 			echo "</tr>";
				 			$_intRegistros++ ; 
				 		}
				 		$_iteradorRow++;
                                                
		 	}
		 	echo "</tbody>";
		 	echo "<tfoot><tr><td colspan='5'>Total Registros <span id='totalRegistro'>".$_intRegistros."</span></td></tr></tfoot>";
		 	echo "</table>";
		 	
               
            ?>
    </div>
</div>




<br/>
    
	<div  class="row" id="paso3AceptarCM">
            <div class="medium-3 columns" style="visibility:hidden">3</div>
		<div class="small-5 medium-2 columns">
			<div class="min small button" id="urlProcesarCargaMasivaAjax" >Aceptar</div>
		</div>
		<div class="small-5 medium-2 columns">
			<div class="min small button" id="urlCancelarCargaMasiva" >Cancelar</div>
		</div>
		<div class="small-2 large-8 columns">
                 </div>
	</div>
<div  class="row" id="error">
        <div class="small-2 large-8 columns">
                    *La licencia que intentas calificar no concuerda con el examen a subir o ya ha sido utilizada.   
                    <br>** Solo se permiten ingresar letras de la a a la d en caso de no haber respondido dejar en blanco.
		</div>
    </div>
        <div id="modalCarga" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <p id="msjModalCarga" class="lead">Your couch.  It is mine.</p>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

        <div id="modalConfirma" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">
	  <p id="msjModalConfirma" class="lead">Your couch.  It is mine.</p>
	  <input type="hidden" id="urlGrupos" value="<?php echo $this->url('catalogo'); ?>">
	</div>
	<input type="hidden" id="urlExisteLicencia" value="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva','action'=>'existelicencia'));?>" />
	<input type="hidden" name="_idGrupo" id="_idGrupo" value="<?php echo $_codigoGrupo;?>" />
	<input type="hidden" id="urlCargamasiva" value="<?php echo $this->url('preguntas',array('controller'=>'preguntas', 'action'=>'almacenarespuestastotalajax'));?>" />
	<input type="hidden" id="index" value="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva', 'action'=>'index'));?>" />
	<?php
		$this->headLink()		->prependStylesheet($this->basePath() . '/css/jquery-ui.css');
			  
		$this->headScript()->prependFile($this->basePath() . '/js/jquery.blockUI.js') 		
                        ->prependFile($this->basePath() .'/js/grupos/validate_carga_masiva_examen.js');
                //$this->headScript()		->prependFile($this->basePath() .'/js/grupos/tabla_scroll.js')
								
	?>



