*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ac-custom {
    /*padding: 0 3em;
	max-width: 900px;
	margin: 0 auto;*/
    margin-top: 2em;
}
.ac-custom h2 {
    font-size: 3em;
    font-weight: 300;
    padding: 0 0 0.5em;
    margin: 0 0 30px;
}
.ac-custom ul,
.ac-custom ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    /*max-width: 900px;*/
}
.ac-custom li {
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
    top: -25px;
}
.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer;
}
.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
}
.ac-custom label::before {
    content: '';
    border: 7px solid #fd9c5a;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.ac-radio label::before {
    border-radius: 50%;
}
.ac-radio2 label::before {
    border: none;
}
.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
    opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -18px;
    left: 14px;
    pointer-events: none;
}
.ac-custom svg path {
    stroke: #2689B2;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* Specific input, SVG and path styles */


/* Circle */

.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    left: 10px;
    position: absolute;
}
.ac-circle label::before {
    background-color: #fff;
    border: none;
}
.ac-circle svg {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    left: -10px;
}
.ac-circle svg path {
    stroke-width: 5px;
}

/* Box Fill */

.ac-boxfill svg path {
    stroke-width: 8px;
}

/* Swirl */

.ac-swirl svg path {
    stroke-width: 8px;
}

/* List */

.ac-list ol {
    list-style: decimal;
    list-style-position: inside;
}
.ac-list ol li {
    font-size: 2em;
    padding: 1em 1em 0 2em;
    text-indent: -40px;
}
.ac-list ol li label {
    font-size: 1em;
    text-indent: 0;
    padding-left: 30px;
}
.ac-list label::before {
    display: none;
}
.ac-list svg {
    width: 100%;
    height: 80px;
    left: 0;
    top: 1.2em;
    margin-top: 0px;
}
.ac-list svg path {
    stroke-width: 4px;
}

/* Media Queries */

@media screen and (max-width: 50em) {
    section {
        font-size: 80%;
    }
}
.color {
    height: 21px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin-top: -48px;
    background: #FD9C5A;
    margin: 0px 0px 0px 15px;
}
.radio-inline input {
    /*position:absolute;
    top:-100px;
    margin-left:10px;*/
}
#derechaInicial {
    padding-left: 60px;
}
.ajusteLabel {
    margin-left: -40px !important;
    margin-top: auto !important;
    left: -4px !important;
}
.ajusteInput {
    left: -40px !important;
}
.ajusteSvg {
    margin-left: -54px !important;
    margin-top: -12px !important;
}
.barra {
    background-color: #E3E3E3;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
}
.circulo {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;*/
    margin: 18px 4px 0px 0px;
}
.circulo-inactivo {
    background-color: #BEBEBE;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;*/
    margin: 18px 4px 0px 0px;
}
.circulo-activo {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 18px 4px 0px 0px;
    -webkit-box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.65);
    box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.65);
}
.sombraBarra {
    box-shadow-bottom: 0px 6px 8px #727272;
    -moz-box-shadow: 0px 6px 8px #727272;
    -webkit-box-shadow: 0px 2px 8px #727272;
}
