.div_Fondo {
    width: 1024px;
    height: 360px;
}
.numero_Sesion {
    position: absolute;
    font-size: 86;
    font-weight: bold;
    font-family: FF-Poppins-SemiBold,Poppins;
}
.nombre_sesion {
    font-size: 71;
    font-weight: bold;
    color: #FFFFFF;
    font-family: FF-Poppins-SemiBold,Poppins;
    white-space: nowrap;
    text-align: center;
    line-height: 1.3;
}
.alturaDivs {
    height: 96px;
    position: absolute;
}
.divElementos_De_Animacion1 {
    width: 1024px;
    opacity: 1;
}
.divElementos_De_Animacion2 {
    opacity: 1;
    top: 160px;
    left: 512px;
}
.divElementos_De_Animacion3 {
    opacity:1;
    top: 160px;
    left: 180px;
}
.mascaraCentral {
    position: absolute !important;
    clip: rect(0px, 0px, 100px, -450px) !important;/*arriba, derecha, abajo, izquierda*/
}
.mascaraCentral2 {
    position: absolute !important;
    clip: rect(0px, 900px, 300px, 354px) !important;/*arriba, derecha, abajo, izquierda*/
}
.imagenCentral {
    top: -47px;
    position: absolute;
}
.center{
    left: 512px;
    position: absolute;
    top: 100px;
}
.center div{
    /*border: 1px solid black;*/
    margin-left: -50%;
    margin-top: -39%;
}
.mascaraLateral {
    position: absolute !important;    
    left: 0;
    width: 810px;
    height: 360px;
    /*background: red;*/
    -webkit-clip-path: polygon(0 0, 0 119%, 51% 0, 0 0);
    -moz-clip-path: polygon(0 0, 0 119%, 100% 0, 0 0);
    clip-path: polygon(0 0, 0 119%, 100% 0, 0 0);
    
    -webkit-clip: polygon(0 0, 0 119%, 100% 0, 0 0);
    -moz-clip: polygon(0 0, 0 119%, 100% 0, 0 0);
    clip: polygon(0 0, 0 119%, 100% 0, 0 0);
}
.triangulo {
    /*position: absolute !important; 
    left: 0;
    width: 1032px;
    height: 360px;
    background: gold;
    
    -webkit-clip-path: polygon(100% 0, 102% 800%, 0 119%, 412px 0);
    -moz-clip-path: polygon(0 0, 0 119%, 100% 0, 0 0);
    clip-path: polygon(0 0, 0 119%, 100% 0, 0 0);
    
    -webkit-clip: polygon(0 0, 0 119%, 100% 0, 0 0);
    -moz-clip: polygon(0 0, 0 119%, 100% 0, 0 0);
    clip: polygon(0 0, 0 119%, 100% 0, 0 0);*/
}
#textoCentral_div {
    display: table;
    width: 1024px;
    height: 360px;
}
#textoCentralInterior_div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}