#preguntaTexto {
    /*display: none;*/
}
.numero-pregunta {
    font-family: FF-Poppins-Regular;
    font-size: 72px !important;
    color: #575756;
    position: absolute;
    left: 50%;
    top: 15%;
}
#tarjetas {
    width: 385px;
    height: auto;
    min-height: 200px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /* -webkit-box-shadow: 1px 1px 1px 0 rgba(140,140,140,1) ;
    box-shadow: 1px 1px 1px 0 rgba(140,140,140,1) ;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    margin-left: 15px;
}
#tarjetas li{
    word-wrap: break-word;
}
.tarjetas li {
    width: 100%;
    display: table;
    padding: 0 3px 0 15px;
    cursor: pointer;
    box-shadow: -4px 4px 8px #555;
    color: #FFF;
    border: none;
    border-radius: 0;
}
/*.tarjetas li:before {
    background-image: url("../images/drag_and_drop_barras_sombra.png");
    background-size: 30px 30px;
    float: left;
    width: 40px;
    height: 30px;
    content: "";
    background-repeat: no-repeat;
    margin: 0; //margin-top: 50px; 
}*/
.tarjetas li .resp_arra_cont {
    text-align: left;
    white-space: normal;
    line-height: 20px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-family: FF-Poppins-SemiBold;
    padding-right: 5px;
    font-size: 20px;
}
.tarjetas li .resp_arra_cont p {
    text-align: left;
    white-space: normal;
    line-height: 20px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    padding: 0 0 0 5px;
}
/*
.tarjetas span{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
*/
.tarjetas.custom-state-active { 
    background: #eee; 
}
#contenedor,
.combo-uno,
.contenedorRespuesta {
    display: block;
    width: 100%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000;
    background: #FFF;
    margin-top: 2px;
}
.contenedor {
    float: right;
    width: 40%;
    min-height: 200px;
    padding: 0.2%;
    border-radius: 10px;
    border: 2px dashed #54B084;
    margin-top: 1em;
}
#contenedor .tarjetas h5 {
    display: none;
}
.contenedor .tarjetas h5 {
    display: none;
}
#principal {
    display: inline-block;
    width: 385px;
    margin-right: 15px;
    float: right;
}
.subContenedor {
    width: 100%;
    display: block;
}
.tituloSubcontenedor {
    display: block;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    background: #f8b559;
    text-align: center;
    height: 38px;
    border: 1px solid #f8b559;
    display: block;
    vertical-align: middle;
    font-size: 20px;
    /*padding-top: 4px;*/
    font-family: FF-Poppins-SemiBold;
}
#principal ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
#principal ul li {
    width: 100%;
    background: #fafafa;
    box-shadow: none;
    white-space: normal;
}
#principal ul li p {
    padding: 0px;   
    width: 100%;
}
#columnaRespuestas {
    display: inline-block;
    width: 50%;
    height: auto;
}
#columnaContenedores {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}
/*.naveg-examen {
    visibility: hidden;
}*/
.tarjetas img {
    display: inline-block;
}
body {
    background: transparent;
}
#capaSuperior {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.8;
    /*background: #000;*/
}
#tituloVacio{
    width: 100px;
    height: 34px;
    display: inline-block;
}
#leyendaLineas{
    width: 230px;
    display: inline-block;
    margin: 0 auto;
}
.tFila{
    display: table;
    width: 100%
}
.filaTexto {
    text-align: center;
    white-space: normal;
    line-height: 20px;

    background: #FFF;
    margin-top: 2px;
    color:#FFFFFF;
    font-size: 20px;
    font-family: FF-Poppins-Light;
    display: table-cell;
    vertical-align: middle;
}
.contenedorRespuesta::before{
    width: 40px;
    height: 30px;
    content: "";
}
.otro{
    width:30px;
}
.iconoEvaluar{
    width: 5%;
    display: inline-table;
    vertical-align: top;
}
.tituloEstatico{
    font-size: 20px;
    font-family: FF-Poppins-Regular;
}
.mostrar p{
    font-size: 20px;
    font-family: FF-Poppins-Regular;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #EBE1A9 url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
    color: #363636;
}
#respuestasRadialGroup{
    padding: 0px;
}
.ui-draggable p {
    font-family: FF-Poppins-SemiBold;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding: 1px 2.1% 1px 0%;
    white-space: nowrap;
    height: 40%;
}
#tarjetas .imgLineas, #tarjetas2 .imgLineas{
    width:30px;
    height:inherit;
    background-image: url("../../img/todo/drag_and_drop_barras_sombra.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.contenedorRespuesta .imgLineas{
    width:11%;
    height:inherit;
    background-image: url("../../img/todo/drag_and_drop_barras_sombra.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 75% 50%;
    display: inline-block;
}
.dragRespuesta .textoCorrecta p{
    white-space: normal;
}
.textoCorrecta{
    
}
.textoCorrecta p{
    font-family: FF-Poppins-SemiBold;
    font-weight: normal;
    font-size: 20px;
    height: 40%;
    color:#FFF;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    line-height: 20px;
    padding: 0 5px 0 5px;
    text-align: left;
}
.respuesta{
    margin: 0;
}
.indicadorContenedorIzquierda{
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-right: 20px solid #000;
    border-bottom: 23px solid transparent;
    display: inline-block;
}
.indicadorContenedorDerecha{
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-left: 20px solid #000;
    border-bottom: 23px solid transparent;
    display: inline-block;
}
.indicadorContenedorArriba{
     width: 0;
     height: 0;
     border-right: 23px solid transparent;
     border-top: 23px solid transparent;
     border-left: 23px solid transparent;
     border-bottom: 23px solid #000;
}
.indicadorContenedorAbajo{
     width: 0;
     height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid #000;
}

.etiquetasBackground{
    position: absolute;
    top: 0px;
    width:  45px;
    height: 45px;
    display: table;
    vertical-align: middle;
    z-index: 0;
    text-align: center;
    font-family: FF-Poppins-SemiBold;
    font-size: 20px;
}
.etiquetasBackground p{
    display: table-cell;
    vertical-align: middle;
    font-family: FF-Poppins-SemiBold;
    font-size: 20px;
}
.imgLineas{
    position: relative;
}
.contenedorEtiquetas{
    z-index: 100;
    height: 45px;
    width: 45px;
    display: inline-table;
    background-color: #51c3af;
}
.contenedorEtiquetas p{
    display: table-cell;
    vertical-align: middle;
}
.dragRespuesta{
    height:inherit; 
    padding:0;
    margin:0;
    position:relative;
    text-align: left;
}

.revertir{
    position:absolute; 
    right:5px; 
    color:red; 
    top:0px;
}
