.btn_preg {          
    display:inline-block;    
    vertical-align:middle;     
    font-family: FF-Poppins-Regular;
    font-size:20px;
    line-height: 30px;
    text-decoration:none;
    color: rgba(0,0,0,0.8);
    position:relative;
    padding:7px 0px 10px 150px;
    width: 100%;
}
.btn_preg:active {/*Cuando se presiona el botón */
	  top:3px;/*Si se comenta se mueve también el inciso */
}
.btn_preg::before {
  background: #2eb29f;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-table;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 20px;
  text-align: center;
  width: 1.6em; 
  margin-left: -50px;
  
}
.press_correcta:after{    
    background-size: 24px 24px; 
    background-repeat:no-repeat; 
    width:50px;
    height:24px; 
    float: right; 
    content:" ";
}
.press_incorrecta:after{    
    background-size: 24px 24px; 
    background-repeat:no-repeat; 
    /*width:50px;*/
    height:24px; 
    float: right; 
    content:" ";
}
.press_incorrecta.hidden:after{
    display: none;
}
.btn_preg:hover {
    color:#575756;
}   
.texto-pregunta{
    margin-left: 160px;
    font-weight: bold;
}
.preguntaTit{
    margin-bottom: 18px;
    margin-top: 18px;
    margin-left: 10px;
}

.btn_preg:active::before {
    /*
    //Si se comenta todo el inciso solo se mueve
    //Si se descomenta todo el inciso se mueve y se pinta    
    /*background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);        
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,	
           color-stop(0, rgb(0,50,100)),
    color-stop(1, rgb(44,160,202))       
    );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;*/
}
.btn_preg_press {    
    width: 100%;
}
.btn_preg_press:hover {
    color:#575756;
}
.btn_preg1::before  {    content:"A";    }
.btn_preg2::before  {    content:"B";    }
.btn_preg3::before  {    content:"C";    }
.btn_preg4::before  {    content:"D";    }
.btn_preg5::before  {    content:"E";    }
.btn_preg6::before  {    content:"F";    }
.btn_preg7::before  {    content:"G";    }
.btn_preg8::before  {    content:"H";    }
.btn_preg9::before  {    content:"I";    }
.btn_preg10::before {    content:"J";    }
.btn_preg11::before {    content:"K";    }
.btn_preg12::before {    content:"L";    }
.btn_preg13::before {    content:"M";    }
.btn_preg14::before {    content:"N";    }
.btn_preg15::before {    content:"O";    }
.btn_preg16::before {    content:"P";    }
.btn_preg17::before {    content:"Q";    }
.btn_preg18::before {    content:"R";    }
.btn_preg19::before {    content:"S";    }
.btn_preg20::before {    content:"T";    }
.btn_preg21::before {    content:"U";    }
.btn_preg22::before {    content:"V";    }
.btn_preg23::before {    content:"W";    }
.btn_preg24::before {    content:"X";    }
.btn_preg25::before {    content:"Y";    }
.btn_preg26::before {    content:"Z";    }

.btn_preg101::before  {    content:"a";    }
.btn_preg102::before  {    content:"b";    }
.btn_preg103::before  {    content:"c";    }
.btn_preg104::before  {    content:"d";    }
.btn_preg105::before  {    content:"e";    }
.btn_preg106::before  {    content:"f";    }
.btn_preg107::before  {    content:"g";    }
.btn_preg108::before  {    content:"h";    }
.btn_preg109::before  {    content:"i";    }
.btn_preg110::before {    content:"j";    }
.btn_preg111::before {    content:"k";    }
.btn_preg112::before {    content:"l";    }
.btn_preg113::before {    content:"m";    }
.btn_preg114::before {    content:"n";    }
.btn_preg115::before {    content:"o";    }
.btn_preg116::before {    content:"p";    }
.btn_preg117::before {    content:"q";    }
.btn_preg118::before {    content:"r";    }
.btn_preg119::before {    content:"s";    }
.btn_preg120::before {    content:"t";    }
.btn_preg121::before {    content:"u";    }
.btn_preg122::before {    content:"v";    }
.btn_preg123::before {    content:"w";    }
.btn_preg124::before {    content:"x";    }
.btn_preg125::before {    content:"y";    }
.btn_preg126::before {    content:"z";    }

.btn_preg201::before  {    content:"1";    }
.btn_preg202::before  {    content:"2";    }
.btn_preg203::before  {    content:"3";    }
.btn_preg204::before  {    content:"4";    }
.btn_preg205::before  {    content:"5";    }
.btn_preg206::before  {    content:"6";    }
.btn_preg207::before  {    content:"7";    }
.btn_preg208::before  {    content:"8";    }
.btn_preg209::before  {    content:"9";    }
.btn_preg210::before {    content:"10";    }
.btn_preg211::before {    content:"11";    }
.btn_preg212::before {    content:"12";    }
.btn_preg213::before {    content:"13";    }
.btn_preg214::before {    content:"14";    }
.btn_preg215::before {    content:"15";    }
.btn_preg216::before {    content:"16";    }
.btn_preg217::before {    content:"17";    }
.btn_preg218::before {    content:"18";    }
.btn_preg219::before {    content:"19";    }
.btn_preg220::before {    content:"20";    }
.btn_preg221::before {    content:"21";    }
.btn_preg222::before {    content:"22";    }
.btn_preg223::before {    content:"23";    }
.btn_preg224::before {    content:"24";    }
.btn_preg225::before {    content:"25";    }
.btn_preg226::before {    content:"26";    }

.btn_preg301::before  {    content:"I";    }
.btn_preg302::before  {    content:"II";    }
.btn_preg303::before  {    content:"III";    }
.btn_preg304::before  {    content:"IV";    }
.btn_preg305::before  {    content:"V";    }
.btn_preg306::before  {    content:"VI";    }
.btn_preg307::before  {    content:"VII";    }
.btn_preg308::before  {    content:"VIII";    }
.btn_preg309::before  {    content:"IX";    }
.btn_preg310::before {    content:"X";    }
.btn_preg311::before {    content:"XI";    }
.btn_preg312::before {    content:"XII";    }
.btn_preg313::before {    content:"XIII";    }
.btn_preg314::before {    content:"XIV";    }
.btn_preg315::before {    content:"XV";    }
.btn_preg316::before {    content:"XVI";    }
.btn_preg317::before {    content:"XVII";    }
.btn_preg318::before {    content:"XVIII";    }
.btn_preg319::before {    content:"XIX";    }
.btn_preg320::before {    content:"XX";    }
.btn_preg321::before {    content:"XXI";    }
.btn_preg322::before {    content:"XXII";    }
.btn_preg323::before {    content:"XXIII";    }
.btn_preg324::before {    content:"XXIV";    }
.btn_preg325::before {    content:"XXV";    }
.btn_preg326::before {    content:"XXVI";    }

.pintaCuadro {
    text-shadow: 8px 8px 30px #000000;
    background: #FECAA7;
}

.circulo-opcMultiple {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;    
    display: inline-block;
    margin-left: 75px;
    margin-top: 26px;
    vertical-align: top;
}
.iconoEvaluar{
    width: 5%;
    display: inline-table;
    vertical-align: top;
}
.no-margen{
    margin-bottom: 0;
    margin-top: 0;
    width: 90%;
    display: inline-block;
}
.preguntaTit div{
    font-family: FF-Poppins-Regular;
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    margin-bottom:20px;
    text-align: justify;
    font-weight: bold;
}

.preguntaTit div p{
    font-family: FF-Poppins-Regular;
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    margin-bottom: 20px;
    text-align: justify;
    font-weight: bold;
}

.no-margen ul{
    min-height: 250px;
}

#preguntaTexto{
    margin: 0px !important;
    display: inline-block !important;
    height: auto;
    width: 95% !important;
}