@charset "UTF-8";

.clasePreguntaAbierta {
    background-color: #54b084;
    padding: 10px 10px 1px 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-left: 16px;
    margin-right: 20px;
}
.clasePreguntaAbierta_respuesta {
    font-family: poppinsmedium;
    font-size: 16px;
    color: #c7c7c7;
}
