/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/03/2016, 09:45:36 AM
    Author     : cgochoa
*/

.anchoColumna{
    width: 50%;
    float: left;
}
.encabezadoIzquierda{
    background-color: #5dc2d7;
    display: inline-block;
    height: auto;
    min-height: 68px;
    color: #ffffff
        
}
.centrarVerticalmente{
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: FF-Poppins-Light;
    padding: 0 2px 0 2px;
}
.tituloColumnaMatriz{
    display: inline-table;
    height:100% !important;
    color:#ffffff;
    font-size: 20px;    
    vertical-align: top;
}
.color{
    /*width: inherit;*/
    /*text-align: center;*/
    height: 68px;
    vertical-align: middle;
    }
 
.contenedor-derecha{
        min-height:    80px;
        display: inline-block;
        text-align:center;
        background-color: RGBA(255, 255, 255, 0.3);
        float: none;
    }
.contenedor-renglon{
    display: inline-table;
    /*min-height: 80px;*/
    height: auto !important;
    margin-left: 0px !important;
    padding: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 11px;
}
#derechaInicial{
    min-height: 68px;
}
.anchoColumnasDerecha{   
    width: 50%;
    display: inline-table;
    height: 100% !important;
    vertical-align: top;
}
.anchoColumnas{
    width: 50%;
    display: inline-table;
    text-align: center;
}
.labelCheck{
    background-color: #5CC2D7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid #FFFFFF;
}
label{
    margin: auto;
}
.img-click {
/*    background-image: url(../images/opcion_multiple_palomita.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;*/
    background-color: green;
}
.centrarInput{
    display: table-cell;
    vertical-align: middle;
   
}
.izquierdaTexto{
    display: inline-table;
    /*min-height: 80px;*/
    height: 100%;
   
}
.textoRenglon{
    display: table-cell;
    vertical-align: middle;
    color:#FFFFFF;
    font-family: FF-Poppins-Light;
    font-size: 20px;
    padding: 0 2px 0 2px;
   }
.barra {
    background-color: #E3E3E3;
    width: 100%;
    height: 75px;
    position: absolute;
    top:  454px;
}
.noMargen{
    margin: 0px;
}
form{
    height: 100%;
}
