/* 
    Created on : 21/01/2016, 01:33:33 PM
    Author     : jlopez
*/

.texto-cortas{    
    width: 140px !important;
    float: left;
    border-radius: 0.5em !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.hiddenBefore:before{
    display: none !important;
}

.texto-respuesta{
    border-style: none !important;
    width: auto  !important; 
    color: #000; 
    white-space: nowrap;
}

.texto-respuesta-spacer{
    border-style: none !important;
    width: 100% !important; 
    height: 15px !important;
    color: #000; 
    white-space: nowrap;
}

.alert-box .cerrar{
    font-size: 1.375rem;
    padding: 9px 6px 4px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.6875rem;
    right: 0.25rem;
    color: #333;
    opacity: 0.3;
    background: inherit;
}

#texto span{
    border: 1px solid #c9c9c9;             
    background: #fff;
    height: 36px;
    text-align: center;
    color: #fff;
    padding: 6px 192px 0 0;
    margin: 0 0 0 0;
}
.respuestasArrastra:before{
    background-image:url("../images/drag_and_drop_barras_sombra.png");
    background-size: 30px 30px;
    float: left;
    width: 40px; 
    height: 30px;
    content:"";
    background-repeat: no-repeat;
    margin: 0;
    /*margin-top: 50px; */
}
.respuestasArrastra p{
    display: table-cell;
    vertical-align: middle;
}
.respuestasArrastra {
    padding-left: 5px;
    display: table;
}
.respuestasArrastra span{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
#pilaDeCartas .ui-draggable{
    cursor: pointer;
}
#pilaDeCartas div {
    background: #38b29f;
    color: #fff;
    font-size: 20px;
    float: left;
    width: 193px;
    /*min-width: 200px;*/
    margin: 2px 2px 2px 2px;
    text-align: center;
    height: 40px;  
}
.ui-draggable p {
    font-family: FF-Poppins-SemiBold;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding: 1px 2.1% 1px 0%;
    white-space: nowrap;
    height: 40%;
}
#texto{
    font-family: FF-Poppins-Regular;
}
#espaciosDeCartas{
    color: rgba(0,0,0,0.9);    
    font-size: 20px;
    line-height: 43px;
}
#espaciosDeCartas {
    height: auto;
    text-align: left;
    margin: 0 0 0 10px;
}
#pilaDeCartas,
#pilaDeCartasExtra {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
 .texto-respuesta p{
    font-family: inherit;
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0rem;
    padding-top: 5px;
    color: #395675;  /*color: #2689b2;*/
 }
 
#pilaDeCartasExtra div {
    font-size: 28px;    
    float: left;
    width: 20%;
    min-width: 200px;
    /*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    */
    margin: 2px 2px 2px 2px;
    text-align: center;
    height: 44px;
}
.dropped-text {
    background-color: #fd9c5a !important;
    /*border: 1px #B96D13 solid !important;*/
}
#content {
    /*margin: 10px 0px; */
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 20px;
}
#pilaDeCartas {
    position: absolute;
    z-index: 2;
}
#pilaDeCartasExtra {
    position: absolute;
    z-index: 1;
}
#espaciosDeCartas {
    position: relative;
    z-index: 0;
    top: 160px;
}
#espaciosDeCartas span.hovered {
    background: #aaa;
    color: #aaa;
}
.texto-respuesta {
    color: #000000 !important;
    /* #2689B2*/
}
.elementosOcultos{
    display: none;
}