.numero-preguntaFV {
    font-family: FF-Poppins;
    font-size: 60px !important;
    color: rgba(0,0,0,.8);
    margin-bottom: -20px;
    text-align: center;
    font-weight: bold;
    margin: 0% 0% 0% 0%;
    position: absolute;
}
.h1-FV {
    display: table-cell;
    vertical-align: middle;
    text-align: center !important;
    font-size: 26px;
    font-family: FF-Poppins;
    color: rgba(0,0,0,.8);
    font-weight: bold;
}
.div-pregunta-FV {
    position: absolute;
    height: 100%;
    width: 95%;
    display: table;
}
.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer;
}

.ac-custom label {
    display: inline-block;
    position: relative;
    font-size: 24px;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: #395675; /*color: #2689b2;*/
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
/*
.respuesta{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size:16px;
    color:#4c4c4c;
    margin-bottom: 40px;
    margin-top: 1em;
    padding-left: 0;
    padding-right: 0;
}
*/
.intentaloDiv{
    position: absolute; 
    top: 14px; 
    left: -400px; 
    z-index: 10;
    opacity: 0;
    display: none;
}
.circuloIntentalo{
    display: inline-block;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    cursor: default;
    border: 11px solid rgb(255, 255, 255);
    box-shadow: rgb(136, 136, 136) 0px 11px 44px;
    font-family: FF-Poppins-Light;
    background: url("../images/opcion_multiple_exclamacion.png") 50% 16% / 26px 131px no-repeat rgb(248, 76, 86);
}
.circuloIntentalo::before{
    content: "Inténtalo nuevamente";
    color: #FFF;
    left: 9px;
    top: 228px;
    width: 100%;
    position: absolute;
    font-size: 36px;
    text-align: center;
    font-family: FF-Poppins-Semibold;
}    
/*************************************/





