@charset "UTF-8";

/* Documento CSS */

@font-face {
    font-family: 'poppinsmedium';
    src: url('../../../fonts/poppins-medium-webfont.eot');
    src: url('../../../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/poppins-medium-webfont.woff2') format('woff2'), url('../../assets/fonts/poppins-medium-webfont.woff') format('woff'), url('../../assets/fonts/poppins-medium-webfont.ttf') format('truetype'), url('../../assets/fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cajaVerde-RL {
    background-color: #A4CD6D;
    width: 160px;
    color: white;
}
.h1-RL, .h1-RL p {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-family: FF-Poppins-SemiBold;
    color: #FFFFFF;
    width: 412px;
    line-height: 1.1;
}
.h1-centrarTexto-RL, .h1-centrarTexto-RL p {
    text-align: center;
}
.h1-sangriaTexto-RL {
    position: relative !important;
    left: 5px !important;
}
.preguntaRelaciona{
    color: #395675;  /*color: #2689b2;*/
    /*cursor: pointer;*/
    font-size: 20px;
    position: relative;
    margin-bottom: 14px;
    padding-right: 6px;
    display: table;
    text-align: center;
}