#recuadro #panelJuego {    
    padding:10px 0px;
    margin: 10px auto;
    max-width:800px;
    width:100%;
}
#recuadro #cuadroImagenActual {
    display: inline-block;
    font-size:1em;
    margin: 10px 10px;
    vertical-align: top;
    width:280px;
}
#recuadro img#imagenActual{
    border:2px solid #a46;
    height:280px;
    width:280px;
}
#recuadro #sortable {
    border:2px solid #a46;
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 400px;
}
    #recuadro #sortable li {
        background-size: 400% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        width: 100px;
        height: 100px;
    }