@charset "UTF-8";
/* Documento CSS */
.estiloGrid {/*Celdas del grid*/
    vertical-align: bottom;
    text-align: center;
    font-family: FF-Poppins;
    color: rgba(0, 0, 0, 0.9);
    border: 2px solid #fff;
    background: white;
    height: 45px;
    width: 45px;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    -webkit-transition: opacity 0.3s, transform 0.25s, top 0.1s, left 0.1s;
    transition: background 0.35s, box-shadow 0.25s;
}
.estiloTabla {/*Grid*/
    background-color: ghostwhite;    
    cursor: pointer;
    border: 2px solid #fff;
}
#contenedorJuego {/* div que contiene el grid*/   
    float: left;
    width: 60%;
}
#contenedorPalabra ul{
    margin: 0;
    margin-bottom: 20px;
}
#contenedorPalabra li{
    display: inline-block;
    padding-left: 30px;
    width: 15%;
    font-family: FF-Poppins-Semibold;
    font-size: 22px;
    padding-bottom: 7px;
}
#palabrasRespondidas{
    position: absolute;
    right:0;
    z-index: 100;
    width: 30%;
    min-height: 50%;
}
.answer, .answerInDelete{
    width: 100%;
    height: 40px;
    text-align: left;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: lowercase !important;
    color: rgba(30,144,255, 1);
    position: relative;
    background: linear-gradient(90deg, rgba(30,144,255, 0.35), transparent);
    -webkit-transition: opacity 0.25s, height 0.35s, margin-bottom 0.35s;
    transition: opacity 0.5s, height 0.35s, margin-bottom 0.35s;
}

.answer:before, .answerInDelete:before{
    content:"X";
    position: absolute;
    right: 20px; top: calc(50% - 20px);
    color: red;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    transform: scale(1,1);
    opacity: 0.75;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.answerInDelete{
    pointer-events: none;
}
.answerInDelete:before{
    opacity: 0.25 !important;
    transition: 0.25s !important;
}

.answer:hover:before{
    transform: scale( 1.25, 1.25);
    opacity: 1;
}

.toRemove{
    opacity: 0 !important;
    height: 0px !important;
    margin-bottom: 0px !important;
}

#contenedorPalabra { /*Div que contiene la lista de palabras*/
    font-family: FF-Poppins;
    color: rgba(30,144,255, 0.65);    
    cursor: default;
    border: none;  
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;	    
    cursor: pointer;
    width: 100% !important;  
    padding: 0px 10px;
}
.palabraEncontrada { /*Palabras encontradas*/
    font-family: FF-Poppins;
    text-decoration: line-through;    
}
#tablaGrid .trazado {

}
#tablaGrid .iluminado {
    background: #dee594 !important; /* Color azul cuando ya se seleccionó */
}
#tablaGrid .rf-glowing {
    background: #dee594 !important; /*color naranja para ir seleccionando*/
}
#tablaGrid .palabraSeleccionada {
    background: #d0c2e1; /*Color azul cuando ya se seleccionó*/
}
.colocadafalse { /*Palabras que no fueron creadas en el grid*/
    color: gray;
    visibility: hidden; 
}
#contenedorPalabra {
       pointer-events: none; /*Deshabilitar mouse (eventos en el div de las listas)*/
       cursor: default;
}

.grid-Sopadeletras{
    margin: 0px 0px 0px 10px;
}

#contenedorJuego{
    max-width: 60%;
}

#tablaGrid td{
    width: 100%;
    background: white;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}

#openWordSelecetion, #closeWordSelecetion{
    position: absolute;
    top: 0; left:0;
    display: block;
    background: transparent;
    -ms-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.8);
    -webkit-transition: opacity 0.3s, transform 0.25s, top 0.1s, left 0.1s;
    transition: opacity 0.3s, transform 0.25s, top 0.1s, left 0.1s;
}

.wordSelected{
    background: #dee594 !important;
}
.onSelection{
    background: #d0c2e1 !important;
    
}
.onSelection{
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.1) !important;
}
.wordSelected{
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.25) !important;
}