
/*Estilos Compartidos*/
@charset "UTF-8";

/* Documento CSS */

@font-face {
    font-family: 'poppinsmedium';
    src: url('../../../fonts/poppins-medium-webfont.eot');
    src: url('../../../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/poppins-medium-webfont.woff2') format('woff2'), url('../../assets/fonts/poppins-medium-webfont.woff') format('woff'), url('../../assets/fonts/poppins-medium-webfont.ttf') format('truetype'), url('../../assets/fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:FF-Poppins-SemiBold;
	/*src:url("../../../fonts/Poppins-SemiBold.ttf");*/
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins;
	/*src:url("../../../fonts/Poppins-Bold.ttf");*/
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins-Regular;
	/*src:url("../../../fonts/Poppins-Regular.ttf");*/
}

@font-face {
	font-family:FF-Poppins-Light;
	/*src:url("../../../fonts/Poppins-Light.ttf");*/
}

*{
    font-family: FF-Poppins-Light;
}
.texto-felicidades {
    color: #575756;
    text-align: center;
    font-size: 32px;
    font-family: FF-Poppins-SemiBold;
    line-height: 1;
}
.texto-resp {
    color: #575756;
    text-align: center;
    font-size: 20px;
    font-family: FF-Poppins-SemiBold;
    margin-bottom: 0px;
}
.texto-intenta {
    color: #575756;
    position: absolute;
    left: 89%;
    top: 1%;
    font-size: 14px;
    font-family: FF-Poppins-SemiBold;
}
.num-aciertos, .num-total{
    font-family: FF-Poppins-SemiBold;
}
.texto-modal-evaluar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#ir-examenes {
    width: 100%;
    height: 100%;
    top: 0;
    border: none;
    box-shadow: none;
    text-align: center;
/*    display: block;*/
    opacity: 1;
    visibility: visible;
    top: 0px;
    background: transparent;
}
/*.naveg-examen {
    visibility: hidden;
}*/
.barra {
    background-color: #E3E3E3;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
}
.circulo {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;*/
    margin: 18px 4px 0px 0px;
}
.circulo-inactivo {
    background-color: #BEBEBE;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;*/
    margin: 18px 4px 0px 0px;
}
.circulo-activo {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 18px 4px 0px 0px;
    -webkit-box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.65);
    box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.65);
}
.sombraBarra {
    box-shadow-bottom: 0px 6px 8px #727272;
    -moz-box-shadow: 0px 6px 8px #727272;
    -webkit-box-shadow: 0px 2px 8px #727272;
}
.border-exa {
    padding-left: 0; 
    padding-right: 0;
}


.exam_footer{
	background-color:#2689b2;
	position:fixed;
	bottom:0px;
        z-index: 2000;
	max-width: 1000px;

}
.contenedor-player{
    height: 100% !important;
    width: 100% !important;
}
#fondoPregunta{
    overflow-y: auto !important;
    overflow-x: hidden !important;
    width: 100% !important;
    height: calc(100% - 45px) !important;
}

/**********************/