.panel_div{
    text-align: left !important;
    font-family: FF-Poppins-Regular !important;
    font-size: 13px !important;
}
div #datos{
    width: 100% !important;
    float: left;
    text-align: left !important;
    display: block !important;
    margin-bottom: 20px;
}
.frameCrucigrama {
    float: right;
    border-collapse: collapse !important;
    display: block !important;
    width:100%;
}	

.listaCrucigramaNormal:nth-child(odd) {
    background-color: rgba(255,255,255,1) !important;
}
#divEstado{
    color: #000 !important;
    font-size: 12px !important;
    font-family: FF-Poppins-Regular !important;    
    text-align: center !important;
    max-width: 320px !important;
}
.panel_div span{
    font-weight: bold !important;
}
.tituloOrientacion{
    font-weight: bold !important;
    text-align: center !important;
    background-color: #fff !important;
}
@media screen and (max-width: 900px) {
    
    #listaHorizontal_div{
        width: 49% !important;
        float: left !important;
    }
    #listaVertical_div{
        width: 49% !important;
        float: right !important;
    }
}
@media screen and (max-width: 515px) {
    #listaHorizontal_div{
        width: 100% !important;
        float: none !important;
    }
    #listaVertical_div{
        width: 100% !important;
        float: none !important;
    }
}
div#crucigrama_div{
    display: inline-block !important;
}
.celdasCrucigrama {	
    background-color: #FFFFFF !important;
} 
.miCrucigrama {
    /*border-collapse: collapse !important;*/
    border-collapse: none;
}
.enEstadoOcupado {
    text-align: left !important;
    font-family: FF-Poppins-Regular !important;    
    font-size: medium !important;
    color: #0000FF !important;
}
.enEstadoErroneo {
    text-align: left !important;
    font-family: FF-Poppins-Regular !important;
    font-size: medium !important;
    color: #FF0000 !important;
}			

.accionesMenu {		
    padding: 8px !important;
    color: #000000 !important;
    background-color: #dae5ff !important;
    font-size: medium !important;
    border: solid 1px #b5b5b5 !important;
    border-radius: 4px !important;
    box-shadow: rgba(0,0,0,0.5) 5px 5px 5px !important;
}
.accionesMenuDiseno {
    padding-left: 4px !important;
    padding-right: 4px !important;
    color: #808080 !important;
    background-color: #E0E0E0 !important;
    font-size: medium !important;
    border: solid 1px #808080 !important;
} 	
A.accionesMenu {
    text-decoration: none !important;
}	
A.accionesMenuDiseno {
    text-decoration: none !important;
}		
A.accionesMenu:hover {
    background-color: #6699FF !important;
    border: solid 1px #808080 !important;	
}		
.listaParaCeldasDot {
    background-color: #F7F7FF !important;
    color: #F9F9F9 !important;	
}
.panel_div {
    background-color: #F7F7FF !important;
    padding: -1px !important;
}	
.panelOculto_div {
    width: 2px !important;
    background-color: #FFFFFF !important;
}		
.listaCrucigramaNormal {
	padding: 0px !important;
	color: #737573 !important;
        font-size: 16px;
}
.listaCrucigramaNormal:hover {
    color: #050505 !important;
    background-color: #f8ffc6 !important;
}
.listaSeleccionada {
    padding: 2px !important;
    color: #000000 !important;
    background-color: #999 !important;
}		 
.celdasDeEntrada {
    border: none  !important;
    background-color: transparent !important;
    font-size: 150% !important;
    font-family: FF-Poppins-Regular !important;
    font-weight: bold !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0px 0px 0px 0px !important;    
}
.enCeldasVacias {
    background-color: #000000 !important;
    width: 20px !important;
    height: 20px !important;
}
.enCeldasLlenas{
    border: solid 1px #003366 !important;
    background-color: #FFFFFF !important;
    padding: 4px;
}
.enCeldasReveladas {
    background-color: #FFC0C0 !important;
}
.enCeldasAdivinadas {
    border: solid 1px #003366 !important;
    background-color: #C0FFC0 !important;
    padding: 4px;
}
.enCeldasErroneas {
    border: solid 1px #003366 !important;
    color: #CC0000 !important;    
    color: #C0FFC0 !important;    
    
    padding: 4px;
}
input[type="text"]{
    border: none !important;
}
#elementoEntrada8_1 .inputtext:focus{
    outline:0px;
    border: none !important;
}
