/* 
    Created on : 6/08/2015, 10:20:17 AM
    Author     : jpgomez
*/
/* Aqui controlamos los estilos de la pregunta, forzando a que siempre tenga el mismo tamaño, fuente y color entre otras */
@font-face {
    font-family: 'poppinsmedium';
    src: url('../../../../assets/fonts/poppins-medium-webfont.eot');
    src: url('../../../../assets/fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../assets/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../../../../assets/fonts/poppins-medium-webfont.woff') format('woff'),
         url('../../../../assets/fonts/poppins-medium-webfont.ttf') format('truetype'),
         url('../../../../assets/fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.preguntaTit div div p span span, .preguntaTit div div p span span span, .preguntaTit div p, .preguntaTit p, .preguntaTit div, #preguntaTexto table tr td, #preguntaTexto ul{
    font-family: "poppinsmedium";
    font-size: 20px;
    color: #575756;
    margin-bottom:-20px;    
    text-align: justify;
    font-weight: bold;
}

.preguntaTit div h1{
    font-family: "poppinsmedium";
    font-size: 36px;
    color: #575756;
    margin-bottom:-20px;    
    text-align: justify;
    font-weight: bold;
}

.preguntaTit ol{
    font-size: 28px !important;
}

.ac-custom label {
    display: inline-block;
    position: relative;
    font-size: 28px !important;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: #395675; /*color: #2689b2;*/
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color:#395675;
} 

.preguntaRelaciona{
    color: #395675;  /*color: #2689b2;*/
    /*cursor: pointer;*/
    font-size: 20px;
    position: relative;
    margin-bottom: 14px;
}

#espaciosDeCartas{
    color: #395675;  /*color: #2689b2;*/
    /*cursor: pointer;*/
    font-size: 20px;
    text-align: left;
}

.ui-draggable p {
    font-family: 'poppinsmedium';
    font-weight: normal;
    font-size: 20px;
    text-align: center;    
    padding: 1px 2.1% 1px 0%;
    white-space: nowrap;
    height: 40%;
}

 .texto-respuesta p{
    font-family: inherit;
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0rem;
    padding-top: 5px;
    color: #395675;  /*color: #2689b2;*/
 }
 
#pilaDeCartasExtra div {
    background: #E0F1E9;
    border-color: #E0F1E9;
    color: #E0F1E9;
    text-shadow: 0 0 3px #000;

    font-size: 28px;
    border: 1px solid;
    
    float: left;
    width: 20%;
    
    min-width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    text-align: center;
    
    height: 44px;
    /*
    //height: 57px;//Altura fija de la caja superior verde
    //margin: 0.4% ;//espacio horizontal y lateral entre botones superiores verdes
    //Propiedades de las cajas superiores verdes
    //min-width: 200px;//Se indica la anchura mínima de las cajas superiores verdes para evitar que el texto se desborde
    //height: 45px;
    //width: 20%;//Ancho en porcenta de las cajas superiores 
    */
}
#pilaDeCartas div {
    background: #38b29f;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-size: 28px;
    float: left;
    width: 20%;
    min-width: 200px;
    margin: 2px 2px 2px 2px;
    text-align: center;
    height: 44px;  
}
#ir-examenes{
    font-family: 'poppinsmedium';
    background: #f2f2f2;
    border: none;
    border-radius: 0px;
}