@charset "UTF-8";
/* CSS Document */
iframe, object, embed {
            max-width: 100%;
        }    

#ss_header{
	width:auto;
	height:38px;
	background-color:#a4cde9;
	}

.spacer-subscripcion{
	height:24px;
	}
.spacer48{
	height:48px;
	}
.spacer8{
	height:8px;
		}
.titulo_negrita{
	font-family:"Century Gothic";
	font-size:14px;
	font-weight:bold;
	color:#4c4c4c;
	}
.tit_contacto{
	background:url(../imgs/tit_contacto.png);
	background-repeat:no-repeat;
	height:30px;
	}
.tit_testimonios{
	background:url(../imgs/tit_testimonios.png);
	background-repeat:no-repeat;
	height:30px;
	}
.tit_faq{
	background:url(../imgs/tit_faq.png);
	background-repeat:no-repeat;
	height:30px;
	}
.tit_recomendaciones{
	background:url(../imgs/tit_recomendaciones.png);
	background-repeat: no-repeat;
	height:45px;
	}
.tit_creditos{
	background:url(../imgs/tit_creditos.png);
	background-repeat:no-repeat;
	height:30px;
	}	
.titulos_suscripcion{
	font-family: "Century Gothic";
	color:#006eb7;
    text-shadow: -5px -5px 5px #aaa;
	/*-webkit-text-stroke: 2px Darkgoldenrod;   */ 
   font-size: 24px;  
}
.tit_pagina{
	font-family:"Century Gothic";
	color:#76bef8;
	font-size:18px;
	text-align:left;
	}
.datos_footer{	
	color:#ffffff;
	text-align:center;
	font-size:12px;
	width:auto;
	height:auto;
	text-align: center;
    padding: 5px 5px 5px 5px;
}

.datos_footer:visited{
	color:#ffffff;
}
.telefono{
	font-family:"Century Gothic";
	color:#4c4c4c;
	font-size:18px;
	text-align:right;
	}
.dato_contacto{
	font-family:"Century Gothic";
	color:#76bef8;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	}
.no-border{
	border: 0px solid #ddd !important;
	}
#toTop
{
	width: 100px;
	border: 2px solid #f7f7f7;
	background: #5E94CA;
	text-align: center;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	color: #FFFFFF;
	font-family: Century Gothic;
	font-size: 20px;
	opacity: 0.8;
	filter: alpha(opacity=60);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 20px;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
	padding: 5px;
}
#toTop:hover
{
	background: #41678d;
	border: 2px solid #b3b3b3;
}
.ca_banner {
z-index: 16777270;
width: 100%!important;
text-align: center;
left: 0;
right: 0;
float: none!important;
text-shadow: none;
}


#ca{

	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.ce{
    vertical-align: top center;
    display: inline-block;
	background-color: toato;
	width: 30%;
	height: 30%;
	/*margin-left: 25%;*/
	margin-right: 0 auto;
	border-radius: 5px;
	float: right;
	margin-top: 4px;
}
.cu{
    vertical-align: top center;
    background-color: tomao;
	width: 30%;
	margin-right: 0 auto;
	float: left;
	margin-top: 4px;
}
/*tooltip para header*/

  a.tooltipss {outline:none;text-decoration:none;}
    a.tooltipss strong {line-height:30px;}
    a.tooltipss > span 
    {
	    padding: 10px 5px;
	    margin-top: 20px;
	    margin-left: -85px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    font-family: Arial;
	    font-size: 12px;
	    font-style: normal;  
        	    
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;
	    
	    
        -webkit-box-shadow: 2px 2px 2px #999;
	    -moz-box-shadow: 2px 2px 2px #999;		
	    box-shadow: 2px 2px 2px #999;	    
	    
	    -webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    }
    
    /*a.tooltip > span:hover,*/
	a.tooltipss:hover > span
	{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		overflow: visible;
		margin-top:50px;
		display: inline;
		margin-left: -60px;		
	}

	a.tooltipss span b {
    
		width: 15px;
		height: 15px;
		margin-left: 20px;
		margin-top: -19px;
			
		display: block;
		position: absolute;

		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
			
		-webkit-box-shadow: inset -1px 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		-o-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
			
		display: none;		
	}
    
a.tooltipss > span {
	color: #ffffff; 

	background: #2f82d8;
	
	border: 1px solid #ffffff;	
	font-style: italic;    
}    
	  
a.tooltipss span b {
	background: #2f82d8;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}    


