body{
    counter-reset: section;
}
#progressBar{
    position: absolute;
    bottom: 5px; left: 50%;
    height: 35px;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;
}
#progressBar .mark{
    width: 35px; height: 35px; 
    display: inline-block;
    border-radius: 50%;
    background-color: silver;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.35);
    transition-property: background;
    transition-duration: 0.15s;
    transition-delay: 0.35s;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-delay: 0.35s;
}
#progressBar .mark.unsolved{
    background-color: #E5E7E9  !important;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.25);
}
#progressBar .mark .num{
    margin: 3px; padding: 0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
    color: #A6ACAF;
    font-weight: bold;
    background-color: #E5E7E9;
    text-align: center;
    line-height: 30px;
    position: relative;
    transition-property: background, color;
    transition-duration: 0.15s;
    transition-delay: 0.35s;
    -webkit-transition-property: background, color;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-delay: 0.35s;
}
#progressBar .mark.current .num{
    background-color: white;
    color: dimgrey;
}
#progressBar .mark.solved .num{
    background-color: transparent;
    color: white;
}
#progressBar .mark .bar{
    width: 0px;
    height: 15px;
    margin: 0; padding: 0;
    border: 0; background-color: silver;
    position: absolute;
    top: 50%; left: 20px;
    transform: translateY(-50%);
    transition: width 0.65s;
    -webkit-transition: width 0.65s;
}
#progressBar .mark.solved .bar{
    width: 50px;
}