#contenidoActividad{
    cursor: pointer;
}
#contenidoActividad *{
    pointer-events: none !important;
}
#nextWord, #lastWord, #preguntasActividad *, #crucigrama *{
    pointer-events: all !important;
}
/*arrastra cntenedor/corta*/
.contenedor .respuestaDrag{
    position: absolute !important;
    max-width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    width: 100%;
}
.contenedor .respuestaDrag *{
    color: magenta !important;
    max-width: 100%;
}
.contenedor .respuestaDrag fraction *, .contenedor .respuestaDrag .fraction *{
    border-color: magenta !important;
}

/*relaciona lineas*/
.circle{
    border-color: magenta !important;
    background: magenta !important;
}
line{
    stroke: magenta !important;
}

/*Listas desplegables*/
.optionSolved{
    opacity: 1 !important;
    visibility: visible !important;
    color: magenta !important;
}
.dropList{
    box-shadow: 0 0 2px 1px rgba(255,0,255, 0.4) !important;
}

/*opcion multiple*/
.OMSolved .eventoClick{
    width: calc(100% - 10px);
    border-left: 10px solid magenta;
    background: rgba(255,0,255, 0.6);
    transition: none !important;
    -webkit-transition: none !important;
}
.OMSolved .inciso{
    background: Magenta;
}
.OMSolved fraction *, .OMSolved .fraction *{
    border-color: white !important;
}
.OMSolved *{
    color: white;
}
.OMSolved img{
    opacity: 0.8;
}

/*respuesta multiple con imagen de fondo*/
.RMFSolved{
    opacity: 1 !important;
    border-color: magenta !important;
    background-color: rgba(255,0,255, 0.65) !important;
    background-image: url('../img/opcion_multiple_palomita.png') !important;
    background-size: 80% 80% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/*sopa de letras*/
.colocado{
    background: magenta !important;
}

/*matriz*/
.checkSolved{
    background-color: magenta !important;
    background-image: url('../img/opcion_multiple_palomita.png') !important;
    background-size: 80% 80% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/*crucigrama*/
.cell input{
    color: magenta !important;
}

/*arratra etiqueta / a imagen*/
.contenedor .etiqueta{
    top:0;
    left:0;
    margin:0;
}

/*arrastra respuesta individual multiple*/
.xCount{
    float: right;
    margin-right: 20px;
    font-size: 22px;
    color: magenta;
    font-weight: bold;
}
/*estilos para pregunta abierta*/
textarea.area{
    border-color: magenta !important;
    color: magenta !important;
}
#scroll{ display: none !important; }