#contenidoActividad{
    overflow: hidden !important;
}
#contenido{
    margin-top: 5px;
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    top:0; left: 0;
    overflow: hidden;
    transition: left 1s, padding 0.35s;
    -webkit-transition: left 1s, padding 0.35s;
}
#contenido.incisos{
    text-align: center;
}
#contenido img{
    vertical-align: middle;
}
#contenido.incisos img{
    display: block;
    margin: 0 auto;
}
#respuestas{
    width: calc(100% - 10px);
    height: auto;
    min-height: 40px;
    background: white;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
    overflow: auto;
    overflow-y: hidden;
    margin: 0;
}
.respuestaDrag{
    overflow: hidden;
    width: auto;
    max-width: 400px;
    min-width: 20px;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #38b29f;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
}
.respuestaDrag img{
    vertical-align: middle;
}
.respuestaDrag.lock{
    position: absolute;
    background: white;
    color: black;
}
.pseudo{
    opacity: 0;
    display: inline-block;
    width: auto; height: 40px;
    vertical-align: bottom;
    transform: translateX(100%);
}
.contenedor{
    border: 2px solid silver;
    border-radius: 7px;
    display: inline-block;
    vertical-align: middle;
    background: white;
    position: relative;
}
/*barra de scroll*/
#scroll{
    width: 100px;
    height: 45px;
    min-width: 100px;
    max-width: 90%;
    display: block;
    margin: 0px auto;
    outline: none;
    margin-bottom: 5px;
    cursor: pointer;
    transition: width 0.35s;
}
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  box-shadow: 0px 0px 0px #000000;
  background: silver;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid grey;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: white;
  -webkit-appearance: none;
  transform: translateY(-50%);
  position: relative; top:50%;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: silver;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  box-shadow: 0px 0px 0px silver;
  background: silver;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid grey;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: white;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: silver;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: silver;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid grey;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: white;
}
input[type=range]:focus::-ms-fill-lower {
  background: silver;
}
input[type=range]:focus::-ms-fill-upper {
  background: silver;
}
.actividadEvaluacion #contenido{
    overflow-x: hidden;
    overflow-y: auto;
}
.actividadEvaluacion #respuestas{
    border-top: solid 1px silver;
}