#contenedor{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}
#fondoPregunta{
    width: 70%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    background-image: none;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    background-position: center;
}
#respuestas{
    width: 30%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    position: relative;
    z-index: 2;
    overflow: visible;
    text-align: center;
}
.respuestaDrag{
    display: inline-block;
    min-height: 10px;
    min-width: 10px;
    max-width: 90%;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: -4px 4px 8px rgba(0,0,0, 0.4);
    background-color: white;
    overflow: hidden;
    margin: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.respuestaDrag>p{
    margin: auto;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    position: absolute;
    overflow: hidden;
    border: solid 1px;
}
.contenedor .respuestaDrag{
    max-height: 100% !important;
    max-width: 100% !important;
}
.respuestaDrag.block{
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
.respuestaDrag img{
    display: block;
}