svg{
    width: 100%; height: 100%;
    pointer-events: none;
    overflow: visible;
    position: absolute;
    top: 0; left: 0;
    z-index: 60;
}
.col.top{
    width: 50%; height: 100%;
    display: inline-block;
    vertical-align: top;
}
/*estilos para las columnas*/
.col.child{
    cursor: pointer;
    max-width: calc(100% - 100px);
    width: calc(100% - 100px);
    min-height: 50px;
    display: block;
    position: relative;
    margin: 10px 5px;
    background: #a4cd6d;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    display: flex;
    align-content: center;
    z-index: 50;
}
.col.child.right{
    margin-right: 5px;
    margin-left: auto;
    background: #2f83c0;
}
.col.child .circle{
    display: block; margin: 0;
    width: 42px; height: 42px;
    border: solid 4px #ffb55d;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    transition-duration: 0.35s;
    transition-property: background, border-color;
    transition-delay: 0.15s;
}
.col.child.right .circle{
    right: calc(100% + 10px);
}
.col.child.left .circle{
    left: calc(100% + 10px);
}
.col.child p{
    padding: 5px;
    margin: auto;
}
/*Estilos para las lineas*/
svg line{
    fill-opacity: 1;
    stroke-opacity: 1;
    stroke-width: 8;
    stroke: #0066FF;
    -webkit-transition: fill-opacity 0.35s, stroke-opacity 0.35s;
    transition: fill-opacity 0.35s, stroke-opacity 0.35s;
}
svg line.fadeOut{
    fill-opacity: 0;
    stroke-opacity: 0;
}
.col.child.onSelection{
    z-index: 0;
}
.col.child.onSelection .circle{
    border-color: #0066FF;
    background: #0066FF;
    transition: none !important;
}
/*estilosIncorrecta*/
svg line.wrongLine{
    stroke: #e1385a;
}
.col.child.wrongLine .circle{
    border-color: #e1385a;
    background: #e1385a;
    transition: none !important;
}
/*estilos correcta*/
svg line.correctLine{
    stroke: #A4CD6D !important;
}
.col.child.correctLine .circle{
    transition: none !important;
    border-color: #A4CD6D !important;
    background: #A4CD6D !important;
}

/*//elemento arrastrable, permite scroll al relacionar lineas*/
.col.child .handler{
    width: calc(100% + 60px);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    background: none;
}
.col.child.right .handler{
    left: -60px;
}
.col.child.left .handler{
    right: -60px;
}

/*estilos evaluacion*/
.actividadEvaluacion svg line.correctLine{
    stroke: #27a2ce !important;
}
.actividadEvaluacion .col.child.correctLine .circle{
    transition: none !important;
    border-color: #27a2ce !important;
    background: #27a2ce !important;
}