#contenedores{     
    width: 100%;
    display: inline-block;
    height: calc(100% - 115px);
    text-align: center;
}
#respuestas{
    width: 100%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
    color: #373737
        !important;
    position: absolute;
    bottom: 0px; left: 0;
}
.contenedor{
    background-color: #FFF;
    position: relative;
    width: 100%;
    background: #FFF;
    text-align: center;
}
.encabezado{
    height: 60px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.encabezado .textos{
    background: #816DBB;
}
#contenidoActividad table{
    width: calc(100% - 10px);
    max-height: calc(100% - 100px);
    margin: 5px;
    border-spacing: 4px;
    background: #f2f2f2;
}
#contenidoActividad table img{
    display: block;
    margin: 0 auto;
}
.respuestaDrag{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 384px;
    align-content: center;
    margin-top: 5px;
    background: #FFF;
    border: 1px solid #C9C9C9;
    cursor: pointer;
    text-align: center;
}
.respuestaDrag p{
    padding: 0;
    margin: auto;
    width: calc(100% - 10px);
    height: 100%;
    padding: 0 5px;
    white-space: normal;
    line-height: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorOcupado{
    margin: 0 auto;
    position: relative;
    align-content: center;
}
.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    transition: none !important;
    -webkit-transition: none !important;
}
.correctAnswer{
    color: #373737;
    border-color: transparent !important;
}
.textoFilas{
    width: 25%;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.mostrar>div{
    margin-left: 15px;
    line-height: 20px;
    font-size: 20px;
    color: #00B07F;
}