#contenidoActividad{
    text-align: center;
}
#contenedores{     
    display: inline-block;
    width: calc(100% - 10px);
    margin: 5px;
    max-height: calc(100% - 115px);
    text-align: center;
    background: #f8b559;
    padding: 2px;
}
#respuestas{
    width: 100%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
    color: #FFF !important;
    position: absolute;
    bottom: 5px; left: 0;
}
.contenedor{
    background-color: #FFF;
    position: relative;
    background: #FFF;
    min-width: 100px;
    max-width: 300px;
}
.encabezado{
    height: 40px;
    min-height: 40px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
#contenidoActividad table{
    width: 100%;
    border-spacing: 2px;
    margin-right: 4px;
    height: auto;
    display: inline-table;
    vertical-align: top;
}
.respuestaDrag{
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.respuestaDrag p{
    width: calc(100% - 10px);
    margin: auto;
    white-space: normal;
    line-height: 22px;
    font-size: 20px;
    padding: 4px;
}
.respuestaDrag img{
    display: block;
    margin: 0 auto;
}
.ui-state-highlight{
    background-color: #fffa90 !important;
}
.contenedorOcupado{
    margin: 0 auto;
    position: relative;
    align-content: center;
}
.respuestaAcertada{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: none !important;
    -webkit-transition: none !important;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75);
}
.correctAnswer{
    color: #FFF;
    text-align: left;
    text-align: center;
}
.textoFilas{
    max-width: 250px;
    width: 250px;
    color: #FFF;
    font-size: 20px;
}
.textos{
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    color: white;
    line-height: 27px;
}