@media (max-width: 1690px) {
  	.textInfo{
            font-family: 'Open Sans Condensed', sans-serif;
            padding: 8px;
            font-size:1.2em;
	}
	
	
}
@media (min-width:1690px){
  	.textInfo{
            font-family: 'Open Sans Condensed', sans-serif;
         padding: 8px;
		 font-size:1.5em;
	}
	
}

/*mediaQuery para resoluciones de 1024 (iPad) hacia abajo*/
 @media (max-width: 1024px) {
  	
        .separador{
            border-bottom: 3px dotted #ddd;
            width:924px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px !important;
            }
        .background-evaluaciones {
            background-image: url("../../img/home/evaluaciones.jpg");
            height: 322px;
            width: 1002px;
            background-repeat: no-repeat;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
         }
         .padding-logo{
            padding-left: 200px;
        }
         .triangulo-equilatero-colegio {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #006da7;
            border-top: 10px solid #006da7;
            margin-left: 82px;
          }
          .margen-arriba-logo{
            margin-top: 16px;
          }
          .triangulo-equilatero-alumno {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #00557d9;
            border-top: 10px solid #00557d;
            margin-left: 112px;
        }
        .triangulo-equilatero-padre {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #904196;
            border-top: 10px solid #904196;
            margin-left: 311px;
        }
        .triangulo-equilatero-autor {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #0ffa800;
            border-top: 10px solid #ffa800;
            margin-left: 472px;
        }
        .triangulo-equilatero-profesor {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #91c40a9;
            border-top: 10px solid #91c40a;
            margin-left: 639px;
        }
        .triangulo-equilatero-psicopedagogia {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #009869;
            border-top: 10px solid #009869;
            margin-left: 844px;
        }

        
        
        

	
	
}
/*Esto se aplica a pantallas mayores de 1024 pixeles.*/

  @media (min-width: 1024px) {
  	.margen-logo {
            margin-left: 0px; 
            margin-right:0px;
        }
        .separador {
            border-bottom: 3px dotted #ddd;
            width:  1102px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        .background-evaluaciones{
            background-image: url("../../img/home/evaluaciones.jpg");
            height: 322px;
            width: 1040px;
            background-repeat: no-repeat;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
        .triangulo-equilatero-colegio {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #006da7;
            border-top: 10px solid #006da7;
            margin-left:56px;
        }
        .triangulo-equilatero-alumno {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #00557d9;
            border-top: 10px solid #00557d;
            margin-left: 116px;
        }
        .triangulo-equilatero-padre {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #904196;
            border-top: 10px solid #904196;
            margin-left: 336px;
        }
        .triangulo-equilatero-autor {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #0ffa800;
            border-top: 10px solid #ffa800;
            margin-left: 504px;
        }
        .triangulo-equilatero-profesor {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #91c40a9;
            border-top: 10px solid #91c40a;
            margin-left: 672px;
        }
        .triangulo-equilatero-psicopedagogia {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #009869;
            border-top: 10px solid #009869;
            margin-left: 890px;
        }

        .ocultar-menu{
            display: none!important;

        } 
        .separador-lateral{
        border-top: 0px solid #ddd;
        border-right: 0px dotted #ddd;
        border-bottom: 0px solid #ddd;
        border-left: 3px dotted #ddd;
}
}

/*mediaQuery para resoluciones de 480 (celulares) hacia abajo*/
 @media (max-width: 480px) {
  	.margen-logo {
            margin-left: 0px; 
            margin-right:0px;
        }
        .separador{
            border-bottom: 3px dotted #ddd;
            width:385px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px !important;
            }
        .background-evaluaciones {
            background-image: url("../../img/home/evaluaciones.jpg");
            height: 322px;
            width: 400px;
            background-repeat: no-repeat;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
         }
        .margin-top-36 {
            margin-top: 30px !important;
          }
        .padding-logo{
            padding-left: 0px;
        }
        .triangulo-equilatero-colegio {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 0px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 0px solid #006da7;
            border-top: 10px solid #006da7;
            margin-left: 82px;
          }
        .ocultar-menu{
             display: inherit !important; 
          } 
        .separador-lateral {
                border-top: 0px solid #ddd;
                border-right: 0px dotted #ddd;
                border-bottom: 0px solid #ddd;
                border-left: 0px solid #ddd;
            }
         .texto-justificado{
                  text-align: justify;
            }
    	
}
 @media (min-width: 40.063em){
    .reveal-modal.tiny, dialog.tiny {
    width: 30%;
    max-width: 62.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    }   
}
 @media (max-width: 1024px){
    .reveal-modal.tiny, dialog.tiny {
    width: 60%;
    max-width: 62.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    }   
}
 @media (max-width: 645px){
    .reveal-modal.tiny, dialog.tiny {
    width: 90%;
    max-width: 62.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    }   
}
.bg-lines-dl2-bg{background-image:url('../../img/home/lines-dl2-bg.png');}
.margin-top-36 {
            margin-top: 36px;
          }
.orbit-bullets {
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  top: -60px;
  float: none;
  text-align: center;
  display: block;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}

.containerInfo{
	padding:4px;
        height: 291px;
      
}
.container-division{
    height: 98px;
    background-color: #4d4891;
}
.a {
  color: #B5B2B2 !important;
  text-decoration: none;
  line-height: inherit;
}
.marginLogo{
    margin-left: 24px;
    margin-top: 14px;
 }
.padingBtns{
    padding-top: 33px;
    padding-right: 135px;
}

.videoTestimoniales{
    width: 100%;
    max-width: 100%;
    background-image: url("../../img/home/Que.png");
    height: 458px;
    padding: 8px;
    background-size: cover;
}
.hTitle{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #4c4c4c;
}
.hSubtitle{
   font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color:#215e93;
    line-height: 28px;
}
.textResaltar{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #215e93;
    line-height: 28px;
}
.marginP{
   margin-bottom: .25rem;
}  
.textGral{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #4c4c4c;
    padding-right: 8px;
    line-height: 150% !important;
}
.textQuees{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;

}
.hTitleImg{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ffffff;
}
.textGralImg{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    
}
.inputHome{
    height: 60px !important;
    font-family: 'Lato', sans-serif !important;
    background-color: #e4e4e4 !important;
    font-size: 20px !important;
    color: #4c4c4c !important;
    font-weight: 300;
}
.hTitleLogin{
    font-family: 'Lato', sans-serif !important;
    font-size: 36px;
    font-weight: bold;
    color: #4c4c4c;
}
.hTitlePassword{
    font-family: 'Lato', sans-serif !important;
    font-size: 26px !important;
    font-weight:400 !important;
    margin-top: 16px !important;
    color: #4c4c4c !important;
    text-decoration: underline overline  !important;
    text-align: center;
    border-style: none !important;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0)!important;

}
.circleBig {
     width: 88px;
     height: 88px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50% !important;
     border-style: none none;
     background: #4c4c4c;
     color:#ffffff;
     font-family: 'Lato', sans-serif !important;
     font-size: 16px;
     font-weight: normal;
     text-decoration: underline overline ;
     float: none !important;
}   
.circleRedes {
     width: 68px;
     height: 68px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50% !important;
     border-style: none none;
     background: #4c4c4c;
     float: none !important;
     margin-right: 16px;
     
     
}  
.foot{
    color: #ffffff !important;
    font-size: 11px;
   
}
.background-footer{
    background-color: #104666;
        color: #ffffff;
}
.orbit-bullets{
    text-align: center !important;
    padding-top: 22px !important;

}
.menuDecor{
    padding: 14px 14px 11px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #2c2c2c;
    border: 2px solid transparent;
    border-radius: 3px;
}
.menuPattern{
    background-image: url("../../img/home/menuPatern.png");
    height: 110px;
    background-repeat: repeat-x;
    position: fixed;
    z-index: 2;
}
.DivPattern{
    height: auto;
    background-image: url("../../img/home/lines-dl2-bg.png");
    background-repeat: repeat;
    background-size: auto;
}
ul, ol, dl {
    font-size: 1rem ;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    list-style-position: inside !important;
    font-family: inherit;
    list-style-type: square !important;
    text-align: initial !important;
}
.textFooter{
    font-size: 11px;
    line-height: 1.27273;
    font-weight: 400;
    letter-spacing: .005em;
    font-family: 'Lato', sans-serif;
    position: relative;
    z-index: 1;
    
}
.titleFooter{
    text-align: left;
    color:#ffffff;
    font-size: 12px;
    line-height: 1.27273;
    font-weight: 600;
    letter-spacing: .005em;
    font-family: 'Lato', sans-serif;
    margin: 0;
    margin-bottom: 6px;
    margin-top: 12px;
}
.titleInfo{
	padding: 4px;
	font-size:34px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        }
.titleBanner{
	padding: 85px 40px 85px 85px;
	font-size:50px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        }
.titleSubtitulo{
        font-family: 'Lato', sans-serif;
        font-size: 32px;
        color: #4c4c4c;
        padding: 10px; 
        font-weight: bold;
            
        }
.text-beneficios{
       font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #B5B2B2;
        padding: 10px;   
        }
.text-testimoniales{
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #4c4c4c;
        padding: 10px; 
    
}
.nombre-testimonio{
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color:#008bb6;
}
.perfil-testimonio{
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color:#9fb6bd;
}
.text-foot{
       font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #B5B2B2;
        font-weight: bold;   
        }
.spacer{
        height: 4px;    
        }
.spacer-3{
        height: 3px;    
        }
.spacer-20{
        height: 20px;
        }
.spacer-34{
        height: 34px;
        }
.box-height{
        height: 308px;
        }
.margin-top-16{
    margin-top: 16px;
}
.queDE{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #4c4c4c;
    padding: 50px;
    line-height: 150% !important;
}

.descInfo{
        
	
        padding-left: 16px;
        height: 180px;
	
}
.beneInfo{
        text-align: justify;
        padding-left: 16px;
}
.testInfo{
        height: 228px;
        text-align: justify;
        padding-left: 16px;
}
.footInfo{
	
	color:#FFFFFF;
	text-align: right;
	padding:10px 20px;
}

.footInfo a{
	color:#FFFFFF;
}
.footInfo a:hover{
	color:#646464;
}

.font-white{
	color:#FFFFFF;
}

.text-center{
	text-align: center;
}


.orange1{
	background-color:#FD9C5A;
}
.orange2{
	background-color:#FC7F2A;
}

.blue1{
	background-color:#5AB7FA;
}
.blue2{
	background-color:#2A7EFC;
}

.red1{
	background-color:#E98D71;
}
.red2{
	background-color:#FC832A;
}

.videoHome{
	background-color: #5489B0;
	text-align:center;
	
} 

.iframeVideoHome{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height:277px;
	width:98%; 
	margin-top:4px;
}


.green{
	background-color: #54B084; 
}

 .font-orange-title{
 	color:#FE6700;
 }
 .font-orange{
 	color:#FD9C5A;
 }
 .font-purple{
     color:#4d4891;
 }

.btn-sesion{
        width: 130px; 
        height: 44px;
        color: #ffffff !important;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        float: right;
        margin-right: 4%;
        border-radius: 42px;
        padding-top: .4rem;
 }
 .btn-registro{
        width: 130px; 
        height: 44px;
        color: #ffffff !important;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        float: right;
        padding-top: .4rem;
        border-radius: 42px;
 }
 .margen-superior{
     margin-top: 8px;
 }
 .ver-mas{
    text-align: end;
    height: 315px;
    right: 46px;
    top: 266px;
    color: #4c4c4c !important;
    font-size: 12px;
 }
 .bene-slider{
     display:block;
     position:relative;
     max-width:1900px;
     padding-left:0px; 
     padding-right:148px;
     margin:0px auto 0px;
     
 }
.circulo {
     width:42px;
     height: 42px;
     padding: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
  
     margin-right: 8px;
     float: left;
}
 #divMnuSlide{
    position: fixed;
    top: 0;
    z-index: 1;
    background: #ffffff url("../../img/home/header.png")bottom right repeat-x;
    height: 120px;
    background-size: auto 8px;
 }

 .desc-beneficio{
     display: none;
 }
 .top-bar {
    overflow: hidden;
    height: 55px;
    line-height: 45px;
    position: relative;
    background: #ffffff url("../../img/home/header-difuminado.png")bottom right repeat-x !important;
    margin-bottom: 0;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 55px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background: #ffffff url("../../img/home/header-difuminado.png")bottom right repeat-x !important;
}
.top-bar-section ul li>a {
    display: block;
    width: 100%;
    color: #2f2c2c;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 0.9125rem;
    font-weight: normal;
    text-transform: none;
}
.top-bar-section ul li>a:hover {
    display: block;
    width: 100%;
    color: #2f2c2c !important;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 0.9125rem;
    font-weight: normal;
    text-transform: none;
}
.top-bar-section ul li {
    background: #ffffff url("../../img/home/header-difuminado.png")bottom right repeat-x !important;
}
.top-bar.expanded .title-area {
    background: #ffffff url("../../img/home/header-difuminado.png")bottom right repeat-x !important;
     box-shadow: 0px 0px 0px 1px #9c9b9;
}
.top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 33px;
    padding: 0 40px 0 15px;
    color: #333333 !important;
    position: relative;
.top-bar .toggle-topbar.menu-icon a span::after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    margin-top: -8px;
    right: 15px;
    box-shadow: 0 0px 0 1px #333333, 0 7px 0 1px #333333, 0 14px 0 1px #333333 !important;
    width: 16px;
}

.hr-dash{
    border: 1px dashed #B5B2B2;
    height: 0; 
    width: 100%;
    text-align: center;
}