<div class="row">
    <div class="large-6 small-12 columns">
        <h3 class="titulo_gral">Mi agenda</h3>
    </div>
    <div class="large-12 small-12 columns" style="box-sizing: inherit;">
        <form class="" id="frmFiltros">
            <div id="divFormFiltros" style="margin-top: 10px;margin-bottom:5px;">
              <span data-tooltip="" aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top text_date" data-selector="tooltip-iasozow50" aria-describedby="tooltip-iasozow50" title="Seleciona un grupo" >Grupo</span>                  
                <select id="selGrupo" name="selGrupo" required class="select_date">         
                    <option value="-1"  ><?php echo $this->translate("Seleccionar Grupo");?></option> 
                        <?php 
                        if( $this->grupos  ){
                            foreach ($this->grupos as $_grupo){
                                echo '<option value="'.$_grupo['id'].'">'.$_grupo['name'].'</option>';
                                                                
                            }
                        }
                        ?>
                </select>
                  
                <span data-tooltip="" aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top text_date" data-selector="tooltip-iasozow50" aria-describedby="tooltip-iasozow50" title="Seleciona un examen" >Examen</span>
                <select id="selExamen" name="selExamen" required class="select_date">
                    <option value="-1" ><?php echo $this->translate("Seleccionar Examen");?></option> 
                </select>
            </div> 
            <div style="padding-left: 40px;" id="errorGrupo" ></div> 
        </form>
      <div class="row">
          <div id='calendar'></div>
        <div id="event_edit_container">             
            <form class=""  id="frmEventos"> <span data-tooltip="" aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top text_date" data-selector="tooltip-iasozow50" aria-describedby="tooltip-iasozow50" title="Seleciona un examen" >Examen</span>               
                <input type="hidden" name="id"  disabled="disabled" > 
                <ul>                     
                    <li><span>Fecha: </span><span class="date_holder"></span></li>
                    <li><label for="start">Hora de Inicio: </label>
                        <!--<input type="text" name="start" id="start">-->
                        
                        <select name="start" id="start">
                            <option value="">Select Start Time</option>
                        </select>
                        
                    </li>
                    <li><label for="end">Hora de Finalización: </label>
                        <!--<input type="text" name="start" id="end">-->
                        
                        <select name="end" id="end">
                            <option value="">Select End Time</option>
                        </select>
                        
                    </li>
                    <li>
                        <input type="checkbox" name="multiples-dias" id="multiples-dias">
                        <label for="multiples-dias"><span >Actividad por días</span></label>                             
                    </li>
                    <li class="fechas"><label>Fecha de Inicio: </label>
                        <input type="text" id="dateStart" name="dateStart">
                    </li>                       
                    <li class="fechas"><label>Fecha de Finalización</label>
                        <input type="text" id="dateEnd" name="dateEnd">
                    </li>
                    <li id="cont-grupos"><label for="title" >Grupos: </label>
                        <select id="selGrupoForm" name="title">
                            <option value="-1">
                                <?php echo $this->translate("Seleccionar Grupo");?>
                            </option> 
                                <?php 
                                if($this->grupos){
                                    foreach ($this->grupos as $_grupo){
                                        echo '<option  value="'.$_grupo['id'].'">'.$_grupo['name'].'</option>';
                                    }
                                }
                                ?>
                        </select>
                        <div id="errorGrupoEvent"style="margin-bottom: 7px; margin-left: 0px;"></div>
                    </li>
                    <li id="texto-grupos"></li>
                    <li id="cont-examenes"><label for="examen">Examenes: </label>
                        <select id="selExamenForm" name="examen">
                            <option value="-1"><?php echo $this->translate("Seleccionar Examen");?></option> 
                        </select>
                        <div id="errorExamenEvent" style="margin-bottom: 7px; margin-left: 0px;" ></div>
                    </li>                    
                    <li id="texto-examenes" ></li>
                    <li>
                        <label for="body">Descripción: </label> 
                        <textarea name="body" id="body"></textarea>
                        <div id="errorDescripcionEvent" style="margin-bottom: 7px; margin-left: 0px;" ></div>
                    </li>
                </ul>
            </form>
        </div>
      </div>
        
        <input style="display: none" type="hiden" id="idagenda"/>
        
        <div id="modalExamen" class="" style="display: none">  
            <h1>El examen ya se encuentra agendado en este periodo con las siguientes fechas: </h1>
            <table align="center">
                <thead>
                    <tr>
                    <th>Hora y fecha  de Inicio</th>
                    <th>Hora y fecha de Final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dateInicioAnterior"></td>
                        <td class="dateFinalAnterior"></td>
                    </tr>
                </tbody>
            </table>
            <h1>Las fechas por las cuales se cambiarán son las siguientes: </h1>
            <table align="center">
                <thead>
                    <tr>
                    <th>Hora y fecha de Inicio</th>
                    <th>Hora y fecha de Final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dateInicioActual"></td>    
                        <td class="dateFinalActual"></td>    
                    </tr>
                </tbody>
            </table>
            <h1>¿Deseas modificar las fechas del examen?</h1>
        </div>
    </div>
</div>
<input type="hidden" value="<?php echo $this->url ( 'agenda', array ( 'action' => "agregareventoajax"  ) )?>" id="urlCreaEvento">
<input type="hidden" value="<?php echo $this->url ( 'agenda', array ( 'action' => "agenda" ) )?>" id="agenda">
<input type="hidden" value="<?php echo $this->url ( 'agenda', array ( 'action' => "obtenerexamenesajax"  ) )?>" id="urlObtenerExamen">

<script type="text/javascript">
    var agenda=<?php echo $this->agenda?>
</script>


    
    <?php

$this->headLink ()->prependStylesheet ( $this->basePath () . '/css/agenda/agenda.css' )
        ->prependStylesheet ( $this->basePath () . '/css/agenda/default.css' )
        ->prependStylesheet ( $this->basePath () . '/css/agenda/jquery.weekcalendar.css' )
        ->prependStylesheet ( $this->basePath () . '/css/agenda/reset.css')
        ->prependStylesheet ( $this->basePath () . '/css/agenda/jquery.datetimepicker.css');



$this->headScript ()
        ->prependFile ( $this->basePath() .'/js/validate/jquery.validate.js')
        ->prependFile ( $this->basePath() .'/js/agenda/jquery.datetimepicker.js')
        ->prependFile ( $this->basePath() .'/js/jquery-ui-datepicker-es.js')
        ->prependFile ( $this->basePath() .'/js/foundation-datepicker.js')
        ->prependFile ( $this->basePath () . '/js/agenda/agenda.js' )
        ->prependFile ( $this->basePath () . '/js/agenda/jquery.weekcalendar.js' )
        ->prependFile ( $this->basePath () . '/js/agenda/date.js' )
        ;

?>