/*//custom scrollbar*/
::-webkit-scrollbar {
    display: none;
}
/*Estilos generales*/
#modal{
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    opacity: 1; visibility: visible;
    background: rgba(255,255,255, 0.35);
    transition: visibility 0.35s, opacity 0.35s, background 0.35s;
    -webkit-transition: visibility 0.35s, opacity 0.35s, background 0.35s;
}
#trofeo{
    width: 0px; height: 0px;
    pointer-events: all !important;
    border-radius: 50%;
    opacity: 0;
    font-size: 50px;
    line-height: 275px;
    color: dimgrey;
    text-align: center;
    font-weight: bold;
    background-image: url(../img/trofeo.png);
    background-size: 100% 100%;
    position: absolute;
    top: 50%; right: 50%;
    transform: translateX(50%) translateY(-50%);
    box-shadow: 4px 6px 12px rgba(0,0,0, 0.5);
    transition: opacity 0.4s, width 0.4s, height 0.4s, top 0.5s, right 0.5s, color 0.5s;
    -webkit-transition: opacity 0.4s, width 0.4s, height 0.4s, top 0.5s, right 0.5s, color 0.5s;
}
#trofeo:after, #trofeo:before{
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
    -webkit-: opacity 0.5s, visibility 0.5s;
}
#trofeo:before{
    content: attr(top);
    top: -30px;
}
#trofeo:after{
    content: attr(bottom);
    bottom: -40px;
}
#trofeo.hideText{
    color: transparent;
}
#trofeo.hideText:after, #trofeo.hideText:before{
    opacity: 0; visibility: hidden;
}
.test #trofeo, .test #estadisticas{
    display: none;
    font-size: 20px !important;
}
#reload{
    border-radius: 50%;
    box-shadow: 4px 6px 12px rgba(0,0,0, 0.5);
    width: 60px; height: 60px;
    position: absolute;
    top: 5px; right: 10px;
    opacity: 1;
    transform: scale(1,1);
    pointer-events: all !important;
    cursor: pointer;
    transition: opacity 0.15s, transform 0.15s;
    -webkit-transition: opacity 0.15s, transform 0.15s;
}
body>#reload{
    width: 45px; height: 45px;
}
.menu.textFinaliza{
    margin: 0; padding: 0;
    font-size: 20px;
    color: dimgrey;
    opacity: 1; visibility: visible;
    transition-duration: 1s;
    transition-delay: 0.75s;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0.75s;
}
.hidden{
    opacity: 0 !important; visibility: hidden !important;
}
.noHeight{
    overflow: hidden !important;
    height: 0px !important;
    min-height: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.noWidth{
    overflow: hidden !important;
    width: 0px !important;
    min-width: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#contenidoActividad{
    width: 100%; height: 100%;
    position: relative; left: 0px;
    z-index: 0;
    overflow: hidden;
}
/*//pregunta de la actividad*/
#preguntaActividad{
    overflow: hidden;
    margin-left: 85px;
    margin-bottom: 15px;
    min-height: 40px;
    font-family: FF-Poppins-Regular;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    width: calc(100% - 100px);
    overflow: visible;
    position: relative;
}
#cuestionMarker{
    background: rgb(239, 125, 0);
    width: 20px; height: 20px;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    left: -35px; top: 0;
}
#preguntaActividad>div>*{
    vertical-align: middle;
}
.lock{
    pointer-events: none !important;
}
/*fix sub/sup  tags*/
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 15px !important;
}
sub { 
  top: 0.5em; 
}
/*Estilos para fracciones*/
.fraction, fraction{
    padding: 5px 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.fraction.black *, fraction.black *{
    color: black !important;
    border-color: black !important;
}
.fraction>*:last-child, fraction>*:last-child{
    border-top: 1px solid white;
    display: block;
    padding-top: 4px;
    font-size: 18px !important;
    line-height: 18px !important;
}
.fraction>*:first-child, fraction>*:first-child{
    display: block;
    font-size:18px !important;
    line-height:18px !important;
}
/*añade estilos para tablas*/
.table{
    margin: 0 auto;
    background: #3D6F9C;
    border-spacing: 2px;
    height: 10%;
    max-height: 100%;
    max-width: 100%;
    line-height: 22px;
}
.table td{
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.table tr:nth-child(1)>td{
    background-color:#3d85c6 !important;
    color:white !important;
    font-weight: bold;
    font-size: 20px;
    text-align:center !important;
}
.table tr>td{
    background-color: white;
    color:black;
    font-size:18px;
    text-align:center;
}
.table tr:nth-child(2n+0)>td{
    background-color:#cfe2f3;
    color:black;
    font-size:18px;
    text-align:center;
}
.table img{
    display: block;
    width: auto;
    height: auto;
    padding: 2px;
    max-height: calc(100% - 4px);
    max-width: calc(100% - 4px);
}
.table .contenedor{
    margin: 5px;
}
/*arrastra contenedor/corta*/
#contenedores .columna{
    position: relative;
}
#contenedores .columna, .contenedor{
    z-index: 0;
}
#contenedores .columna td{
    padding: 0;
}
.onDrag{
    z-index: 100 !important;
}
.prevHIdden{/*oculta los elementos hasta que se carguen totalmente*/
    opacity: 0 !important;
}
.respuestaDrag{
    z-index: 0;
    position: relative;
    top: 0; left: 0;
    cursor: pointer;
}
.respuestaDrag.correctAnswer{
    box-shadow: none;
    margin: 0 !important;
}
.respuestaDrag.noVisible{
    opacity: 0;
    transition: 0.5s !important;
    -webkit-transition: 0.5s !important;
}
.contenedor.ui-state-highlight{
    background-color: #fffa90 !important;
    box-shadow: inset 0 0 6px rgba(253, 156, 90, 0.75) !important;
}
.resph{
    opacity: 0 !important;
    visibility: hidden !important;
}