/*Estilos generales*/
body, html{
    height: 100% !important;
    width: 920px !important;
    max-width: 920px;
}
#contenidoActividad.actividadEvaluacion{
    height: calc(100% - 55px);
    margin: 0;
    margin-top: 50px;
    margin-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.actividadEvaluacion #cuestionMarker{
    background: #fd9c5a !important;
    margin-top: 2px !important;
}
.actividadEvaluacion #preguntaActividad{
    line-height: 25px; margin-top: 5px;
    font-weight: normal; color: black;
    margin-left: 50px; width: calc(100% - 50px);
}
/*Barra de navegacion*/
nav#preguntas{
    width: 100%;
    height: 50px;
    background: #555b5c;
    position: absolute;
    top: 0; left:0;
    text-align: center;
}
nav#preguntas hr{
    display: inline-block;
    margin: 0 10px; padding: 0;
    border: 0;
    width: 50px; height: 50px;
    vertical-align: top;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.15s;
    background: rgba(255, 255, 255, 0.4);
    -webkit-mask-image: url(../img/double-arrow.png);
    -webkit-mask-size: 12px auto;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
nav#preguntas hr.lock{
    opacity: 0.25;
}
nav#preguntas #lastNav{
    transform: scaleX(-1);
}
#contenedorNav{
    max-width: 560px;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}
nav#preguntas .nPregunta{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 28px;
    opacity: 0.4; color: white;
    width: 50px; height:50px;
    line-height:55px;
    position: relative;
    background: none;
    padding: 0 3px;
    transition: opacity 0.25s, width 0.15s, margin 0.15s, padding 0.15s;
}
nav#preguntas .nPregunta.hidden{
    opacity: 0 !important;
}
nav#preguntas .nPregunta.selected{
    background: #334142 !important;
    opacity: 1;
}
nav#preguntas .nPregunta:after{
    content: "";
    display: block;
    position: absolute;
    width: 25px; height: 25px;
    top: 1px; right: 1px;
    background-image: url(../img/flag-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-30deg);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.2;
}
nav#preguntas .nPregunta.selected:after{
    opacity: 0.5;
}
nav#preguntas .nPregunta.flag:after{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    opacity: 1;
}
/*Estilos para los tipos de actividades*/
/*opcion Multiple*/
.OMSelectedEval .eventoClick{
    width: 100%;
    border-left: solid 10px #27a2ce;
    background-color: rgba(39, 162, 206, 0.5);
}
.respuesta .inciso{
    color:transparent;
    background-color: white;
    box-shadow: inset 0 0 0 2px silver;
    position: relative;
}
.inciso.noRadius{
    border-radius: 5px;
}
.inciso.noRadius:after{
    display: none !important;
}
.OMSelectedEval .inciso{
    background-color: white;
    box-shadow: inset 0 0 0 2px #27a2ce;
}
.OMSelectedEval .inciso.noRadius{
    background-image: url(../img/opcion_multiple_palomita_orangeBase.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.OMSelectedEval .inciso:after{
    content: "";
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    top: 20%; right: 20%;
    background: #27a2ce;
}
/*relaciona lineas*/
.correctAnswer .circuloLineas{
    background: #27a2ce !important;
    border-color: #27a2ce !important;
}
.correctLine{
    stroke: #27a2ce !important;
}
/*arrastra contenedor/corta*/
.contenedorEval{
    overflow: visible !important;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75) !important;
    background-color: #fffa90 !important;
}
.ui-state-highlight .respuestaDrag{
    opacity: 0.65 !important;
}
.dragElement{
    opacity: 1;
    transition: none !important;
    -webkit-transition: none !important;
    color: white !important;
    box-shadow: 2px 4px 8px rgba(0,0,0, 0.75);
}
#time{
    vertical-align: top;
    width: 100px;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}
