@charset "UTF-8";

@font-face {
	font-family:FF-Poppins-SemiBold;
	src:url("../fonts/Poppins-SemiBold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins;
	src:url("../fonts/Poppins-Bold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins-Regular;
	src:url("../fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family:FF-Poppins-Light;
	src:url("../fonts/Poppins-Light.ttf");
}
body, html{
    width: 100%;
    height: 100%;
    min-width: 1270px;
    margin: 0; padding: 0;
    background: white;
    overflow-y: hidden;
    overflow-x: auto;
    font-family: FF-Poppins-Regular;
    /*font-family: sans-serif;*/
}
body>div{
    display: inline-block;
    margin: 0; padding: 0;
    vertical-align: top;
}

*:not(input){
    /* Evita seleccion de texto */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
/*caja de id para la actividad*/
#idActividad{
    width: 190px;
    height: 30px;
    vertical-align: middle;
    margin-left: 15px;
    border: 0; border-radius: 5px;
    position: relative; top: -3px;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.35);
    color: grey; font-size: 18px; text-align: center;
}
#idActividad.idIncorrecto{
    color: orangered !important;
}
/*boton para reiniciar la actividad*/
#reloadActivity{
    width: 35px; height: 35px;
    margin-left: 150px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/flecha_verde.png);
    background-position: center;
    background-size: 160% 160%;
    cursor: pointer;
}
/*estilos para el contenedor de la actividad (iframe)*/
#contenedorActividad{
    width: 920px;
    height: 100%;
    /*background: #f2f2f2;*/
    background: gainsboro;
}
#actividad{
    width: 920px;
    height: 525px;
    margin: 0;
    padding: 0;
    border: 0;
}
#actividad.evaluacion{
    height: 100%;
}
/*estilos para las herramientas de edicion*/
#contenedorHerramientas{
    height: calc(100% - 12px);
    width: calc(100% - 920px);
    min-width: 300px;
    padding-top: 10px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}
/*Estilos de los menus de herramientas*/
.submenu.herramientas{
    width: 320px;
    height: auto;
    overflow: visible;
    padding-left: 30px;
    color: grey;
    box-shadow: none;
    display: inline-block;
    vertical-align: top;
    transition: box-shadow 0.5s;
}
.submenu.herramientas h1{
    padding: 0;
    margin: 0;
    width: max-content;
    font-size: 20px;
    color: dimgrey;
    margin-left: -25px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: none;
    font-weight: normal;
    display: inline-block;
    border-bottom: 4px solid transparent;
    transition: border-color 0.15s, color 0.15s;
}
.submenu.herramientas h1:hover{
    color: dodgerblue;
}
.submenu.herramientas.selected{
    box-shadow: 0 4px 2px -2px silver !important;
}
.submenu.herramientas.selected h1{
    color: dodgerblue;
    border-color: dodgerblue;
}
.submenu.herramientas .contenedor{
    width: 100%;
    height: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0.25s linear, opacity 0.5s;
}
.subContenedor{
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
}
h4{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    color: dimgrey;
}
input[type="radio"]{
    margin-left: 15px;
    width: 20px; height: 20px;
    vertical-align: text-top;
    cursor: pointer;
}
input[type="radio"].selected + label{
    color: dodgerblue;
}
.slectMenu{
    width: auto;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(0,0,0, 0.25);
    transition: height 0.25s;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    padding: 0 5px 0 5px;
}
li.whitespace{
    pointer-events: none !important;
    opacity: 0 !important;
    display: none;
}
.slectMenu li{
    display: block !important;
}
.slectMenu li.selected{
    color: dodgerblue;
    pointer-events: none !important;
}
.slectMenu.closed{
    z-index: 0 !important;
    height: 25px !important;
    overflow: hidden !important;
}
.slectMenu.closed li{
    pointer-events: none !important;
}
.slectMenu.closed li:not(.selected){
    visibility: hidden;
    height: 0px !important;
}
/*restricciones de altura para menus*/
.slectMenu.grado{
    max-height: 185px;
}
.slectMenu.bloque{
    max-height: 160px;
}
.slectMenu.nivel{
    max-height: 110px;
}
.slectMenu.actividades{
    margin-left: 2px;
    margin-bottom: 10px;
    width:130px !important;
}
.slectMenu::-webkit-scrollbar, .contenedor::-webkit-scrollbar{
    display: none !important;
}
/*input range/ leccion*/
#leccionSelect{
    width:160px;
    outline: none ! important;
}
/*boton buscar actividades*/
#buscarActividades, #borrarRecientes{
    display: inline-block;
    width: 25px; height: 25px;
    box-shadow: none !important;
    vertical-align: top;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
#buscarActividades{
    margin-left: 20px;
    background-size: 80% 80%;
    background-image: url(../img/search.png);
}
/*borrador del historial*/
#borrarRecientes{
    margin-left: 30px;
    background-size: 65% 65%;
    background-image: url(../img/opcion_multiple_tache_roja.png);
}
/*boton para agregar nuevaspantallas*/
#nuevaPantalla{
    width: 30px;
    height: 30px;
    font-size: 40px;
    color: silver;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    display: block;
    float: right;
    margin: 5px;
    margin-top: 10px;
    margin-right: 30px;
    border: dotted 3px silver;
    position: relative; z-index: 0;
}
/*subcontenedores en el menu pantalla*/
#listaPantallas{
    margin: 0; padding: 0;
    width: 100%;
    line-height: 40px;
}
#listaPantallas .subContenedor{
    width: calc(100% - 50px);
    height: 35px;
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    overflow: visible;
}
#listaPantallas .subContenedor>ul{
    min-height: 100%;
    margin: 0;
    background: white;
    display: inline-block;
    width: calc(100% - 30px);
    float: right;
}
/*elemento para remover la pantalla actual*/
#listaPantallas .subContenedor .remove{
    width: 25px; height: 25px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../img/opcion_multiple_tache_roja.png);
    background-size: 65% 65%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; top: -10px; right: -10px;
    z-index: 10;
}
/*Estilos generales del constructor*/
.noHeight{
    overflow: hidden !important;
    height: 0px !important;
}
.lock{
    pointer-events: none !important;
}
.hidden{
    opacity:0 !important;
    visibility: hidden !important;
}
.disabled, input[type="radio"].disabled + label{
    pointer-events: none !important;
    opacity: 0.4 !important;
}
.button{
    cursor: pointer;
    transform: scale(1,1);
    box-shadow: none;
    transition: box-shadow 0.15s, transform 0.15s;
}
.button:hover{
    box-shadow: 0 0 4px 1px rgba(0,0,0, 0.15);
    transform: scale(1.1, 1.1);
}
.button:Active{
    box-shadow: 0  0 4px 2px rgba(0,0,0, 0.35);
    transform: scale(0.75, 0.75);
}