/*Fuentes necesariaas para la actividad*/
@charset "UTF-8";

@font-face {
	font-family:FF-Poppins-SemiBold;
	src:url("../fonts/Poppins-SemiBold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins;
	src:url("../fonts/Poppins-Bold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins-Regular;
	src:url("../fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family:FF-Poppins-Light;
	src:url("../fonts/Poppins-Light.ttf");
}
/*Estilos de la actividad*/
.btn.btn_start{/*//gpu aceleration*/
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 5000;
   -moz-perspective: 5000;
   -ms-perspective: 5000;
   perspective: 5000;
   will-change: transform;
   -webkit-transform-style: preserve-3d;
}
body, html{
    width: 920px;
    height: 525px;
    margin: 0;
    overflow: hidden;
    background: white;
}
body{
    position: relative;
}
body *{
    font-family: FF-Poppins-Light;
    /* Evita seleccion de texto */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
input, textarea, *[contenteditable]{/*repara elementos editables*/
    -webkit-user-select: text; /* Chrome/Safari/Opera */
    -khtml-user-select: text; /* Konqueror */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text;
    -webkit-user-modify:read-write !important;
}
/*Establece los estilos para la vista previa*/
#previewActividad, #contenidoActividad{
    width: 100%; height: 100%;
    background: white;
}
/*Establece los estilos para el preview de actividad/////////////////////////*/
#previewActividad{
    position: absolute;
    top: 0%; left: 0%;
    background-size: 50% auto;
    background-position: 5px 100%;
    background-repeat: no-repeat;
    transition: left 0.75s linear;
    -webkit-transition: left 0.75s linear;
    z-index: 100;
}
#previewActividad p{
    margin: 0;
}
/*Header*/
#previewActividad>header{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 10px; left: 0;
    z-index: 10;
}
#previewActividad>header>hr{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 20px); height: 15px;
    margin-top: 10px;
    margin-left: 10px;
    background: #83cddc;
    border: none;
}
#previewActividad>header>.icon{
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    background: #83cddc;
    display: inline-block;
    width: 60px; height: 60px;
    -webkit-mask-image: none;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}
#previewActividad>header>label{
    color: dimgrey;
    vertical-align: top;
    width: calc(30% - 80px);
    line-height: 60px;
    font-size: 22px;
    overflow: hidden;
}
/*aside*/
#previewActividad>aside{
    width: 35%; height: 100%;
    float: right;
    background: white;
}
#previewActividad>aside>.lbl_cal{
    margin-top: 25%;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #3c3c3b;
}
#previewActividad>aside>hr{
    display: block;
    margin: 0 auto;
    width: 70%; height: 6px;
    border: none;
    background: #ececec;
}
#previewActividad>aside>.lbl_attemps{
    width: 100%;
    display: block;
    font-size: 18px;
    text-align: center;
    color: #3c3c3b;
    margin-bottom: 10px;
}
#previewActividad>aside>.btn_cal{
    width: 110px; height: 110px;
    margin: 0px auto;
    margin-top: 10px;
    display: block;
    border: solid white 10px;
    box-shadow: inset 0 0 0 10px #ececec;
    border-radius: 50%;
    position: relative;
    line-height: 110px;
    font-size: 38px;
    color:#672273;
    text-align: center;
}
#previewActividad>aside>.btn_cal:before{
    content: "";
    width: calc(100% - 20px); height: calc(100% - 20px);
    display: inline-block;
    position: absolute;
    top: 10px; left:10px;
    border-radius: 50%;
    background: none;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.35);
}
#previewActividad>aside>.btn_start{
    cursor: pointer;
    width: 120px; height: 120px;
    margin: 10px auto;
    display: block;
    background: white;
    border: solid #672273 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    color: #3c3c3b;
    transform: scale(1, 1);
    transition: transform 0.15s;
    -webkit-transition: transform 0.15s;
}
#previewActividad>aside>.btn_start:active{
    transform: scale(0.7, 0.7);
}
#previewActividad>aside>.btn_start>.loading{
    width: 40px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    overflow: hidden;
    opacity: 0 !important;
    visibility: hidden !important;
    transform-origin: 100% 50%;
    transform: rotate(0deg);
    transition: transform 2s linear, opacity 0.5s, visibility 0.5s;
    -webkit-transition: transform 2s linear, opacity 0.5s, visibility 0.5s;
}
#previewActividad>aside>.btn_start.loading>.loading{
    opacity: 1 !important;
    visibility: visible !important;
}
#previewActividad>aside>.btn_start>.loading>div{
    margin: 0;
    width: calc(100% - 5px);
    height: calc(100% - 10px);
    border: solid 7px #83cddc;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0;
    transform-origin: 100% 50%;
    transform: rotate(180deg);
    transition: transform 1.25s linear;
    -webkit-transition: transform 1.25s linear;
}
#previewActividad>aside>.btn_start>.icon{
    display: inline-block;
    margin: 0 auto;
    width: 70%; height: 70%;
    margin: 10% 10%;
    background-color: #672273;
    -webkit-mask-image: url(../img/touch2Start.png);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
#previewActividad #txtIniciar{
    display: inline-block;
    width: 200px;
    font-size: 24px;
    position: relative;
    left: calc(50% - 100px);
    text-align: center;
}
#previewActividad>aside>.btn_start>.icon,
#previewActividad>aside>.btn_start.loading p{
    transition: opacity 0.5s, visibility 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
}
#previewActividad>aside>.btn_start.loading .icon,
#previewActividad>aside>.btn_start.loading p{
    opacity: 0 !important;
    visibility: hidden !important;
}
/*Barra de progreso*/
#previewActividad>aside>.btn_cal>.proggress{
    /*display: inline-block;*/
    position:  absolute;
    top:-10px; left:-10px;
    width: 130px; height: 130px;
    border-radius: 50%;
}
#previewActividad>aside>.btn_cal>.proggress>div{
    width: 50%; height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
#previewActividad>aside>.btn_cal>.proggress>div>.half{
    content: "";
    display: inline-block;
    width: calc(100% - 5px); height: calc(100% - 10px);
    border: solid #83cddc 5px;
}
#previewActividad>aside>.btn_cal>.proggress>div.left>.half{
    border-bottom-left-radius: 65px;
    border-top-left-radius: 65px;
    border-right: 0;
    transform: rotate(-180deg);/*de -180 a 0    //parte de valores negativos*/
    transform-origin: 100% 50%;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}
#previewActividad>aside>.btn_cal>.proggress>div.right>.half{
    border-bottom-right-radius: 65px;
    border-top-right-radius: 65px;
    border-left: 0;
    transform: rotate(-180deg);/*de -180 a 0    //parte de valores negativos*/
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}
/*Layout 1 (actividad con mas de un intento)*/
#previewActividad.ly1>aside>.lbl_cal,
#previewActividad.ly1>aside>hr,
#previewActividad.ly1>aside>.lbl_attemps,
#previewActividad.ly1>aside>.btn_cal
{
    display: none;
}
#previewActividad.ly1>aside>.btn_start{
    margin: 60% auto; margin-bottom: 10px;
    box-shadow: 4px 6px 16px rgba(0,0,0, 0.35);
}
/*Layout 2 (actividad con mas de un intento)*/
#previewActividad.ly2{
    background-color: LightGrey;
    background-blend-mode: multiply;
}
#previewActividad.ly2>header{
    display: none;
}
#previewActividad.ly2>aside{
    box-shadow: 0 0 16px 1px rgba(0,0,0, 0.4);
}
#previewActividad.ly2 #txtIniciar{
    font-size: 20px; color: #3c3c3b !important;
}
#previewActividad.ly2>aside>.btn_start{
    margin: 15px auto;
    margin-bottom: 5px;
}
#previewActividad.ly2>aside>.btn_start>.icon{
    width: 60%; height: 60%;
    margin: 15% 20%;
    margin-bottom: 45px;
}
/*Establece los estilos compartidos*/
.hidden{
    visibility: hidden !important;
    opacity: 0 !important;
}