<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
<meta charset="utf-8" />
<title>Grupo Educare Certificaciones</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">        <!-- Le styles -->	

<?php
	echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
								->prependStylesheet($this->basePath() .'/css/style.css','all')
								->prependStylesheet($this->basePath() .'/css/foundation.css');
								
    echo $this->inlineScript()->prependFile($this->basePath('js/chart_versus.js'))
    						  ->prependFile($this->basePath('js/high_charts/modules/data.js'))
    						  ->prependFile($this->basePath('js/high_charts/modules/exporting.js'))
    						  ->prependFile($this->basePath('js/high_charts/highcharts.js'))
    						  ->prependFile($this->basePath() .'/js/foundation/foundation.tooltips.js')
    						  ->prependFile($this->basePath() .'/js/foundation/foundation.dropdown.js')
    						  ->prependFile($this->basePath() .'/js/foundation/foundation.js')
    						  ->prependFile($this->basePath() .'/js/custom.modernizr.js')
    						  ->prependFile($this->basePath() .'/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
    						  ->prependFile($this->basePath('js/jquery.min.js'));
    
    
?>


<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
</head>
<body><!-- inicia body -->
	
	<input type="hidden" id="urlGetData" value="<?php echo $this->url("base",array("controller"=> "reportes", "action"=> "dataversus"));?>">
	<input type="hidden" id="urlImgLoad" value="<?php echo $this->url("base");?>images/loader_back.gif">
<div class="row">	
  	<div class="small-12 large-12 columns panel">
		<div class="row">
			<div class="small-12 large-12 columns text-center">
				<img src="/images/index/logo_certificacion.png" />
				<h3>Reporte Intellectus<br><small> Instructivo para la interpretación de resultados del examen diagnóstico.</small></h3>
			</div>	
			<div class="small-12 large-12 columns " style="padding:15px;">
				El examen diagnóstico pretende dar a conocer un estimado del desempeño intelectual de los alumnos en función de los procesos mentales que se desarrollan en el programa de Intellectus.
				La evaluación diagnóstico consta de dos grandes apartados:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns " > 
				<ul class="disc">
					<li><b>Razonamiento verbal:</b> el cual está enfocado a la capacidad para razonar contenidos verbales articulándolos por medio de diferentes procesos mentales.</li>
					<li><b>Razonamiento lógico matemático:</b> es la capacidad para comprender conceptos abstractos, establecer relaciones simbólicas entre cosas, hechos o procesos por medio de procesos mentales que conllevan a la lógica.</li>
				</ul>
			</div>
			<div class="small-12 large-12 columns " style="padding:15px;">
				La prueba se compone de veinte o treinta preguntas para el razonamiento lingüístico verbal y para el razonamiento lógico matemático, de esta manera los resultados que se presentan se basan <b>en el número de aciertos que el alumno tuvo en el examen</b>, sin llegar a ser una calificación.
				De acuerdo con lo anterior los resultados se presentan de la siguiente manera:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns" >
				<ul class="disc">
					<li>De cada diagnóstico se proporciona el total de aciertos obtenidos en razonamiento lingüístico verbal y en razonamiento lógico matemático, con sus respectivas graficas.</li>
				</ul>
			</div>
		</div>
  	</div>
</div>
	
	<div class="row panel">
		<div class="small-12 large-12 columns  no-print">
		<?php
			foreach($_arrGrupos as $nivel){
				echo '<div class="row">';
					echo '<div class="small-12 large-12 columns">';
						echo "Grupos de nivel ".$nivel['nombre'];
						echo "<hr>";
					echo '</div>';
				echo '</div>';
				
				echo '<div class="row">';
				echo 	'<div class="small-12 large-12 columns">';
				echo 		"<table class='table striped hover'>";
    			echo   			"<thead><tr><th>Grupo</th><th>Examenes Realizados</th></tr></thead>";
				echo 			"<tbody>";
								foreach ($nivel['grupos'] as $grupo){
									echo "<tr>";
									echo 	"<td>";
									
									echo 		'<label  for="1chk-'.$grupo['ge_t07id_profesor_grupo_grado_escolaridad'].'"><input class="chkGrupo Grupo1" type="checkbox" id="1chk-'.$grupo['ge_t07id_profesor_grupo_grado_escolaridad'].'" style=""> '.$grupo['ge_t07descripcion'].'</label>';
									echo 	"</td>";
									echo 	"<td>";
									if(count($grupo['examenes']) > 0){
										
										echo 	"<select id='slt-".$grupo['ge_t07id_profesor_grupo_grado_escolaridad']."' class='sltExamenes'>";
										foreach ($grupo['examenes'] as $examen){
											echo 	'<option value="'.$examen['t41id_examen_diag'].'">'.$examen['t41nombre_examen_diag'].'</option>';
										}
										echo 	"</select>";
									}
									echo 	"</td>";
									echo 	"</tr>";
								}
				echo 			"</tbody>";
				echo 		"</table>";
				echo 	'</div>';
				echo '</div>';
			} 
		?>	
		</div>
		<div class="large-12 columns no-print">
				<br/>
				<span data-tooltip class="has-tip" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
					<a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
				</span>
				
		</div>
	</div>
	<div class="row">
		<div id="graficaGlobal" class="small-12 large-12 columns">
		</div>
		<div id="graficaVerbal" class="small-12 large-12 columns">
		</div>
		<div id="graficaMatematico" class="small-12 large-12 columns">
		</div>
		
	</div>
	
	
	<div class="row panel">
		<div class="small-12 large-8 columns  no-print">
			<span data-tooltip class="has-tip no-print" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
			<a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
		</div>
	</div>
</body>
</html>