<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
<meta charset="utf-8" />
<title>Grupo Educare Certificaciones</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">        <!-- Le styles -->	
</head>
<body><!-- inicia body -->
<?php
	echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
								->prependStylesheet($this->basePath() .'/css/style.css','all')
								->prependStylesheet($this->basePath() .'/css/foundation.css');
								
    echo $this->inlineScript()->prependFile($this->basePath('js/chart_grupo.js'))
    						  ->prependFile($this->basePath('js/high_charts/modules/heatmap.js'))
    						  ->prependFile($this->basePath('js/high_charts/modules/exporting.js'))
    						  ->prependFile($this->basePath('js/high_charts/highcharts.js'))
    						  ->prependFile($this->basePath() .'/js/foundation/foundation.tooltips.js')
    						  ->prependFile($this->basePath() .'/js/foundation/foundation.dropdown.js')
    						  ->prependFile($this->basePath() .'/js/foundation/foundation.js')
    						  ->prependFile($this->basePath() .'/js/custom.modernizr.js')
    						  ->prependFile($this->basePath() .'/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
    						  ->prependFile($this->basePath('js/jquery.min.js'));
    
    
?>

<input type="hidden" id="xAxisGlobal" value='<?php echo $_arrDiagnostico['global']['xAxis']?>' />
<input type="hidden" id="data_chartGlobal" value='<?php echo $_arrDiagnostico['global']['data'] ?>' />
<input type="hidden" id="title_global" value='<?php echo $_arrDiagnostico['global']['title'] ?>' />
<input type="hidden" id="sub_title_global" value='<?php echo $_arrDiagnostico['global']['subtitle'] ?>' />



<input type="hidden" id="xAxisRV" value='<?php echo $_arrDiagnostico['verbal']['xAxis']?>' />
<input type="hidden" id="data_chartRV" value='<?php echo $_arrDiagnostico['verbal']['data'] ?>' />
<input type="hidden" id="titleRV" value='<?php echo $_arrDiagnostico['verbal']['title'] ?>' />
<input type="hidden" id="sub_title_RV" value='<?php echo $_arrDiagnostico['verbal']['subtitle'] ?>' />

<input type="hidden" id="xAxisRM" value='<?php echo $_arrDiagnostico['matematico']['xAxis']?>' />
<input type="hidden" id="data_chartRM" value='<?php echo $_arrDiagnostico['matematico']['data'] ?>' />
<input type="hidden" id="titleRM" value='<?php echo $_arrDiagnostico['matematico']['title'] ?>' />
<input type="hidden" id="sub_title_RM" value='<?php echo $_arrDiagnostico['matematico']['subtitle'] ?>' />

<div class="row">	
  	<div class="small-12 large-12 columns panel">
		<div class="row">
			<div class="small-12 large-12 columns text-center">
				<img src="/images/index/logo_certificacion.png" />
				<h3>Reporte Intellectus<br><small> Instructivo para la interpretación de resultados del examen diagnóstico.</small></h3>
			</div>	
			<div class="small-12 large-12 columns " style="padding:15px;">
				El examen diagnóstico pretende dar a conocer un estimado del desempeño intelectual de los alumnos en función de los procesos mentales que se desarrollan en el programa de Intellectus.
				La evaluación diagnóstico consta de dos grandes apartados:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns " > 
				<ul class="disc">
					<li><b>Razonamiento verbal:</b> el cual está enfocado a la capacidad para razonar contenidos verbales articulándolos por medio de diferentes procesos mentales.</li>
					<li><b>Razonamiento lógico matemático:</b> es la capacidad para comprender conceptos abstractos, establecer relaciones simbólicas entre cosas, hechos o procesos por medio de procesos mentales que conllevan a la lógica.</li>
				</ul>
			</div>
			<div class="small-12 large-12 columns " style="padding:15px;">
				La prueba se compone de veinte o treinta preguntas para el razonamiento lingüístico verbal y para el razonamiento lógico matemático, de esta manera los resultados que se presentan se basan <b>en el número de aciertos que el alumno tuvo en el examen</b>, sin llegar a ser una calificación.
				De acuerdo con lo anterior los resultados se presentan de la siguiente manera:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns" >
				<ul class="disc">
					<li>De cada diagnóstico se proporciona el total de aciertos obtenidos en razonamiento lingüístico verbal y en razonamiento lógico matemático, con sus respectivas graficas.</li>
				</ul>
			</div>
		</div>
  	</div>
</div>


<div class="row">
	<div class="small-12 large-12 columns panel">
		<form class="custom">
			
			<div class="large-4 columns">
				<label for="sltExamen">Exámenes</label>
				<select id="sltExamen" class="medium">
				<?php
					foreach ($_arrDiagnostico['examenes'] as $examen){
						$_strSelected = $_idExamen == $examen['t41id_examen_diag'] ? "selected" : ""; 
						echo '<option value="'.$examen['t41id_examen_diag'].'" '.$_strSelected.' >'.$examen['t41nombre_examen_diag'].'</option>';
					}
				?>
				</select>
			</div>
			
			<div class="large-4 columns">
				<label class="no-print" >
					<br/>
					<input type="checkbox" id="chkUniverso" >
					<span data-tooltip class="has-tip " title="Se compara contra el promedio de TODOS LOS USUARIOS REGISTRADOS que hayan contestado este examen">Comparar contra promedio universal</span>
					
				</label>
			</div>
			
			<div class="large-4 columns no-print">
				<br/>
				<span data-tooltip class="has-tip" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
					<a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
				</span>
				
			</div>
			<div class="large-12 columns">
				<label  id="imgLoadUniversal" style="display: none;">
					<br/>
				<img src="<?php echo $this->url("base");?>images/loader_back.gif" /> Procesando...
				</label>
			</div>
			<input type="hidden" id="urlDataUniverso" value="<?php echo $this->url('base',array("controller"=> "reportes","action" => "datauniverso"))?>" />
			<input type="hidden" id="urlReporteGrupo" value="<?php echo $this->url('base',array("controller"=> "reportes","action" => "reportegrupo","id"=> $_idGrupo))?>" />
		</form>
	</div>
	
</div>

<div class="row">
  	<div class="small-12 large-12 columns" id="chart_global"></div>
  	
</div>
<div class="row">
	<div class="small-12 large-12 columns" >
  		<hr>
  	</div>
</div>
<div class="row">
  	<div class="small-12 large-12 columns" id="chartRV"></div>
</div>
<div class="row">
	<div class="small-12 large-12 columns" >
  		<hr>
  	</div>
</div>
<div class="row">
  	<div class="small-12 large-12 columns" id="chartRM"></div>
</div>
<div class="row">
	<div class="small-12 large-12 columns" >
  		<hr>
  	</div>
</div>
		
		<input type="hidden" id="yAxisTabla" value='<?php echo json_encode($_arrDataTableAlumnos['yAxis']['categories'])?>'>
		<input type="hidden" id="xAxisTablaVerbal" value='<?php echo json_encode($_arrDataTableAlumnos['xAxis']['categories_verbal'])?>'>
		<input type="hidden" id="xAxisTablaMatematico" value='<?php echo json_encode($_arrDataTableAlumnos['xAxis']['categories_matematico'])?>'>
		
		<input type="hidden" id="verbal_data_pre" value='<?php echo json_encode($_arrDataTableAlumnos['verbal_data_pre'])?>'>
		<input type="hidden" id="verbal_data_post" value='<?php echo json_encode($_arrDataTableAlumnos['verbal_data_post'])?>'>
		<input type="hidden" id="matematico_data_pre" value='<?php echo json_encode($_arrDataTableAlumnos['matematico_data_pre'])?>'>
		<input type="hidden" id="matematico_data_post" value='<?php echo json_encode($_arrDataTableAlumnos['matematico_data_post'])?>'>
		<input type="hidden" id="_boolExistePost" value='<?php echo $_boolExistePost ? 1 : 0 ?>'>
		<input type="hidden" id="_arrLinksAlumnos" value='<?php echo json_encode($_arrLinksAlumnos);?>'>
		<?php 
			$_height = ""; 
			if(count($_arrDataTableAlumnos['yAxis']['categories'])> 10){
				$_height = "style='height:800px;'";
			}
		?>
<div class="row">
	<div  class="small-12 large-12 columns" >
		
		<div id="tableAlumnosVerbalPre" <?php echo $_height;?>>
		</div>
	</div>
</div>
<div class="row">
	<div  class="small-12 large-12 columns"  style="height: 50px;">
	</div>
</div>
<div class="row">
	<div  class="small-12 large-12 columns" >
		<div id="tableAlumnosMatematicoPre" <?php echo $_height;?>>
		</div>
	</div>
</div>
<div class="row">
	<div  class="small-12 large-12 columns"  style="height: 50px;">
	</div>
</div>
<?php if($_boolExistePost){?>
		<div class="row">
			<div  class="small-12 large-12 columns" >
				<div id="tableAlumnosVerbalPost"<?php echo $_height;?>>
				</div>
			</div>
		</div>
<div class="row">
	<div  class="small-12 large-12 columns"  style="height: 50px;">
	</div>
</div>		
		<div class="row">
			<div  class="small-12 large-12 columns" >
				<div id="tableAlumnosMatematicoPost" <?php echo $_height;?>>
				</div>
			</div>
		</div>
<?php }?>


<div class="row">
	<div class="small-12 large-12 columns" style="height:100px;">
	</div>
</div>

<div class="row">
	<div class="small-12 large-12 columns panel no-print">
		<span data-tooltip class="has-tip no-print" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
		<a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
	</div>
</div>

</body>
</html>
