<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
<meta charset="utf-8" />
<title>Grupo Educare Certificaciones</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">        <!-- Le styles -->	

</head>

<?php
	echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/reportes/reportes.css')
                ->prependStylesheet($this->basePath() . '/css/font_awesome/css/font-awesome.min.css')
                ->prependStylesheet($this->basePath() . '/css/foundation.min.css');
								
    echo $this->inlineScript()->prependFile($this->basePath('js/reportes/chart_grupo.js'))
            ->prependFile($this->basePath() . '/js/jquery.blockUI.js')
                                ->prependFile($this->basePath('js/high_charts/modules/heatmap.js'))
                                ->prependFile($this->basePath('js/high_charts/modules/exporting.js'))
                                ->prependFile($this->basePath('js/high_charts/highcharts.js'))
                                ->prependFile($this->basePath() . '/js/foundation.min.js')
                                ->prependFile($this->basePath() . '/js/foundation/modernizr.js')
                                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                ->prependFile($this->basePath() . '/js/jquery.min.js');
    
    
?>

<body><!-- inicia body -->
    <input type="hidden" id="xAxisGlobal" value='<?php echo json_encode($_arrDiagnostico['global']['xAxis'])?>' />
<input type="hidden" id="data_chartGlobal" value='<?php echo json_encode($_arrDiagnostico['global']['data']) ?>' />
<input type="hidden" id="title_global" value='<?php echo $_arrDiagnostico['global']['title'] ?>' />
<input type="hidden" id="sub_title_global" value='<?php echo $_arrDiagnostico['global']['subtitle'] ?>' />



<input type="hidden" id="xAxisRV" value='<?php echo json_encode($_arrDiagnostico['verbal']['xAxis'])?>' />
<input type="hidden" id="data_chartRV" value='<?php echo json_encode($_arrDiagnostico['verbal']['data']) ?>' />
<input type="hidden" id="titleRV" value='<?php echo $_arrDiagnostico['verbal']['title'] ?>' />
<input type="hidden" id="sub_title_RV" value='<?php echo $_arrDiagnostico['verbal']['subtitle'] ?>' />
<input type="hidden" id="puntajes_RV" value='<?php echo json_encode($_arrDiagnostico['verbal']['puntajes']) ?>' />
<input type="hidden" id="contador_preguntas_RV" value='<?php echo  $_arrDiagnostico['verbal']['arrTotalesVerbal']['contador_preguntas'] ?>' />

<input type="hidden" id="xAxisRM" value='<?php echo json_encode($_arrDiagnostico['matematico']['xAxis']) ?>' />
<input type="hidden" id="data_chartRM" value='<?php echo json_encode($_arrDiagnostico['matematico']['data']) ?>' />
<input type="hidden" id="titleRM" value='<?php echo $_arrDiagnostico['matematico']['title'] ?>' />
<input type="hidden" id="sub_title_RM" value='<?php echo $_arrDiagnostico['matematico']['subtitle'] ?>' />
<input type="hidden" id="puntajes_RM" value='<?php echo json_encode($_arrDiagnostico['matematico']['puntajes']) ?>' />
<input type="hidden" id="contador_preguntas_RM" value='<?php echo  $_arrDiagnostico['matematico']['arrTotalesMate']['contador_preguntas'] ?>' />

<div class="row">	
  	<div class="small-12 large-12 columns panel">
		<div class="row">
			<div class="small-12 large-12 columns text-center">
				<img src="<?php echo $this->basePath('css/images/encabezado_pagina/Logo_HomeDE.png'); ?>" />
				<h3>Reporte Intellectus<br><small> Instructivo para la interpretación de resultados del examen diagnóstico.</small></h3>
			</div>	
			<div class="small-12 large-12 columns " style="padding:15px;">
				El examen diagnóstico pretende dar a conocer un estimado del desempeño intelectual de los alumnos en función de los procesos mentales que se desarrollan en el programa de Intellectus.
				La evaluación diagnóstico consta de dos grandes apartados:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns " > 
				<ul class="disc">
					<li><b>Razonamiento verbal:</b> el cual está enfocado a la capacidad para razonar contenidos verbales articulándolos por medio de diferentes procesos mentales.</li>
					<li><b>Razonamiento lógico matemático:</b> es la capacidad para comprender conceptos abstractos, establecer relaciones simbólicas entre cosas, hechos o procesos por medio de procesos mentales que conllevan a la lógica.</li>
				</ul>
			</div>
			<div class="small-12 large-12 columns " style="padding:15px;">
				La prueba se compone de veinte o treinta preguntas para el razonamiento lingüístico verbal y para el razonamiento lógico matemático, de esta manera los resultados que se presentan se basan <b>en el número de aciertos que el alumno tuvo en el examen</b>, sin llegar a ser una calificación.
				De acuerdo con lo anterior los resultados se presentan de la siguiente manera:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns" >
				<ul class="disc">
					<li>De cada diagnóstico se proporciona el total de aciertos obtenidos en razonamiento lingüístico verbal y en razonamiento lógico matemático, con sus respectivas graficas.</li>
				</ul>
			</div>
		</div>
  	</div>
</div>



<div class="row" id="rowOptions">
	<div class="small-12 large-12 columns panel">
		<form class="custom">
			
			<div class="large-4 columns">
				<label for="sltExamen">Exámenes</label>
				<select id="sltExamen" class="medium">
				<?php
					foreach ($_arrDiagnostico['examenes'] as $examen){
						$_strSelected = $idExamen == $examen['t12id_examen'] ? "selected" : ""; 
						echo '<option value="'.$examen['t12id_examen'].'" '.$_strSelected.' >'.$examen['t12nombre'].'</option>';
					}
				?>
				</select>
			</div>
			
			<div class="large-4 columns">
                            <br/>
                            <div class="row">
                                <?php
                                if( $_boolExisteAdjunto === true ){
                                ?>
                                <div class="large-12 columns">
                                    <label class="no-print" >
                                        
                                        <input type="hidden" id="idExamenAdjunto" value="<?php echo $_idExamenAdjunto?>" />
                                        <input type="checkbox" id="chkGetPrePost" >
                                        <span data-tooltip class="has-tip " title="<?php echo $_strTooltipExamenAdjunto; ?>"><?php echo $_strLabelExamenAdjunto; ?></span>
                                    </label>
                                </div>
                                <?php    
                                }
                                ?>
                                <div class="large-12 columns">
                                    <label class="no-print" >
					
					<input type="checkbox" id="chkUniverso" >
					<span data-tooltip class="has-tip " title="Se compara contra el promedio de TODOS LOS USUARIOS REGISTRADOS que hayan contestado este examen">Comparar contra promedio universal</span>
					
                                    </label>
                                </div>
                            </div>
			</div>
			
			<div class="large-4 columns no-print">
				<br/>
				<span data-tooltip class="has-tip" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
					<a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
				</span>
				
			</div>
			<div class="large-12 columns">
				<label  id="imgLoadUniversal" style="display: none;">
					<br/>
				<img src="<?php echo $this->basePath("images/loader_back.gif");?>" /> Procesando...
				</label>
			</div>
			<input type="hidden" id="urlDataAdjunto" value="<?php echo $this->url('reportes',array("controller"=> "reportes","action" => "dataExamenAdjunto"))?>" />
                        <input type="hidden" id="urlDataUniverso" value="<?php echo $this->url('reportes',array("controller"=> "reportes","action" => "dataUniverso"))?>" />
			<input type="hidden" id="urlReporteGrupo" value="<?php echo $this->url('reportes',array("controller"=> "reportes","action" => "reporteGrupo")).'?group='.$idGrupo?>" />
                        <input type="hidden" id="idGrupo" value="<?php echo $idGrupo ?>" />
                        <input type="hidden" id="strExamenPrePost" value="<?php echo $_strTitleTableAlumnos ?>" />
		</form>
	</div>
	
</div>

<div class="row">
    <div class="small-12 large-12 medium-12 columns" style="">
        <br/><br/><br/>
        
    </div>
</div>

<div class="row">
  	<div class="small-12 large-12 columns" id="chart_global"></div>
  	
</div>
<div class="row">
	<div class="small-12 large-12 columns" >
  		<hr>
  	</div>
</div>
<div class="row">
  	<div class="small-12 large-12 columns" id="chartRV"></div>
</div>
<div class="row">
  	<div class="small-12 large-12 columns" id="chartPuntajeRV"></div>
</div>
<div class="row">
	<div class="small-12 large-12 columns" >
  		<hr>
  	</div>
</div>

<div class="row">
  	<div class="small-12 large-12 columns" id="chartRM"></div>
</div>


<div class="row">
  	<div class="small-12 large-12 columns" id="chartPuntajeRM"></div>
</div>
<div class="row">
	<div class="small-12 large-12 columns" >
  		<hr>
  	</div>
</div>
		
		<input type="hidden" id="yAxisTabla" value='<?php echo json_encode($_arrDataTableAlumnos['yAxis']['categories'])?>'>
		<input type="hidden" id="xAxisTablaVerbal" value='<?php echo json_encode($_arrDataTableAlumnos['xAxis']['categories_verbal'])?>'>
		<input type="hidden" id="xAxisTablaMatematico" value='<?php echo json_encode($_arrDataTableAlumnos['xAxis']['categories_matematico'])?>'>
		
		<input type="hidden" id="verbal_data_pre" value='<?php echo json_encode($_arrDataTableAlumnos['verbal_data'])?>'>
		<input type="hidden" id="verbal_data_post" value='<?php //echo json_encode($_arrDataTableAlumnos['verbal_data_post'])?>'>
		<input type="hidden" id="matematico_data_pre" value='<?php echo json_encode($_arrDataTableAlumnos['matematico_data'])?>'>
		<input type="hidden" id="matematico_data_post" value='<?php //echo json_encode($_arrDataTableAlumnos['matematico_data_post'])?>'>
		<input type="hidden" id="_boolExistePost" value='<?php //echo $_boolExistePost ? 1 : 0 ?>'>
		<input type="hidden" id="_arrLinksAlumnos" value='<?php echo json_encode($_arrLinksAlumnos);?>'>
		<?php 
                        
			$_height = ""; 
                        $hg = '';
			if(count($_arrDataTableAlumnos['yAxis']['categories'])> 10){
                                $hg =  count($_arrDataTableAlumnos['yAxis']['categories']) * 30;
				$_height = "style='height:".$hg."px;'";
			}
		?>
                <input type="hidden" id="heightTables" value='<?php echo $hg ?>'>
                
<div class="row">
    <div class="small-12 large-12 medium-12 columns" style="">
        <br/><br/><br/>
        <h4>
        Las gráficas son interactivas, puedes posicionar el puntero sobre las celdas para obtener más información sobre los datos mostrados.
        </h4>
        <br/><br/>
    </div>
    <div class="small-4 large-4 medium-4 columns" style="text-align: center;">
        El color <span style="background-color: #FDFD96; padding: 5px;">Amarillo </span> indica que se alcanzó el nivel <b>Básico</b>.
    </div>
    <div class="small-4 large-4 medium-4 columns" style="text-align: center;">
        El color <span style="background-color: #77DD77; padding: 5px;">Verde </span> indica que se alcanzó el nivel <b>Intermedio</b>.
    </div>
    <div class="small-4 large-4 medium-4 columns" style="text-align: center;">
        El color <span style="background-color: #779ECB; padding: 5px;">Azul </span> indica que se alcanzó el nivel <b>Avanzado</b>.    
    </div>
    <div class="small-12 large-12 medium-12 columns" style="text-align: center;">
        <br/><br/><br/>
    </div>
</div>
<div class="row">
	<div  class="small-12 large-12 columns" >
		
		<div id="tableAlumnosVerbalPre" <?php echo $_height;?>>
		</div>
	</div>
</div>
<div class="row">
    <div  class="small-12 large-12 columns" >

            <div id="tableAlumnosVerbalPost" >
            </div>
    </div>
</div>
<div class="row">
	<div  class="small-12 large-12 columns"  style="height: 50px;">
	</div>
</div>
<div class="row">
	<div  class="small-12 large-12 columns" >
		<div id="tableAlumnosMatematicoPre" <?php echo $_height;?>>
		</div>
	</div>
</div>
<div class="row">
	<div  class="small-12 large-12 columns" >
		<div id="tableAlumnosMatematicoPost" >
		</div>
	</div>
</div>
<div class="row">
    <div class="small-12 large-12 columns" id="">
        <hr>
        <br/><br/><br/>
        
    </div>
</div>
<div class="row">
	<div class="small-12 large-12 columns " style="height: 50px;">
	
	</div>
  	<div class="small-12 large-12 columns " >
			<table id="help"  border="0" cellpadding="0" cellspacing="0" style="">
				<tr>
					<td colspan="3" align="center">
						<b>Apoyo pedagógico para cada proceso mental</b>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						En este documento se presentan algunas estrategias que se pueden utilizar en el salón de clase, para sesiones de Intellectus o en cualquier otra materia, con el objetivo de reforzar el desarrollo de los procesos mentales.
					</td>
				</tr>
				<tr>
					<td style="border-width: thin; border-color: #000000; border-bottom-style: solid; border-top-style: solid; border-left-style: solid">
						<b>Proceso mental</b>
					</td>
					<td style="border-width: thin; border-color: #000000; border-bottom-style: solid; border-top-style: solid; border-left-style: solid">
						<b>Estrategias de atención</b>
					</td>
					<td style="border-width: thin; border-color: #000000; border-bottom-style: solid; border-top-style: solid; border-left-style: solid; border-right-style: solid">
						<b>Preguntas clave</b>
					</td>
				</tr>
				<tr>
					<td>
						<b>Identificar</b>
					</td>
					<td>
						<ul>
							<li>Ayudar al alumno a reconocer el canal  perceptual (visual, auditivo, kinestésico, etc.) por el cual se han captado las características de cualquier cosa.</li>
							<li>Explicar las características de lo que se observa, que pueden ser desde aspectos concretos como personas, animales o cosas hasta cuestiones mucho más abstractas como una expresión algebraica o una fórmula química o una situación histórica.</li>
							<li>Plantear preguntas de mediación a fin de que enumeren las características de lo que se observa, desde aspectos concretos  hasta conceptos mucho más abstractos.</li>
							<li>Fomentar en los alumnos que encuentren personas, cosas, animales y situaciones a partir de la enumeración de sus características.</li>
							<li>Revisar con los estudiantes qué ideas o conceptos comparten las mismas características por ejemplo, qué características comparte un jabalí con un león, o la revolución francesa con la mexicana.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Qué ves? ¿qué oyes? ¿qué sientes?</li>
							<li>¿Qué estás tocando?</li>
							<li>¿Cómo es lo que ves? ¿lo que oyes? ¿lo que estás tocando? ¿lo que sientes?</li>
							<li>¿De lo que ves, oyes o sientes cuáles son las características clave que tiene este elemento, animal o situación?</li>
							<li>¿Crees que sin esas características este objeto, o animal, o situación seguiría siendo lo mismo?</li>
							<li>¿Cómo te has dado cuenta de las características clave que tiene?</li>
							<li>¿Qué sucede cuando no identificas algo? </li>
							<li>¿Cómo podrías identificar algo viendo? ¿Oyendo? ¿Tocando?</li>
							<li>¿Qué riesgos pueden existir?</li>
							<li>¿Cómo podrías evitar esos riesgos?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Diferenciar</b>
					</td>
					<td>
						<ul>
							<li>Pedir al alumno que en un grupo de elementos comunes ubiquen las características que hacen diferentes a las personas, animales, cosas, expresiones matemáticas, fórmulas químicas, situaciones, entre otros.</li>
							<li>Explicar porqué las características varían en grupos de elementos.</li>
							<li>Promover actividades donde los alumnos  expliquen el porqué de las diferencias entre dos elementos y no dejarlo solamente a nivel perceptual (por medio de los sentidos).</li>
							<li>Favorecer actividades en donde encuentren diferencias en grupos de elementos no sólo en un plano gráfico, también promover a nivel auditivo o kinestésico, principalmente en las primeras edades escolares. Por ejemplo en una melodía diferenciar el sonido del piano o de una flauta.</li>
							<li>Con los alumnos de grados escolarmente más avanzados establecer diferencias de carácter conceptual por ejemplo: entre estas fórmulas químicas ¿Qué diferencias son aparentes y qué diferencias son evidentes?</li>
							<li>Proponer a los alumnos ejercicios que impliquen diferenciar aspectos que no son evidentes, lo cual implica un proceso de abstracción mayor.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Por qué es necesario antes de diferenciar identificar bien?</li>
							<li>¿Qué características observas en este elemento y cuáles en este?</li>
							<li>¿Por qué es necesario diferenciar?</li>
							<li>¿Para qué es útil diferenciar entre… y …?</li>
							<li>¿Cómo puedes encontrar diferencias evidentes entre … y …?</li>
							<li>¿De qué manera puedes encontrar diferencias que no son tan evidentes?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Representación mental</b>
					</td>
					<td>
						<ul>
							<li>Solicitar a los alumnos que imaginen una persona, un animal, una cosa o una situación, después que la verbalicen y encuentren las diferencias con sus compañeros analizando el porqué cada quien tiene una imagen diferente de algo o de alguien y cómo la experiencia juega un papel fundamental para ello.</li>
							<li>Describir en voz alta las características de diferentes objetos, situaciones o procesos, a fin de que los estudiantes generen una representación mental de lo descrito, y mencionen lo que imaginaron.</li>
							<li>Realizar actividades en donde tengan que completar figuras, a partir de algunas pistas de ellas o la mitad de la imagen. Las figuras deben ser más fáciles en los primeros años escolares y más complicadas hacia los últimos años.</li>
							<li>Pedir a los alumnos que hagan dibujos de ideas o de conceptos, con ellos el maestro puede identificar si las características clave de la idea o del concepto están presentes y si no lo están, intervenir para aclarar lo que es confuso.</li>
							<li>El dibujar ideas o conceptos es una estrategia poco empleada en las aulas de secundaria o preparatoria, a pesar que dan paso a elaboraciones cognitivas más complejas como mapas mentales.</li>
							<li>Solicitar a los alumnos la realización de logotipos o íconos que representen una idea o un concepto.</li>
							<li>Así como la elaboración de maquetas de un concepto, proceso  o una situación específica.</li>
							<li>La representación mental es la idea que tenemos de las cosas, no hay que confundirla con la capacidad de crear nuevas cosas, esto es un proceso más complejo.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Por qué crees que es importante la representación mental?</li>
							<li>¿Qué puedes hacer para imaginar …? ¿En qué piensas?</li>
							<li>¿Qué pasaría si no nos hiciéramos imágenes de las cosas,  de las personas o de las situaciones? ¿podríamos aprender? ¿por qué?</li>
							<li>¿En qué y para qué podemos emplear las representaciones que tenemos de los hechos, situaciones o cosas? </li>
							<li>¿En qué situaciones has utilizado la imaginación?</li>
							<li>¿Por qué son importantes las representaciones mentales en matemáticas?</li>
							<li>¿Cómo puedes imaginar un determinado número de ciertos objetos? Por ejemplo: ¿diez casas? ¿un centenar de aves volando? ¿Un millar de estrellas? ¿Un billón de insectos? etc.</li>
							<li>Imagina el ciclo de … (la lluvia por ejemplo) ¿qué pasa primero? ¿luego qué sucede? ¿por qué? ¿en dónde está ahora el agua? ¿en qué forma física? ¿después cómo cambia? ¿cómo es? ¿se vuelve a transformar? ¿en qué? ¿cómo lo imaginas? Descríbelo.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Comparar</b>
					</td>
					<td>
						<ul>
							<li>Fomentar actividades en donde a partir de un grupo de elementos puedan ubicar semejanzas y diferencias.</li>
							<li>Promover ejercicios donde se compare no sólo objetos o animales, como en los primeros años escolares, también la comparación de situaciones o sucesos que impliquen un grado de pensamiento más complejo.</li>
							<li>Pedir a los alumnos que elaboren cuadros de doble entrada, donde puedan vaciar en una columna diferencias y en la otra las semejanzas de los elementos que se comparan.</li>
							<li>Solicitar a los alumnos ante cualquier proceso de comparación que establezcan diferencias evidentes y no evidentes. Para que la comparación tenga un nivel de abstracción mucho mayor y que no quede a nivel perceptual. Entre más grandes sean los alumnos, el nivel de abstracción debe de ser mayor.</li>
							<li>No confundir entre comparación y diferenciación.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿A partir de qué elementos puedes determinar las semejanzas y diferencias entre objetos, animales, situaciones, etc.?</li>
							<li>¿Crees que para comparar algo es necesario establecer un criterio? ¿por qué?</li>
							<li>¿Qué sucede o qué riesgos corres cuando no se realiza una comparación adecuadamente?</li>
							<li>¿En qué te tienes que fijar para realizar una comparación?</li>
							<li>¿Qué ventajas tiene el establecer semejanzas y diferencias entre distintos elementos?</li>
							<li>¿Cómo interviene la identificación, la diferenciación y la representación mental en un proceso de comparación?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Clasificar</b>
					</td>
					<td>
						<ul>
							<li>Antes de realizar cualquier ejercicio de clasificación es necesario determinar un criterio que permita acomodar la información, disminuyendo así el rango de error.</li>
							<li>Presentar a los alumnos diversos objetos en grupo, en donde ellos definan el criterio de clasificación que les permita ordenarlos.</li>
							<li>Procurar que los criterios de clasificación sean cada vez más complicados de acuerdo al grado escolar de los alumnos.</li>
							<li>Proponer clasificaciones con diferentes criterios e incrementar el número de los mismos paulatinamente, por ejemplo: primero por color, luego color y forma, luego color, forma y tamaño, posteriormente, color, forma, tamaño y uso, etc.</li>
							<li>Realizar índices donde acomoden el contenido de un texto.</li>
							<li>Cuadros sinópticos en los cuales clasifiquen la información por conceptos.</li>
							<li>Cuadros conceptuales en donde a partir de dos o más criterios de clasificación, los alumnos organicen la información.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Cómo podrías agrupar estos objetos?</li>
							<li>¿Por qué decidiste agrupar así los objetos?</li>
							<li>¿Crees que haya otra manera de agruparlos?</li>
							<li>¿Cuál es el criterio de clasificación que vas a emplear?</li>
							<li>¿Cómo sabes qué elementos van en tal grupo?</li>
							<li>¿Qué características tienen en común los objetos que vas a clasificar?</li>
							<li>¿Cuáles son los errores que cometiste al momento de clasificar? ¿cómo puedes evitarlos?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Análisis</b>
					</td>
					<td>
						<ul>
							<li>Observar imágenes en las cuales los alumnos puedan determinar qué sucede en ellas, a partir de las expresiones, colores, elementos, etc. que se muestren. Las imágenes deberán ser más concretas en los primeros grados escolares y más abstractas en los últimos.</li>
							<li>Solicitar a los alumnos que interpreten con sus propias palabras frases o párrafos.</li>
							<li>Enseñar al alumno a seleccionar la información clave de un texto.</li>
							<li>Identificar diferentes partes de un texto antes de leerlo, revisarlo o estudiarlo (título, subtítulos, letreros en negritas, frases u oraciones entre signos de interrogación o admiración, etc.)</li>
							<li>Trabajar con los alumnos problemas del área de matemáticas o del área de ciencias en donde tengan que ubicar y justificar cuál es la información clave para resolver el ejercicio. Buscar que esto represente una estrategia antes de resolver cualquier problema.</li>
							<li>Fomentar el estudio de caso en los grados escolares más avanzados.</li>
							<li>Encontrar errores o absurdos en un texto,  en una operación matemática o en una fórmula, favorece el proceso de análisis</li>
							<li>Promover en los alumnos que generen preguntas claves de cualquier texto, problema o proceso.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Cuál es el título de este texto? ¿tienen subtítulos? ¿De qué tratará esta lectura?</li>
							<li>¿Cuáles son las palabras clave de la lectura?</li>
							<li>¿Cuál es la información que te pide el problema para resolverlo?</li>
							<li>¿Cómo sabes cuál es la información más importante de un texto o de una imagen?</li>
							<li>¿De este problema cuáles son los datos clave que te permiten resolverlo?</li>
							<li>En esta imagen ¿cuáles son los elementos que más información te proporcionan para interpretarla?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Síntesis</b>
					</td>
					<td>
						<ul>
							<li>La mayor parte de las personas cree que la síntesis sólo se realiza en cuestiones de trabajo con texto, cuando tiene implicaciones más amplias.</li>
							<li>En los grados iniciales se le puede dar al alumno materiales concretos como bloques, para que elaboren algo con un objetivo definido y/o para un uso específico: un camión un barco, etc. La diferencia con el pensamiento divergente radica en que aquí tienen que elaborar algo en función de un objetivo determinado y no es una creación libre.</li>
							<li>Se les pueden dar elementos gráficos, por ejemplo: un sol, una casa, una pelota etc. y a partir de ellos diseñar una ilustración en donde se involucren a todos. </li>
							<li>Proporcionar a los alumnos un resultado y ellos deberán de determinar las cifras o elementos para llegar a ese resultado.</li>
							<li>Una vez que un alumno ha analizado un texto e identificado palabras clave, debe ser capaz de articularlas nuevamente en un texto de composición propia.</li>
							<li>En grados más avanzados, transformar un texto "base" en otro que reproduzca el cuerpo de ideas principales del primero, en forma global y breve, dejando de lado las ideas accesorias.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Qué tienes que tomar en cuenta para elaborar con estos materiales lo que se te pide?</li>
							<li>¿Crees que haya otra forma de elaborarlo?</li>
							<li>¿Qué te representa cada dibujo o cada imagen? ¿qué tendrías que hacer para tomar en cuenta todas estas imágenes e integrarlas en un solo dibujo?</li>
							<li>¿Con las ideas claves que se presentan cómo podrías escribir nuevamente el texto respetando la estructura original?</li>
							<li>¿Cómo puedes integrar estas ideas o estas palabras en  el texto que tú escribas? ¿Cuál crees que es el concepto o idea más importante que permite realizar una síntesis?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Pensamiento deductivo</b>
					</td>
					<td>
						<ul>
							<li>Con los alumnos de grados iniciales presentar juegos de adivinanzas. En los grados más avanzados manejar adivinanzas menos evidentes.</li>
							<li>Plantear a los alumnos situaciones del tipo ¿Qué pasaría si…? ¿Si realizamos determinadas acciones qué sucedería?</li>
							<li>Completar frases, párrafos u operaciones matemáticas a partir de la información con la que cuentan.</li>
							<li>Ayudar a los alumnos a detectar la información clave que les permita resolver un problema y así anticipar un hecho.</li>
							<li>Fomentar que los alumnos elaboren conclusiones a partir de lo que se revisó en clase, independientemente del tema o la materia que se haya revisado.</li>
							<li>Con alumnos de grados más avanzados se pueden realizar ejercicios de silogismos, donde a partir de dos premisas, se genere una conclusión.</li>
							<li>Acompañar al alumno en su proceso de aprendizaje de lo particular a lo general, en dónde pueda aprender en qué otros momentos puede aplicar lo que vio en clase.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Cómo supiste la respuesta?</li>
							<li>¿Qué es una conclusión? ¿Cómo se genera?</li>
							<li>¿Por qué es importante considerar  todo el contexto antes de llegar a una conclusión?</li>
							<li>¿Cuáles fueron los datos claves que utilizaste para llegar a esa conclusión?</li>
							<li>¿Quién elabora una conclusión del tema de hoy? ¿Qué tuviste que hacer para realizar esa conclusión?</li>
							<li>¿En qué otras situaciones cotidianas y académicas puedes aplicar lo que aprendiste hoy?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
					<b>Pensamiento analógico</b></td>
					<td>
						<ul>
							<li>Favorecer que el alumno genere ejemplos de lo que se revisa en clase. El ejemplificar implica utilizar pensamiento analógico, porque establece semejanzas entre el contenido que se presenta y sus conocimientos previos.</li>
							<li>Revisar y elaborar con los alumnos metáforas que permitan al alumno  establecer semejanzas entre dos o más términos.</li>
							<li>Confirmar que los alumnos conocen el significado de los términos que integran la analogía.</li>
							<li>Practicar con los alumnos analogías, estableciendo el criterio que se manifiesta en cada par de palabras por ejemplo: el archipiélago es a isla como constelación es a estrella. El criterio de semejanza es que el primer término agrupa al segundo.</li>
							<li>También en el ámbito matemático se pueden establecer analogías como: Un pastel tiene 3 porciones de harina y dos de leche dos pasteles tienen 6 porciones de harina y 4 de leche.</li>
							<li>Analizar diferentes situaciones o hechos y con base en ellos establecer semejanzas para elaborar analogías.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>En las analogías siempre debe de estar presente una semejanza entre los términos ¿por qué?</li>
							<li>¿Cómo puedes saber la relación entre los pares de palabras que hay en una analogía: isla - archipiélago, estrella - constelación?</li>
							<li>Si identificas la relación entre el primer par de palabras ¿crees que es posible encontrarla en el segundo par de palabras?</li>
							<li>¿En qué se parece una analogía matemática a una verbal?</li>
							<li>¿Crees que la forma en la que encuentras la relación de semejanza en los términos de analogías verbales aplica en analogías matemáticas</li>
							<li>¿Porqué una metáfora es una analogía? ¿Con base en qué explicación puedes fundamentar tu respuesta?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Pensamiento transitivo</b>
					</td>
					<td>
						<ul>
							<li>Solicitar a los alumnos que completen series de cualquier tipo, gráficas, geométricas o numéricas.</li>
							<li>Favorecer que los alumnos creen sus propias series, insistiendo que toda serie debe de tener un criterio de orden, el cual deben especificarlo antes de crearla.</li>
							<li>Solicitar a los alumnos que ordenen los pasos que están involucrados en un procedimiento de manera lógica.</li>
							<li>Crear un procedimiento sencillo en el cual escriban paso a paso lo que hay que realizar y si es posible ponerlo en práctica como una receta de cocina.</li>
							<li>Solicitar a los alumnos que expliquen la ruta que siguen a un determinado lugar. Es una habilidad transitiva ya que deben ser capaces de explicar la serie de pasos que siguen de manera lógica.</li>
							<li>Analizar con los alumnos causas y consecuencias de cualquier situación.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿En qué tienes que poner atención para completar la secuencia?</li>
							<li>¿Cómo sabes la manera en la que debes completar la secuencia?</li>
							<li>De acuerdo con lo que me acabas de contestar ¿cuál es el elemento que sigue?</li>
							<li>¿Cómo sabes qué paso es el que debe ir antes o después?</li>
							<li>¿Qué pasa en un procedimiento cuando uno de los pasos no está?</li>
							<li>¿Cómo sabes cuando una secuencia o un procedimiento tiene lógica?</li>
							<li>¿Si sigues los pasos de un procedimiento crees que es posible llegar al resultado esperado? ¿Por qué?</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<b>Pensamiento lógico</b></td>
					<td>
						<ul>
							<li>Solicitar a los alumnos que encuentren los absurdos en una imagen o en un texto y explicar porqué. Graduados para cada edad.</li>
							<li>De acuerdo a cada edad de los alumnos, resolver problemas y acertijos en donde utilicen todos los procesos mentales anteriormente mencionados.</li>
							<li>Mostrar imágenes en las cuales, los alumnos puedan explicar lo que sucedió. Este es un recurso muy valioso para el desarrollo del pensamiento lógico en edades preescolares y de primaria básica.</li>
							<li>Ante situaciones específicas, solicitar a los alumnos que se anticipen a los hechos y  expliquen lo que pasó.</li>
							<li>Pedir que realicen cálculos mentales sin ayuda de un lápiz, papel o calculadora.</li>
							<li>Que el alumno elabore argumentos lógicos, para explicar porqué pasa un fenómeno, una situación o un hecho.</li>
							<li>Favorecer que los alumnos argumenten sus respuestas, no sólo en función del: qué, cómo, porqué, cuándo, etc.</li>
							<li>Resolver problemas matemáticos, físicos, químicos.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>¿Qué es lo que está fuera de lugar  (absurdo) en esa imagen o en lo que lees?</li>
							<li>¿Por qué consideras que no debe ir ahí?</li>
							<li>¿Qué tendrías que cambiar para que ese aspecto no esté fuera de lugar?</li>
							<li>¿Crees que tus argumentos están bien fundamentados? ¿Por qué?</li>
							<li>¿Cómo puedes resolver el acertijo?</li>
							<li>¿Qué información puede serte útil para resolverlo? ¿Cómo lo sabes?</li>
							<li>¿Crees que haya otra manera de solucionar ese acertijo? ¿Cuál?</li>
							<li>¿Después de leer u oír un texto qué crees que puede suceder y porqué?</li>
							<li>¿En qué argumentas tus respuestas?</li>
							<li>¿Cómo sabes que un argumento está bien fundamentado?</li>
							<li>¿Qué elementos debes de considerar para fundamentarlo?</li>
						</ul>
					</td>
				</tr>
			</table>
	</div>
	<div class="row">
	<div class="small-12 large-12 columns panel no-print">
		<span data-tooltip class="has-tip no-print" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
		<a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
	</div>
</div>
</div>
</body>
</html>

