<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
<meta charset="utf-8" />
<title>Grupo Educare Certificaciones</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">        <!-- Le styles -->	
</head>
<body><!-- inicia body -->
<?php
	echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
								->prependStylesheet($this->basePath() . '/css/font_awesome/css/font-awesome.min.css')
                
                ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
                ->prependStylesheet($this->basePath() . '/css/normalize.css') ;
								
    echo $this->inlineScript()->prependFile($this->basePath('js/reportes/chart_alumnos.js'))
    						  ->prependFile($this->basePath('js/high_charts/modules/exporting.js'))
    						  ->prependFile($this->basePath('js/high_charts/highcharts.js'))
    						  ->prependFile($this->basePath() . '/js/jquery.blockUI.js')
    						  ->prependFile($this->basePath() . '/js/foundation.min.js')
                                                    ->prependFile($this->basePath() . '/js/foundation/modernizr.js')
                                                    ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                                    ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                                    ->prependFile($this->basePath() . '/js/jquery-ui.min.js')
                                                    ->prependFile($this->basePath() . '/js/jquery.min.js');
    
    
?>
<input type="hidden" id="xAxisGlobal" value='<?php echo $_arrDiagnostico['global']['xAxis']?>' />
<input type="hidden" id="data_chartGlobal" value='<?php echo $_arrDiagnostico['global']['data'] ?>' />
<input type="hidden" id="title_global" value='<?php echo $_arrDiagnostico['global']['title'] ?>' />

<input type="hidden" id="xAxisRV" value='<?php echo $_arrDiagnostico['verbal']['xAxis']?>' />
<input type="hidden" id="data_chartRV" value='<?php echo $_arrDiagnostico['verbal']['data'] ?>' />
<input type="hidden" id="titleRV" value='<?php echo $_arrDiagnostico['verbal']['title'] ?>' />

<input type="hidden" id="xAxisRM" value='<?php echo $_arrDiagnostico['matematico']['xAxis']?>' />
<input type="hidden" id="data_chartRM" value='<?php echo $_arrDiagnostico['matematico']['data'] ?>' />
<input type="hidden" id="titleRM" value='<?php echo $_arrDiagnostico['matematico']['title'] ?>' />

<input type="hidden" id="_intIdUsuarioPerfil" value='<?php echo $_intIdUsuarioPerfil; ?>' />
<input type="hidden" id="urlDataAdjunto" value="<?php echo $this->url('reportes',array("controller"=> "reportes","action" => "dataExamenAdjuntoAlumno"))?>" />



<div class="row">	
  	<div class="small-12 large-12 columns panel">
		<div class="row">
			<div class="small-12 large-12 columns text-center">
				<img src="<?php echo $this->basePath('css/images/encabezado_pagina/Logo_HomeDE.png'); ?>" />
                                <br/><br/>
				<h3>Reporte Intellectus<br><small> Instructivo para la interpretación de resultados del examen diagnóstico.</small></h3>
			</div>	
			<div class="small-12 large-12 columns " style="padding:15px;">
				El examen diagnóstico pretende dar a conocer un estimado del desempeño intelectual de los alumnos en función de los procesos mentales que se desarrollan en el programa de Intellectus.
				La evaluación diagnóstico consta de dos grandes apartados:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns " > 
				<ul class="disc">
					<li><b>Razonamiento verbal:</b> el cual está enfocado a la capacidad para razonar contenidos verbales articulándolos por medio de diferentes procesos mentales.</li>
					<li><b>Razonamiento lógico matemático:</b> es la capacidad para comprender conceptos abstractos, establecer relaciones simbólicas entre cosas, hechos o procesos por medio de procesos mentales que conllevan a la lógica.</li>
				</ul>
			</div>
			<div class="small-12 large-12 columns " style="padding:15px;">
				La prueba se compone de veinte o treinta preguntas para el razonamiento lingüístico verbal y para el razonamiento lógico matemático, de esta manera los resultados que se presentan se basan <b>en el número de aciertos que el alumno tuvo en el examen</b>, sin llegar a ser una calificación.
				De acuerdo con lo anterior los resultados se presentan de la siguiente manera:
			</div>
			<div class="small-offset-1 small-11 large-offset-1 large-11 columns" >
				<ul class="disc">
					<li>De cada diagnóstico se proporciona el total de aciertos obtenidos en razonamiento lingüístico verbal y en razonamiento lógico matemático, con sus respectivas graficas.</li>
				</ul>
			</div>
		</div>
  	</div>
  	
</div>

<div class="row" id="rowOptions" >
    
    <div class="small-12 large-12 columns panel no-print">
        <div class="row">
        <div class="large-4 columns">
            
            <div class="row">
                <?php
                if( $_boolExisteAdjunto === true ){
                ?>
                <div class="large-12 columns">
                    <label class="no-print" >

                        <input type="hidden" id="idExamenAdjunto" value="<?php echo $_idExamenAdjunto?>" />
                        <input type="checkbox" id="chkGetPrePost" >
                        <span data-tooltip class="has-tip " title="<?php echo $_strTooltipExamenAdjunto; ?>"><?php echo $_strLabelExamenAdjunto; ?></span>
                    </label>
                </div>
                <?php    
                }
                ?>
                
            </div>
        </div>
        <div class="large-8 columns">
            <span data-tooltip class="has-tip no-print" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
            <a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
            </span>
        </div>
    </div>
    </div>
</div>

<div class="row">
  	<div class="small-12 large-12 columns" id="chart_global"></div>
</div>
<div class="row">
    <div class="small-12 large-12 columns" id="">
        <hr>
        <br/><br/><br/>
        
    </div>
</div>

<div class="row">
  	<div class="small-12 large-12 columns" id="chartRV"></div>
</div>
<div class="row">
    <div class="small-12 large-12 columns" id="">
        <hr>
        <br/><br/><br/>
        
    </div>
</div>
<div class="row">
  	<div class="small-12 large-12 columns" id="chartRM"></div>
</div>
<div class="row">
    <div class="small-12 large-12 columns" id="">
        <hr>
        <br/><br/><br/>
        
    </div>
</div>

<div class="row">
    
    <div class="small-12 large-12 columns panel no-print">
        
            <span data-tooltip class="has-tip no-print" title='Para guardar en formato PDF selecciona la opción "Imprimir a un archivo" en la ventana de dialogo de impresión '>
            <a href="#" class="button small no-print" class="no-print" onclick="window.print();" >Imprimir / Exportar a PDF</a>
            </span>
        
    </div>
</div>
</body>
</html>