

.ui-widget {
	font-size: 1em;	
}

#about {
	display: none;
}

#about_button_container {
	position: absolute;
	top: 0em;
	right: 0em;	
	padding: 0.5em 2em;
	background: #ddf;
	border: 1px solid #bbd;
	width: 25em;
	text-align: center;
}

.wc-header td {
/*	background: url(images/header-bg.png) repeat-x;*/
}

#event_edit_container {
        display: none;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

form ul {
	padding: 0.3em;
}

select, input[type='text'], textarea {
	width: 250px;
	padding: 3px;
}

input[type='text'] {
	width: 245px;
}

ul.formatted,ol.formatted {
	display: block;
	margin: 1em 0.5em;
}

ul.formatted li,ol.formatted li {
	margin: 5px 30px;
	display: auto;
}

ul.formatted li {
	list-style-type: disc;
}

ol.formatted li {
	list-style-type: decimal;
}
#switcher{float:left;}

 /**
     * Aqui se sobreescriben los estilos d
     *el fundation del header
     * @author mruiz.
     * @since 08/05/2015
     */
table {
    margin-bottom: 0rem;
}


/*{
box-sizing: inherit;
}*/

.tooltip{
    background-color:#395675; 
    font-size:1.1em;
    font-style:italic;
    margin-top:-1em;
    color: #fff;
}
.select_date{
    background: #fff;
    color: #008cba!important;
    padding:3px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0#D2EBF8, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #D2EBF8, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #D2EBF8, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    webkit-appearance:none;
    -moz-appearance:menulist-textfield;
    appearance:menulist-textfield;
    cursor:pointer;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 41%;
}
.ui-widget-header{
    background:#bde2fd!important;
    color: #fff!important;
}
.wc-toolbar .wc-title {
    text-align: left;
    color: #fff;
}
.select_date:hover {
    background:#C4ECF9 !important
    color: #fff;
    vertical-align: center top;
    border-radius: 0.5em;
}
.text_date{
    font-style: bolder;
    font-size: 1.3em;
}
span:first-child,#divFormFiltros{
    color: #008cba!important;
}

