<div class="large-12 column large-centered small-12">
    <br/><br/><br/>
    <a href="<?php echo $this->url('grupos'); ?> " class="button" ><i class="fa fa-backward"></i>&nbsp;Regresar a Grupos</a>
</div>
<div class="large-12 column large-centered small-12">
    <div class="row">
        
    
<?php

if($_arrExamenes == null || count($_arrExamenes) < 1){
    echo '<br/><br/>';
    echo '<h1>No hay información para mostrar</h1>';
    echo '<br/><br/>';
}
else{
?>
    <br/><br/><br/>
            <div class="large-8 column large-centered small-12">
                <div id="accordion">
                <?php 
                    foreach ($_arrExamenes as $examen){
                ?>
                    <h3>Examen: <?php echo $examen['nombre']; ?></h3>
                    <div>
                        <table class="borderless_table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Estatus</th>
                                    <th>Acci&oacute;n</th>
                                    <th>Resetear</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php
                                foreach ($examen['users'] as $user){
                                    echo '<tr>';
                                    echo '<td>'.$user['Nombre'].' '.$user['Apellidos'].'</td>';
                                    echo '<td>';
                                        switch($user['Estatus']){
                                            case 'NOAGENDADO':
                                            case 'NOAGENDADO1':
                                                echo "El examen aún no ha sido agendado";
                                                break;
                                            case 'LISTORESOLVER':
                                                echo 'Agendado, listo para resolver';
                                                break;
                                            case 'NODISPONIBLE':
                                                echo 'No disponible';
                                                break;
                                            case 'INTERRUMPIDO': case 'INICIADO':
                                                echo 'El examen se encuentra interrumpido';
                                                break;
                                            case 'INTERRUMPIDOVENCIDO':
                                                echo 'Interrumpido, vencido';
                                                break;
                                            case 'INTERRUMPIDORESOLVER';
                                                echo 'Interrumpido, por resolver';
                                                break;
                                            case 'FINALIZADO':
                                                echo 'Finalizado';
                                                break;
                                            case 'APROBADO':
                                                echo 'Aprobado';
                                                break;
                                            case 'REPROBADO':
                                                echo 'Reprobado';
                                                break;
                                            default:
                                                echo "El examen aún no ha sido agendado";
                                        }
                                    echo '</td>';
                                    echo '<td>';
                                    if( 'APROBADO' === $user['Estatus'] && $examen['id'] == 6 ){
                                        $_strDocumento = 'ver el certificado';
                                    }
                                    if( 'APROBADO' === $user['Estatus'] && $examen['id'] < 6 ){
                                        $_strDocumento = 'ver el reconocimiento';                                    
                                    }
                                    if( 'APROBADO' === $user['Estatus']){
                                            echo '<a data-tooltip class="tip-top" title="'.$this->translate("Haz clic para " . $_strDocumento ).'" href="'
                                                        .$this->url('examenes', array('controller'=>'examenes', 'action' => 'generarPdfAjax')).'?_strNombreCompleto='. $user['Nombre'] . ' ' .$user['Apellidos'].'&_intGrado='.$examen['id'].'&_strLlave=' . $user['Licencia']
                                                        .'" title="'.$_strDocumento.'"><i class="fa fa-thumbs-o-up"></i></a>              '
                                                       // .'<a data-tooltip class="tip-top" title="'.$this->translate("Haz clic para ver la calificación.").'"><i class="fa fa-file-text-o examenAprobado consultCalificacion" id="examenInfo_'.$ind.'_'.$examen['id_examen_usuario'].'_'.$examen['clave_estatus'].'_'.$_arrGrupos[0]['t05id_grupo'].'"></i></a>'
                                            ;


                                    }
                                    /*
                                    if( 'APROBADO' === $user['Estatus']){
                                            echo '<a data-tooltip class="tip-top" title="'.$this->translate("Haz clic para ver la calificación.").'">'
                                                    . '<i class="fa fa-file-text-o examenReprobado consultaCalificacion" id="examenInfo_'.$ind.'_'.$examen['id_examen_usuario'].'_'.$examen['clave_estatus'].'_'.$_arrGrupos[0]['t05id_grupo'].'"></i></a>';
                                    }
                                     
                                     */
                                    echo '</td>';
                                    echo '<td>';
                                    if( 'APROBADO' || 'REPROBADO' === $user['Estatus']){
                                       /* echo '<a href="'.$this->url('examenes', array('controller'=>'examenes', 'action' => 'resetExam', 'id'=>$user['Licencia'])).'">Resetear</a>              '*/
                                                      // .'<a data-tooltip class="tip-top" title="'.$this->translate("Haz clic para ver la calificación.").'"><i class="fa fa-file-text-o examenAprobado consultCalificacion" id="examenInfo_'.$ind.'_'.$examen['id_examen_usuario'].'_'.$examen['clave_estatus'].'_'.$_arrGrupos[0]['t05id_grupo'].'"></i></a>'
                                        
                                        echo '<button id="resetExam*'.$user['Licencia'].'" class="resetExam">Resetear</button>';
                                        echo'<input type="hidden" id="licencia" value="'.$user['Licencia'].'">';
                                            ;
                                    }
                                   
                                    
                                    echo '</td>';
                                    echo '</tr>';
                                }
                            ?>
                            </tbody>

                        </table>
                    </div>

                <?php

                    }
                ?>    
                </div>

                <br/><br/><br/>
        </div>
    
    </div>
</div>
    <div class="large-12 column large-centered small-12">
        <hr/>
        <a href="<?php echo $this->url('grupos'); ?> " class="button" ><i class="fa fa-backward"></i>&nbsp;Regresar a Grupos</a>
    </div>

    
         <input type="hidden" id="urlResetExamen" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action'=>'resetExam')); ?>' />

<?php 

}
$this->headLink()->prependStylesheet($this->basePath() . '/css/grupos/grupos.css');
			  
		$this->headScript()->prependFile($this->basePath() .'/js/grupos/reporte_examen.js');
?>                        