<div class="row" id="bg_header">
    <div class="small-12 medium-6 large-6 text-left columns" id="header_uno">
         <!-- <img src="img/home/logoDE.png" alt="">-->
        <img src="<?php echo $this->basePath(); ?>/css/images/encabezado_pagina/Logo_HomeDE.png" alt="Logo Plataforma de Evaluaciones"/>
    </div>
    <div class="small-12 medium-6 large-6 columns" id="header2">
        <div class="small-12 medium-10 large-11 text-right columns" id="header2">
        <?php echo $this->getUsuarioHelper(); ?>
        </div>
    </div>
</div>
<!-- Fin Encabezado páginas -->
 <?php echo $this->getMenuHelper(); ?>