<?php echo $this->doctype(); ?>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        <?php echo $this->headTitle('Grupo Educare ' . $this->translate('Plataforma de evaluaciones'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                
        ?>
        <!-- Le styles -->
        <?php
        $config = include __DIR__.'/../../../../config/autoload/global.php';       
        $_strPlantillaCSS = $config['constantes']['URL_PLANTILLA_CSS_PROD'];
        $_strPlantillaJS = $config['constantes']['URL_PLANTILLA_JS_PROD'];
        $_strRutaSitio = $config['constantes']['RUTA_SITIO'];
        
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/layout_global/global.css')
                ->prependStylesheet($_strPlantillaCSS)
                ->prependStylesheet($this->basePath() . '/css/font_awesome/css/font-awesome.min.css')
                ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
                ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
                ->prependStylesheet($this->basePath() . '/css/component.css')// revisar para que es
                ->prependStylesheet($this->basePath() . '/css/normalize.css') 
                ->prependStylesheet($this->basePath() . '/css/style_DE.css') ;
        ?>
         <?php
        echo $this->headScript()
               	->prependFile($_strPlantillaJS)
                ->prependFile($this->basePath() .'/js/foundation/foundation.reveal.js')
                //->prependFile($this->basePath() .'/js/jquery.foundation.reveal.js')
                ->prependFile($this->basePath() . '/js/foundation.min.js')
                ->prependFile($this->basePath() . '/js/foundation/modernizr.js')
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/jquery-ui.min.js')
                ->prependFile($this->basePath() . '/js/jquery.min.js');
			        ?>
        
        <?php include_once("analyticstracking.php") ?>
    </head>
    <body>
       <div class="contenedor_body">
		<?php echo $this->render('/layout/header.phtml') ?>
		<div class="row row-contenedor">
			<div class="large-12 small-12 columns">
		
				<?php echo $this->content; ?>
			</div>
		</div>
	   </div>
		<?php echo $this->render('/layout/footer.phtml') ?>
        <!-- /container -->
		
		<?php 
                    echo $this->inlineScript();
                    $_strEstatusFooter = $_SERVER['REDIRECT_URL'] !== '/preguntas/preguntamultiple/0' && $_SERVER['REDIRECT_URL'] !== '/preguntas/muestra-examen-libro/34'
                            ? 'true' : 'false'; // Condicion para ocultar el footer
                    $_strEstatusHeader = $_SERVER['REDIRECT_URL'] !== '/preguntas/preguntamultiple/0' && $_SERVER['REDIRECT_URL'] !== '/preguntas/muestra-examen-libro/34'
                            ? 'true' : 'false'; // Condicion para ocultar el header
                    $_strEstatusHeaderLogo = $_SERVER['REDIRECT_URL'] !== '/preguntas/preguntamultiple/0' && $_SERVER['REDIRECT_URL'] !== '/preguntas/muestra-examen-libro/34'
                            ? 'block' : 'none'; // Condicion para ocultar el header
                            ?>
		<!-- Scripts -->
        <script type="text/javascript">
			$(document).ready(function() {

				$(document).foundation();			
				$.plantilla({
					urlSitio	: '<?php echo $_strRutaSitio; ?>',
					nombreSitio 	: 'Diagn&oacute;sticos Educativos',
					header		: <?php echo $_strEstatusHeader; ?>,
					footer		: <?php echo $_strEstatusFooter; ?>,
				/*	urlFacebook	: '[url del facebook del sitio en cuestión]',
					urlTwitter	: '[url del twitter en cuestión]',
					urlYoutube	: '[url de youtube en cuestión]',*/
					headColor	: '#333333',
					footColor	: '#333333'
				});
			});
                        $('#bg_header').css('display', '<?php echo $_strEstatusHeaderLogo; ?>');
                        $('.spacer60').css('display', '<?php echo $_strEstatusHeaderLogo; ?>');
                        $('.top-bar').parent().parent().css('display', '<?php echo $_strEstatusHeaderLogo; ?>');
                        
		</script>
                <?php 
                    if( $_strEstatusHeader !== 'false'){
                ?>
                <script type="text/javascript">
                    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                    $.src='//cdn.zopim.com/?1BsbfJ4c9m7EPwVGSXTxHmVJz0dcOhXB';z.t=+new Date;$.
                    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
                </script>
                <?php
                    }
                ?>
    </body>
</html>