<input type="hidden" id="urlConsultaCat" value="<?php echo $this->url('examenes',array('controller'=> 'examenes','action'=>'get-categorias'));?>">
<input type="hidden" id="urlConsultaTags" value="<?php echo $this->url('examenes',array('controller'=> 'examenes','action'=>'get-tags'));?>">
<input type="hidden" id="urlCreaExamen" value="<?php echo $this->url('examenes',array('controller'=> 'examenes','action'=>'creaexamenajax'));?>">


<div id="contenedor" class='large-12 small-12 columns'>
    <?php $titleAdd = 'Agregar Examen'; $titleEdit= 'Editar Examen'?>
    <h1><?php
    echo $this->escapeHtml($titleAdd); ?></h1>
            <?php
            $columns    = $this->cols;
            $form       = $this->formExam;
            $pregs      = $this->preguntas;
            $pregsExam   = $this->pregsExam;
            $form->setAttribute('method', 'post');
            $form->prepare();
            echo $this->form()->openTag($form);   
            
            ?>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h5 class="subtitle_exa">Configuracion general</h5>
        </div>
    </div>    
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class="  ci">Nombre</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <?php echo $this->formRow($form->get($columns[4]));?>
                </div>
            </div>
        </div>

        <div class="small-12 medium-12 large-12 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class="  ci">Descripción</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <?php echo $this->formRow($form->get($columns[7]));   //Descripción',?>
                </div>
            </div>
        </div>

        <div class="small-12 medium-12 large-12 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class="  ci">Instrucciones</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <?php echo $this->formRow($form->get($columns[6]));   //Instrucciones generales',?>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">

         <div class="small-12 medium-6 large-6 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Tipo</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <select name="id_tipo_examen" id="id_tipo_examen" class="fieldExamen">
                        <option value="default">Elige el tipo de examen</option>
                        <?php $count = 0;
                        foreach ($arrTipos as $tipo){
                            echo '<option selected value="'.++$count.'">'.$tipo.'</option>';
                            }
                        ?>                        
                    </select>
                    <?php //echo $this->formRow($form->get($columns[1])->setValueOptions($this->arrTipos));?>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Nivel</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <select name="id_nivel" id="id_nivel" class="fieldExamen">
                        <option value="default">Elige el nivel</option>
                        <?php $count1 = 0;
                        foreach ($arrNiveles as $niveles){
                            echo '<option selected value="'.++$count1.'">'.$niveles.'</option>';
                            }
                        ?>                        
                    </select>
                    <?php //echo $this->formRow($form->get($columns[3])->setValueOptions($this->arrNiveles));?>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 large-6 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Categoría</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    
                    <p><textarea rows="" cols="" id="textAreaCat"></textarea></p>
                    <input  type="hidden" id="txtCategorias" class="fieldExamen" name="txtCategorias" value="" />
                    <p id="errorSelectCategoria"  style="display: none; color:#f04124;">
                        Debes seleccionar al menos 1 categoría
                    </p>      
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Etiquetas</h5>
                </div>
                
                <div class="small-12 medium-12 large-12 columns">
                    
                    <p><textarea rows="" cols="" id="textAreaTag"></textarea></p>
                    <input type="hidden" class="fieldExamen" id="txtEtiquetas" name="txtEtiquetas" value="" />
                    <p id="errorSelectTag"  style="display: none; color:#f04124;" >
                        Debes seleccionar al menos 1 etiqueta
                    </p>      
                </div>
            </div>
        </div>

    </div>
    
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h5 class="subtitle_exa">Configuracion de evaluación</h5>
        </div>
    </div>
    
    <div class="row">

        <div class="small-12 medium-6 large-6 columns">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Intentos</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <?php echo $this->formRow($form->get($columns[10]));  //Número de intentos'?>
                </div>
            </div>
        
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Tiempo limite</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <?php echo $this->formRow($form->get($columns[15])); ?>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Escala</h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <select id="id_escala" name="id_escala"  class="fieldExamen ">
                        <option value="default">Selecciona una escala</option>
                    <?php
                        $valDefault= $form->get($columns[2])->getValue();
                        foreach ($arrEscalas as $escala){
                            if($valDefault === $escala['c04id_escala']){
                                echo '<option selected value="'.$escala['c04id_escala'].'">'.$escala['c04escala'].'</option>';
                            }else{
                                echo '<option value="'.$escala['c04id_escala'].'">'.$escala['c04escala'].'</option>';
                            }
                        }
                    ?>
                    </select>
                </div>
            </div>
        
            <div class="row" id="divMinAprobatorio" style="display: none;">
                <div class="small-12 medium-12 large-12 columns">
                    <h5 for="right-label" class=" ci">Mínimo Aprobatorio&nbsp;<span id="sliderOutput3"></span>  </h5>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    
                    
                    <div id="sliderEscala" class="range-slider round" data-slider data-options="start: 1; end: 10;">
                        <span class="range-slider-handle" role="slider" tabindex="0"></span>
                        <span class="range-slider-active-segment"></span>
                        <input type="hidden">
                    </div>
                    <?php echo $this->formRow($form->get($columns[14])); ?>
                    <p>&nbsp;Selecciona el rango que se tomara como base para la calificaci&oacute;n<p>
                </div>
            </div>
        </div>
        
        <div class="small-12 medium-6 large-6 columns" >
            <div class="row" style="margin-top: 40px;">
                <div class="small-6 medium-6 large-6 columns">
                    <h5 for="right-label" class=" ci">Preguntas aleatorias</h5>
                </div>
                <div class="small-6 medium-6 large-6 columns">
                    <fieldset class="row collapse switch round large right has-tip tip-top"data-tooltip aria-haspopup="true" title="selecciona" tabindex="0">
                        <?php echo $this->formRow($form->get($columns[11]));?>
                        <label for="aleatorio_preguntas"></label>
                    </fieldset>
                </div>
            </div>
        
            <div class="row" style="margin-top: 45px;">
                <div class="small-6 medium-6 large-6 columns">
                    <h5 for="right-label" class=" ci">Respuestas aleatorias</h5>
                </div>
                <div class="small-6 medium-6 large-6 columns">
                    <fieldset class="row collapse switch round large right has-tip tip-top"data-tooltip aria-haspopup="true" title="selecciona" tabindex="0">
                        <?php echo $this->formRow($form->get($columns[12]));?>
                        <label for="aleatorio_respuestas"></label>
                    </fieldset>
                </div>
            </div>
        
            <div class="row" style="margin-top: 30px;">
                <div class="small-6 medium-6 large-6 columns">
                    <h5 for="right-label" class=" ci">Examen demo</h5>
                </div>
                <div class="small-6 medium-6 large-6 columns">
                    <fieldset class="row collapse switch round large right has-tip tip-top"data-tooltip aria-haspopup="true" title="selecciona" tabindex="0">
                        <?php echo $this->formRow($form->get($columns[13]));?>
                        <label for="demo"></label>
                    </fieldset>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <br/><br/>
            <hr>
        </div>
        <div class="small-12 medium-12 large-12 columns" style="text-align: right;">
            <?php echo $this->formHidden($form->get($columns[16]));?>
            <a href="<?php echo $this->url('examenes',array('controller'=>'examenes', 'action' => 'index')) ?>"><?php echo $this->formRow($form->get('cancelar'))?></a>
            <?php echo $this->formSubmit($form->get('almacenar')->setAttribute('action',$this->url('examenes',array('controller'=>'examenes', 'action' => 'index')))); ?>
        </div>
        
    </div>
    
    <?php
            echo $this->form()->closeTag();
    ?>
    <div id="modalSuccessExamen" class="reveal-modal medium radius" data-reveal aria-labelledby="modalTitle" data-options="close_on_background_click:false;close_on_esc:false;" aria-hidden="true" role="dialog">
        <input type="hidden" id="urlExamenesIndex" value="<?php echo $this->url('examenes',array('controller'=>'examenes', 'action' => 'index'));?>" />
      <h2 id="modalTitle">Examen Guardado Exitosamente</h2>
      <h3>¿Deseas crear otro examen?</h3>
      <p style="text-align: right;">
          <button id="btnAnotherExamen" class="button btn-azul"><i class="fa fa-check"></i>&nbsp;Sí</button>
          <a href="<?php echo $this->url('examenes', array('controller'=>'examenes','action'=> 'index'));?>" class="button alert">
              <i class="fa fa-times"></i>&nbsp;No</a>
      </p>
      
    </div>
    <div id="modalConfir" class="reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <div id="modalSucces" class="text-left" style="display: none;">
            <p><?php echo $this->translate("El examen se actualizó correctamente."); ?></p>
        </div>
        <div id="modalBtnAceptar" style="display: none;">
            <button class="small button success" id="cerrar-reveal"><?php echo $this->translate('Aceptar') ?></button>
        </div>
    </div>
</div>
<input type="hidden" id="urlConsultaEditCat" value="<?php echo $this->url('examenes',array('action'=>'obtenerCategoriasEdit')) ?>">
<input type="hidden" id="urlConsultaEditEtiq" value="<?php echo $this->url('examenes',array('action'=>'obtenerEtiquetaEdit')) ?>">
<input type="hidden" id="urlIdExamen" value="<?php echo $this->id ?>">
<input type="hidden" id="urlUpdateTagCate" value="<?php echo $this->url('examenes',array('action'=>'actualizarCatEtiqueta')) ?>">


<?php

$this->headLink()    ->prependStylesheet($this->basePath() . '/css/examenes/jquery.tag-editor.css')
                    ->prependStylesheet($this->basePath() . '/css/crearexamen.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/sortable.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/preguntas.css')
                    
                   
        ;

$this->headScript() ->prependFile($this->basePath() .'/js/examenes/examenes.js')
                    ->prependFile($this->basePath() .'/js/examenes/jquery.tag-editor.min.js')
                     ->prependFile($this->basePath() .'/js/examenes/jquery.caret.min.js')
                    ->prependFile($this->basePath() .'/js/jquery.blockUI.js')
                    ->prependFile($this->basePAth() . '/js/validate/jquery.validate.js');
