<div id="bar-remove" class="row no-pseudo">
<div class="small-12 medium-12 large-12 text-left columns detalle_exa">
    <div class="row">
        <div class="small-12 medium-12 large-7 text-left columns detalle_exa">
            <div class="informacion_exa large-2 hidden-for-medium hidden-for-small columns">Evaluación: </div>
            <div id="ifo-examen" class="informacion_exa descripcion_exa large-10 columns"><?php 
                echo $this->nombreExamen;
            ?>
            </div>
            <div class="timer large-9 columns"><span id="timer"></span></div>
        </div>	  
        <div class="small-5 medium-5 large-5 text-left columns detalle_exa hide">
            <div class="informacion_exa large-3 hidden-for-medium hidden-for-small columns">Sección:</div>
            <div class="informacion_exa descripcion_exa large-9 columns"><?php echo $this->seccion; ?></div>
            
        </div>
        <!--botones-->
    </div>	
</div>	
</div>


<div class="contenedor-menu-nav temp">
    <div class="large-4 medium-6 hidden-for-small right columns" style='margin:0;'>
        <div class="large-4 medium-4 columns text-center">
            <a href="#" id="infoPregunta" data-reveal-id="info_pregunta" class=" fa fa-info-circle fa-2x icono-superior"></a>
        </div>
        <div class="large-4 medium-4 columns text-center">
            <a href="#" data-reveal-id="info_examen" class=" fa fa-question-circle fa-2x icono-superior"></a> 
        </div>  
        <!-- <div class="large-4 medium-4 columns text-center">
            <a href="#" class="fa <?php //echo $marcada !== "Marcada" ? "fa-flag-o" : "fa-flag"; ?> fa-2x marca-preg icono-superior"></a>
        </div> -->
    </div>
</div>
<div id="time-left" class="timer large-9 columns"><span id="timer">0:00:00</span></div>
<!--Instrucciones y ayuda examen-->
<!--<div class="row lightbox_inst encabezado-ayuda">
</div>-->
<!--Fin Instrucciones y ayuda examen--> 
<div class="row contenedor-player">  
    <iframe id="frameEvaluacion" src=""
        style='width: 920px; height: 0px; display: block; margin: 0 auto; padding: 0; border: 0; '>
    </iframe>
<script>
    function frameLocation(){
        var ide =  "<?php echo $strtIdActividad ?>";
        var loc = window.location.pathname;
        document.getElementById("frameEvaluacion").src =  (loc.indexOf("public")!==-1 ? loc.split("public")[0]+"public/" : "/")+"motor_v2/index_rev.html?id="+ide;
    }
    frameLocation();
</script>
    <button class="radius_button button-nav but-text boton_evaluar progress" title="Progreso de la evaluacion" id="button-finalizar" data-reveal-id="confirma-finalizar"><hr>Finalizar</button>
<input type='hidden' id='idLicenciaUsr' value="<?php echo $_intIdUsuarioLicencia;?>" />
<input type="hidden" id="urlGetPMessage" value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'getPMessageAjax'));?>"/>
<input type="hidden" id="urlSetPMessage" value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'setPMessageAjax'));?>"/>
<input type="hidden" id="urlFinalizaExamen" value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'finalizaExamenTodoAjax'));?>"/>


<!--Inicio de Modals-->
<!--
<div id="info_pregunta" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
<h2 id="modalInstruccionesPregunta">Instrucciones de la pregunta.</h2>
<p class="instrucciones_pregunta"></p>  
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
-->

<!--Modal Instrucciones-->

<!--Modal Instrucciones-->    
<div id="info_pregunta" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

  <div class="small-9 medium-6 large-6 small-centered medium-centered large-centered columns v_instrucciones">
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <h2 class="titulo_evaluacion">Instrucciones de la pregunta</h2>
      <p class="ventana_secundario">Da clic en el botón de la respuesta correcta.</p>
      <div class="mano_instruccion"><img src="/css/images/mano_instruccion.png" alt="mano instruccion"></div>
</div>
</div>
<!--Fin Modal Instrucciones-->


<div id="info_examen" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
<h2 id="modalInstruccionesExamen">Instrucciones de la evaluación.</h2>
<p class="instrucciones_examen columns">
    <img alt="Ayuda evaluación" src="<?php echo $this->basePath() . '/img/ayuda_evaluacion.jpg' ?>">        
</p>  
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="confirma-finalizar" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">
    <h2 id="modalFinalizarExamen">Finalizar evaluaci&oacute;n.</h2>
    <p class="finalizar_examen">           
        Se almacenar&aacute; la calificaci&oacute;n de las preguntas que contestaste 
        y ya no podr&aacute;s seguir resolviendo la evaluaci&oacute;n.<br><br>
        &iquest;Deseas continuar para finalizar la evaluaci&oacute;n? 
    </p>
    <p>
        <button id="" class="button alert btn_cancelar"><i class="fa fa-thumbs-o-down" style="color:whie;"></i>  No deseo continuar</button>
        <button id="" class="button success btn_evaluar"><i class="fa fa-thumbs-o-up" style="color:whie;"></i>  Si deseo continuar</button>
    </p>      
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- Segundo modal-->    
<div id="segundocandado" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">
    <h2 id="modalFinalizarExamen">Finalizar evaluaci&oacute;n.</h2>
    <p>
        <button id="" class="button alert btn_cancelar"><i class="fa fa-times" style="color:whie;"></i>  Cancelar</button>
        <button id="btnAceptar" class="button success btn_succes"><i class="fa fa-check" style="color:whie;"></i>  Aceptar</button>
    </p>      
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="calificacionReveal" class="reveal-modal blanco" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">

    <div class="small-9 small-centered medium-centered large-centered columns v_instrucciones">
        <h2 class="titulo_evaluacion">Evaluación Terminada</h2>
        <p class="ventana_secundario">Se han almacenado satisfactoriamente tus resultados.</p>
        <p class="ventana_secundario">Calificación final:</p>

        <div class="calificacion_numero"></div>

        <div class="small-6 medium-3 small-centered columns circulo"></div>

      

         <div class="centered" style="text-align: center;">
            <!-- <a href="#" onclick="location.reload()"><div class="ventana_finalizar_inicio"><p class="texto_finalizar2"><i class="fa fa-repeat fa-lg"></i>Reiniciar evaluación</p></div></a> -->
           <a href="<?php echo $this->url("home", array("controller"=>"Index", "action"=>"index")) ; ?>">
                <p class="texto_finalizar2"><i class="fa fa-home fa-lg"></i>Inicio</p>
           </a>
        </div>
    </div>
</div>
    
<!-- cierra contenedor del body -->
<?php
$this->headScript()
    ->prependFile($this->basePath() . '/js/motor_actividades/motor_actividades.js')
    ->prependFile($this->basePath() . '/js/jquery.chrony.js');
if ($this->idNivel !== 1) { $_strNivel = 'alta'; } else { $_strNivel = 'baja'; }
$this->headLink()
    ->prependStylesheet($this->basePath() . '/css/examenes/estilo_modal.css')
    ->prependStylesheet($this->basePath() . '/css/examenes/motorv2.css')
    ->prependStylesheet($this->basePath() . '/css/examenes/examenes.css')
    ;
?>