
<div id="contenedor" class='large-12 small-12 columns'>
    <?php $title = 'Editar Examen'; ?>
    <h1 class="tip-top titulo_gral" data-tooltip aria-haspopup="true" title="Editar Examen"><?php echo $this->escapeHtml($title); ?></h1>
            <?php
            $columns    = $this->cols;
            $form       = $this->formExam;
            $pregs      = $this->preguntas;
            $pregsExam   = $this->pregsExam;
            //$form->setAttribute('action', $this->url('examenes', array('action' => 'creapreguntaajax')));
            $form->prepare();
            $form->setAttribute('id','examenEdit');
            echo $this->form()->openTag($form);   
            echo $this->formHidden($form->get('creaexamen'));
            //echo $this->formHidden($form->get('cancelarevento'));
            ?>
    <div class="row">
        <div class="tableGrupo ci mas large-12 medium-12 small-12 columns">
            <div class="tip-top"data-tooltip aria-haspopup="true" title="Configuracion general"><h5 class="subtitle_exa">Configuracion general</h5></div>
            <div class="small-12 medium-6 large-6 columns" id="">
                <div class="row">
                    <div class="conf">
                        <h5 class="ci small-12 medium-3 large-4 columns">Nombre</h5>
                        <div class="small-12 medium-9 large-8 left columns">
                            <div class="row collapse prefix-radius has-tip tip-top" data-tooltip aria-haspopup="true" title="Escribe el Nombre de Examen">
                                <?php echo $this->formRow($form->get($columns[4]));?>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="ci small-12 medium-3 large-4 columns">Descripción</h5>
                    <div class="small-12 medium-9 large-8 left columns">
                        <div class="row collapse prefix-radius has-tip tip-top" data-tooltip aria-haspopup="true" title="Escribe las instrucciones">
                            <?php echo $this->formRow($form->get($columns[6]));   //Instrucciones generales',?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="ci small-12 medium-3 large-4 columns">Instrucciones</h5>
                    <div class="small-12 medium-9 large-8 left columns">
                        <div class="row collapse prefix-radius has-tip tip-top" data-tooltip aria-haspopup="true" title="Escribe las instrucciones">
                            <?php echo $this->formRow($form->get($columns[7]));   //Descripción',?>
                        </div>
                    </div>
                </div>
            </div>
                <!-- tipo de examen -->
            <div class="">
                <div class="small-12 medium-6 large-6 left columns" id="ucle">
                    <div class="row">
                     <div class="conf">
                        <h5 class="ci small-12 medium-3 large-2 columns">Tipo</h5>
                        <div class="small-12 medium-9 large-10 left columns">
                            <div class="row collapse prefix-radius has-tip tip-top" data-tooltip aria-haspopup="true" title="Elige el Tipo de Examen">
                                <?php echo $this->formRow($form->get($columns[1])->setValueOptions($this->arrTipos));?>
                            </div>
                        </div>
                      </div>
                    </div>
                     <div class="row">
                       <h5 class="ci small-12 medium-3 large-2 columns">Nivel</h5>
                        <div class="small-12 medium-9 large-10 left columns">
                            <div class="row collapse prefix-radius has-tip tip-top" data-tooltip aria-haspopup="true" title="Elige el Nivel de Examen">
                                <?php echo $this->formRow($form->get($columns[3])->setValueOptions($this->arrNiveles));?>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
<!--Finaliza tipo de examen -->
  <!--Finaliza Div contenedor -->                
    </div>
<!--Finaliza Div contenedor -->	
  <!--Inicia segundo bloque -->	
  <div class="tableGrupo ci mas large-12 medium-12 small-12 columns " id="mas">
      <!-- configuracion Avanzada-->
     <div class="has-tip tip-top"data-tooltip aria-haspopup="true" title="Configuracion avanzada"><h5 class="subtitle_exa">Configuracion de evaluación</h5>
     </div>
      <div class="ci small-12 medium-6 large-6 columns">
                      <div class="row">
                          <h6 class="ci small-6 medium-6 large-4 columns preguntas_conf">Intentos&nbsp;</h6>
                          <div class="small-6 medium-6 large-8 left columns has-tip tip-top preguntas_conf"data-tooltip aria-haspopup="true" title="Numero de intentos">
                              <?php echo $this->formRow($form->get($columns[10]));  //Número de intentos'?>
                          </div>
                      </div>
                      <div class="row">
                          <h6 class="ci small-6 medium-6 large-4 columns">Tiempo limite&nbsp;</h6>
                          <div class="small-6 medium-6 large-8 left columns has-tip tip-top"data-tooltip aria-haspopup="true" title="Limite de Tiempo">
                              <?php echo $this->formRow($form->get($columns[15])); ?>
                          </div>
                      </div>
      </div>
      <!--Configuracion de la Evaluacion -->
          <div class="ci small-12 medium-6 large-6 left radius columns">
                 <div class="small-12 medium-12 large-12 left columns panel_calificacion">
                   <!-- <ul class="tabs min" data-tab>
                          <h5 class="ci small-12 medium-12 large-12 columns radius button has-tip tip-top color_panel" data-tooltip aria-haspopup="true" title="Calificación minima" style="">Calificación minima aprobatoria&nbsp; <i class="fa fa-check-square-o fa-lg text center"> </i></h5>
                          <li id="range-10" class="small-12  large-3 columns active small radius button info has-tip tip-top text center"data-tooltip aria-haspopup="true" title="Rango 0-10" ><a href="#panel1">0-10</a></li>
                          <li id="range-100" class="small-12  large-3 columns active small radius button info has-tip tip-top text center"data-tooltip aria-haspopup="true" title="Rango 0-100" ><a href="#panel2">0-100</a></li>
                          <li id="range-1000" class="small-12  large-4 columns end active small radius button info has-tip tip-top text center"data-tooltip aria-haspopup="true" title="Rango 0-1000"><a href="#panel3">0-1000</a></li>
                      </ul> -->  
                   <div>
                          <h5 class="ci small-8 medium-3 large-4 columns preguntas_conf">Escala</h5>
                          <div class="small-12 medium-9 large-8 left columns preguntas_conf">
                              <div class="row collapse prefix-radius has-tip tip-top" data-tooltip aria-haspopup="true" title="Elige la escala de Evaluacion">
                                <?php echo $this->formRow($form->get($columns[2])->setValueOptions($this->arrEscalas));?>
                              </div>
                          </div>
                      </div>
                      <div>
                          <h6 class="small-6 medium-6 large-6 columns">Mínimo Aprobatorio</h6>
                          <div class="small-12 medium-9 large-8 left columns">
                              <div style="visibility: hidden" id="escala-10" class="range-slider round span_div" data-slider data-options="display_selector: #sliderOutput3; start: 0; end: 10; step: 1;">
                                  <span class="range-slider-handle" role="slider" tabindex="0" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10"></span>
                                  <span class="range-slider-active-segment"></span>
                                      <?php echo $this->formRow($form->get($columns[14])); ?>
                              </div>
                          </div>
                          <div style="visibility: hidden" class="small-12 medium-9 large-8 left columns">
                              <div id="escala-100" class="range-slider round span_div" data-slider data-options="display_selector: #sliderOutput3; start: 0; end: 100; step: 10;">
                                  <span class="range-slider-handle" role="slider" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></span>
                                  <span class="range-slider-active-segment"></span>
                              </div>
                          </div>
                          <div style="visibility: hidden" class="small-12 medium-9 large-8 left columns">
                              <div id="escala-1000" class="range-slider round span_div" data-slider data-options="display_selector: #sliderOutput3; start: 0; end: 1000; step: 100;">
                                  <span class="range-slider-handle" role="slider" tabindex="0" aria-valuenow="500" aria-valuemin="0" aria-valuemax="1000"></span>
                                  <span class="range-slider-active-segment"></span>
                                    <?php //echo $this->formRow($form->get($columns[14])); ?>
                              </div>
                          </div>
                          <div id="sliderOutput3"></div>  
                     <div class="tabs-content">
                      <div class="radius small-12 columns subtitulo preguntas_conf" style="">
                          <div class="has-tip tip-top"data-tooltip aria-haspopup="true" title="Selecciona el rango">
                                <h6 class="subtitulo sel_range">
                                    <i class="fa fa-chevron-up fa-2x text center"></i>
                                    &nbsp;Selecciona  el  rango que se tomara como base para la calificacion
                                </h6>
                           </div>
                       </div>
                     </div>
                    </div>
                  </div>
               </div>
               <div class="large-6 left columns">
          <div class="row">
              <h5 class="ci preguntas_conf div_align small-8 medium-8 large-8 columns">Preguntas aleatorias</h5>
              <div class="small-4 medium-4 large-4 right columns preguntas_conf">
                  <fieldset class="row collapse switch round large right has-tip tip-top"data-tooltip aria-haspopup="true" title="selecciona" tabindex="0">
                      <?php echo $this->formRow($form->get($columns[11]));?>
                      <label for="aleatorio_preguntas"></label>
                  </fieldset>
              </div>
          </div>
          <div class="row">
              <h5 class="ci preguntas_conf div_align small-8 medium-8 large-8 columns">Respuestas aleatorias</h5>
                <div class="small-4 medium-4 large-4 right columns preguntas_conf">
                    <fieldset class="row collapse switch round large right has-tip tip-top"data-tooltip aria-haspopup="true" title="selecciona" tabindex="0">
                        <?php echo $this->formRow($form->get($columns[12]));?>
                        <label for="aleatorio_respuestas"></label>
                    </fieldset>
                </div>
          </div>
          <div class="row">
              <h5 class="ci preguntas_conf div_align small-8 medium-6 large-6 columns">Examen demo</h5>
              <div class="small-4 medium-6 large-6 right columns preguntas_conf">
                  <fieldset class="row collapse switch round large right has-tip tip-top"data-tooltip aria-haspopup="true" title="selecciona" tabindex="0">
                        <?php echo $this->formRow($form->get($columns[13]));?>
                        <label for="demo"></label>
                  </fieldset>
              </div>
          </div>
        </div>
      </div>
      <div class="small-12 medium-9 large-8 left columns">
      <?php echo $this->formHidden($form->get($columns[16]));?>
      </div>
      <div class="small-12 large-6 columns">
          <div class="small-6 large-6 columns text-center right preguntas_conf">
            <?php echo $this->formSubmit($form->get('almacenar')); ?>
          </div>
          <div class="small-6 large-6 columns text-center right preguntas_conf">
            <?php echo $this->formRow($form->get('cancelar'));  ?>
          </div>
      </div>
      <?php
        echo $this->form()->closeTag();
        ?>
  </div>
 </div>
</div>
<input type="hidden" id="urlCreaExamen" value="<?php echo $this->url('examenes',array('action'=>'creaexamenajax')) ?>">

<?php
$this->headLink()   
                    ->prependStylesheet($this->basePath() . '/css/crearexamen.css')
                    ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
                    ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/sortable.css')
                    ->prependStylesheet($this->basePath() . '/css/examenes/preguntas.css')
                    ->prependStylesheet($this->basePath() . '/css/normalize.css');

$this->headScript() ->prependFile($this->basePAth() . '/js/validate/jquery.validate.js')
                    ->prependFile($this->basePath() .'/js/examenes/examenes.js')
                    ->prependFile($this->basePath() .'/js/examenes/sortable.js')
                    //->prependFile($this->basePath() .'/js/preguntas.js')
                    ->prependFile($this->basePath() .'/js/tinymce/tinymce.min.js')
                    ->prependFile($this->basePath() . '/js/foundation/foundation.reveal.js')
                    //->prependFile($this->basePath() . '/js/foundation/foundation.slider.js')
                    ->prependFile($this->basePath() .'/js/foundation.min.js')
                    ->prependFile($this->basePath() . '/js/respond.min.js')
                    //->prependFile($this->basePath() . '/js/kendo/kendo.all.min.js')
                    ->prependFile($this->basePath() . '/js/jquery-ui.min.js');


