<div class="row text-left detalle_exa">
    <!-- Encabezado examen -->
        <div class="informacion_exa large-3 medium-4 hide-for-small columns"><strong>Nombre de la evaluaci&oacute;n:</strong></div>  
        <div class="informacion_exa large-9 medium-8 columns"><?php echo $this->examen['t12nombre']?></div>
        <div class="informacion_exa large-3 medium-4 hide-for-small columns"><strong>Descripci&oacute;n:</strong></div>
        <div class="informacion_exa large-9 medium-8 columns"><?php echo  $this->examen['t12descripcion']?></div>
        <div class="informacion_exa large-3 medium-4 hide-for-small columns"><strong>Tipo de la evaluaci&oacute;n:</strong></div>
        <div class="informacion_exa large-9 medium-8 columns"><?php echo $this->examen['c02tipo_examen']?></div>
    <!-- Fin Encabezado examen -->
</div>
<!-- Examen vista-comenzar -->
<div class="row contenedor_inst">
    <div class="row">
        <div class="inst_exa large-12 medium-12 columns">
            <div class="large-3 medium-3 columns inst_titulo">
                
                <?php
                if(!$this->numIntentos){
                    //echo $this->textos['intentos'];
                }else{
                    echo 'Instrucciones:';
                }
                ?>                
            </div>
            <div class="large-8 medium-8 columns">
                <?php
                if((!$this->numIntentos && $examen['t12id_examen']!="34") && (!$this->numIntentos && $examen['t12id_examen']!="35") && (!$this->numIntentos && $examen['t12id_examen']!="36")){
                    echo $this->textos['intentos'];
                }else{
                    echo 'Lee con atenci&oacute;n las instrucciones generales de la evaluaci&oacute;n.';
                }
                ?>                
            </div> 
            <!--<div class="large-1 medium-1 columns">
                 <span data-tooltip="" aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" data-selector="tooltip-iasozow50" aria-describedby="tooltip-iasozow50" title="información">
                  <a href="#" id="boton-mostrar" data-reveal-id="inst_grales" class="fa fa-info-circle fa-2x"></a>
                 </span>
            </div>-->
        </div>
        <div id="inst_grales" class="large-6 medium-6 small-12 left columns reveal-modal" data-reveal>
            <div class="titulo_gral">
                Instrucciones generales
            </div>	         
            <ul class="list lead">
                <li class="li_style"><i class="fa fa-check"></i>&nbsp;Da clic en el bot&oacute;n <i class="tiny alert fa fa-search fa-2x"></i></li>
                <li class="li_style"><i class="fa fa-check"></i>&nbsp;Lee las instrucciones para cada pregunta.</li>
                <li class="li_style"><i class="fa fa-check"></i>&nbsp;Lee la pregunta que se presenta.</li>
                <li class="li_style"><i class="fa fa-check"></i>&nbsp;Da clic o responde con la respuesta que consideras correcta.</li>
                <li class="li_style"><i class="fa fa-check"></i>&nbsp;Da clic en el bot&oacute;n "siguiente" , en la barra que se encuentra en la parte inferior de la pantalla para pasar a la siguiente pregunta.</li>
                <li class="li_style"><i class="fa fa-check"></i>&nbsp;Si necesitas regresar a la pregunta anterior da clic en el bot&oacute;n "anterior".</li>
                <li class="li_style"><i class="fa fa-check"></i>&nbsp;Cuando termines de contestar la &uacute;ltima pregunta da clic en el bot&oacute;n "evaluar examen".</li>
            </ul>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>	   
        <?php
            if($this->numIntentos || $examen['t12id_examen']=="34" || $examen['t12id_examen']=="35" || $this->examen['t12id_examen']=="36"){
        ?>
        <div class="large-12 medium-12 small-12 columns">
            <div class="large-6 medium-6 columns">
                <ul class="list lead">
                    <li class="li_datos li_int"><i class="fa fa-book fa-lg"></i>&nbsp;<?php 
                        if($examen['t12id_examen']=="34" || $examen['t12id_examen']=="35" || $this->examen['t12id_examen']=="36"){
                            echo "Examen Demo";
                        }else{
                            echo $this->textos['intentos'];
                            
                        }
                        ?>
                    </li>
                    <li class="li_datos li_int"><i class="fa fa-clock-o fa-lg"></i>&nbsp;<?php echo $this->textos['tiempo'];?></li>
                    <li class="li_datos li_int"><i class="fa fa-check-circle-o fa-lg"></i>&nbsp;<?php echo $this->textos['minimo'];?></li>
                </ul>
            </div>
            <div class="large-6 medium-6 columns">
                <ul class="list lead">
                    <li class="li_datos li_tit"><i class="fa fa-exclamation-triangle fa-2x color-amarillo fa-lg"></i>&nbsp;La evaluaci&oacute;n se interrumpir&aacute; en los siguientes casos: </li>
                    <li class="li_datos li_info"><i class="fa fa-lightbulb-o fa-lg"></i>&nbsp;Si se presentan problemas con la conexi&oacute;n a internet.</li>
                    <li class="li_datos li_info"><i class="fa fa-lightbulb-o fa-lg"></i>&nbsp;Si se utilizan los botones del navegador. 
                        <a href="#" data-reveal-id="iconosNavegador" class="small-link">¿Cuáles son?</a>
                    </li>
                    <li class="li_datos li_info"><i class="fa fa-lightbulb-o fa-lg"></i>&nbsp;Si te sales de internet sin dar clic en el botón de "Finalizar".</li>
                    <li class="li_datos li_info"><i class="fa fa-wrench fa-lg"></i>&nbsp;En cualquiera de los casos anteriores, la evaluaci&oacute;n podr&aacute; ser desbloqueada sólo por tu profesor.</li>
                </ul>
            </div>
        </div>
        <div class="small-12 large-12 columns"> 
            <img src="<?php echo $this->basePath('imgs/AyudaEvaluacion.png'); ?>"/>
        </div>
        <hr/>
        <div class="small-12 large-12 columns">  
            <div class="small-5 medium-5 large-5 text-right par columns">
                <h5 class="small-link">He leído las instrucciones</h5>
            </div>
            <div class="small-2 medium-1 large-1 columns inst_style">
                <input type="checkbox" id="jq_chk_acepto">
            </div>
            <div class="small-5 medium-6  large-6 text-left columns inst_style">
                <a href="<?php 
                if($this->examen['c02id_tipo_examen']=="4" || $this->examen['t12id_examen']=="34" || $this->examen['t12id_examen']=="35" || $this->examen['t12id_examen']=="36"){
                    echo $this->url('preguntas', array('action'=>'muestra-examen-libro', 'id'=> $this->examen['t12id_examen']));
                    
                }else{
                    echo $this->url('preguntas', array('action'=>'preguntamultiple', 'id'=> 0));
                }
                //echo $this->url('preguntas', array('action'=>'muestra-examen-libro', 'id'=> $this->examen[t12id_examen]));
                        ?>" 
                   id="butt_comienza" class=" button info text-center butt_style">Iniciar evaluación</a> 
            </div>
        </div>   
        <?php
            }else{
        ?>
        <div class="small-12 large-12 columns">  
            <div class="small-12 medium-12 large-12 text-center columns inst_style">
                <a href="<?php echo $this->url('examenes', array('action'=>'misexamenes'))?>" 
                   id="butt_regresa" class=" button info text-center butt_style">Ir a mis evaluaciones</a> 
            </div>
        </div>   
        <?php
            }
        ?>
    </div>
</div>
<div id="iconosNavegador" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalBotonesNavegacion">Botones de Navegación.</h2>
    <div class="finalizar_examen">           
        Los botones de navegación son los que aparecen en la parte superior de la ventana que estás observando actualmente.<br><br>
        Dependiendo del navegador, cambiarán los estilos de los mismos.<br><br> 
        Aquí se muestra un ejemplo de estos botones en distintos navegadores:<br><br>
        <div  class="text-center columns">
            <table>
                <thead>
                    <td>Navegador</td>
                    <td>Botones</td>
                </thead>
                <tbody>
                    <tr>
                        <td>Safari</td>
                        <td><img alt="Botones de navegación de Safari" src="<?php echo $this->basePath() . '/img/botones_navegacion/NavegacionSafari.jpg'?>"></td>
                    </tr>
                    <tr>
                        <td>Mozilla Firefox</td>
                        <td><img alt="Botones de navegación de Mozilla Firefox" src="<?php echo $this->basePath() . '/img/botones_navegacion/NavegacionFirefox.jpg'?>"></td>
                    </tr>
                    <tr>
                        <td>Internet Explorer</td>
                        <td><img alt="Botones de navegación de Internet Explorer" src="<?php echo $this->basePath() . '/img/botones_navegacion/NavegacionExplorer.jpg'?>"></td>
                    </tr>
                    <tr>
                        <td>Google Chrome</td>
                        <td><img alt="Botones de navegación de Google Chrome" src="<?php echo $this->basePath() . '/img/botones_navegacion/NavegacionChrome.jpg'?>"></td>
                    </tr>
                    <tr>
                        <td>Opera</td>
                        <td><img alt="Botones de navegación de Opera" src="<?php echo $this->basePath() . '/img/botones_navegacion/NavegacionOpera.jpg'?>"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div data-alert id="jq_alert_leido" class="alert-box warning round" style="display: none;">
  Es necesario activar la casilla de "He leído las instrucciones".
  <!--<a href="#" class="cerrar">&times;</a>-->
</div>
<script type="text/javascript">
    $(document).ready(function(){        
        $('#butt_comienza').on('click', function(evt){
            evt.preventDefault();
            var link = $(this).attr('href');
            if($('#jq_chk_acepto').is(':checked')){
                window.location = link;
            }else{
                //console.log('Es necesario activar la casilla de He leido las instrucciones');
                $('#jq_alert_leido').slideDown('slow');
            }
        });
        $('#jq_alert_leido .cerrar').on('click', function(){
            $('#butt_comienza').focus();
            $('#jq_alert_leido').slideUp('slow');
        });
        $('#jq_chk_acepto').on('change', function(){
           if($(this).is(':checked')){
               $('#jq_alert_leido').slideUp('slow');
           } 
        });      
    });
</script>
<?php
        $this->headLink()
                ->prependStylesheet($this->basePath() . '/css/font_awesome/css/font-awesome.min.css')
                ->prependStylesheet($this->basePath() . '/css/examenes/examenes.css')
                ->prependStylesheet($this->basePath() . '/css/style_DE.css');
        ?>
         <?php
        //echo $this->headScript()->prependFile('http://portalge.grupoeducare.com/js/jquery.jqPlantilla.js');
 
        