<div class="large-12 small-12 columns">
    <?php 
    $link = $_SERVER['REQUEST_URI'];
    $link_array = explode('/',$link);
    $page = end($link_array);
    ?>
</div>
<div class="large-8 small-6 columns">
    <h3 class="titulo_gral"><?php echo $this->translate('Exámenes');?></h3>
</div>
<div class="large-4 small-6 columns text-right">
    <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip" title="<?php echo $this->translate('Agregar nuevo examen');?>">
        <a href="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'add'));?>" 
           class="button success"><i class="fa fa-plus fa-lg"></i></a>
    </span>
    <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip" title="<?php echo $this->translate('Mostrar exámenes eliminados');?>">
        <a href="#" class="button success"><i class="fa fa-trash fa-lg"></i></a>
    </span>
</div>
<input type="hidden" id="urlDataExamenes"  value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'getDataExamenes'));?>">
<input type="hidden" id="urlDeleteExamenes"  value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'delete'));?>">
    <input type="hidden" id="urlCopiarExamenes"  value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'copiarexamen'));?>">

<div id="advertenciaEliminaExamen" class='reveal-modal tiny radius' data-reveal>
    <div class="large-12 small-12 columns text-center">
        <h4>Desea Eliminar el Examen</h4>
        <a id="btnEliminaExamen"  class="button">Eliminar</a>
        <a id="btnCancelarEliminaExamen"  class="button">cancelar</a>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<!--<div id="tipos">
</div>    -->
    <div id="advertenciaEliminaExamen" class='reveal-modal tiny radius' data-reveal>
        <div class="large-12 small-12 columns text-center">
            <h4><?php echo $this->translate('Desea Eliminar el Examen');?></h4>
            <a id="btnEliminaExamen"  class="button">Eliminar</a>
            <a id="btnCancelarEliminaExamen"  class="button">cancelar</a>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    
    <div id="ayudaCopiarExamen" class='reveal-modal small radius' data-reveal>
        <input type="hidden" id="idCopiarExamen" value="" size="2" disabled="disabled">
    <div class="large-12 medium-12 columns text-center">
        <h4><?php echo $this->translate('Copiar examen');?></h4>
        <form id="formCopiarExamen">
            <div class="large-12 medium-12 columns text-center"><input type="radio" id="copia_parcial" name="radioCopia" value="1" required><?php echo $this->translate('Copia parcial (Sin preguntas).');?> </div>
            <div class="large-12 medium-12 columns text-center"><input type="radio" id="copia_completa" name="radioCopia" value="2" required><?php echo $this->translate('Copia completa (Incluye preguntas).');?> </div>
            <label for="radioCopia" class="error"></label>
            <button type="submit" class="button" id="btnAceptarCopia"><?php echo $this->translate('Copiar');?></button>
            <a id="btnCancelarCopia"  class="button"><?php echo $this->translate('Cerrar');?></a>
        </form>
        <div id="contenedor_fin_copia" style="display: none;">
            <div class="large-12 medium-12 columns text-center" ><span id="copia_mensaje" ></span></div>
            <a id="btnTerminaCopia"  class="button" ><?php echo $this->translate('Terminar');?></a>
        </div>
    </div>        
    <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="confirmaCopiaExamen" class='reveal-modal small radius' data-reveal>
    <div class="large-12 medium-12 columns text-center">
        <h4><?php echo $this->translate('El examen ya fue publicado, por lo tanto no puedes modificarlo, ¿Deseas hacer una copia para continuar editando?');?></h4>
        <form id="formConfirmCopiarExamen">
            <button type="button" id="btnConfirmAceptarCopia"><?php echo $this->translate('Aceptar');?></button>
            <button type="button" id="btnConfirmCancelaCopia"><?php echo $this->translate('Cancelar');?></button>
        </form>
    </div>        
    <a class="close-reveal-modal">&#215;</a>
    </div>
    
<div id="tipos">
    <?php 
    if($this->examenes){
        foreach ($this->examenes as $id => $data){
    ?>
        <fieldset>
            <div style="width: 50%; float: left">
                <h3><?php echo $data['tipo'] ?></h3>
            </div>
            <table id="" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th style="text-align: center">Nombre de Examen</th>
                        <th style="text-align: center">Estatus Examen</th>
                        <th style="text-align: center">Editar Examen</th>
                        <th style="text-align: center">Iniciar Evaluacion</th>
                        <th style="text-align: center">Agregar Preguntas</th>
                        <th style="text-align: center">Copiar Examen</th>
                        <th>JSON</th>

                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($data['examenes'] as $ind => $dato){
                    ?>
                    <tr>
                        <th><h6><?php echo $dato[0]?></h6></th>
                        <th style="text-align: justify"><?php echo $dato[1]?></th>
                        <th onclick="siExamPublicadaEdit(<?php echo $ind; ?>)" style="text-align: center"><a class="tiny success fa fa-pencil-square-o"></a></th>
                        <th style="text-align: center;"><a class="tiny alert fa fa-play-circle-o" href="<?php echo  $this->url('examenes', array('controller'=>'examenes', 'action' => 'examen', 'id' => $ind)); ?>"></a></th>
                        <th onclick="siExamPublicada(<?php echo $ind ?> )" style="text-align: center;"><a class="tiny alert fa fa-plus">    </a></th>
                        <th onclick="abrirModalCopiar(<?php echo $ind ?>)" style="text-align: center;"><a class="tiny alert fa fa-files-o"> </a></th>
                         <th style="text-align: center;"><a class="tiny alert fa fa-file-code-o" href="<?php echo  $this->url('preguntas', array('controller'=>'preguntas', 'action' => 'muestrapregunta', 'id' => $ind)); ?>"></a></th>
                    </tr>
                    <?php
                    }
                    ?>
                </tbody>
            </table>
        </fieldset>   
    <?php
        }
    }
    ?>
</div>
    
    <input type="hidden" id="urlPaginaActual"       value="<?php echo $page;?>">
    <input type="hidden" id="urlPreguntaInExa"     value="<?php echo $this->url('preguntas',array('action'=>'ifPreguntaInExam'));?>">
    <input type="hidden" id="redirecEditLigarPregExam" value="<?php echo $this->url('examenes',array('action'=>'ligarpreguntasexamen'));?>">
    <input type="hidden" id="redirecEditExam" value="<?php echo $this->url('examenes', array('action' => 'edit'));?>">



    <?php
    $this->headLink()   ->prependStylesheet($this->basePath() . '/css/jquery.jqTable.css')
                        ->prependStylesheet($this->basePath() . '/css/grupos/grupos.css')
                        ->prependStylesheet($this->basePath() . '/css/dataTable/jquery.dataTables.css')
            ;
    
    $this->headScript() ->prependFile($this->basePath() .'/js/validate/jquery.validate.js')
                        ->prependFile($this->basePath() . '/js/jquery.dataTables.min.js')
                        ->prependFile($this->basePath() . '/js/jquery.blockUI.js')
                        ->prependFile($this->basePath() .'/js/jquery.jqTable.js')
                        ->prependFile($this->basePath() .'/js/examenes/listadoexamenes.js');
