<h4 style="text-align: left" id="preguntas" class="tittle_ligar">
    Ligar preguntas al examen <?php echo $this->nombre_examen; ?>
</h4>
<div class="tableGrupo ci mas large-12 medium-12 small-12 columns">
    <div class="row" id="contenedor_principal">
        <form id="frmLigarPreguntasExamen">   
            <div id="secciones" class="seccion-general  small-12 medium-6 large-6 columns" style="  margin-bottom: 0;">        

                <?php
              if($pregsExam ==0){
                  
              }else{
                foreach($pregsExam as $index => $data){
              ?>
                
                <div id="seccion_<?php echo $data['seccion']['t20id_seccion_examen'] ?>" class="row contenedor_preguntas">                
                    <div id="titulo_seccion_<?php echo $data['seccion']['t20id_seccion_examen'] ?>" class="tit_agregar" name="<?php echo $data['seccion']['t15seccion'] ?>">
                        <div class="row">
                            <input id="nombreSecc<?php echo $data['seccion']['t20id_seccion_examen'] ?>" placeholder="nombre de la sección" 
                                   class="large-8 medium-7 small-8 columns tamano" 
                                   value="<?php echo $data['seccion']['t15seccion'] ?>" maxlength="40"/>
                            <div class="large-2 medium-3 small-2 columns text-right">
                                <input type="number" class="typeNumber has-tip tip-top" data-tooltip="Ponderación" title="Ponderación" id="valorPorcent<?php echo $data['seccion']['t20id_seccion_examen'] ?>" value="<?php echo $data['seccion']['t15valor_porcentaje'] ?>" maxlength="3" max="100" size="4" />
                            </div>
                            <div class="large-2 medium-2 small-2 columns text-center">
                                <span data-tooltip="Configurar sección" aria-haspopup="true" class="has-tip tip-top" title="Configurar sección" >
                                    <i id="btnOpciones-<?php echo $data['seccion']['t20id_seccion_examen'] ?>" class="fa fa-cog fa-inverse fa-2x" data-dropdown="dropMenuTool<?php echo $data['seccion']['t20id_seccion_examen'] ?>" aria-controls="dropMenuTool<?php echo $data['seccion']['t20id_seccion_examen'] ?>" aria-expanded="false">
                                    </i>
                                </span> 
                            </div>  
                        </div>
                    </div>
                    <div id="dropMenuTool<?php echo $data['seccion']['t20id_seccion_examen'] ?>" data-dropdown-content class="tiny f-dropdown" aria-hidden="true">
                        <div style="text-align: right">
                            <i class="cerrar fa fa-times columns"></i>
                        </div><br>
                        <div class="small-9 medium-9 large-9 columns">Eliminar sección:</div> 
                        <div class="small-3 medium-3 large-3 columns">
                            <a href="#" onclick="eliminaSeccion(<?php echo $data['seccion']['t20id_seccion_examen'] ?>); return false;" id="btnElimina-<?php echo $data['seccion']['t20id_seccion_examen'] ?>" data-tooltip class="tip-top" title="Eliminar sección de examen">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </div> 
                        <div class="small-12 medium-12 large-12 columns">Tipo de evaluación:</div>
                        <div class="small-4 medium-4 large-4 columns text-right">Total</div>
                        <div class="switch small-4 medium-4 large-4 columns">
                            <div class="switch tiny radius" data-tooltip class=" tip-top" title="Cambia el tipo de evaluación para esta sección">
                                <input id="evalSwitch<?php echo $data['seccion']['t20id_seccion_examen'] ?>" <?php  if($data['seccion']['t15resp_total_parcial'] == 2){echo 'checked'; }?>  type="checkbox">
                                <label for="evalSwitch<?php echo $data['seccion']['t20id_seccion_examen'] ?>"></label>
                            </div> 
                        </div> 
                        <div class="small-4 medium-4 large-4 columns">Parcial</div>
                    </div>
                    <div id="contenedor_seccion_<?php echo $data['seccion']['t20id_seccion_examen'] ?>" class="droptrue sortable bloque_color seccion-general small-12 medium-12 large-12 columns ui-state-highlight item ui_seccion">
                        <?php
                        $pregs =  $this->preguntas;
                        $pregsExam   = $this->pregsExam;
                        if(count($pregsExam) > 0){
                            if(isset($data['preguntas'])){
                                foreach($data['preguntas'] as $index){
                         ?>
                                    <div id="<?php echo 'sortable_'.$index['t11id_pregunta'] ?>" class="large-12 columns pregunta-seleccionada ui-state-highlight item">
                                        <div class="text-left large-11 medium-11 small-11 columns seleccionada" id="<?php echo 'preg_'.$index['t11id_pregunta']?>">
                                            <?php echo $index['t11pregunta'] ?>
                                        </div>
                                        <div class="large-1 medium-1 small-1 columns">
                                            <span data-tooltip="Configurar pregunta" aria-haspopup="true" class="has-tip tip-top" title="Configurar pregunta" >
                                                <i id="btnOpcPreg-<?php echo $index['t11id_pregunta']; ?>"  class="moveToSeccion fa fa-cog fa-2x" data-dropdown="dropMenuToolPreg<?php echo $index['t11id_pregunta']; ?>" aria-controls="dropMenuToolPreg<?php echo $index['t11id_pregunta']; ?>" aria-expanded="false"></i>
                                            </span> 
                                        </div>
                                        <div id="dropMenuToolPreg<?php echo $index['t11id_pregunta']; ?>" data-dropdown-content class="tiny f-dropdown" aria-hidden="true">
                                            <div style="text-align: right"><i class="cerrar fa fa-times columns"></i></div><br>
                                            <div class="text-center">
                                                <a id="" data-tooltip class="has-tip tip-top" title="Editar Pregunta">
                                                    <i class="fa fa-pencil-square-o clonar_pregunta"></i>&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <a href="#" onclick="eliminaPreguntaSecc(<?php echo $index['t11id_pregunta']; ?>); return false;" id="btnElimina-<?php echo $index['t11id_pregunta']; ?>" data-tooltip class="has-tip tip-top" title="Regresar pregunta al banco">
                                                    <i class="fa fa-trash fa-lg"></i>
                                                </a>
                                            </div>                                            
                                            <br>
                                            <div class="small-12 medium-12 large-12 columns">
                                               <select id="selEviaSeccion" name="selEviaSeccion" required data-tooltip class="tip-top selEviaSeccion" title="Mover pregunta a otra sección">
                                                   <option value="0">Mover a sección</option>     
                                                        <?php 
                                                        foreach($pregsExam as $index => $data){
                                                        ?>       
                                                            <option id="" value="<?php echo $data['seccion']['t20id_seccion_examen'] ?>"><?php echo $data['seccion']['t15seccion'] ?></option>
                                                        <?php
                                                            }
                                                         
                                                        ?>
                                                </select>
                                            </div><br>
                                            <div class="small-12 medium-12 large-12 columns hide">
                                                <select id="selTipoPreg" name="selEviaSeccion" required data-tooltip class="tip-top" title="Cambiar el tipo de pregunta">
                                                    <option id="selSecc<?php echo $data['seccion']['t20id_seccion_examen'] ?>" value="<?php echo $data['seccion']['t20id_seccion_examen'] ?>">tipo pregunta</option>
                                                </select>
                                            </div>
                                        </div>
                                    <input type="hidden" id="redirecEditPregunta" value="<?php echo $this->url('preguntas',array('action'=>'edit'));?>">
                                    </div>                        
                         <?php
                                }
                            }
                        }else{
                        ?>
                            <div id="tmp_sortable">Arrastra aqui las preguntas que deseas ligar</div>
                            
                        <?php    
                        }
                        ?>
                    </div>
                </div>    
                <?php
                 }
              }
                 ?>
                <label id="erroPonderacion" class="hide" style="color: red"></label>
                <label id="missPonderacion" class="hide" style="color: red"></label>
            </div>
            <div class="small-6 medium-6 large-6 columns banco_preguntas">
                <fieldset style="margin-top: -11px;">
                    <legend>Búsqueda</legend>
                    <div class="row">
                        <div class="small-12 medium-12 large-12 columns">
                            <select name="busquedaAvanzada" id="busquedaAvanzada" data-placeholder="selecciona una opcion" multiple="true" class="busquedaAvanzada" required>
                                <option value="1">General</option>
                                <option value="2">Categoria</option>
                                <option value="3">Tipo</option>
                                <option value="4">Etiqueta</option>
                            </select>
                        </div>
                    </div>
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns listaCategoria_chosen">
                                Categoria
                                <select id="listaCategoria" name="listaCategoria" multiple="true" data-placeholder="selecciona categoria">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns listaTipos_chosen">
                                Tipo
                                <select id="listaTipos" name="listaTipos" multiple="true" data-placeholder="selecciona tipos">
                                </select>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns listaEtiqueta_chosen">
                                Etiqueta
                                <select id="listaEtiqueta" name="listaEtiqueta" multiple="true" data-placeholder="selecciona etiqueta">
                                </select>
                            </div>
                        </div>                        
<!--                        <div class="small-12 medium-12 large-12 columns text-left"><br>
                            <input id="fieldTextSearch" class="inputemail search" placeholder="Palabra clave" disabled="disabled">
                        </div>-->
                    
                </fieldset>
                <fieldset>
                    <legend>Banco de preguntas</legend>
                    <div class="row">
<!--                        <div id="listadopreguntas" class="contenedor-preguntas list dropfalse small-12 medium-12 large-12 columns" style="overflow-x: hidden; ">
                            banco preguntas
                        </div>-->
                        <div id="contenedorTabla"></div>
                        
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="row" id="contenedor_botones">
        <div class="small-12 medium-12 large-12 columns">
            <div class="small-4 medium-4 large-4 columns">
                <input class="button small radius" title="" id="addSection" value="Nueva sección"/>
            </div>
            <div class="small-4 medium-4 large-4 columns">
                <input class="button small radius" id="grdpregexam" type="button" name="almacenar" value="Guardar cambios"/>
            </div>
            <div class="small-4 medium-4 large-4 columns">
                <input class="button small radius" id="publicar" type="button" name="cancelar" value="Publicar"/>
            </div>
        </div>
    </div>

<div id="modalEliminarSecc" class=" small reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div id="modalQuestion">
        <p id="tituloEliminarSecc" class="text-center"><?php echo $this->translate("Eliminar sección ");?></p>				
        <p class="vacio text-center"><?php echo $this->translate("¿Qué deseas hacer con sus preguntas?");?></p>				
        <form id="formEliminaSecc">
            <input type="hidden" id="hiddenIdSeccEx" value="" size="2" disabled="disabled">
            <div class="vacio large-12 medium-12 columns text-center"><input type="radio" id="enviar_lista"   class="radioTarea" name="radioTarea" value="1" required><?php echo $this->translate('Enviar al banco');?> </div>
            <div class="vacio large-12 medium-12 columns text-center"><input type="radio" id="enviar_seccion" class="radioTarea" name="radioTarea" value="2" required><?php echo $this->translate('Eviar a otra sección');?> </div>
            <label for="radioTarea" class="error text-center"></label>
            <div id="divSelEviaSeccion" class="large-12 medium-12 columns text-center" hidden="true">
                <select id="selEviaSeccion" name="selEviaSeccion" required class="selEviaSeccion1">
                    <option value="0">Elige una sección</option>
                <?php 
                if($pregsExam == 0){
                    
                }else{
                  foreach($pregsExam as $index => $data){
                ?>
                    <option id="selSecc<?php echo $data['seccion']['t20id_seccion_examen'] ?>" value="<?php echo $data['seccion']['t20id_seccion_examen'] ?>"><?php echo $data['seccion']['t15seccion'] ?></option>
                <?php
                 }
                 }
                ?>
                </select>
                <label id="errorSecc" for="selEviaSeccion" class="error"></label>
            </div>
            <div class="text-center">
                <button type="submit" class="button" id="btnConfirEliminaSecc"><?php echo $this->translate('Confirmar');?></button>
                <a id="btnCencelEliminaSecc" onclick="ocultaModalEliminaSecc(); return false;" class="button"><?php echo $this->translate('Cancelar');?></a>
            </div>
        </form>
    </div>
    <div id="modalSucess" style="display: none;">
        <p><?php echo $this->translate("La sección se ha eliminado correctamente.");?></p>
    </div>
    <div id="modalFootSuccess" style="display: none;">
        <button class="small button success" id="cerrar-reveal"><?php echo $this->translate('Aceptar')?></button>
    </div>
</div>

<div id="modalEliminarPreg" class=" small reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div id="modalQuestion">
        <p id="tituloEliminarPreg" class="text-center"><?php echo $this->translate("Se va a eliminar la pregunta de esta sección y se enviará al banco principal. ");?></p>	
        <form id="formEliminaPreg">
            <input type="hidden" id="hiddenIdPreg" value="" size="2" disabled="disabled">
            <div class="text-center">
                <button type="button" class="button" id="btnAceptarEliminarPreg"><?php echo $this->translate('Confirmar');?></button>
                <a id="btnCancelEliminarPreg" onclick="ocultaModalEliminaSecc(); return false;" class="button"><?php echo $this->translate('Cancelar');?></a>
            </div>
        </form>
    </div>
    <!--    <div id="modalSucess" style="display: none;">
        <p><?php //echo $this->translate("La sección se ha eliminado correctamente.");?></p>
    </div>-->
    <div id="modalFootSuccess" style="display: none;">
        <button class="small button success" id="cerrar-reveal"><?php echo $this->translate('Aceptar')?></button>
    </div>
</div>
    <div id="modalGrdCambios" style="text-align: center" class="small reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h5>Cambios guardados correctamente</h5><br>
        <a role="button" href="<?php  echo  $this->url('examenes', array('controller'=>'examenes', 'action' => 'ligarpreguntasexamen', 'id' => $idExamen)); ?>" class="button" aria-label="Close">Aceptar</a>
    </div>
</div>
<div id="modalClonarPregunta" style="text-align: center" class="small reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <input type="hidden" value="" id="idPreguntaClonar">
    <input type="hidden" value="" id="idPreguntaSeccion">
    <h5>Esta pregunta pertenece a un examen publicado. ¿Desea hacer una copia de la pregunta para continuar editando?</h5><br>
    <a id="acepta-clonar-pregunta"role="button" class="button" aria-label="Close">Aceptar</a>
    <a id="btnCancelEliminarPreg" onclick="ocultaModalEliminaSecc(); return false;" class="button"><?php echo $this->translate('Cancelar'); ?></a>
</div>
<div id="modalPublicarExamen" style="text-align: center" class="small reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <input type="hidden" value="" id="idExamenPublicar">
    <h5> 
       Una vez publicado el examen no podrá ser editado, incluyendo sus preguntas. Sólo se podrá crear una copia desde el listado principal de exámenes.
        ¿Deseas publicar el examen?
    </h5><br>
    <a id="acepta-publicarExamen"role="button" class="button" aria-label="Close">Aceptar</a>
    <a id="btnCancelEliminarPreg" onclick="ocultaModalEliminaSecc(); return false;" class="button"><?php echo $this->translate('Cancelar'); ?></a>
</div>
<div id="modalDeleteSeccionEmpty" style="text-align: center" class="small reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <input type="hidden" value="" id="hiddenIdSeccEx1">
    <h5>
        ¿Deseas eliminar la sección?
    </h5><br>
    <a id="deleteEmptySeccion"role="button" class="button" aria-label="Close">Aceptar</a>
    <a id="btnCancelEliminarPreg" onclick="ocultaModalEliminaSecc(); return false;" class="button"><?php echo $this->translate('Cancelar'); ?></a>
</div>
<div id="modalpublicExamEmptySeccion" style="text-align: center" class="small reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h5>
        No se puede publicar el examen con secciones vacías.
    </h5><br>
    <a id="aceptaAclamacion"role="button" class="button" aria-label="Close">Aceptar</a>
</div>
<div id="confirmPublicar" style="text-align: center" class="small reveal-modal" data-reveal data-options="close_on_background_click:false;close_on_esc:false;" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <input type="hidden" value="" id="hiddenIdSeccEx1">
    <h5>
        Asegúrate de haber guardado todos tus cambios antes de continuar
    </h5><br>
    <a id="backTosave" onclick="ocultaModalEliminaSecc(); return false;" class="button"><?php echo $this->translate('Cancelar'); ?></a>
    <a id="confirmPublicarBtn"role="button" class="button" aria-label="Close">Continuar</a>
</div>

<input type="hidden" id="moverPregBancoGral"    value="<?php echo $this->url('examenes',array('action'=>'eliminaRelPregExam')) ?>"/>
<input type="hidden" id="urlgrdPreguntas"       value="<?php echo $this->url('examenes',array('action'=>'guardarPreguntas')) ?>"/>
<input type="hidden" id="idExamen"              value="<?php echo $this->idExamen ?>"/>
<input type="hidden" id="mostrarpreguntas"      value="<?php echo $this->url('examenes', array('action'=>'obtenerpreguntagralajax')) ?>">
<input type="hidden" id="muestratiposajax"      value="<?php echo $this->url('preguntas',array('action'=>'obtenertiposajax')) ?>">
<input type="hidden" id="mostrarpreguntatipo"   value="<?php echo $this->url('preguntas',array('action'=>'obtenerpreguntastipoajax'       )) ?>">
<input type="hidden" id="listaCategorias"       value="<?php echo $this->url('preguntas',array('action'=>'obtenercategoriaajax')) ?>">
<input type="hidden" id="mostrarCategoria"      value="<?php echo $this->url('preguntas',array('action'=>'obtenerCategoriaPreguntaajax'       )) ?>">
<input type="hidden" id="listaEtiquetas"        value="<?php echo $this->url('preguntas',array('action'=>'obtenerEtiquetaajax'       )) ?>">
<input type="hidden" id="mostrarEtiqueta"       value="<?php echo $this->url('preguntas',array('action'=>'obtenerEtiquetaPreguntaajax'       )) ?>">
<input type="hidden" id="urlCopiarPregunta"     value="<?php echo $this->url('preguntas',array('action'=>'copiarpregunta'));?>">
<input type="hidden" id="urlPublicarExamen"     value="<?php echo $this->url('examenes',array('action'=>'publicarExamen'));?>">
<input type="hidden" id="urlPreguntaInExa"      value="<?php echo $this->url('preguntas',array('action'=>'ifPreguntaInExam'));?>">
<input type="hidden" id="urlPaginaActual"       value="<?php echo $this->url('examenes',array('action'=>'index')) ?>">
<?php     
$this->headLink()
        //->prependStylesheet($this->basePath() . '/css/constructor.css')
        ->prependStylesheet($this->basePath() . '/css/dataTable/jquery.dataTables.css')
        //->prependStylesheet($this->basePath() . '/css/dataTable/jquery.dataTables_themeroller.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/jquery.tag-editor.css')
        ->prependStylesheet($this->basePath() . '/css/crearexamen.css')
        ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
        ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/sortable.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/preguntas.css')
        ->prependStylesheet($this->basePath() . '/css/normalize.css')
        ->prependStylesheet($this->basePath() . '/css/chosen.css')
//->prependStylesheet($this->basePath() . '/css/kendo/kendo.common.min.css')
//->prependStylesheet($this->basePath() . '/css/kendo/kendo.default.min.css')
//->prependStylesheet($this->basePath() . '/css/kendo/kendo.dataviz.min.css')
//->prependStylesheet($this->basePath() . '/css/kendo/kendo.default.mobile.min.css')
;
$this->headScript()
        
        ->prependFile($this->basePath() . '/js/jquery.blockUI.js')
        ->prependFile($this->basePath() . '/js/jquery.dataTables.min.js')
        ->prependFile($this->basePath() . '/js/chosen.jquery.js')
        ->prependFile($this->basePath() . '/js/validate/jquery.validate.js')
        ->prependFile($this->basePath() . '/js/examenes/jquery.caret.min.js')
        ->prependFile($this->basePath() . '/js/examenes/jquery.tag-editor.min.js')
        //->prependFile($this->basePath() .'/js/examenes/examenes.js')
        ->prependFile($this->basePath() . '/js/examenes/sortable.js')
        //->prependFile($this->basePath() .'/js/preguntas.js')
        ->prependFile($this->basePath() . '/js/tinymce/tinymce.min.js')
        ->prependFile($this->basePath() . '/js/foundation/foundation.reveal.js')
        ->prependFile($this->basePath() . '/js/foundation.min.js')
        ->prependFile($this->basePath() . '/js/respond.min.js')
        
        //->prependFile($this->basePath() . '/js/kendo/kendo.all.min.js')
        ->prependFile($this->basePath() . '/js/jquery-ui.min.js')
;
