<div class="row">
    <div class="large-12 small-12 columns">
        <br/><br/>
        Migración
    </div>
</div>

<?php
/*
$_arrPos = array_keys($this->examenes[0]);
foreach($_arrPos as $data){
    echo $data . " ";
}
echo '<br>';
foreach( $this->examenes as $row ){
    foreach($_arrPos as $data){
        echo $row[$data] . " ";
    }
    echo '<br>';
}
 * */
 
//print_r(count($this->preguntas));

print_r($this->preguntas);

//$this->headLink()   ->prependStylesheet($this->basePath() . '/css/menu.css');

//$this->headScript() ->prependFile($this->basePath() .'/js/menu.js')
                    //->prependFile($this->basePath() .'/js/examenes/examenes.js');
  //      ;


