<?php
use Examenes\Model\EstatusExamen;
use Examenes\Model\EstatusExamenAgenda;
?>

<div class="row">
    <div class="large-12 small-6 columns">
        <div>
            <h3 class="titulo_gral"><?php echo $this->translate('Mis Evaluaciones');?></h3>
        </div>
    </div>
    <input type="hidden" id="urlDataExamenes"  value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'get-data-examenes'));?>">
    <input type="hidden" id="urlDeleteExamenes"  value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'delete'));?>">
    <input type="hidden" id="urlExamenCalificacion" value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'obtenercalificacionExamen'));?>">
    <?php    
    if( $this->_arrGrupos){
    ?>
<div class="small-12 large-12 columns hide-for-small-only">
        <div class="small-12 large-12 bg_exa tabla columns" id="tbl">
                <div  class="row">
                    <div class="table_encabezado">
                        <div class="large-4 medium-4 text-center columns" id="tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Nombre de la evaluaci&oacute;n');?>">Evaluaci&oacute;n</span></div>
                        <div class="large-4 medium-4 text-center columns" id="tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Fecha y estatus del examen');?>">Estatus</span></div>
                        <div class="large-2 medium-2 text-center columns" id="tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Acciones del examen');?>">Acciones</span></div>
                        <div class="large-2 medium-2 text-center columns" id="tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Número de intentos');?>">Intentos</span></div>
                    </div>
                <?php
                foreach ($this->examenes as $id => $data){
                        ?>
                    <div class="large-12 columns tipo tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Estatus del examen iniciado / No iniciado');?>"><?php echo $data['tipo'] ?></span></div>
                    
                   <?php
                        foreach ($data['examenes'] as $ind => $dato){ 
                            foreach ($dato as $examen){
                                $_intIdExamen = (int)$examen['id'];
                    ?>
                            <div class="large-4 medium-4 columns exa"><?php echo $examen['nombre'] ?></div>
                            <div class="large-4 medium-4 columns periodo text-center"><?php //echo $examen['clave_estatus'] 
                                                switch($examen['clave_estatus']){
                                                    case 'NOAGENDADO':
                                                    case 'NOAGENDADO1':
                                                        echo'No Agendado';
                                                        break;
                                                    case 'LISTORESOLVER':
                                                        echo 'Listo por resolver';
                                                        break;
                                                    case 'NODISPONIBLE':
                                                        echo 'No disponible';
                                                        break;
                                                    case 'INTERRUMPIDO':
                                                        echo 'Interrumpido';
                                                        break;
                                                    case 'INTERRUMPIDOVENCIDO':
                                                        echo 'Interrumpido vencido';
                                                        break;
                                                    case 'INTERRUMPIDORESOLVER';
                                                        echo 'interrumpido por resolver';
                                                        break;
                                                    case 'FINALIZADO':
                                                        echo 'Finalizado';
                                                        break;
                                                    case 'APROBADO':
                                                        echo 'Aprobado';
                                                        break;
                                                    case 'REPROBADO':
                                                        echo 'Reprobado';
                                                        break;
                                                    default:
                                                        echo "No agendado";
                                                }
                            ?></div>
                            <div class="large-2 medium-2 text-center columns accion">
                    <?php            
                            if(EstatusExamenAgenda::NOAGENDADO === $examen['clave_estatus'] || EstatusExamenAgenda::NOAGENDADO1 === $examen['clave_estatus']){
                    ?>
                                <a data-tooltip class="tiny alert fa fa-calendar-times-o examenNoAgendado tip-top" title="Haz clic para ver información del examen" href="#"></a>
                                
                    <?php            
                            }
                            if(EstatusExamenAgenda::LISTORESOLVER === $examen['clave_estatus']){
                                if(4 != $examen['c02id_tipo_examen']){
                    ?>
                                    <a data-tooltip class="tiny alert fa fa-play-circle-o fa-lg play tip-top" 
                                                    title="<?php echo $this->translate('Haz clic para iniciar el examen') ?>" href="
                                        <?php echo $this->url('examenes', array('controller'=>'examenes', 'action' => 'examen', 'id' => $ind))?>">
                                    </a>
                    <?php
                                }else{
                                    ?>
                                        <a data-tooltip class="tiny alert fa fa-play-circle-o fa-lg play tip-top" 
                                                    title="<?php echo $this->translate('Haz clic para iniciar el examen') ?>" href="
                                            <?php echo $this->url('examenes', array('controller'=>'examenes', 'action' => 'examenTodo', 'id' => $ind))?>">
                                        </a>
                                    <?php
                                }
                            }
                            if(EstatusExamenAgenda::NODISPONIBLE === $examen['clave_estatus']){                                
                                echo '<a data-tooltip class="tiny alert fa fa-calendar-check-o examenNoDisponible consultaCalificacion tip-top" title="Haz clic para ver información del examen" href="#" id="examenInfo_'. $ind.'_'. $examen['id_examen_usuario'].'_'. $examen['clave_estatus'].'_'. $_arrGrupos[0]['t05id_grupo'].'"></a>';                                
                            }
                            if(EstatusExamenAgenda::INTERRUMPIDO === $examen['clave_estatus']){
                    ?>
                                <a class="tiny alert fa fa-pause examenInterrumpido" title="Información" href="#"></a>  
                    <?php
                            }
                            if(EstatusExamenAgenda::INTERRUMPIDOVENCIDO === $examen['clave_estatus']){ 
                                echo '<a class="tiny alert fa fa-pause examenInterrumpidoVencido consultaCalificacion" title="Información" href="#" id="examenInfo_'. $ind.'_'. $examen['id_examen_usuario'].'_'. $examen['clave_estatus'].'_'. $_arrGrupos[0]['t05id_grupo'].'"></a>'; 
                            }
                            if(EstatusExamenAgenda::INTERRUMPIDORESOLVER === $examen['clave_estatus']){                    
                                echo '<a class="tiny alert fa fa-pause examenInterrumpidoResolver consultaCalificacion" title="Información" href="#" id="examenInfo_'. $ind.'_'. $examen['id_examen_usuario'].'_'. $examen['clave_estatus'].'_'. $_arrGrupos[0]['t05id_grupo'].'"></a>';                          
                            }
                            if(EstatusExamenAgenda::FINALIZADO === $examen['clave_estatus']){                    
                                if($examen['is_intellectus'] == 1){
                                    echo '<a href="'
                                                .$this->url('reportes', array('controller'=>'reportes', 'action' => 'reporteAlumno', 'id' => $ind))
                                            .'" target="_blank"><i class="fa fa-bar-chart"></i></a>';
                                }else{
                                    echo $examen['calificacion'];
                                }
                            } 
                            if( EstatusExamenAgenda::APROBADO === $examen['clave_estatus'] && $_intIdExamen == 6 ){
                                $_strDocumento = 'ver el certificado';
                            }
                            if( EstatusExamenAgenda::APROBADO === $examen['clave_estatus'] && $_intIdExamen < 6 ){
                                $_strDocumento = 'ver el reconocimiento';                                    
                            }
                            if( EstatusExamenAgenda::APROBADO === $examen['clave_estatus']){
                                    echo '<a data-tooltip class="tip-top" title="'.$this->translate("Haz clic para " . $_strDocumento ).'" href="'
                                                .$this->url('examenes', array('controller'=>'examenes', 'action' => 'generarPdfAjax')).'?_strNombreCompleto='. $_arrDatosUsr [0]['t01nombre']. ' ' .$_arrDatosUsr [0]['t01apellidos'].'&_intGrado='.$_intIdExamen.'&_strLlave=' . $examen['licencia']
                                                .'" title="'.$_strDocumento.'"><i class="fa fa-thumbs-o-up"></i></a>              '
                                                .'<a data-tooltip class="tip-top" title="'.$this->translate("Haz clic para ver la calificación.").'"><i class="fa fa-file-text-o examenAprobado consultCalificacion" id="examenInfo_'.$ind.'_'.$examen['id_examen_usuario'].'_'.$examen['clave_estatus'].'_'.$_arrGrupos[0]['t05id_grupo'].'"></i></a>';
                                                 
                                    
                            }
                            if( EstatusExamenAgenda::REPROBADO === $examen['clave_estatus']){
                                    echo '<a data-tooltip class="tip-top" title="'.$this->translate("Haz clic para ver la calificación.").'">'
                                            . '<i class="fa fa-file-text-o examenReprobado consultaCalificacion" id="examenInfo_'.$ind.'_'.$examen['id_examen_usuario'].'_'.$examen['clave_estatus'].'_'.$_arrGrupos[0]['t05id_grupo'].'"></i></a>';
                            }
                    ?>
                            </div>
                            <div class="large-2 medium-2 columns periodo text-center"><?php echo $examen['intentos'] ?></div>
                 
                  
                   <?php
                            }
                        }
                } 
                
                ?>
	  
                </div>
         
        </div>
    
        <div id="generalModal" class="reveal-modal" data-reveal style="display: none">
            <div class ='row'>
                <div class="large-12 small-12 columns">
                    <h3 class="titulo text-center"></h3>
                    <h5 class="subtitulo text-center"></h5>
                </div>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </div>
    
        <div id="interrumpidoModal" class='reveal-modal radius' data-reveal>
            <div class ='row'>
	      <div class="large-12 small-12 columns text-center">
                <h3 class="tituloModal">Enviar solicitud de reactivación de examen al profesor </h3>
                <p class="subtituloModal">Para solicitar la reactivación del examen es necesario que envíes un correo a tu profesor</p>
                 <?php
					if($_arrGrupos != false){
						foreach ($_arrGrupos as $grupo){
					?>
					
                                                     
                                                    <input id="correoProfimput" class=""  type="text" disabled  value="<?php echo $grupo['profesor']?>">
<!--                                                      <a id="correoProf" href=#><?php echo $grupo['profesor']?></a> -->
                                                    <button id="enviarSolicitud" type="button" >Enviar</button> 
                                                    <button id="cerrarModal" type="button" class="hide">Cerrar</button>
<!--							<td style="text-align: center;"><?php echo $grupo['t05descripcion']?></td>
							<td style="text-align: center;"><?php echo $grupo['profesor']?></td>
							<td style="text-align: center;"><?php echo $grupo['t05ciclo']?></td>
							<td style="text-align: center;"><?php echo $grupo['t07codigo']?></td>-->
                                                      
                                                      
                                                      <input type="hidden" id="datosalumno" value="<?php echo $_arrDatosUsr [0]['t01nombre']." ".$_arrDatosUsr [0]['t01apellidos']." (".$_arrDatosUsr [0]['t01correo'].")"?>">
                                                      <input type="hidden" id="correolumno" value="<?php echo $_arrDatosUsr[0]['t01correo']?>">
                                                      <input type="hidden" id="iduspermput"  value="<?php echo $_idUsuarioPerfil?>">
                                                      <input type="hidden" id="idexausrimput"  value="<?php echo $_arridexausr[0]['t04id_examen_usuario']?>">
                <div class="modal-body">
                <div id="_Msg"></div>
                </div>
             			
					<?php 		
						}
					} 
					?>
              <input type="hidden" id="urlSolicitaReactivacion" value="<?php echo $this->url('examenes',array('controller'=>'examenes','action'=>'reactiva-exam'));?>">
	      </div>
	    <a class="close-reveal-modal">&#215;</a>
            </div>
	</div>
    </div> 
    
        <div class="row show-for-small-only">
            <div class="small-12 large-12 bg_exa tabla columns">
                <div class="table_bg tabla" id="tbl">                 
                    <?php
                    foreach ($this->examenes as $id => $data) {
                        ?>
                        <div class="small-12 show-for-small columns tipo"><?php echo $data['tipo'] ?></div>
                        <div  class="tab">                    
                            <?php
                            foreach ($data['examenes'] as $ind => $dato) {
                                //$dato = $dato[0];
                                foreach ($dato as $examen) {
                                    ?>
                                    <div class="table_encabezado">                       
                                        <div class="small-9 text-left columns exa"><?php echo $examen['nombre'] ?> ( <?php echo $examen['intentos'] ?> Intento<?php echo $examen['intentos'] != '1' ? 's' : ''; ?> )</div>
                                        <div class="small-6 text-left columns periodo"><?php echo $examen['clave_estatus'] ?></div>
                                        <div class="small-3 text-center columns accion">   
                                        <!-- <span data-tooltip="" aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" data-selector="tooltip-iasozow50" aria-describedby="tooltip-iasozow50" title="Fecha y estatus de tu examen">
                                            <i class="tiny alert fa fa-search fa-lg">                          
                                            </i> 
                                         </span> -->
                                            <?php
                                            if (EstatusExamenAgenda::LISTORESOLVER === $examen['clave_estatus']) {
                                                ?> 
                                                <a data-tooltip class="tiny alert fa fa-play-circle-o fa-lg play tip-top" 
                                                   title="<?php echo $this->translate('Haz clic para iniciar el examen') ?>" href="
                                                   <?php
                                                   echo $this->url('examenes', array(
                                                       'controller' => 'examenes',
                                                       'action' => 'examen',
                                                       'id' => $ind))
                                                   ?>">    
                                                </a> 

                                                <!--<a class="tiny alert fa fa-search fa-lg jq_detalles">
                                                    title="Detalles" href="#" data-reveal-id="detallesExamen">                            
                                                 </a>--> 

                                                <?php
                                            }
                                            if (EstatusExamenAgenda::INTERRUMPIDO === $examen['clave_estatus']) {
                                                ?>
                                                <a class="tiny alert fa fa-envelope fa-lg" 
                                                   title="Solicitar" href="#">                                
                                                </a>
                                                <?php
                                            }
                                            if (EstatusExamenAgenda::FINALIZADO === $examen['clave_estatus'] ||
                                                    EstatusExamenAgenda::REPROBADO === $examen['clave_estatus'] ||
                                                    EstatusExamenAgenda::APROBADO === $examen['clave_estatus']) {
                                                ?>
                                                <a class="tiny alert fa fa-file-text-o fa-lg" 
                                                   title="Revisar" href="
                                                   <?php /* echo $this->url('examenes', array(
                                                     'controller'=>'examenes',
                                                     'action' => 'examen',
                                                     'id' => $ind)) */
                                                   ?>">

                                                </a>
                                                <?php
                                            }
                                            ?>
                                        </div>       
                                    </div>
                                    <?php
                                }
                            }
                        }
                        ?>

                        <?php
                    } else {
                        ?>
                        <div class="row">
                            <div class="large-12 medium-12 small-12  columns">
                                <div class="large-12 columns">
                                    <div class="texto-datos">
                                        <p class="text-left"><?php echo $this->translate('Aún no tienes grupos ligados o ya no están vigentes, no prodrás aplicar tus evaluaciones sin pertenecer a un grupo.'); ?></p>
                                        <p class="text-left"><?php echo $this->translate('Debes solicitar el código de grupo a tu profesor y ligarlo en el apartado  "Mis Datos".'); ?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                    ?>

                </div>
            </div>
        </div>
    </div>    
</div>

<input type="hidden" id="urlverificaCorreoEnviado"    value="<?php echo $this->url('examenes',array('action'=>'verificaCorreo')) ?>"/>
<!--<div class="spacer20 white"><br><br><br></div>

<div class="spacer20 white"><br><br><br></div>
<div class="spacer20 white"><br><br><br></div>
<div class="spacer20 white"><br><br><br></div>-->

<?php
$this->headLink()->prependStylesheet($this->basePath() . '/css/grupos/grupos.css')
        //->prependStylesheet($this->basePath() . '/css/foundation.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/misexamenes.css')
        ->prependStylesheet($this->basePath() . '/css/reveal.css')
        ->prependStylesheet($this->basePath() . '/css/font-awesome.min.css');


$this->headScript() ->prependFile($this->basePath() . '/js/jquery.blockUI.js')
        ->prependFile($this->basePath() . '/js/jquery.reveal.js')
        ->prependFile($this->basePath() . '/js/examenes/misexamenes.js');//revisar
			
                

