<html lang="es">
<head>
<meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Grupo Educare Plataforma de evaluaciones'))->setSeparator(' - ')->setAutoEscape(false)?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')?>

        <!-- Le styles -->
         <?php
//									
//echo $this->headLink ( array (
//											'rel' => 'shortcut icon',
//											'type' => 'image/vnd.microsoft.icon',
//											
//									) )->prependStylesheet ( $this->basePath () . '/css/general.css' )->prependStylesheet ( $this->basePath () . '/css/bootstrap-responsive.min.css' )->prependStylesheet ( $this->basePath () . '/css/bootstrap.min.css' )?>

        <!-- Scripts -->
        <?php
          echo $this->headScript()
                    ->prependFile($this->basePath() . '/js/examenes/reactiva.js')
          ->prependFile($this->basePath() . '/js/jquery.blockUI.js');
//								
//echo $this->headScript ()->prependFile ( $this->basePath () . '/js/login/confirma.js' )->prependFile ( $this->basePath () . '/js/html5.js', 'text/javascript', array (
//										'conditional' => 'lt IE 9' 
//								) )->prependFile ( $this->basePath () . '/js/bootstrap.min.js' )->prependFile ( $this->basePath () . '/js/jquery.jqMensaje.js' )->prependFile ( $this->basePath () . '/js/jquery.min.js' );
//								
								?>
    </head>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
			window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
			d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
			$.src='//cdn.zopim.com/?1BsbfJ4c9m7EPwVGSXTxHmVJz0dcOhXB';z.t=+new Date;$.
			type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
		</script>
<!--End of Zopim Live Chat Script-->

<body>
	<div style="width: 100%;">
		<div class="lineBlueSoft"></div>
	</div>
	<div style="width: 100%; background-color: #FFFFFF;">
		<div class="container">
			<div class="row ">
<!--				<div class="span12" style="margin: 10px;">
					<a href="<?php echo $this->url("home")?>" class="right"><i
						class="icon-home"></i><?php echo  $this->translate("Regresar al inicio")?></a>
				</div>-->
			</div>
		</div>
	</div>
	<div style="width: 100%;">
		<div class="lineBlueHard"></div>
	</div>

	<div class="container fondoAzul">
		<div class="row ">
			<div class="span12 ">
				<div class="spacer20"></div>
				<div class="spacer20"></div>
				<div class="spacer20"></div>
			</div>
                

			<div class="span12 ">
				<div class="spacer20"></div>
				<div class="spacer20"></div>
				<div class="spacer20"></div>
			</div>
			<div class="span12">
				<div
					style="background-color: #FFFFFF; margin: 20px; overflow: auto; text-align: center;">
					
<!--     <input type="hidden" id="urlObtenerExamenesInterrumpidos" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action'=>'obtenerinterrumpidosajax')); ?>' />-->
     <input type="hidden" id="URLreactivaExamenCoreo" value='<?php echo $this->url('examenes', array('controller'=>'examenes', 'action'=>'reactivaexamencorreo')); ?>' />
    
     <input type="hidden" id="_strCodigo" value='<?php echo $_strCodigo; ?>' />
     <input type="hidden" id="idUserPer" value='<?php echo $idUserPer; ?>' />
     <input type="hidden" id="idExaUser" value='<?php echo $idExaUser; ?>' />
     
     <h4 class="subheader">Reactiva Examen</h4>
     <p>¿Está seguro que quiere reactivar el examen?.</p>
        
        <div id="modalreactivaConfirma" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false;close_on_esc:false;">
	  <p id="msjreactivaConfirma" class="lead">Your couch.  It is mine.</p>
	  <input type="hidden" id="urlGrupos" value="<?php echo $this->url('grupos', array('action'=>'index')); ?>">
	</div>
     
     
     

				</div>

			</div>
		</div>
		<div id="_loading"></div>
                
                <!--***********************************************
                *****************************************-->
                
       <div class="small-12 large-12 columns hide-for-small-only">
        <div class="small-12 large-12 bg_exa tabla columns" id="tbl">
                <div  class="row">
                    <div class="table_encabezado">
                        <div class="large-4 medium-4 text-center columns" id="tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Nombre');?>">Nombre</span></div>
                        <div class="large-4 medium-4 text-center columns" id="tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Carga masiva de resultados');?>">Correo Electrónico</span></div>
                        <div class="large-4 medium-4 text-center columns" id="tit_tabla"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has tip-top" title="<?php echo $this->translate('Reactivar Examen');?>">Reactivar Examen</span></div>
                       
                    </div>
                <?php
                    foreach ($DatosUser as $id => $data){
                        ?>
                    <div class="large-12 columns tipo tit_tabla"><span id="idgrupo-<?php echo $data['t01nombre'] ?>" >Alumno</span></div>
                    
                   <?php
                    ?>

                        <div class="large-4 medium-4 text-center columns exa"><?php echo $data['t01nombre'] ?></div>
                        <div class="large-4 medium-4 text-center columns periodo"><?php echo $data['t01correo'] ?>
                      
                        
                        </div>
                        <div class="large-4 medium-4 text-center columns accion">
    

                            <a class="tiny fa fa-unlock fa-2x" 
                                title="Examen" href="#" id="_btnReactivaExam"> 
                                
                            </a>

                        </div>
                       
                 
                  
                   <?php
                       // }
                } 
                
                ?>
	  
                </div>
         
        </div>
    </div> 
                
                <!--***********************************************
                *****************************************-->
		<input type="hidden" id="urlSitioCambiarPass"
			value="<?php echo $this->url('login',array('controller'=>'login','action'=>'cambiarpassajax'));?>" />
		<input type="hidden" id="_urlSitio"
			value="<?php echo $this->url('login',array('controller'=>'login','action'=>'index'));?>" />
		<input type="hidden" id="_txtCode" value="<?php echo $_strCodigo;?>" />
		<div class="span12 ">
			<div class="spacer20"></div>
			<div class="spacer20"></div>
			<div class="spacer20"></div>
		</div>
<!--		<footer>
			<div class="copyright"><?php echo $this->translate("Copyright © 2013 Grupo Educare S.A. de C.V. Todos los derechos Reservados.")?></div>
			<div class="copyrightInterno">
				&middot;<a
					href="<?php echo $this->url('login',array("controller"=>"Index",'action'=>'terminos'));?>"
					target="_new" class="copyrightInterno"><?php echo $this->translate('Terminos y condiciones ');?></a>
				&middot;<a
					href="<?php echo $this->url('login',array("controller"=>"Index",'action'=>'privacidad'));?>"
					target="_new" class="copyrightInterno"><?php echo $this->translate('Pol&iacute;tica de privacidad');?></a>
			</div>
		</footer>-->
	</div>


    
    
    
</body>
</html>



<?php
$this->headLink()->prependStylesheet($this->basePath() . '/css/grupos/grupos.css')
        //->prependStylesheet($this->basePath() . '/css/foundation.css')
        ->prependStylesheet($this->basePath() . '/css/examenes/misexamenes.css')
        //->prependStylesheet($this->basePath() . '/css/reveal.css')
        ->prependStylesheet($this->basePath() . '/css/font-awesome.min.css');
                                                                                                                                                                               
