<style type="text/css">
    .imgLogoGE {
        text-align:center;  
        padding-top:80px; 
        height: 200px; 
        width: 350px;
    }
    .txtContenido {
        border-left-style:solid; 
        border-left-color:black; 
        border-left-width:1px; 
        color:#0082AD; 
        padding:20px 0px 0px 40px; 
        height: 200px; width: 520px;
    }
</style>
<page>		
    <table>
        <tr>
            <td>
                <img src="<?php echo $_objImg1; ?>">
                <img style="margin: 80px 0px 0px 60px;" src="<?php echo $_objImg2; ?>" >
            </td>
            <td rowspan="3">
                <img style="margin: 0px 0px 150px 0px;" src="<?php echo $_objImg3; ?>" >
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td></td>
                        <td> 
                            <span style="color:#37518E; margin-left: 450px; ">M&eacute;xico, &nbsp;a <?php echo date("d-m-Y"); ?></span>
                        </td>
                    </tr>	
                    <tr>
                        <td>
                            <div class="imgLogoGE">
                                <img src="<?php echo $_objImg4; ?>">
                            </div>
                        </td>
                        <td>
                            <div class="txtContenido">
                                <h3 style="color:#37518E;">RECONOCE a:</h3>
                                <h1 style="color:#37518E;">&nbsp;<?php echo $_arrDatos['nombre_completo']; ?></h1>
                                <h4 style="color:#37518E;">Por haber completado con &eacute;xito los requerimientos necesarios para obtener la Certificaci&oacute;n Internacional en Inform&aacute;tica y Tecnolog&iacute;a para estudiantes de primaria IC4-SBE. </h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color:#37518E; margin-left:50px;">Certificaci&oacute;n: <?php echo $_arrDatos['llave']; ?></span>
                        </td>
                        <td>
                            <img  style="width: 150px; margin-left:190px;" src="<?php echo $_objImg5; ?>"><br>
                            <span style="color:#37518E; margin-left:200px;">Raul Calao Rebouleen.</span><br>
                            <span style="color:#37518E; margin-left:120px;">Director del Centro Internacional de Investigaci&oacute;n.</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <img style="margin-top:25px;" src="<?php echo $_objImg6; ?>" >
            </td>
        </tr>
    </table>
</page>