<div>
    <input type="button" id="btnregistrarusuarioProfesor" value="registra usuario">
    <input type="button" id="updateUserBtn" value="Actualizar usuario">
</div>








<input type="hidden" id="actualizarGrupo" value='<?php          echo $this->url('acciones', array('controller' =>'acciones', 'action'=>'modificaGrupoajax')); ?>' />
<input type="hidden" id="crearGrupo" value='<?php               echo $this->url('acciones', array('controller' =>'acciones', 'action'=>'crearGrupoajaxAction')); ?>' />
<input type="hidden" id="relMaestroAlumno" value='<?php         echo $this->url('acciones', array('controller' =>'acciones', 'action'=>'relMaestroAlumnoToGrupo')); ?>' />
<input type="hidden" id="registrarusuarioProfesor" value='<?php echo $this->url('acciones', array('controller' =>'acciones', 'action'=>'registrarusuario')); ?>' />
<input type="hidden" id="updateUsuario"            value='<?php echo $this->url('acciones', array('controller' =>'acciones', 'action'=>'updateusuario')); ?>' />



<?php
    echo $this->headScript()
            ->prependFile($this->basePath() . '/js/acciones.js')
        ->prependFile($this->basePath() . '/js/jquery.js')
//        ->prependFile($this->basePath() . '');
//    
//$this->headLink()->prependStylesheet($this->basePath() . '/css/jquery.jqTable.css')
//        ->prependStylesheet($this->basePath() . '/css/grupos/grupos.css');

?>