@CHARSET "UTF-8";


.div_img{	
	height: 151px;
}
.img_size {
	width:80px;
    padding-top:0.5em;
    padding-bottom:0.5em;
     -webkit-transition-property: width; /* Safari */
    transition-property: width;
    -webkit-transition-duration:0.5s;
}
.img_size:hover {
	cursor:pointer;
	opacity:0.7;
	
}
/*
.tooltip{
	background-color:#395675; 
	font-size:1.1em;
	font-style:italic;
	margin-top:-1em;
}
.img_size:hover {
	width:75px;
	padding-right:0.5em;
	cursor:pointer;
	-ms-transform: rotate(10deg);IE 9 
    -webkit-transform: rotate(10deg);Safari
    transform: rotate(10deg); /* Standard syntax 
}*/
.container_ask{
	border-color: #bde2fd;/*#ff6600;*/
	border-style: solid;
    border-width: 10px;
	background:#fff;
	border-radius:0px 0px;
	overflow:scroll;
    text-align:center;
}
.container_green{
	border-color: #54b084;
    border-width: 5px;
	border-radius:0px;
    width:50%;
    text-align:center;
    margin-top:2em;
    margin-bottom:-3em;
}
.container_ask_bottom{
	border-color: #ff6600;
	border-style: solid;
	border-top:0 auto;
    border-width: 10px;
	background:#fff;
	overflow:scroll;
}

.text_icon{    /*lase oara texto en iconos*/
	font-size:13px;
	color: #268ab3;
	font-style:bolder;
	/*visibility:hidden;*/
}
.ask_title{
	background:#54b084;
	color:#fff;	
}
.tooltip_class {
  border-bottom: dotted 1px #54b084;
  cursor: help;
  font-weight: bold;
  color: #333;
}

.form_constructor{
	background-color:#fff;
}
._objPregResp:first-child {
	border: 2px solid #2689b2;
	color: #76a0bf; 
}
._objPregResp{
	margin-top:1em;
}

._objExamen{
	background:#5ab7fa;
	color:#fff;
	font-size:16px;
	width:160%;
}
._objExamen:hover {
	background:#5ab7fa;
	color:#fff;
	cursor:pointer;
}
._objPregunta, label{
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #54b084;
  background: #54b084;
  font-weight: bold;
  color: #fff;
}
.ui-state-default {
  border: 1px solid #5ab7fa;
  background: #5ab7fa;
  font-weight: bold;
  color: #fff;
  border-radius: inherit;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em !important;
    border-top: 0px none;
    overflow: hidden;
}

.ui-widget-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #268ab3;
}
.contenedor_respuestas{    
        border-style: double;
        color: #76a0bf;
        margin: 5px 0;
        padding: 10px 15px;
	border-radius: 5px;
}
.respuesta_style{
	/*border: 1px solid #268ab3;*/
        border-style: double;
        color: #76a0bf;
        margin: 5px 0;
        padding: 10px 0;
	border-radius: 5px;
        cursor: pointer;
}
.cont-preguntas{
	/*border: 1px solid #268ab3;*/
        border-style: double;
        color: #76a0bf;
        margin: 5px 0;
        padding: 10px 0;
	border-radius: 5px;
}
.pregunta_edit{
	border: 2px solid #5ab7fa;
}
.line_icons{
	//background:;
	border-color:3px solid #ddd;
}
/*.pregunta_dit{
  border: 1px solid #ddd;
  background: #fff;
  color: #268ab3;
}*/
.div_ask{
	background:#5ab7fa;
	color:#fff;
	/*padding-bottom:0.5em;
	padding-top:1em;
	padding-left: 0 auto;*/
}
.div_askbg{
	background:#5ab7fa;
	padding-bottom:0.5em;
	padding-top:1em;
	padding-left: 0 auto;
}
.div_ask2{
	background:#fff;
	padding-top:1em;
	padding-bottom: 1em;
}
.div_ask2, h6{
	padding-bottom: 1em;
	margin-top:1em;
}
.placeholder_pregunta{
	font-size:16px;
	font-style:italic;
}
.img_edit{
	text-align: -webkit-left;
	margin-right:20%;
	width:80%;
}
.tit_cons{
	background:#54b084;
	width:100%;
	padding-top:0.3em;
	padding-bottom:0.3em;
	margin-bottom:1em;
    font-weight: lighter;
    /*position:fixed !important;
    z-index:1 !important;*/
}
.color_font{
	color:#fff;
}
.parrafo_bg{
	background:#4892c8;
	color:#fff;
	border-radius:5px;
}
.color_subtitle{
	background:#54b084;
	border-radius: inherit;
}
.div_buscador{
	background:#5ab7fa;
	border-radius:5px;
	border-radius: inherit;
}
.label_style{
	color:#fff;
}
 ._objPregRes:first-child {
    margin-top:0.5em;
    border-radius:15px;
	
	
}
.buscador{
    margin-top:0.5em;
    color:#fff;
    font-size: 1.3em;
}
.div_busqueda{
	height:3.3em;
}
.ui-accordion .ui-accordion-content {
    border-top: 0px none;
    overflow: hidden;
    padding: 1em !important;
    
}
.ajuste{
	font-family: inherit;
	font-weight: normal;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizelegibility;
	font-size:0.9em;
}
/*.title_cons{
	color:#268ab3;
	font-size:1.2em;
	padding-bottom:1em;
	font-weight:bold;
}*/
cons{
	position:fixed;
	/*overflow:hidden;
	width:36.5%;
	z-index:1;
	margin-bottom:-9em;*/
}

.butt_ask{
	margin-top:-10%;
	cursor:pointer;
	background:#5ab7fa;
	border-radius: 5px;
	padding-top: 0.5rem;
 	padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
.bg_text{
	color:#268ab3;	
}
.clase_resp {
	color:aliceblue !important;
	font-size:0.9em !important; 
}
.button.success{
	background:#5489b0 !important;
	font-size:0.9em !important; 
}
.button.alert{
	background:#5489b0 !important;
}
.button.radiu{
	background:#5489b0 !important;
}

.has_tool{
}
.has-tip, .has_tool {
  border-bottom: dotted 0px #ccc !important;
  cursor: pointer !important;
  font-weight: bold;
  color: #333;
  -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
  transition: width 0.2s;
}

.boton_Vista{
	font-size:0.9em;
}
.botones_inline{
	font-size:0.8em!important;
   	padding-bottom:0 auto;
   	vertical-align:top !important;
   	padding-bottom:5px;
   	background-color:#5489b0;
}
.botones_inline{
	width: 100%;
	text-align: center;
	display: inline-block;
}
.center ul, .list_button{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
    vertical-align: center; 
    background-color:#5489b0;
    color:#fff;
    position: relative;
  display: inline-block;
  float: left;
} 
.center ul, .list_button:hover{
	cursor:pointer;
	background-color:#008cba;
}
.button-group{
    padding-left: 0%;
    padding-right: 0%;
    width:100%;
}
/*css tooltip Ui*/
.ui-tooltip
{
  color:#fff;
  background:#4892c8; /*54b084*/
  border-color:#fff;
}
 .ui-tooltip, .arrow:after {
    background: #395675;
    border: 2px solid  #395675;
  }
  .ui-tooltip {
    padding: 7px 7px;
    color: white;
    font-size:18px;
    font-style:italic;
    text-transform: none;
    border:0 solid  #395675;
    border-radius:1px;
    padding-right:18px;
    margin-leftt:20%;
    /*box-shadow: 0 0 7px black;*/
  }
  .arrow {
    width: 70px;
    height: 19px;
    overflow: hidden;
    position: absolute;
    left: 10%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 18px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  } 
  /*CSS seccion gral.*/ 
  .titulo_segundo{
   background-color:#008cba;
  }
  .tit_agregar{
  
  color:#008cba;
  }
  
  .estatus-inactivo{
     background-color: #F7DEDE;
  }
  
  
