.estiloGrid {//Celdas del grid
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 1px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}
.estiloTabla {//Grid
    border: 3px solid;
    border-color: #C8380F;//Color del borde de la sopa
    background-color: ghostwhite;
    cursor: pointer;
}
#contenedorJuego {/* div que contiene el grid*/
    float: left;
    padding-right: 50px;
}
#contenedorPalabra {//Div que contiene la lista de palabras
    font-family: Verdana,Arial,Helvetica,sans-serif;
    float :left;
    padding-right: 50px; 
    cursor: default;
    margin : 1em 1em 1em 0;	
    border: 2px solid;
    border-color: #C8380F;//Color del borde de la
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;	    
    cursor: pointer;	
}
.palabraEncontrada {//Palabras encontradas
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-decoration : line-through;
    color : #666666;//Color gris cuando se tacha la palabra encontrada
    font-style : italic;
}
#tablaGrid .trazado {

}
#tablaGrid .iluminado {
    background: #268AB3;//Color azul cuando ya se seleccionó
}
#tablaGrid .rf-glowing {
    background: #E06618;//color naranja para ir seleccionando
}
#tablaGrid .palabraSeleccionada {
    background: #268AB3;//Color azul cuando ya se seleccionó
}
.colocadafalse {//Palabras que no fueron creadas en el grid
    color: gray;
    visibility: hidden; 
}
#contenedorPalabra {
       pointer-events: none;//Deshabilitar mouse (eventos en el div de las listas)
       cursor: default;
}

#tablaGrid .iluminado0, .rf-glowing0, .palabraSeleccionada0 {  background: #ADD8E6 !important; }
#tablaGrid .iluminado1, .rf-glowing1, .palabraSeleccionada1 {  background: #BEBEBE !important; }
#tablaGrid .iluminado2, .rf-glowing2, .palabraSeleccionada2 {  background: #90EE90 !important; }
#tablaGrid .iluminado3, .rf-glowing3, .palabraSeleccionada3 {  background: #EE82EE !important; }
#tablaGrid .iluminado4, .rf-glowing4, .palabraSeleccionada4 {  background: #FFFF00 !important; }
#tablaGrid .iluminado5, .rf-glowing5, .palabraSeleccionada5 {  background: #40E0D0 !important; }
#tablaGrid .iluminado6, .rf-glowing6, .palabraSeleccionada6 {  background: #DEB887 !important; }
#tablaGrid .iluminado7, .rf-glowing7, .palabraSeleccionada7 {  background: #ADFF2F !important; }
#tablaGrid .iluminado8, .rf-glowing8, .palabraSeleccionada8 {  background: #D2B48C !important; }
#tablaGrid .iluminado9, .rf-glowing9, .palabraSeleccionada9 {  background: #48D1CC !important; }
#tablaGrid .iluminado10, .rf-glowing10, .palabraSeleccionada10 {  background: #FFA07A !important; }


#tablaGrid .iluminado11, .rf-glowing11, .palabraSeleccionada11 {  background: #FFB6C1 !important; }
#tablaGrid .iluminado12, .rf-glowing12, .palabraSeleccionada12 {  background: #87CEFA !important; }
#tablaGrid .iluminado13, .rf-glowing13, .palabraSeleccionada13 {  background: #98FB98 !important; }
#tablaGrid .iluminado14, .rf-glowing14, .palabraSeleccionada14 {  background: #B0C4DE !important; }
#tablaGrid .iluminado15, .rf-glowing15, .palabraSeleccionada15 {  background: #F0D58C !important; }
#tablaGrid .iluminado16, .rf-glowing16, .palabraSeleccionada16 {  background: #87CEEB !important; }
#tablaGrid .iluminado17, .rf-glowing17, .palabraSeleccionada17 {  background: #00FFFF !important; }
#tablaGrid .iluminado18, .rf-glowing18, .palabraSeleccionada18 {  background: #00FFFF !important; }
#tablaGrid .iluminado19, .rf-glowing19, .palabraSeleccionada19 {  background: #C0C0C0 !important; }
#tablaGrid .iluminado20, .rf-glowing20, .palabraSeleccionada20 {  background: #DDA0DD !important; }

#tablaGrid .iluminado21, .rf-glowing21, .palabraSeleccionada21 {  background: #696969 !important; }
#tablaGrid .iluminado22, .rf-glowing22, .palabraSeleccionada22 {  background: #6B8E23 !important; }
#tablaGrid .iluminado23, .rf-glowing23, .palabraSeleccionada23 {  background: #2E8B57 !important; }
#tablaGrid .iluminado24, .rf-glowing24, .palabraSeleccionada24 {  background: #008080 !important; }
#tablaGrid .iluminado25, .rf-glowing25, .palabraSeleccionada25 {  background: #9400D3 !important; }
#tablaGrid .iluminado26, .rf-glowing26, .palabraSeleccionada26 {  background: #C71585 !important; }
#tablaGrid .iluminado27, .rf-glowing27, .palabraSeleccionada27 {  background: #FF4500 !important; }
#tablaGrid .iluminado28, .rf-glowing28, .palabraSeleccionada28 {  background: #808000 !important; }
#tablaGrid .iluminado29, .rf-glowing29, .palabraSeleccionada29 {  background: #A0522D !important; }
#tablaGrid .iluminado30, .rf-glowing30, .palabraSeleccionada30 {  background: #483D8B !important; }

#tablaGrid .iluminado31, .rf-glowing31, .palabraSeleccionada31 {  background: #66CDAA !important; }
#tablaGrid .iluminado32, .rf-glowing32, .palabraSeleccionada32 {  background: #A9A9A9 !important; }
#tablaGrid .iluminado33, .rf-glowing33, .palabraSeleccionada33 {  background: #DA70D6 !important; }
#tablaGrid .iluminado34, .rf-glowing34, .palabraSeleccionada34 {  background: #8FBC8F !important; }
#tablaGrid .iluminado35, .rf-glowing35, .palabraSeleccionada35 {  background: #00BFFF !important; }
#tablaGrid .iluminado36, .rf-glowing36, .palabraSeleccionada36 {  background: #F4A460 !important; }
#tablaGrid .iluminado37, .rf-glowing37, .palabraSeleccionada37 {  background: #FFD700 !important; }
#tablaGrid .iluminado38, .rf-glowing38, .palabraSeleccionada38 {  background: #00FA9A !important; }
#tablaGrid .iluminado39, .rf-glowing39, .palabraSeleccionada39 {  background: #BDB76B !important; }
#tablaGrid .iluminado40, .rf-glowing40, .palabraSeleccionada40 {  background: #6495ED !important; }
#tablaGrid .iluminado41, .rf-glowing41, .palabraSeleccionada41 {  background: #FF69B4 !important; }
#tablaGrid .iluminado42, .rf-glowing42, .palabraSeleccionada42 {  background: #E9967A !important; }
#tablaGrid .iluminado43, .rf-glowing43, .palabraSeleccionada43 {  background: #00CED1 !important; }
#tablaGrid .iluminado44, .rf-glowing44, .palabraSeleccionada44 {  background: #00FF7F !important; }
#tablaGrid .iluminado45, .rf-glowing45, .palabraSeleccionada45 {  background: #F08080 !important; }
#tablaGrid .iluminado46, .rf-glowing46, .palabraSeleccionada46 {  background: #BC8F8F !important; }
#tablaGrid .iluminado47, .rf-glowing47, .palabraSeleccionada47 {  background: #FA8072 !important; }
#tablaGrid .iluminado48, .rf-glowing48, .palabraSeleccionada48 {  background: #7FFF00 !important; }
#tablaGrid .iluminado49, .rf-glowing49, .palabraSeleccionada49 {  background: #9370DB !important; }
#tablaGrid .iluminado50, .rf-glowing50, .palabraSeleccionada50 {  background: #7CFC00 !important; }
#tablaGrid .iluminado51, .rf-glowing51, .palabraSeleccionada51 {  background: #1E90FF !important; }
#tablaGrid .iluminado52, .rf-glowing52, .palabraSeleccionada52 {  background: #9ACD32 !important; }
#tablaGrid .iluminado53, .rf-glowing53, .palabraSeleccionada53 {  background: #DB7093 !important; }
#tablaGrid .iluminado54, .rf-glowing54, .palabraSeleccionada54 {  background: #7B68EE !important; }
#tablaGrid .iluminado55, .rf-glowing55, .palabraSeleccionada55 {  background: #BA55D3 !important; }
#tablaGrid .iluminado56, .rf-glowing56, .palabraSeleccionada56 {  background: #FF7F50 !important; }
#tablaGrid .iluminado57, .rf-glowing57, .palabraSeleccionada57 {  background: #5F9EA0 !important; }
#tablaGrid .iluminado58, .rf-glowing58, .palabraSeleccionada58 {  background: #20B2AA !important; }
#tablaGrid .iluminado59, .rf-glowing59, .palabraSeleccionada59 {  background: #DAA520 !important; }
#tablaGrid .iluminado60, .rf-glowing60, .palabraSeleccionada60 {  background: #FFA500 !important; }
#tablaGrid .iluminado61, .rf-glowing61, .palabraSeleccionada61 {  background: #778899 !important; }
#tablaGrid .iluminado62, .rf-glowing62, .palabraSeleccionada62 {  background: #FF00FF !important; }
#tablaGrid .iluminado63, .rf-glowing63, .palabraSeleccionada63 {  background: #FF00FF !important; }
#tablaGrid .iluminado64, .rf-glowing64, .palabraSeleccionada64 {  background: #3CB371 !important; }
#tablaGrid .iluminado65, .rf-glowing65, .palabraSeleccionada65 {  background: #CD853F !important; }
#tablaGrid .iluminado66, .rf-glowing66, .palabraSeleccionada66 {  background: #4682B4 !important; }
#tablaGrid .iluminado67, .rf-glowing67, .palabraSeleccionada67 {  background: #4169E1 !important; }
#tablaGrid .iluminado68, .rf-glowing68, .palabraSeleccionada68 {  background: #708090 !important; }
#tablaGrid .iluminado69, .rf-glowing69, .palabraSeleccionada69 {  background: #FF6347 !important; }
#tablaGrid .iluminado70, .rf-glowing70, .palabraSeleccionada70 {  background: #FF8C00 !important; }
#tablaGrid .iluminado71, .rf-glowing71, .palabraSeleccionada71 {  background: #6A5ACD !important; }
#tablaGrid .iluminado72, .rf-glowing72, .palabraSeleccionada72 {  background: #32CD32 !important; }
#tablaGrid .iluminado73, .rf-glowing73, .palabraSeleccionada73 {  background: #00FF00 !important; }
#tablaGrid .iluminado74, .rf-glowing74, .palabraSeleccionada74 {  background: #CD5C5C !important; }
#tablaGrid .iluminado75, .rf-glowing75, .palabraSeleccionada75 {  background: #9932CC !important; }
#tablaGrid .iluminado76, .rf-glowing76, .palabraSeleccionada76 {  background: #8A2BE2 !important; }
#tablaGrid .iluminado77, .rf-glowing77, .palabraSeleccionada77 {  background: #FF1493 !important; }
#tablaGrid .iluminado78, .rf-glowing78, .palabraSeleccionada78 {  background: #B8860B !important; }
#tablaGrid .iluminado79, .rf-glowing79, .palabraSeleccionada79 {  background: #D2691E !important; }
#tablaGrid .iluminado80, .rf-glowing80, .palabraSeleccionada80 {  background: #008B8B !important; }

#tablaGrid .iluminado81, .rf-glowing81, .palabraSeleccionada81 {  background: #556B2F !important; }
#tablaGrid .iluminado82, .rf-glowing82, .palabraSeleccionada82 {  background: #228B22 !important; }
#tablaGrid .iluminado83, .rf-glowing83, .palabraSeleccionada33 {  background: #DC143C !important; }