@charset "UTF-8";
/* Documento CSS */
.btn_preg {        
    width: 50%;    
    display:inline-block;    
    vertical-align:middle; 
    
    background-color:#3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 10px;
    border-left:solid 1px #2ab7ec;
    margin-left:35px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(44,160,202)),
    color-stop(1, rgb(62,184,229))
    );
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
.btn_preg:active {//Cuando se presiona el botón
	top:3px;//Si se comenta se mueve también el inciso
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);        
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,	
        color-stop(0, rgb(0,50,100)),/*color-stop(0, rgb(62,184,229)),*/
	color-stop(1, rgb(44,160,202))        
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.btn_preg::before {//Recuadro alfanumérico para los incisos                       
    background-color:#2561b4;
    content:"1";
    label: "a";
    width:35px;
    max-height:29px;
    height:100%;
    position:absolute;
    display:block;
    padding-top:8px;
    top:0px;
    left:-36px;
    font-size:16px;
    font-weight:bold;
    color:#8fd1ea;
    text-shadow:1px 1px 0px #07526e;
    border-right:solid 1px #07526e;
    background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(10,94,125)),
    color-stop(1, rgb(14,139,184))
    );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
    -moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
    -o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
    box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
    text-align: center;
}
.btn_preg:hover {
    color:#fff;
}   
.btn_preg:active::before {
    //Si se comenta todo el inciso solo se mueve
    //Si se descomenta todo el inciso se mueve y se pinta    
    /*background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);        
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,	
           color-stop(0, rgb(0,50,100)),
    color-stop(1, rgb(44,160,202))       
    );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;*/
}
.btn_preg_press {
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,	
        color-stop(0.2, rgb(0,50,100)),
	color-stop(1, rgb(44,150,212))        
	);
}
.btn_preg_press:hover {
    color:#fff;
}
.btn_preg1::before  {    content:"A";    }
.btn_preg2::before  {    content:"B";    }
.btn_preg3::before  {    content:"C";    }
.btn_preg4::before  {    content:"D";    }
.btn_preg5::before  {    content:"E";    }
.btn_preg6::before  {    content:"F";    }
.btn_preg7::before  {    content:"G";    }
.btn_preg8::before  {    content:"H";    }
.btn_preg9::before  {    content:"I";    }
.btn_preg10::before {    content:"J";    }
.btn_preg11::before {    content:"K";    }
.btn_preg12::before {    content:"L";    }
.btn_preg13::before {    content:"M";    }
.btn_preg14::before {    content:"N";    }
.btn_preg15::before {    content:"O";    }
.btn_preg16::before {    content:"P";    }
.btn_preg17::before {    content:"Q";    }
.btn_preg18::before {    content:"R";    }
.btn_preg19::before {    content:"S";    }
.btn_preg20::before {    content:"T";    }
.btn_preg21::before {    content:"U";    }
.btn_preg22::before {    content:"V";    }
.btn_preg23::before {    content:"W";    }
.btn_preg24::before {    content:"X";    }
.btn_preg25::before {    content:"Y";    }
.btn_preg26::before {    content:"Z";    }

.btn_preg101::before  {    content:"a";    }
.btn_preg102::before  {    content:"b";    }
.btn_preg103::before  {    content:"c";    }
.btn_preg104::before  {    content:"d";    }
.btn_preg105::before  {    content:"e";    }
.btn_preg106::before  {    content:"f";    }
.btn_preg107::before  {    content:"g";    }
.btn_preg108::before  {    content:"h";    }
.btn_preg109::before  {    content:"i";    }
.btn_preg110::before {    content:"j";    }
.btn_preg111::before {    content:"k";    }
.btn_preg112::before {    content:"l";    }
.btn_preg113::before {    content:"m";    }
.btn_preg114::before {    content:"n";    }
.btn_preg115::before {    content:"o";    }
.btn_preg116::before {    content:"p";    }
.btn_preg117::before {    content:"q";    }
.btn_preg118::before {    content:"r";    }
.btn_preg119::before {    content:"s";    }
.btn_preg120::before {    content:"t";    }
.btn_preg121::before {    content:"u";    }
.btn_preg122::before {    content:"v";    }
.btn_preg123::before {    content:"w";    }
.btn_preg124::before {    content:"x";    }
.btn_preg125::before {    content:"y";    }
.btn_preg126::before {    content:"z";    }

.btn_preg201::before  {    content:"1";    }
.btn_preg202::before  {    content:"2";    }
.btn_preg203::before  {    content:"3";    }
.btn_preg204::before  {    content:"4";    }
.btn_preg205::before  {    content:"5";    }
.btn_preg206::before  {    content:"6";    }
.btn_preg207::before  {    content:"7";    }
.btn_preg208::before  {    content:"8";    }
.btn_preg209::before  {    content:"9";    }
.btn_preg210::before {    content:"10";    }
.btn_preg211::before {    content:"11";    }
.btn_preg212::before {    content:"12";    }
.btn_preg213::before {    content:"13";    }
.btn_preg214::before {    content:"14";    }
.btn_preg215::before {    content:"15";    }
.btn_preg216::before {    content:"16";    }
.btn_preg217::before {    content:"17";    }
.btn_preg218::before {    content:"18";    }
.btn_preg219::before {    content:"19";    }
.btn_preg220::before {    content:"20";    }
.btn_preg221::before {    content:"21";    }
.btn_preg222::before {    content:"22";    }
.btn_preg223::before {    content:"23";    }
.btn_preg224::before {    content:"24";    }
.btn_preg225::before {    content:"25";    }
.btn_preg226::before {    content:"26";    }

.btn_preg301::before  {    content:"I";    }
.btn_preg302::before  {    content:"II";    }
.btn_preg303::before  {    content:"III";    }
.btn_preg304::before  {    content:"IV";    }
.btn_preg305::before  {    content:"V";    }
.btn_preg306::before  {    content:"VI";    }
.btn_preg307::before  {    content:"VII";    }
.btn_preg308::before  {    content:"VIII";    }
.btn_preg309::before  {    content:"IX";    }
.btn_preg310::before {    content:"X";    }
.btn_preg311::before {    content:"XI";    }
.btn_preg312::before {    content:"XII";    }
.btn_preg313::before {    content:"XIII";    }
.btn_preg314::before {    content:"XIV";    }
.btn_preg315::before {    content:"XV";    }
.btn_preg316::before {    content:"XVI";    }
.btn_preg317::before {    content:"XVII";    }
.btn_preg318::before {    content:"XVIII";    }
.btn_preg319::before {    content:"XIX";    }
.btn_preg320::before {    content:"XX";    }
.btn_preg321::before {    content:"XXI";    }
.btn_preg322::before {    content:"XXII";    }
.btn_preg323::before {    content:"XXIII";    }
.btn_preg324::before {    content:"XXIV";    }
.btn_preg325::before {    content:"XXV";    }
.btn_preg326::before {    content:"XXVI";    }


.pintaCuadro {
    text-shadow: 2px 2px 20px #000000;
    background: #FECAA7;
    border: 1px solid;
    border-radius: 20px;
    border-color: #FECAA7;
}

.shadow {
    /*
    -webkit-filter: drop-shadow( 5px 5px 5px #000 );
    filter: drop-shadow( 5px 5px 5px #000 );
    */
}
.shadow2 {
    /*
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -5px -5px 5px #285941 );
    */
}
#svg {
    float: none;
    clear: none;
}