



   /** Estilos modal Información y finalizar */






/** instrucciones */

.reveal-modal, dialog {
    /* visibility: hidden; */
    /* display: none; */
    /* position: absolute; */
    /* z-index: 1005; */
    /* width: 100vw; */
    /* top: 0; */
    border-radius: 0px;
    /* left: 0; */
    /*background-color: transparent;*/
    /* padding: 1.25rem; */
    border: none;
    box-shadow: none;
    /* padding: 1.875rem; */
}





.ventana_instrucciones{
         padding-top: 3em;
}

.v_instrucciones {
         background-color: #fff;
         border: 5px solid #fd9c5a;
         box-shadow: 0 0 10px rgba(0,0,0,0.4);
         max-width: 500px;
}

.cerrar_instrucciones {
        color: #2689b2;
        font-size: 2em;
        padding-top: .2em;
}

     

.titulo_evaluacion {
        font-size: 1.8em;
        color: #696969;
        text-align: center;
        padding-top: .7em;
}

p.ventana_secundario {
        color: black;
        text-align: center;
        font-size: 1.1em;
}

.mano_instruccion {
        text-align: center;
        padding-bottom: .7em;
}


.ventana_instrucciones{
        padding-top: 3em;
}

/** finalizar */

.ventana_finalizar{
        padding-top: 3em;
}

.calificacion_numero{
       color: #2689b2;
       font-size: 60px;
       text-align: center; 
}

.circulo{
       height: 120px;
       width: 150px;
       -moz-border-radius: 60px;
       border-radius: 60px;
       border: 4px solid #2689b2;
       margin-top: -107px;
       text-align: center;
}

i {
       /*color: #2689b2;*/
       padding: .4em;
}

.ventana_finalizar_inicio{
       font-size: 1.3em;
       padding-top: 10px;
       display: inline-block;
       padding-left: 2.6em;
}

.texto_finalizar2 {
        color: #707070;
}


@media (max-width: 600px) {
.v_instrucciones {
        min-width: 300px;
}

.titulo1 {
        font-size: 1.4em;
        color: #696969;
}
p.ventana_secundario {
        color: black;
        text-align: center;
        font-size: .9em;
}
}


@media screen and (min-device-width: 601px) and (max-device-width: 1024px) { 
.v_instrucciones {
        min-width: 460px;
}
}



#info_pregunta {
        background-color: transparent;
        border: none;
        box-shadow: none;
}

.close-reveal-modal {
        color: #008cba;
        font-weight: normal;
}




.blanco {
  background-color: transparent;
}






