.container{
    width: 100%;    
    text-align: left;
    padding: 0px 0px 0px -100px;
    margin: 0px 0px 0px 0px;//márgenes
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;    
}
#container_buttons p{
    padding-bottom:30px;//Separación entre botones
}