/* 
    Created on : 6/08/2015, 10:21:25 AM
    Author     : jpgomez
*/
/* Aqui controlamos los estilos de la pregunta, forzando a que siempre tenga el mismo tamaño, fuente y color entre otras */
.preguntaTit div div p span span, .preguntaTit div div p span span span, .preguntaTit div p, .preguntaTit p, .preguntaTit div, #preguntaTexto table tr td, #preguntaTexto ul{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 24px !important;
    color: #395675;
    margin-bottom:0px;
    text-align: justify;
}

.preguntaTit ol{
    font-size: 24px !important;
}

.ac-custom label {
    display: inline-block;
    position: relative;
    font-size: 24px !important;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: #395675; /*color: #2689b2;*/
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color:#395675;
} 

.preguntaRelaciona{
    color: #395675;  /*color: #2689b2;*/
    /*cursor: pointer;*/
    font-size: 24px;
    position: relative;
    margin-bottom: 14px;
}

#espaciosDeCartas{
    color: #395675;  /*color: #2689b2;*/
    /*cursor: pointer;*/
    font-size: 24px;
    text-align: left;
}

.ui-draggable p {
    font-family: inherit;
    font-weight: normal;
    font-size: 22px;
    text-align: center;    
    padding: 1px 2.1% 1px 0%;
    white-space: nowrap;
    height: 40%;
}

 .texto-respuesta p{
    font-family: inherit;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 0rem;
    padding-top: 5px;
    color: #395675;  /*color: #2689b2;*/
 }
 
 
#pilaDeCartasExtra div {
    background: #E0F1E9;
    border-color: #E0F1E9;
    color: #E0F1E9;
    text-shadow: 0 0 3px #000;

    font-size: 24px;
    border: 1px solid;
    
    float: left;
    width: 24%;
    
    min-width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    text-align: center;
    
    height: 56px;
    
    //height: 57px;//Altura fija de la caja superior verde
    //margin: 0.4% ;//espacio horizontal y lateral entre botones superiores verdes
    //Propiedades de las cajas superiores verdes
    //min-width: 200px;//Se indica la anchura mínima de las cajas superiores verdes para evitar que el texto se desborde
    //height: 45px;
    //width: 20%;//Ancho en porcenta de las cajas superiores
}
#pilaDeCartas div {
    background: #54B084;
    border-color: #54B084;
    color: #fff;
    text-shadow: 0 0 3px #000;

    font-size: 24px;
    border: 1px solid;
    
    float: left;
    width: 24%;
    
    min-width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    text-align: center;
    
    height: 56px;
    
    //height: 57px;//Altura fija de la caja superior verde
    //margin: 0.4% ;//espacio horizontal y lateral entre botones superiores verdes
    //Propiedades de las cajas superiores verdes
    //min-width: 200px;//Se indica la anchura mínima de las cajas superiores verdes para evitar que el texto se desborde
    //height: 45px;
    //width: 20%;//Ancho en porcenta de las cajas superiores
}