/* 
    Created on : 29/01/2015, 12:42:25 PM
    Author     : jpgomez
*/
.seleccionada{
    width:200px;
    height:20px;
    padding:20px;
    border:1px solid blue;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}


.seleccionada:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
  cursor: pointer;
}

.detalle_exa {
  background-color: #2689b2;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.informacion_exa{
    padding-left:1em;
    color:#fff;
    padding-top:0.3em;
    padding-bottom:0.3em;
}
.descripcion_exa{
	margin-left:-85px;
}

.inst_exa{
    font-size:1em;
    text-align:left;
    margin-bottom: 14px;
    padding: 0.7rem;
    background: #ecfaff;
    color:#6e8283;
    word-wrap: break-word;    
}

.border-exa {
    padding-left: 0.9375rem; 
    padding-right: 0.9375rem;
}

.inst_titulo{
	color:#008cba;
	font-weight:bold;
}

/*css-comenzar-examen*/

.icon{
	border-radius: 5px;
	transition-property: background;
	transition: background .2s linear, border-radius 1s ease-in 1s;
	padding-left: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.3em;
    margin-bottom: 0.8em;
    width: 55%;
    margin-left: -8px;
  }
  .li_int{
      border-bottom: 2px solid #D3D3D3;
  }
 .li_datos{
     color: #4C4C4C;
     padding: 13px 0;
     
}
.list{
	color:#4C4C4C;
        margin: 0px;
	padding: 0px;
	list-style:none;
	font-size: 17px;
        color: #008cba;
        padding-top: 1em;
}
 .contenedor_inst {
	min-height:100px;
 	padding-left: 0.9375rem; 
 	padding-right: 0.9375rem;
 	background:#fff;
}

.respuesta{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size:16px;
    color:#4c4c4c;
    margin-bottom: 40px;
    margin-top: 1em;
}

.lightbox_inst{
 background-color:#red;
 padding-top: 9px;
 border-top: 2px solid #fff;
}
.exam_footer{
	background-color:#2689b2;
	position:fixed;
	bottom:0px;
        z-index: 800;
	max-width: 1000px;
   /*margin-left:auto;
margin-right:auto;
text-align: center;*/
}
#drop_num_preguntas{
    height: 480px !important; 
    overflow-y: scroll; 
    overflow-x: hidden;
}
#hora, #minuto, #segundo{
    color: #2689b2;
}
.div-progress{
    margin-top: 0.75em;
}
.button-nav{
    margin: 7px 0;
    background-color: #FFFFFF;
    color: #1F93DC;
    padding: 10px 10px 10px 10px;
    
    font-weight: bold;
    border-radius: 5px;
}
.button-nav:hover{
    
    
    background-color: #bde2fd;
    color:#61B3D5;
}
.fa-chevron,.icon{
    color: #69C2E5;
}
.texto-tiempo{
    margin: 5px 0 0 0;
}
.icono-superior{
    color: #fd9c5a;
}
.icono-superior:hover{
    color: #E7772A;
}
.div_nav{
	background:#fff;
	padding: 1em;
}
.nav-right{
	color: #fff;
	margin: 7px 0;
}
.nav-left{
	color: #0078a0;
	margin: 7px 0;
}
.nav-right:hover, .nav-left:hover, .nav-right:focus, .nav-left:focus{
	color: #bde2fd;/*rgba(188,212,236,0.9);*/
	margin: 7px 0;       
}
.f-dropdown-custom{
    width: 500px; max-width: 600px;
}
.text-nav{
	color:#fd9c5a;
	padding-top:0.5em;
	margin-right:-5em;
}
.all{
	background:#f60;
}

.progress.success .meter {
    background: none repeat scroll 0 0 #fd9c5a;
    display: block;
    height: 100%;
}
.pro_footer{
    color:#fff;
    margin-top: 10px;
    font-size: 20px;
}

.textboxLargo{  /*estilos para pregunta5 tipo 6*/
    width: 63% !important;
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    background:#d7ebf9;
    border-radius: 10px;
    font-weight:bold;
    color:#2689b2;
    border:0 !important;  	
     -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(140,140,140,1) ;
    box-shadow: 1px 1px 1px 0 rgba(140,140,140,1) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    margin-top: 2em;
}
.estilo_resp{
	/* background:#ecfaff; */
	margin-bottom: 40px;
        height: 250px;
        margin-top: 1em;
}
 


 /* Sobreescribir  
 Estos estilos me servirán para cambiar el estilo de los parrafos que ya vienen
 incrustados en las respuestas, ya que eso lo hace el editor de texto en 
 automatico
 */
 
 .columnas_personalizadas p, .columnas_personalizadasDerecha p, columnas_personalizadasOrdenarNumeros p, span p, .texto-arrastra p, .columnas_personalizadasOrdenarNumeros p{


    font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0rem;
    
}

.texto_arrastra{
    font-weight: bold!important;
}

/* Fin de sobreescribir*/

input.textboxGral{    
    color: #008cba;
    font-weight:bold;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    
}

.bordeRedondeado{
    border-radius: 10px !important;
}
.bordeSemiredondeado{
    border-radius: 10px 0 0 10px !important;
}

.tam-imagen-relacionar{
    height: 60px;
}

.num_preg a{
    font-size: 20px;
    color: #fff;
}

.num_preg a:hover{
    font-size: 20px;
    color: #bde2fd
}

.desactiva{
    visibility: hidden;
}

.bandera-preguntas{
    margin: 0px 10px 0px 0px;
}

.texto-cortas{    
    width: 140px !important;
    float: left;
    border-radius: 0.5em !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.texto-respuesta{
    border-style: none !important;
    width: auto  !important; 
    color: #000; 
    white-space: nowrap;
}

.texto-respuesta-spacer{
    border-style: none !important;
    width: 100% !important; 
    height: 15px !important;
    color: #000; 
    white-space: nowrap;
}

.alert-box .cerrar{
    font-size: 1.375rem;
    padding: 9px 6px 4px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.6875rem;
    right: 0.25rem;
    color: #333;
    opacity: 0.3;
    background: inherit;
}

#texto span{
    border: 2px dashed #54B084;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;    
    border-radius: 10px;              
    
    background: transparent;
    height: 36px;
    text-align: center;
    color: #fff;
    padding: 8px 194px 10px 0%;
        
    margin: 1% 1% 1% 1%;
    
}

#pilaDeCartas .ui-draggable{
    cursor: pointer;
}

.tooltip{
    background-color:#395675; 
    font-size:1.1em;
    font-style:italic;
    margin-top:-1em;

}   
 .button{
    margin-bottom: -0.5em !important;
    padding: inherit;
  }
 .icon_drop{
   color:#fff;
   margin-top: 1em;
 }  
 .barra{
    margin-left: -1em;
 }
 .chek_align{
    
 }
 .inst_style,h5{
     padding-top: 1em;
     color: #008cba!important;
     margin-top: 0.5em;
     margin-bottom: 1.5em;
 }
 
 .btn_evaluar, .btn_cancelar{
     background: #008cba;
     color: #fff;
     padding: 1.5em;
     border-radius: 5px;
 }

 .btn_succes, .btn_cancelar{
     background: #008cba;
     color: #fff;
     padding: 1.5em;
     border-radius: 5px;
 }
 /*.preg_txt{
     color: #008cba;
     font-size: 3em!important;
 }*/
 
 
 .clear{
   clear:both;
}

.whiteText{
    color: #ffffff !important;
}
