@CHARSET "UTF-8";

td:hover{
	
	width:3em;
      
}
.periodo,.calif,.estatus,.exa,.accion{
	color: #5489B0;
        padding-top: 8px;
        background: #ECF6FC;  //rgb(236, 246, 252);
        padding-bottom: 0.4em;
        cursor:default; //alias
        margin-bottom: length  percentage  auto  inherit  ;
        min-height: 4.7em;
        vertical-align: middle;
        max-height: 4.7em;
        padding-top: 15px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        overflow: auto;
}
.exy{
    background: tomato!important;
}
.accion{
        height: 2.7em!important;
        background: rgb(236, 246, 252)!important;
}
.accion:hover {
        background:#BCD4EC!important;
}

.exa:hover,.periodo:hover,.estatus:hover,.accion:hover{
	color:#fff;
        background:#BCD4EC!important;
}
#tit_tabla{
        color:#fff;
        background:#2689b2!important;
        margin-top: -0.5em;
	/*color: #5489b0;*/
        font-size: 20px;
        margin-top: 0.5em;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        padding: 0.5em;
}
.tit_tabla{
        color:#fff;
        background:#bde2fd!important;
        font-size: 2em;
        border-style: solid;
        border-color: rgb(255, 255, 255);
}
.tit_tab{
        margin-top: 0px!important;
        padding-bottom: 1.4em!important;
}
.tipo{
	color:#3a5f7b;
	font-weight:bold;
	font-size:1em;
        background: #bde2fd;
        
}

.tabla{
  background: #fff;
  margin-bottom: 1.25rem;
  border: 0!important;
  table-layout: auto;
}
.hov:hover{
	background:#fd9c5a;
	color:#fff;
}
.hov{
  transition-property: background;
  transition: background .2s linear, border-radius 1s ease-in 1s;
}
.white{
    color: #ffffff;
}
.play:hover{
    color: #fff!important;
}