body, html{ min-width: 1024px; }
body{ position: relative; }
.row.contenedor-player{
    position: relative;
    height: calc(100vh - 140px);
}
.row.contenedor-player:before{
    width: 100%; height: 50px;
    background: #555b5c;
    position: absolute; top: 0; left: 0;
    z-index: 0;
}
#frameEvaluacion{
    position: relative;
    z-index: 10;
    height: 100% !important;
}
.large-4.medium-6.hidden-for-small.right.columns {
    margin-right: 10px;
    padding: 0;
}
.large-4.medium-4.columns.text-center{
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    width: auto;
    float: right;
}
.icono-superior{
    color: white;
    background: none;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    line-height: 34px;
    text-align: center;
    margin: 4px 0;
}
.icono-superior:hover{ color: #F39C12; }
.informacion_exa{
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    text-align: right;
    width: auto;
    padding: 0;
    line-height: 40px;
}
.descripcion_exa{
    width: auto; max-width: 600px;
}
.no-pseudo:after{ display: none !important; }
.no-pseudo:before{ display: none !important; }
#bg_header{
    height: 100px;
}
#header_uno{ margin: 0; }
#header_uno img{
    height: 90px;
    margin: 5px;
    width: auto;
}
#header2{
    margin: 0;
    height: 100%;
}
nav.menu-nav{
    width: calc(100% - 20px);
    height: 40px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 10px;
    display: block;
    line-height: 30px;
}
nav.menu-nav>*{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: calc(100% - 10px);
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: solid 3px silver;
    padding-bottom: 5px;
}
nav.menu-nav>*:hover{
    border-color: #008cba;
}
nav[tag='info-nav']{
    display: block;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    padding: 0;
}
#time-left{
    position: absolute;
    width: 100px; height: 30px;
    font-size: 18px; color: dimgrey;
    font-weight: bold;
    position: absolute;
    top: 0; right: 10px;
    margin-top: 5px;
    display: none;
}
#nombre-usuario{
    display: none;
}
body, html, .contenedor_body{
    height: 100%;
}
.element{
    height: calc(100% - 100px);
}
.zopim{ left: 10px; }
#info_examen{
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translateX(-50%) translateY(-2000px);
    width: 90%;
    height: 85%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.35);
    transition: transform 0.75s;
}
#info_examen.open{
    transform: translateX(-50%) translateY(-50%);
}
/*estilos para la barra de scroll*/
::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 4px rgba(93, 109, 126  , 0.85);
        border-radius: 10px;
        background-color: white;
}

::-webkit-scrollbar{
        width: 9px;
        background: none;
}

::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #95A5A6;
}
/*boton finalizar actividad/progreso*/
#button-finalizar{
    width: 120px; height: 30px;
    display: inline-block;
    position: static;
    background: white;
    float: right;
    margin: 5px 10px;
    position: relative;
    top:0; left:0;
    outline: none;
    transition: 0.5s;
}
#button-finalizar>hr{ display: none; }
#button-finalizar.progress{
    width: 200px;
    height: 24px;
    margin: 8px 15px;
    margin-left: 8px;
    border-radius: 10px;
    color: transparent;
    cursor: default;
}
#button-finalizar.progress:active{ pointer-events: none; }
#button-finalizar.progress>hr{
    display: block;
    max-width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;
    padding: 0;
    border: 0;
    background: #008cba;
    border-radius: 10px;
    width:  0;
    position: absolute;
    top: 0; left:0;
    transition: width 0.35s;
}