.boton-gral{
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
.boton-gral span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#container-right{
    width: 400px;
    border: solid red;
    width: 1px;
}

.contorno{
    border: medium dotted ButtonFace;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.seleccionada{
    width:200px;
    height:45px;
    padding: 5px 0 25px 0;
    text-overflow:ellipsis;
    white-space:normal; 
    overflow:hidden; 
}


.lista-preguntas{
    width:88%;/*379px;*/ 
    height:45px;
    padding: 5px 0 25px 11px;
    font-size:12px;
    text-overflow:ellipsis;
    white-space:normal; 
    overflow:hidden;
    text-align:justify;
}


.contenedor-preguntas{
    z-index: 1;
    height: 600px; 
    overflow: scroll;
    padding: 10px;
    margin: 10px;
}

.tamano{
    height: 30px;
    background-color: transparent;
    border-color: transparent;
}
