.sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    float: left; 
    background: #fff; 
    padding: 1px; 
    cursor: pointer;
}

.sortable .item { 
    margin: 5px 0 5px 0;
    font-size: 0.9em; 
    margin-bottom: 0.6em;
    padding-top:0.5em;
  	padding-bottom: 5px;

}