::-webkit-scrollbar{
    display: none;
}
body, html{
    font-family: sans-serif;
    font-size: 20px;
    color: dimgrey;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: whitesmoke;
    overflow: hidden;
}
#view-area{
    width: calc(100% - 250px); height: 100%;
    display: inline-block;
    vertical-align: top;
}
section{
    display: inline-block;
    width: 250px; height: calc(100% - 20px);
    padding: 10px 0;
    text-align: center;
    position: relative;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.35);
    overflow: scroll;
}
/*/////////////////////////////////////////////////////////*/
iframe{
    width: 920px; height: 525px;
    border: 0; padding: 0;
    display: block !important;
    margin: 10px auto !important;
    margin-bottom: 30px !important;
    border: dotted 2px silver;
}
#view-area *{
    display: inline-block;
    min-width: 200px;
    margin: 20px 50px;
    text-align: center;
    vertical-align: middle;
}
#grid{ position: relative; }
#grid:after{
    content: "Increment threshold " attr(value);
    width: 100%;
    text-align: center;
    position: absolute;
    top: -25px;
    color: dimgrey; font-size: 14px;
}
#axis{
    color: dimgrey;
    height: 30px;
}
#Resizable{
    font-size: 16px;
    cursor: pointer;
}
#Resizable:before{
    content: "";
    width: 20px; height: 20px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    border: solid 2px;
    margin: 0 10px;
    vertical-align: middle;
}
#Resizable.resize:before{
    border-color: #11528c;
    background: #11528c;;
    box-shadow: inset 0 0 0 3px white;
}
/*/////////////////////////////////////////////////////////*/
.file-item{
    font-size: 14px;
    text-align: left;
    margin: 5px 5px;
    padding: 10px 5px 0 5px;
    border-bottom: solid 1px silver;
    display: block; width: 150px;
    cursor: pointer;
}

/*/////////////////////////////////////////////////////////*/
.disabled{
    opacity: 0.35; pointer-events: none !important;
}
/*/////////////////////////////////////////////////////////*/
.frame-btn{
    display: block;
    border-radius: 50%;
    width: 40px; height: 40px;
    min-width: 0 !important;
    background-color: #9B59B6;
    box-shadow: 2px 2px 6px rgba(0,0,0, 0.35);
    margin: 0 !important;
    padding: 0 !important;
    background-image: none;
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 515px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.15s, background 2s;
}
#save.frame-btn{
    background-image: url(motor/img/guardar-white.png);
    left: 990px;
}
#save.green{
    background-color: green;
    transition: transform 0.15s !important;
}
#reload.frame-btn{
    background-size: 120% 120%;
    background-image: url(motor/img/reload-white.png);
    left: 940px;
}
.frame-btn:hover{transform: scale(1.2);}
.frame-btn:active{transform: scale(0.65);}
/*/////////////////////////////////////////////////////////*/
#btn-container{
    position: fixed;
    top: 10px;
    left: calc(100% - 40px);
}
.btn{
    width: 25px; height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px silver;
    margin: 4px 0;
    cursor: pointer;
    line-height: 25px;
}
.btn:hover, .file-item:hover{ color: orange; border-color: orange; }
.btn.selected, .file-item.selected{ color: green; border-color: green; pointer-events: none; background: whitesmoke; }
.btn.space{ opacity: 0; }