/*Estilos para el encabezado de las paginas*/
#header_uno{
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
}
#header2{
	margin-bottom: 0.75rem;
	margin-top: 0.57rem;
	color:#008CBA;
}
#header2:first-child span{   /*nombre usuario */
    font-style: normal;
    padding-left:10px;
    color:#555a5b;
    font-size:1em;
    font-weight:bolder;
}
#bg_header{
	background-color:#ffffff;
}
.contenedor_body{
	background: #9cd3fc; /* Old browsers */
	background: -moz-linear-gradient(top,  #9cd3fc 0%, #ffffff 81%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cd3fc), color-stop(81%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9cd3fc 0%,#ffffff 81%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9cd3fc 0%,#ffffff 81%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9cd3fc 0%,#ffffff 81%); /* IE10+ */
	background: linear-gradient(to bottom,  #9cd3fc 0%,#ffffff 81%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd3fc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

/*Titulos generales*/
.titulo_gral{
  color: #4c4c4c;
  font-size:1.7em;
}
/*menu top-bar*/
.top-bar {
	background: #395675 !important;
}
.top-bar-section li a {
	background: #395675 !important; 
        font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size:1em !important;
}
.top-bar-section li a:hover {
	background: #268ab3 !important;   
}
.name li a:hover {
	background: #ff6600  !important;   
}
.top-bar-section ul li.active > a {
    background: #268ab3 !important;   
}
.contain-to-grid {
    background: #395675;
}
.row-contenedor{
	background-color:#ffffff;
}
/*menu top-bar*/

/*estilo botones*/
    .button_sesiom{
        margin-bottom: 19px;
        margin-top: -30;
        z-index: 2;
        position: relative;
        position: absolute;
        left: 41px;
        top: -20px;
        z-index: 1;
        padding-top: 1.625rem;
        padding-right: 1.25rem;
        padding-bottom: 1.6875rem;
        padding-left: 1.25rem;
        font-size: 1rem;

    }
 
    
.ayuda_menu{
    color: #fff!important;
    cursor: default;
    margin-top: 0.7em;
    margin-left: 1em;
}

.top-bar-section .has-form{
   background: #008bb6; 
}

.ayuda_menu2{
    
    color: #fff!important;
    margin-left: 42em;
}
.butt_style{
	padding: 15px !important;
	border-radius:5px !important;
	color:#fff !important;
	background-color:#268ab3 !important;
}
.butt_style:hover{
	padding: 15px !important;
	border-radius:5px !important;
	color:#fff !important;
	background-color:  #61b6d9 !important;
	transition-duration: .2s, 1s !important;
}
#button{
	width: 39%;
	padding-top: 25px 25px;
	margin-left:32%;
	border-radius:5px;
	transition-duration: .2s, 1s;
	box-shadow: 0 5px 0 #3a5f7b;
	transform: translateY(1px);
	color:#fff;
	background-color:#268ab3;
}
#button:hover {
	background: #61b6d9;
	border-radius: 5px;
	cursor:pointer;
	transition-duration: .2s, 1s;
	box-shadow: 0 1px 0 #268ab3;
	transform: translateY(4px);
	cursor: pointer;
	color:#fff;	
	}

/*estilo botones*/


.spacer60{
    height: 60px;  
    background-color: #fff;
}

.spacer{
    height: 4px;    
}
.spacer8{
    height: 8px;    
}

.text-orange{
    color: #fd9c5a;
}

.text-bold{
	font-weight:bold;
}
/*Mis datos*/
span.postfix, label.postfix {
  background: #f2f2f2;
  border: solid 1px #ccc !important;
}
fieldset legend {
  font-weight: normal;
  background: #fff;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #4c4c4c;
}
.titulo_datos{
  color: #4c4c4c;
  font-size:1.5em;
  margin-left: 12px;
}
.texto-datos{
    color: #008CBA;
    font-size: 1.2 em;
    
}
