	<div class="row" id="paso3CargaMasiva">
		<div class="small-10 large-8 columns">
		   <h5 id="iniciar_joyrider_procesar">Verificar informaci&oacute;n y confirmar:</h5>
		</div>
			<div class="small-2 large-4 columns">
		</div>
	</div>
	<?php 
			$_intRegistros = 0;
		 	echo "<table id='tblCheckRes' border=2>";
		 	 	echo "<thead>";
		 	 		echo "<tr>";
		 	 			echo "<th>Nombre</th>";
		 	 			echo "<th>Apellidos</th>";
		 	 			echo "<th>Usuario / Correo Electrónico</th>";
		 	 			echo "<th>Contraseña</th>";
		 	 			echo "<th>Licencia</th>";
		 	 			echo "<th>Borrar</th>";
		 	 		echo "</tr>";
		 	 	echo "</thead>";
		 	 	echo "<tbody>";
		 	 	$_arrUsers = array();
		 	 	$_arrLicencias = array();
		 	 	$_iteradorRow = 1;
		 	 	
		 	 foreach($_arrUsuarios as $row){
				 		$_flagdatos = false;
				 		$strRow = "";
				 		
				 		$_strError = "";
				 		foreach($row as $_indice=>$cell){
				 			//obtener el valor de la celda 
				 			$_strValorCelda = $cell;
				 			
				 			switch ($_indice){
				 				case 1:
				 					//TODO:verificar nombre valido
				 					if($_strValorCelda == "" || $_strValorCelda == null){
				 						$strRow .=  "<td>";
				 						$strRow .= "<input class='txtNombre error' id='nombre".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 						$strRow .= "<small id='nombre".$_iteradorRow."ImgError' class='error'>El campo Nombre no puede estar vacio.</small>";
				 						//$_strError .= " ";
				 					}
				 					else{
				 						$strRow .=  "<td>";
				 						$strRow .= "<input class='txtNombre' id='nombre".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 						$strRow .= "<small id='nombre".$_iteradorRow."ImgError' class='error' style='display:none;' ></small>";
				 						$_flagdatos = true;
				 					}
				 					
				 					break;
				 				case 2:
				 					//TODO:verificar apellidos valido
				 					if($_strValorCelda == "" || $_strValorCelda == null){
				 						$strRow .=  "<td>";
				 						$strRow .= "<input class='txtApellido error' id='apellido".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 						$strRow .= "<small id='apellido".$_iteradorRow."ImgError' class='error'>El campo Apellido no puede estar vacio </small>";
				 						//$_strError .= " ";
				 					}
				 					else{
				 						$strRow .=  "<td>";
				 						$strRow .= "<input class='txtApellido' id='apellido".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 						$strRow .= "<small id='apellido".$_iteradorRow."ImgError' class='error' style='display:none;'></small>";
				 						$_flagdatos = true;
				 					}
				 					
				 					break;
				 				case 3:
				 					//TODO:verificar usuario valido
				 					//TODO:verificar usuario existe
				 					if($_strValorCelda == "" || $_strValorCelda == null){
				 						$strRow .=  "<td >";
				 						$strRow .= "<input class='txtUser error' id='user".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 						$strRow .= "<small id='user".$_iteradorRow."ImgError' class='error'>El campo Usuario no puede estar vacio.</small>";
				 					}
				 					else{
				 						//verificar si se repite el usuario
				 						if(!in_array($_strValorCelda, $_arrUsers)){
						 						array_push($_arrUsers, $_strValorCelda);
  						 						if(count($_arrUsuarioExiste) > 0 && in_array(strtolower($_strValorCelda), $_arrUsuarioExiste )){
 						 							$strRow .=  "<td>";
 						 							$strRow .= "<input class='txtUser error' id='user".$_iteradorRow."' type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
 						 							$strRow .= "<small id='user".$_iteradorRow."ImgError' class='error'>El usuario introducido ya existe solicitar ayuda con soporte tecnico.</small>";
 						 						}else{
 						 							if( preg_match("/^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/", $_strValorCelda) || preg_match("/^((\.|_|-)?[a-zA-Z0-9]+){6}$/D", $_strValorCelda))
 						 							{
 						 								$strRow .=  "<td>";
 						 								$strRow .= "<input style=' width:100%;' class='txtUser' id='user".$_iteradorRow."'  type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
 						 								$strRow .= "<small id='user".$_iteradorRow."ImgError' class='error' style='display:none;'></small>";
 						 							}else{
 						 								$strRow .=  "<td>";
 						 								$strRow .= "<input style=' width:100%;' class='txtUser error' id='user".$_iteradorRow."' type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
 						 								$strRow .= "<small id='user".$_iteradorRow."ImgError' class='error'>Usuario con parametros erroneos.</small>";
 						 							}
 						 						}
				 							}
				 							else{
				 								$strRow .=  "<td>";
				 								$strRow .= "<input class='txtUser error' id='user".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 								$strRow .= "<small id='user".$_iteradorRow."ImgError' class='error'>El nombre de usuario se repite en algún registro anterior.</small>";
				 						}
				 						$_flagdatos = true;
				 					}
				 					
				 					break;
				 				case 4:
				 					//TODO:verificar pass valido
				 					if(strlen($_strValorCelda) < 6){
				 						$strRow .=  "<td>";
				 						$strRow .= "<input class='txtPass error' id='pass".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='10' />";
				 						$strRow .= "<small id='pass".$_iteradorRow."ImgError' class='error'>La contraseña debe tener al menos 6 caracteres.</small>";
				 						
				 					}
				 					else{
				 						$strRow .=  "<td>";
				 						$strRow .= "<input class='txtPass' id='pass".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='10' />";
				 						$strRow .= "<small id='pass".$_iteradorRow."ImgError' class='error' style='display:none;'></small>";
				 						$_flagdatos = true;
				 					}
				 					
				 				break;
				 				case 5:
				 					//TODO:verificar licencia
				 					if($_strValorCelda == "" || $_strValorCelda == null){
				 						$strRow .=  "<td >";
				 						$strRow .= "<input style=' width:100%;' class='txtLicencia error' id='licencia".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 						$strRow .= "<small id='licencia".$_iteradorRow."ImgError' class='error'>El campo licencia no puede estar vacio.</small>";
				 					}else{
				 						//verificar si se repite el usuario
				 						if(!in_array($_strValorCelda, $_arrLicencias)){
				 							array_push($_arrLicencias, $_strValorCelda);
				 														
				 							$_arrLlaveValida = $_objWs->llaveValidaMensaje($_strValorCelda, $_SERVICIO_CERTIFICACION_GE);
				 							
				 							if($_arrLlaveValida['valida'] == false)
				 							{
				 								$strRow .=  "<td>";
				 								$strRow .= "<input style=' width:100%;' class='txtLicencia error' id='licencia".$_iteradorRow."' type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
				 								$strRow .= "<small id='licencia".$_iteradorRow."ImgError' class='error'>".$_arrLlaveValida['msj']."</small>";
				 							}
				 							else{
				 								//TODO : verificar que la cadena sea valida eliminar caracteres especiales
				 								$strRow .=  "<td>";
				 								$strRow .= "<input style=' width:100%;' class='txtLicencia' id='licencia".$_iteradorRow."' type='text' value='".$_strValorCelda."'  size='".strlen($_strValorCelda)."'/>";
				 								$strRow .= "<small id='licencia".$_iteradorRow."ImgError' class='error' style='display:none;'></small>";
				 							}
				 						}
				 						else{
				 							$strRow .=  "<td>";
				 							$strRow .= "<input style=' width:100%;' class='txtLicencia error' id='licencia".$_iteradorRow."' type='text' value='".$_strValorCelda."' size='".strlen($_strValorCelda)."' />";
				 							$strRow .= "<small id='licencia".$_iteradorRow."ImgError' class='error'>La licencia se repite en alg&uacute;n registro anterior.</small>";
				 							$_flagdatos = true;
				 						}
				 					}
				 				break;
				 			}
				 			$strRow .= "</td>";
				 			//$itr4Cell++;
				 			
				 		}
				 		if($_flagdatos === true){
				 			echo "<tr id='row".$_iteradorRow."' class='filaUser'>";
				 			echo $strRow;
				 			echo "<td><a id='joyrider_".$_iteradorRow."' class='small button' onclick='$(\"#row".$_iteradorRow."\").slideUp(\"slow\");$(\"#row".$_iteradorRow."\").html(\"\");'>Eliminar</a></td>";
				 			echo "</tr>";
				 			$_intRegistros++ ; 
				 		}
				 		$_iteradorRow++;
		 	}
		 	echo "</tbody>";
		 	echo "<tfoot><tr><td colspan='5'>Total Registros ".$_intRegistros."</td></tr></tfoot>";
		 	echo "</table>";
		 	?>
	<div  class="row" id="paso3AceptarCM">
		<div class="small-5 large-2 columns">
			<div class="min small button" id="urlProcesarCargaMasivaAjax" >Aceptar</div>
		</div>
		<div class="small-5 large-2 columns">
			<div class="min small button" id="urlCancelarCargaMasiva" >Cancelar</div>
		</div>
		<div class="small-2 large-8 columns">
		</div>
	</div>
	
	<!-- se comentan las ayudas en caso de implementar ayudas solo descomentar esta linea -->
	<!--<ol id="cargamasiva_list_procesar">
   		<li data-id="iniciar_joyrider_procesar" data-button="Iniciar">
   			<h5>Secci&oacute;n Carga Masiva</h5>
   			<p>¿Existen errores en tu plantilla para nuevos alumnos?</p>
   		</li>
   		<li data-id="nombre1" data-button="Siguiente">
   			<h5>Paso 1</h5>
   			<p>Corregir los campos que se marcan en rojo.</p>
   		</li>
   		<li data-id="joyrider_1" data-button="Siguiente">
   			<h5>Paso 2</h5>
   			<p>Si deseas puedes eliminar los registros.</p>
   		</li>
   		<li data-id="urlProcesarCargaMasivaAjax" data-button="Finalizar">
   			<h5>Paso 3</h5>
   			<p>Si corregiste todos los errores ahora puedes presionar en el bot&oacute;n "Aceptar".</p>
   		</li>
	</ol>-->
	
	<input type="hidden" name="_idGrupo" id="_idGrupo" value="<?php echo $_codigoGrupo;?>" />
	<input type="hidden" id="urlSitio" value="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva', 'action'=>'procesarcargamasiva'));?>" />
	<input type="hidden" id="index" value="<?php echo $this->url('cargamasiva',array('controller'=>'cargamasiva', 'action'=>'index'));?>" />
	<?php
		$this->headLink()		->prependStylesheet($this->basePath() . '/css/jquery-ui.css');
			  
		$this->headScript()		->prependFile($this->basePath() .'/js/validate_carga_masiva.js')
								->prependFile($this->basePath() . '/js/jquery-ui.js');
	?>



