/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2015, 09:52:03 AM
    Author     : luis
*/

.f-dropdown {
    width: auto !important;
    max-width: 500px;
}

.f-dropdown li{
    padding: 10px;
    
}


input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0.44444rem;
    margin-right: 0.88889rem;
    vertical-align: baseline;
}

.row{
    max-width: 98%;
}