<div class="row">
   
    <fieldset>
        <div class="row collapse">
		<div class="large-12 columns">
			<div class="titulo_datos">
				<span class="text-left"><?php echo $this->translate("Mis Datos");?></span>
			</div>
		</div>
        </div>
        
	<div class="row">
		<div class="large-12 columns">
			<div class="spacer20"></div>
		</div>
		
		<div class="large-4 medium-4 columns">
			<form class="form-horizontal" id="frmCambiarNombre" >
				<legend><?php echo $this->translate("Nombre");?></legend>
					<div class="row collapse">
						<div class="large-3 columns">
							<span class="postfix" for="strNombre"><?php echo $this->translate("Nombre:");?></span>
						</div>
						<div class="large-9 columns">
							<input type="text" name="strNombre"  id="strNombre" value="<?php echo isset($_arrDatosUsr[0]['t01nombre']) ? $_arrDatosUsr[0]['t01nombre'] : "";?>" required/>
							<div id="error_nombre"></div>
						</div>
					</div>
					<div class="row collapse">
                                                <div class="large-3 columns">	
							<span class="postfix" for="strApellido"><?php echo $this->translate("Apellidos:");?></span>
						</div>
						<div class="large-9 columns">
							<input type="text" name="strApellido"  id="strApellido" value="<?php echo isset($_arrDatosUsr[0]['t01nombre']) ? $_arrDatosUsr[0]['t01apellidos'] : "";?>" required/>
							<div id="error_apellido"></div>
                                                </div>
                                        </div>
					<div class="row">
						<div class="large-12 columns text-right">
							<button type="submit" class="small button" id="btnActualizarNombre" >Actualizar</button>
						</div>
					</div>
                        </form>
		</div>
		
		<div class="large-4 medium-4 columns">
			<form class="form-horizontal" id="frmCambiarUserName">
				<legend><?php echo $this->translate("Usuario / Email");?></legend>
					<div class="row collapse">
						<div class="large-3 columns">
							<span class="postfix" for="strUsuario"><?php echo $this->translate("Actual");?>: </span>
						</div>
						<div class="large-9 columns">
							<input type="text" id="strUsuario" name="strUsuario" value="<?php echo isset($_arrDatosUsr[0]['t01correo']) ? $_arrDatosUsr[0]['t01correo'] : "";?>" disabled/>
							<p class="help-block"></p>
						</div>
					</div>
					
					<div class="row collapse">
                                                <div class="large-3 columns">
                                                    <span class="postfix" for="strUserName"><?php echo $this->translate("Nuevo");?></span>
						</div>
						<div class="large-9 columns">
							<input type="text" required id="strUserName" name="strUserName"/>
							
						</div>
					</div>
					
					<div class="row">
						<div class="large-12 columns text-right">
                                                    <button type="submit" class="small button" id="btnActualizarusuario" >Actualizar</button>
						</div>
					</div>
			</form>
		</div>
		
		<div class="large-4 medium-4 columns">
			<form class="form-horizontal" id="frmCambiarPass">
					<legend><?php echo $this->translate("Contraseña");?></legend>
					<div class="row collapse">
						<div class="large-5 columns">
							<span class="postfix" ><?php echo $this->translate("Nueva Contraseña");?></span>
						</div>
						<div class="large-7 columns">
							<input type="password" name="strNewPass" id="strNewPass" minlength="6" required />
							<p class="help-block"></p>
						</div>
					</div>
					<div class="row collapse">
                                                <div class="large-5 columns">
							<span class="postfix" ><?php echo $this->translate("Confirmar Contraseña");?></span>
						</div>
						<div class="large-7 columns">
							<input type="password"  name="txtConfirmaPass" id="txtConfirmaPass" required/>
							<p class="help-block"></p>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns text-right">
                                                    <button class="small button" type="button" id="btnActualizarPass" >Actualizar</button>
						</div>
					</div>
			</form>			
		</div>
	</div>
    </fieldset>
<?php 
if($id_perfil == $config['constantes']['ID_PERFIL_ALUMNO']) {
?>
    <fieldset>
	<div class="row collapse">
		<div class="large-12 columns">
			<div class="titulo_datos">
				<span class="text-left"><?php echo $this->translate("Mis Grupos");?></span>
			</div>
		</div>
		 <div class="large-12 columns">
			<div class="spacer8"></div>
			 <form class="form-horizontal" id="frmAgregarGrupo" method="post" action="">
                             <input type="hidden" id="urlLigarGrupo" value="<?php echo $this->url('grupos',array('controller'=>'grupos','action'=>'ligaGrupo'));?>" />
				
						<div class = "row collapse" >
                                                        <div class="large-4 columns">
								<input type="text" id="strCodigo" name="strCodigo"  placeholder="Código de grupo" style="text-transform:uppercase"/>
							</div>
							<div class="large-3 columns">
                                                            <button class="small button" type="button" id="btnAgregarGrupo" style="margin-left: 30px;">Ligar</button>
									<p class="help-block"></p>
								<div id="mensajeDinamico" style="display:none;"></div>
							</div>
                                                        <div class="large-4 columns">
							</div>
						</div>
					
			 </form>
		</div>
        <?php 
           if(count($_arrGrupos) > 0) {
        ?>
		<div class="large-12 columns">
			<table style="width: 100%;">
				<thead>
					<tr>
						<th style="text-align: center;"><?php echo $this->translate("Grupo");?></th>
						<th style="text-align: center;"><?php echo $this->translate("Profesor");?></th>
						<th style="text-align: center;"><?php echo $this->translate("Ciclo");?></th>
						<th style="text-align: center;"><?php echo $this->translate("Código de grupo");?></th>
					</tr>
				</thead>
				<tbody>
					<?php
					if($_arrGrupos != false){
						foreach ($_arrGrupos as $grupo){
					?>
						<tr>
							<td style="text-align: center;"><?php echo $grupo['t05descripcion']?></td>
							<td style="text-align: center;"><?php echo $grupo['profesor']?></td>
							<td style="text-align: center;"><?php echo $grupo['t05ciclo']?></td>
							<td style="text-align: center;"><?php echo $grupo['t07codigo']?></td>
						</tr>
					<?php 		
						}
					} 
					?>
				</tbody>
			</table>
			<div class="spacer20"></div>
		</div>
	
<?php
    } else{
?>
       <div class="row collapse">
		<div class="large-12 columns">
			<div class="texto-datos">
				<p class="text-left"><?php echo $this->translate("Aún no tienes grupos ligados o ya no están vigentes, no prodrás aplicar tus evaluaciónes sin pertenecer a un grupo.");?></p>
                                <p class="text-left"><?php echo $this->translate('Debes solicitar el código de grupo a tu profesor y ligarlo.');?></p>
			</div>
		</div>
	</div>
<?php       
    }
?>
    </div>
    </fieldset>
<?php 
} 
?>
    <!--Mis licencias -->
    <fieldset>
    <div class="row collapse">
		<div class="large-12 columns">
			<div class="titulo_datos">
				<span class="text-left"><?php echo $this->translate("Mis Licencias");?></span>
			</div>
		</div>
                <?php 
                if($id_perfil == $config['constantes']['ID_PERFIL_ALUMNO']) { // TODO: En el futuro debe implementarse una activación de licencias sólo para el profesor
                ?>
		 <div class="large-12 columns">
			<div class="spacer20"></div>
                        <form class="form-horizontal" id="frmAgregarLicencia" method="post" action="">
                                <div class="spacer8"></div>
                                <input type="hidden" id="urlActivarLicencia" value="<?php echo $this->url('misdatos', array('controller' => 'misdatos', 'action' => 'activaLicencia')); ?>" />
                                <div class = "row">
                                    <div class = "row collapse" >
                                        <div class="small-12 medium-3 large-3 columns">
                                            <input type="text" id="strCodigoLicencia" name="strCodigoLicencia"  placeholder="Activar nueva licencia" style="text-transform:uppercase"/>
                                        </div>
                                        <div class="small-12 medium-3 large-3 columns">
                                            <button class="small button" type="button" id="btnAgregarLicencia" style="margin-left: 30px;">Activar</button>
                                            <p class="help-block"></p>
                                            <div id="mensajeDinamico" style="display:none;"></div>
                                        </div>
                                        <div class="large-4 columns">

                                        </div>
                                    </div>

                                </div>
                            </form>
		</div>
                <?php 
                //Funcionalidad : validar licencia para el Profesor.
                } elseif ($id_perfil == $config['constantes']['ID_PERFIL_PROFESOR']) {
                ?>
                <div class="large-12 columns">
                    <div class="spacer20"></div>
                    <form class="form-horizontal" id="frmAgregarLicenciaProf" method="post" action="">
                        <div class="spacer8"></div>
                        <div class = "row">
                            <div class = "row collapse" >
                                <div class="small-12 medium-3 large-3 columns">
                                    <input type="text" id="strCodigoLicenciaProf"name="strCodigoLicenciaProf" placeholder="Activar nueva licencia" style="text-transform:uppercase"/>
                                </div>
                                <div class="small-12 medium-3 large-3 columns">
                                    <button class="small button" type="button" id="btnAgregarLicenciaProf" style="margin-left: 30px;">Activar</button>
                                    <p class="help-block"></p>
                                    <div id="mensajeDinamico" style="display:none;"></div>
                                </div>
                                <div class="large-4 columns">

                                </div>
                            </div>

                        </div>
                     </form>
                </div>
                <?php
                }
                ?>
                <div class="large-12 columns">
                    <?php 
                    if(count($_arrUsuarioExamen) > 0) {
                    ?>
			<table border="0" style="width: 100%;">
				<thead>
					<tr>
                                            <?php
                                            if($id_perfil == $config['constantes']['ID_PERFIL_ALUMNO']) {
                                            ?>
						<th style="text-align: center;"><?php echo $this->translate("Examen");?></th>
						<th style="text-align: center;"><?php echo $this->translate("Intentos permitidos");?></th>
                                                <th style="text-align: center;"><?php echo $this->translate("Intento");?></th>
                                            <?php
						}
                                            ?>
						<th style="text-align: center;"><?php echo $this->translate("Licencia");?></th>
                                                <th style="text-align: center;"><?php echo $this->translate("Periodo");?></th>
					</tr>
				</thead>
				<tbody>
					<?php
                                                $i = 0;
                                                foreach ($_arrUsuarioExamen as $examen){
					?>
						<tr>
                                                    <?php
                                                    if($id_perfil == $config['constantes']['ID_PERFIL_ALUMNO']) {
                                                    ?>
                                                        <td><?php echo $examen['t12nombre']?></td>
                                                        <td style="text-align: center;"><?php echo $examen['t12num_intentos']?></td>
                                                        <td style="text-align: center;"><?php echo $examen['num_intentos']?></td>
                                                    <?php
                                                        }
                                                    ?>
							<td style="text-align: center;"><?php echo $examen['t03licencia']?></td>
							<td style="text-align: center;"><?php echo $examen['periodo_vigencia']?></td>
						</tr>
					<?php       $i++;
						}
					?>
				</tbody>
			</table>
			<div class="spacer20"></div>
                    <?php
                    } else {
                        ?>
                        <div class="row collapse">
                            <div class="large-12 columns">
                                <div class="texto-datos">
                                    <span class="text-left"><?php echo $this->translate("No cuentas con una licencia vigente."); ?></span>
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
		</div>
    </fieldset>
</div>
    
	
</div>
<input type="hidden" id="urlRefrescarCuenta" value="<?php echo $this->url('misdatos',array('controller'=>'Usuario','action'=>'cuenta'));?>" />
<input type="hidden" id="urlDesligarGrupo" value="<?php echo $this->url('misdatos',array('controller'=>'Alumnos','action'=>'desligargrupo'));?>"/>
<input type="hidden" id="urlLigarTutor" value="<?php echo $this->url('misdatos',array('controller'=>'Alumnos','action'=>'ligartutor'));?>"/>
<input type="hidden" id="urlDesligarTutor" value="<?php echo $this->url('misdatos',array('controller'=>'Alumnos','action'=>'desligartutor'));?>"/>
<input type="hidden" id="urlAceptarPeticion" value="<?php echo $this->url('misdatos',array('controller'=>'Alumnos','action'=>'aceptarpeticion'));?>"/>
<input type="hidden" id="urlLigarHijo" value="<?php echo $this->url('misdatos',array('controller'=>'Tutor','action'=>'ligarhijo'));?>"/>
<input type="hidden" id="urlUpdtNombre" value="<?php echo $this->url('misdatos',array('controller'=>'misdatos','action'=>'actualizarnombre'));?>" />
<input type="hidden" id="urlUpdtUsuario" value="<?php echo $this->url('misdatos',array('controller'=>'misdatos','action'=>'actualizarusuario'));?>" />
<input type="hidden" id="urlActivarLicenciaProf" value="<?php echo $this->url('misdatos',array('controller' => 'misdatos', 'action' => 'activaLicenciaProfesor'));?>"/>
		<div id="modalPass" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			
			<a class="close-reveal-modal" id="cerrar-reveal" aria-label="Close">&#215;</a>
			<div id="modalQuestion">
				<p class="text-center"><?php echo $this->translate("Para realizar esta acción debes ingresar tu contraseña actual.");?></p>
				
				<form class="form-horizontal">				
					<div class="row collapse " id="grpContPass">
                                            <div class="large-3 columns">&nbsp;</div>
						<div class="large-2 columns">
							<span class="postfix"><?php echo $this->translate("Contraseña Actual");?></span>
						</div>
						<div class="large-4 columns">
							<input type="password" name="strPassActual" id="txtPassActual" />
							<span class="round alert label" id="helpPassActual" style="display: none;"></span>
						</div>
                                            <div class="large-3 columns">&nbsp;</div>
						<div class="large-12 columns" id="loadingPass" style="display: none;">
							<img alt="loading" src="<?php echo $this->basePath()?>/images/loader_back.gif" />Procesando...
						</div>
						<input type="hidden" id="urlActualizarPass" value="<?php echo $this->url('misdatos',array('controller'=>'misdatos','action'=>'actualizarContrasena'));?>" />
					</div>
				</form>
			</div>
			
			<div id="modalSucess" style="display: none;">
				<p><?php echo $this->translate("Tu nueva contraseña ha sido almacenada correctamente.");?></p>
			</div>
			
			
			<div id="modalFootQuestion" class="text-center">
				<button class="small button alert"  id="cerrar-reveal"><?php echo $this->translate('Cancelar')?></button>
				<button class="small button success" id="btnModalPass"><?php echo $this->translate('Confirmar')?> </button>
			</div>
			<div id="modalFootSuccess" style="display: none;">
				<button class="small button success" id="cerrar-reveal"><?php echo $this->translate('Aceptar')?></button>
			</div>
		</div>

                <div id="modalLigar" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <a class="close-reveal-modal" id="cerrar-reveal" aria-label="Close">&#215;</a>
                    <div id="modalLigaSucces" class="text-left" style="display: none;">
                            <p><?php echo $this->translate("Has sido vinculado al grupo exitosamente.");?></p>
                    </div>			
                    <div id="modalLigaError" class="text-left" style="display: none;">
                        <p><?php echo $this->translate("El proceso no se completó, verifica que no estes ya ligado a este grupo, que tu código sea correcto y que esté vigente.");?></p>
                    </div>
                    <div class="large-12 columns" id="loadingLigar">
                            <img alt="loading" src="<?php echo $this->basePath()?>/images/loader_back.gif" /><?php echo $this->translate('Procesando...')?>
                    </div>
                    <div class="large-12 columns" id="modalAjaxError" class="text-left" style="display: none;">
                            <p><?php echo $this->translate('El proceso no se completó, error en la comunicación, por favor comunicate con nuestro sistema de soporte y te ayudaremos.')?></p>
                    </div>
                    <div id="modalBtnAceptar" style="display: none;">
                            <button class="small button success" id="cerrar-reveal-ligar"><?php echo $this->translate('Aceptar')?></button>
                    </div>
		</div>

                <div id="modalActivaLicencia" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <a class="close-reveal-modal" id="cerrar-reveal" aria-label="Close">&#215;</a>
                    <div id="modalActivarSucces" class="text-left" style="display: none;">
                            <p><?php echo $this->translate("Felicidades, tu licencia se activó satisfactoriamente!");?></p>
                    </div>			
                    <div id="modalActivarError" class="text-left" style="display: none;">
                        <p><?php echo $this->translate("El proceso no se completó, verifica que tu licencia está disponible, que tu código sea correcto y que esté vigente.");?></p>
                    </div>
                    <div class="large-12 columns" id="loadingActivar">
                            <img alt="loading" src="<?php echo $this->basePath()?>/images/loader_back.gif" /><?php echo $this->translate('Procesando...')?>
                    </div>
                    <div class="large-12 columns" id="modalAjaxErrorLic" class="text-left" style="display: none;">
                            <p><?php echo $this->translate('El proceso no se completó, error en la comunicación, por favor comunicate con nuestro sistema de soporte y te ayudaremos')?></p>
                    </div>
                    <div id="modalBtnLicenciaAceptar" style="display: none;">
                            <button class="small button success" id="cerrar-reveal-activar"><?php echo $this->translate('Aceptar')?></button>
                    </div>
		</div>

                <div id="modalUpdt" class="reveal-modal" data-reveal aria-labelledby="modalUpdt" aria-hidden="true" role="dialog">
                    <a class="close-reveal-modal" id="cerrar-reveal" aria-label="Close">&#215;</a>
                    <div class="large-12 columns" id="loadingUpdt">
                            <img alt="loading" src="<?php echo $this->basePath()?>/images/loader_back.gif" /><?php echo $this->translate('Procesando...')?>
                    </div>
                    <div id="modalUpdtMensaje" class="text-left" style="display: none;">
                        <p id="UpdtMensaje">
                        <p>
                           <button id="btnAceptar" class="button success "><i class="fa fa-check"></i>  Aceptar</button>
                        </p>  
                    </div>
                    <div class="large-12 columns" id="modalUpdtAjaxError" class="text-left" style="display: none;">
                            <p><?php echo $this->translate('El proceso no se completó, error en la comunicación.')?></p>
                    </div>
                </div>
<?php

$this->headLink ()->prependStylesheet ( $this->basePath () . '/css/layout_global/global.css' );

$this->headScript()		->prependFile($this->basePath() .'/js/misdatos/misdatos.js')
						->prependFile($this->basePath() .'/js/foundation/foundation.reveal.js')
					      //->prependFile($this->basePath() .'/js/jquery.foundation.reveal.js')
                                                //->prependFile($this->basePath() .'/js/codigo.js')
                                               // ->prependFile($this->basePath() .'/js/jquery.min.js')
                                                ->prependFile($this->basePath() .'/js/jquery-ui.js')
                                                ->prependFile($this->basePath() .'/js/validate/jquery.validate.js'); 
?>

