/*Fuentes necesariaas para la actividad*/
@charset "UTF-8";

@font-face {
	font-family:FF-Poppins-SemiBold;
	src:url("../fonts/Poppins-SemiBold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins;
	src:url("../fonts/Poppins-Bold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins-Regular;
	src:url("../fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family:FF-Poppins-Light;
	src:url("../fonts/Poppins-Light.ttf");
}
/*Estilos de la actividad*/
body, html{
    width: 920px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #f2f2f2;
}
body *{
    font-family: FF-Poppins-Light;
    /* Evita seleccion de texto */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-touch-callout: none;
    
    transform: perspective(1px);
}
td, tr, table{
    transform: none;
}
#modal{
    width: 100%; height: 100%;
    background: rgba(0,0,0, 0.8);
    position: fixed; top: 0; left: 0;
    z-index: 2;
    opacity: 1; visibility: visible;
    transition: visibility 0.35s, opacity 0.35s, background 0.5s;
}
#trofeo{
    width: 60vh;
    position: absolute;
    opacity: 0;
    pointer-events: all !important;
    transform: scale(0.25, 0.25);
    top: calc(50% - 30vh); right: calc(50% - 30vh);
    border-radius: 50%;
    box-shadow: 4px 6px 12px rgba(0,0,0, 0.5);
    transition: transform 0.4s, opacity 0.4s, width 0.5s, top 0.5s, right 0.5s;
}
.test #trofeo, .test #estadisticas{
    display: none;
    font-size: 20px !important;
}
#reload{
    border-radius: 50%;
    box-shadow: 4px 6px 12px rgba(0,0,0, 0.5);
    width: 60px; height: 60px;
    position: absolute;
    top: 15px; right: 15px;
    transform: scale(1,1);
    opacity: 1;
    pointer-events: all !important;
    transition: opacity 0.15s, transform 0.15s;
}
#estadisticas{
    width: 100vh;
    height: 10vh;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: calc(100% - 15vh);
    left: calc(50% - 50vh);
    opacity: 1; visibility: visible;
    transition: visibility 0.5s, opacity 0.5s;
    transition-delay: 0.5s;
}
.hidden{
    opacity: 0 !important; visibility: hidden !important;
}
.noHeight{
    overflow: hidden !important;
    height: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#contenidoActividad{
    width: 100%; height: calc(100vh - 12px);
    position: relative; left: 0px;
    z-index: 1;
    overflow: hidden;
}
#contenidoActividad.font18, #contenidoActividad.font18 *{
    font-size: 18px;
}
#contenidoActividad.font19, #contenidoActividad.font19 *{
    font-size: 19px;
}
#contenidoActividad.font21, #contenidoActividad.font21 *{
    font-size: 21px;
}
#contenidoActividad.font22, #contenidoActividad.font22 *{
    font-size: 22px;
}
/*//pregunta de la actividad*/
#preguntaActividad{
    overflow: hidden;
    margin-left: 85px;
    margin-bottom: 15px;
    min-height: 40px;
    font-family: FF-Poppins-Regular;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    width: calc(100% - 100px);
    overflow: visible;
    position: relative;
}
#cuestionMarker{
    background: rgb(239, 125, 0);
    width: 20px; height: 20px;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    left: -35px; top: 0;
}
#preguntaActividad>div>*{
    vertical-align: middle;
}
/*BARRA DE NAVEGACION*/
#barraNav{
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%; height: 55px;
    border-top: solid 12px #E3E3E3;
    bottom: 0;
    background: #E3E3E3;
    box-shadow: 0 -4px 12px rgba(0,0,0, 0.2);
    transition: height 0.35s, border-color 0.35s;
}
#progressBar{
    width: 0%; height: 12px;
    background: rgb(239, 125, 0);
    position: absolute;
    top:-12px; left: 0;
    cursor: pointer;
    transition: height 0.5s, width 0.5s;
}
#buttonsNav{
    width: 100%; height: 100%;
}
#buttonsNav>p{
    display: inline-block;
    width: 150px; height: 100%;
    font-size: 20px;
    color: grey; font-weight: bold;
    line-height: 26PX;
    margin-left: 20px;
    margin-top: 0;
    transform: scale(1, 1);
    opacity: 1;
}
#buttonsNav>div{
    width: 40px; height: 40px;
    border-radius: 50%;
    background: rgb(239, 125, 0);
    position: relative; float: right;
    opacity: 1;
    top: 5px; margin-right: 5px;
    box-shadow: inset 8px 8px 10px rgba(0,0,0, 0.25);
    transition: transform 0.25s, box-shadow 0.25s, opacity 0.25s;
}
#buttonsNav>.off{
    background: darkgrey;
    transform: scale(0.65, 0.65);
    opacity: 0.5;
    box-shadow: inset 2px 2px 6px rgba(0,0,0, 0.1);
}
.barraNavHidden{
    height: 0px !important;
}
.barraNavHidden #buttonsNav{
    display: none;
}
.lock{
    pointer-events: none !important;
}
/*fix sub/sup  tags*/
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 15px !important;
}
sub { 
  top: 0.5em; 
}
.respuestaDrag{
    position: relative;
    z-index: 0;
}
.respuestaDrag.correctAnswer{
    margin: 0 !important;
    z-index: 1 !important;
    position: absolute !important;
    top: 0 !important; left: 0 !important;
    transition: none !important;
}
.dragStop{
    z-index: 1 !important;
}
.dragElement{
    z-index: 2 !important;
}
/*Estilos para preview*/
#preview{
    width: 100%;
    height: 100%;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#iniciar{
    width: 150px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    background: white;
    color: grey;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    box-shadow: 4px 4px 8px rgba(0,0,0, 0.35);
    outline: 0;
}

#iniciar:hover{
    color: rgba(0,0,0, 0.65);
    box-shadow: 4px 4px 12px rgba(0,0,0, 0.5);
}
#iniciar:active{
    color: rgba(0,0,0, 0.8);
    box-shadow:inset 2px 4px 12px rgba(0,0,0, 0.35);
}
.resph{
    display: none !important;
}
/*Estilos para fracciones*/
.fraction, fraction{
    padding: 5px 5px;
    margin-top: -10px;
    display: inline-block;
    text-align: center;
    vertical-align:bottom;
}
.fraction.black *, fraction.black *{
    color: black !important;
    border-color: black !important;
}
.fraction>*:last-child, fraction>*:last-child{
    border-top: 1px solid white;
    display: block;
    padding-top: 4px;
    margin-top: -12px;
    font-size: 18px !important;
    line-height: 18px !important;
}
.fraction>*:first-child, fraction>*:first-child{
    font-size:18px !important;
    line-height:18px !important;
}
/********** Fracciones Verdad Falso ********/
.fractionVerdaderoFalso{
    display: inline-block;
    text-align: center;
}

.topvf, .bottomvf, .fractionVerdaderoFalso{
    padding: 0 5px;
    margin-top: -4px;
}
.bottomvf{
    border-top: 1px solid; 
    border-top-color: inherit;
    padding-top: 4px; 
    overflow: visible;
    display: block;
}

/*añade estilos para tablas*/
.table{
    margin: 0 auto;
    background: #3D6F9C;
    border-spacing: 2px;
    height: 10%;
    max-height: 100%;
    max-width: 100%;
    line-height: 22px;
}
.table td{
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.table tr:nth-child(1)>td{
    background-color:#3d85c6 !important;
    color:white !important;
    font-weight: bold;
    font-size: 20px;
    text-align:center !important;
}
.table tr>td{
    background-color: white;
    color:black;
    font-size:18px;
    text-align:center;
}
.table tr:nth-child(2n+0)>td{
    background-color:#cfe2f3;
    color:black;
    font-size:18px;
    text-align:center;
}
.table img{
    display: block;
    width: auto;
    height: auto;
    padding: 2px;
    max-height: calc(100% - 4px);
    max-width: calc(100% - 4px);
}
.table .contenedor{
    margin: 5px;
}
/*arrastra contenedor/corta*/
#contenedores .columna{
    position: relative;
    border-collapse: collapse;
}
#contenedores .columna, .contenedor{
    z-index: 0;
}
#contenedores .columna td{
    border: 4px solid transparent;
}
    
.onDrag{
    z-index: 100 !important;
}
.prevHIdden{/*oculta los elementos hasta que se carguen totalmente*/
    opacity: 0 !important;
}
/*aplicacion de la bandera tamañoTexto*/
.textSize18, .textSize18 *{
    font-size: 18px !important;
}
.textSize19, .textSize19 *{
    font-size: 19px !important;
}
.textSize21, .textSize21 *{
    font-size: 21px !important;
}
.textSize22, .textSize22 *{
    font-size: 22px !important;
}



/*** Estilos LightBox ***/
#box {
    width: 50px;
    cursor: pointer;
    vertical-align: initial !important;
    margin-top: 8px;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    overflow-y: auto;
    z-index: 2;
}

.box > .internal-box {
    position: absolute;
    width: 86%;
    margin: 5%;
    padding: 2%;
    background-color: #fff;
    top: 0;
    // box-shadow: 0px 0px 15px rgb(128, 128, 128);
    animation-name: animation-box;
    animation-duration: 1s;
    text-align: center;
}

.box > .internal-box > img {
    width: 100%;
}

.box > .internal-box.remove {
    overflow-y: hidden;
    animation-name: animation-box-close;
    animation-duration: 1s;
}

.box.remove {
    animation-name: animation-box-close-opacity;
    animation-duration: 1s;
}

@keyframes animation-box {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes animation-box-close {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        transform: translateY(10%);
    }
}

@keyframes animation-box-close-opacity {
    from {
        background-color: rgba(0, 0, 0, 0.4);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

.btn-box {
    text-align: right;
    width: 10%;
    display: inline-block;
}

.cerrar {
    text-align: right;
    padding-right: 20px;
}

.cerrar > span {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
/*** Fin Estilos LightBox ***/