body, html{
    background: white !important;
}
.navShow{
    height: 60px !important;
    border: 0 !important;
    background: #2689b2 !important;
    text-align: center !important;
    line-height: 60px;
}
.navShow>*{
    display: inline-block;
}
#contenidoActividad{
    height: inherit !important;
    max-height: calc(100% - 60px);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin: 0 !important; padding: 0 !important;
}
#contenidoActividad::-webkit-scrollbar{
    display: none; 
}
/*elementos de navegacion en la actividad*/
#actSelect{
    width: 100px;
    height: 100%;
    border: 0;
    vertical-align: top;
    background: #2689b2;
    font-size: 20px;
    color: white;
    outline: 0 !important;
    font-weight: bold;
    text-align-last:center;
    cursor: pointer;
}
#actSelect option{
    font-size: 16px;
    background: white;
    color: black;
    cursor: pointer;
}
.navShow .button{
    width: 30px;
    height: 30px;
    opacity: 1;
    position: relative;
    cursor: pointer;
    top: calc(50% - 17.5px); left: 0;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px solid transparent;
    background-image: url(../img/icons.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: border 0.15s, background-color 0.35s;
}
#nextAct{
    background-position-x: -117px;
}
#lastAct{
    background-position: -62px;
}
.navShow .button:hover{
    background-color: rgba(255, 255, 255, 0.25) !important;
    border: 5px solid rgba(255, 255, 255, 0.25) !important;
}
.navShow .button:active{
    transform: scale(0.75, 0.75) !important;
    transition: none;
}
#finalizarExamen{
    width: 120px;
    height: 40px;
    position: absolute;
    color: #2689b2;
    font-size: 21px;
    font-weight: bold;
    line-height: 40px;
    background: white;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.15s, color 0.25s;
}
#finalizarExamen:hover{
    color: #fd9c5a !important;
    transform: scale(1.025, 1.025);
}
#finalizarExamen:active{
    color: #fd9c5a !important;
    transform: scale(0.85, 0.85);
}
.evalCuestionMark{
    font-weight: bold !important;
    color: #fd9c5a !important;
}
/*eventos de confirmacion para finalizar el examen*/
#confirmaFinalizar{
    width: 400px;
    height: 100%;
    padding-top: 10px;
    position: absolute;
    top:0; right: 10px;
    opacity: 1;
    transition: right 0.5s, opacity 0.75s;
}
#confirmaFinalizar.hide{
    opacity: 0 !important;;
    right: -400px !important;
}
#confirmaFinalizar>*{
    margin:0; padding: 0;
    display: inline-block;
}
#confirmaFinalizar p{
    width: 300px;
    height: 100%;
    line-height: 22px;
    color: white;
    font-size: 20px;
}
#confirmaFinalizar input{
    width: 40px;
    height: 40px;
    vertical-align: top;
    margin-left: 10px;
    border: 0;
    background: white;
    color: #2689b2;
    font-weight: bold;
    font-size: 18px;
    border-radius:5px;
    transform: scale(1,1);
    outline: none; cursor: pointer;
    transition: transform 0.15s, color 0.25s;
}
#confirmaFinalizar input:hover{
    color: #fd9c5a !important;
    transform: scale(1.1, 1.1);
}
#confirmaFinalizar input:active{
    color: #fd9c5a !important;
    transform: scale(0.75, 0.75);
}
/*Estilos para las respuestas del usuario*/
/*opcion Multiple*/
.OMSelectedEval .eventoClick{
    width: 100%;
    border-left: solid 10px #27a2ce;
    background-color: rgba(39, 162, 206, 0.5);
}
.inciso{
    color:transparent;
    background-color: white;
    box-shadow: inset 0 0 0 2px silver;
    position: relative;
}
.inciso.noRadius{
    border-radius: 5px;
}
.inciso.noRadius:after{
    display: none !important;
}
.OMSelectedEval .inciso{
    background-color: white;
    box-shadow: inset 0 0 0 2px #27a2ce;
}
.OMSelectedEval .inciso.noRadius{
    background-image: url(../img/opcion_multiple_palomita_orangeBase.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.OMSelectedEval .inciso:after{
    content: "";
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    top: 20%; right: 19%;
    background: #27a2ce;
}
/*relaciona lineas*/
.correctAnswer .circuloLineas{
    background: #27a2ce !important;
    border-color: #27a2ce !important;
}
.correctLine{
    stroke: #27a2ce !important;
}

/*arrastra contenedor/corta*/
.contenedorEval{
    overflow: visible !important;
}
.ui-state-highlight{
    box-shadow: inset 0 2px 8px rgba(253, 156, 90, 0.75) !important;
    background-color: #fffa90 !important;
}
.ui-state-highlight .respuestaDrag{
    opacity: 0.65 !important;
}
.dragElement{
    opacity: 1;
    transition: none !important;
    color: white !important;
    box-shadow: 2px 4px 8px rgba(0,0,0, 0.75);
}

#time{
    vertical-align: top;
    width: 100px;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}
