/*Estilos Compartidos*/
@charset "UTF-8";

@font-face {
	font-family:FF-Poppins-SemiBold;
	src:url("../fonts/Poppins-SemiBold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins;
	src:url("../fonts/Poppins-Bold.ttf");
	font-weight:bold;
}

@font-face {
	font-family:FF-Poppins-Regular;
	src:url("../fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family:FF-Poppins-Light;
	src:url("../fonts/Poppins-Light.ttf");
}