<?php echo $this->doctype(); ?>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
  
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<?php echo $this->headTitle('Grupo Educare ' . $this->translate('Diagnósticos Educativos'))->setSeparator(' - ')->setAutoEscape(false) ?>
	<?php
		echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
	?>
	<!-- Le styles -->
	<?php
        $config   = $this->config;    
        $_strPlantillaCSS = $config['constantes']['URL_PLANTILLA_CSS'];
        $_strPlantillaJS = $config['constantes']['URL_PLANTILLA_JS'];
        $_strRutaSitio = $config['constantes']['RUTA_SITIO'];
		echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        		
                        ->prependStylesheet($_strPlantillaCSS)
                        ->prependStylesheet($this->basePath() . '/css/home/home.css')
                        ->prependStylesheet($this->basePath() . '/css/font_awesome/css/font-awesome.min.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
                        ->prependStylesheet($this->basePath() . '/css/foundation.min.css')
		        ->prependStylesheet($this->basePath() . '/css/normalize.css');
   ?>
   <?php
        echo $this->headScript()
                        
                        ->prependFile($this->basePath() . '/js/home/efectoPaginas.js')
        		->prependFile($this->basePath() . '/js/home/menu.js')
		        ->prependFile($this->basePath() . '/js/login/login.js')
                        ->prependFile($this->basePath() . '/js/foundation/foundation.orbit.js')
		        ->prependFile($this->basePath() . '/js/global_layout/inicializar.js')
		        ->prependFile($this->basePAth() . '/js/validate/jquery.validate.js')
                        ->prependFile($_strPlantillaJS .'?id=6112')
                        ->prependFile($this->basePath() . '/js/foundation.min.js')
                        ->prependFile($this->basePath() . '/js/foundation/modernizr.js')
                        ->prependFile($this->basePath() . '/js/jquery-ui.min.js')
                        ->prependFile($this->basePath() . '/js/jquery.min.js');
       
	?>
        
        <?php include_once("analyticstracking.php") ?>
</head>
<body>
<input type="hidden" value='<?php echo $_strRutaSitio; ?>' id="urlSitio"/>
<input type="hidden" value='<?php echo json_encode($arrMsgs); ?>' id="arrMsgs"/>
<!--<nav class="row top-bar hide-for-large hide-for-medium columns ocultar-menu" data-topbar="">
    <ul class="title-area">
        <li class="name">
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a>
        </li>
    </ul>

  <section class="top-bar-section" style="left: 0%;" >
        <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown not-click">
                <a id="abrirModalLogin" href="#">Ingresar</a>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown not-click">
                <a id="abrirModalValidacion" href="#">Registrarse</a>
            </li>
        </ul>
    </section>
</nav>-->
<div class="row fullWidth fixed" style=" z-index: 2;">
   <nav class="top-bar show-for-breakpoint" data-topbar role="navigation" data-options="is_hover: false, sticky_on: large">
  <ul class="title-area" style="list-style: none !important;">
    <li class="name" style="list-style: none;">
        <a class="show" id="inicio" href="#">
            <img class="marginLogo" src="<?php echo $this->basePath('img/home/Logo-DE-final.png');?>" alt="" style="height: 40px !important;" />
        </a>
    </li>
    <li class="toggle-topbar menu-icon medium-horizontal">
        <a href="#"><span>Menu</span></a>
    </li>
  </ul>

  <section class="top-bar-section">
     
    <ul class="right" style="list-style: none !important;">
      <li class="">
          <a href="#pruebas2" id="pruebas" class="show"><i class="fa fa-tablet" aria-hidden="true"></i> Pruebas disponibles</a>
      </li>
      <li class="">
        <a href="#colabora2" id="colabora" class="show"><i class="fa fa-book" aria-hidden="true"></i> Colabora como autor</a>
      
      </li>
      <li class="">
        <a href="#antecedentes2" id="antecedentes" class="show"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Antecedentes</a>
      
      </li>
      <li class="">
        
        <a href="#" id="abrirModalLogin">
            <i class="fa fa-user" aria-hidden="true"></i>
            Ingresar
        </a>
      
      </li>
      <li class="">
        
        <a href="#" id="abrirModalValidacion" >
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Registrarse
        </a>
      
      </li>
    </ul>
  </section>
</nav>
</div>
<!--Menu1-->
<!--<div class="row fullWidth" class="" style="position: fixed; z-index: 2;">
    <div class="large-12 hide-for-small">
        <div class="large-4 medium-4 columns show" id="inicio">
            <img class="marginLogo" src="<?php echo $this->basePath('img/home/Logo-DE-final.png');?>" alt="" />
        </div>
        <div class="large-8 medium-8 columns text-right ">
            <a class="textGral menuDecor show" id="pruebas" href="#">Pruebas disponibles</a>
            <a class="textGral menuDecor show" id="colabora" href="#">Colabora como autor</a>
            <a class="textGral menuDecor show" id="antecedentes" href="#">Antecedentes</a>
            <i class="fa fa-user" aria-hidden="true"></i>
            <a class="textGral" id="abrirModalLogin" href="#">Ingresar</a>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <a  class="textGral" id="abrirModalValidacion" href="#">Registrarse</a>
            
        </div>
    </div>
</div>-->
<!--fin menu1-->

<!--Página de inicio-->
<div class="row fullWidth" id="inicio_Container" style="display: block;">
<div class="row fullWidth">
   <div class="large-12 hide-for-small">
        <div id="featured" data-orbit data-options=" animation: slide;
                  timer_speed: 6000;
                  pause_on_hover: true;
                  animation_speed: 500;
                  navigation_arrows: true;
                  bullets: true;
                  slide_number: false;
                  style='height:650px !important;'">
            
            <img src="<?php echo $this->basePath('img/home/bann3C.png');?>" alt="" />
            <img src="<?php echo $this->basePath('img/home/bann2C.png');?>" alt="" />
            <img src="<?php echo $this->basePath('img/home/bann1C.png');?>" alt="" />
           
        </div>
    </div>
</div>

    <div id="antecedentes2" class="row fullWidth large-12 columns bg-lines-dl2-bg" style="margin-top: -80px!important; margin-bottom: 50px;">
   <div style="text-align: center; margin-top: 20px;">
        <i class="fa fa-child fa-2x" aria-hidden="true" style="color:#215e93;"></i>
        <span class="hTitle">¿Qué es Diagnósticos Educativos?</span>
    </div> 
    <br>
    <div class="large-12 columns large-centered">
        <div class="large-6 columns queDE">
            <span><i class="fa fa-check-square-o fa-2x" aria-hidden="true"  style="color:#215e93;"></i></span>
            Diagnósticos Educativos es una plataforma web que contiene, provee y administra diferentes pruebas y encuestas que son de utilidad para 
           las instituciones educativas, ya que además de evaluar propone estrategias para mejorar 
           los procesos de enseñanza y aprendizaje en función de los resultados obtenidos.
        </div>
        <div class="large-6 columns">
            <img style="margin-right: 30px; margin-bottom: 20px;" class="thumbnail" src="<?php echo $this->basePath('img/home/collageTabletas.png');?>">
        </div>
    </div>
</div>
    <br><br><br>
    <div class="large-12 columns large-centered">
        <div class="large-6 columns ">
            <img style="margin-left: 30px; margin-bottom: 60px;" class="th" src="<?php echo $this->basePath('img/home/definicionDE.jpg');?>">
        </div>
        <div class="large-6 columns queDE">
            <span><i class="fa fa-desktop fa-2x" aria-hidden="true" style="color:#215e93;"></i></span>
                Es una plataforma que facilita la labor del docente en la obtención de información,
                análisis, reporteo y propuesta de estrategias de mejora dejando más tiempo al proceso de acompañamiento a sus alumnos.
                
        </div>
    </div>
</div>
<br><br><br>
<div class="row fullWidth large-12 columns bg-lines-dl2-bg" style="margin-top: -80px!important; margin-bottom: 50px;">
   
    <br>
    <div class="large-12 columns large-centered">
        <div class="large-6 columns queDE">
            <span><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"  style="color:#215e93;"></i></span>
        Las evaluaciones permitirán a los docentes hacer un análisis de sus procesos de enseñanza y aprendizaje con el objetivo de mejorarlos;
        los directivos reconocerán  el estado que ha alcanzado el desarrollo de las competencias de los estudiantes y podrán  confrontarlas con el 
        Proyecto Educativo Institucional, los estudiantes aumentarán sus oportunidades de aprendizaje, ya que el maestro al tener claro qué enseñar y
        conocer los resultados del proceso de enseñanza, el alumno obtiene el beneficio  porque le permite reconocer en qué estado se encuentra y así 
        orientar su aprendizaje; los padres de familia conocerán y darán seguimiento a  los resultados de las evaluaciones de sus hijos.
        Esto contribuye a un mayor compromiso de las familias con el mejoramiento de la calidad.
        </div>
        <div class="large-6 columns">
            <img style="margin-right: 30px; margin-bottom: 20px; margin-top: 25px;" class="th" src="<?php echo $this->basePath('img/home/directivos.jpg');?>">
        </div>
    </div>
</div>

<div class="row titleSubtitulo">
    <div class="large-12 columns textResaltar" style="font-style: italic; text-align: center; margin-top: 24px!important;">
       " Diagnósticos Educativos es una excelente herramienta enfocada a la mejora de procesos que forma parte de la <a href="http://grupoeducare.com/web/todo/todo.html" target="_blank">“Iniciativa TODO”. </a>
        <br/><br/>
        Diagnósticos Educativos es una plataforma “viva” que va creciendo en el tiempo con nuevas evaluaciones, test y encuestas de gran utilidad para las instituciones educativas."
    </div>
</div>  
<hr style="width: 80%; align-content: center; margin-left: auto; margin-right: auto;" class="hr-dash">
<div class="row fullWidth">
    <div id="pruebas2" class="large-12 large-centered columns">
        <h1 class="text-center hTitle"><i class="fa fa-check-square-o" aria-hidden="true" style="color:#215e93;"></i> Pruebas disponibles</h1>
    </div>
</div> 
<div class="row ">
    <div class="large-12 columns large-centered queDE">
        Diagnósticos Educativos es una plataforma “viva” que va creciendo con el tiempo en evaluaciones, test y encuestas.<br>
Se encuentran disponibles en el sitio las siguientes:

    </div>
</div>
<div class="large-12 columns large-centered">
        <div class="large-6 columns ">
            <img style="margin-left: 30px;" class="th" src="<?php echo $this->basePath('img/home/imagen_intellectus.jpg');?>">
        </div>
        <div class="large-6 columns queDE">
          <p class="hSubtitle marginP">Evaluaciones diagnósticas de<br> razonamiento linguístico y lógico-matemático</p>
          <br>
          Serie de pruebas que se aplican a cada alumno de preescolar, primaria, secundaria y bachillerato, que buscan 
          obtener información sobre el nivel de desarrollo de sus procesos mentales, a la luz del razonamiento lingüístico y del razonamiento lógico-matemático
          para que el maestro pueda realizar un trabajo pedagógico y de mediación pertinente con cada alumno durante el ciclo escolar.
          <br/><br>
            <!--<a class="ver-mas text-right show button primary" href="#" id="abrirIntellectus">
               Saber más&nbsp;<i class="fa fa-plus"></i>
            </a>-->
            <a style="position: right;" class="button small primary" href="http://www.certificacionestics.com/examenes/examen/35" target="new"><i class="fa fa-file-text" aria-hidden="true"></i> Ver Exámen Demo</a>
        </div>
</div>
<div class="row ">
</div>
<div class="large-12 columns large-centered">
        <div class="large-6 columns ">
            <img style="margin-left: 30px;" class="th" src="<?php echo $this->basePath('img/home/imagen_ic4.jpg');?>">
        </div>
        <div class="large-6 columns queDE">
          <p class="hSubtitle marginP">Evaluaciones Bimestrales<br> de materias curriculares</p>
          <br>
          Exámenes bimestrales de las materias curriculares de 4° de primaria a 3° de secundaria elaborados para desarrollar competencias y habilidades de pensamiento.
          Para primaria 4°, 5° y 6°, contamos con los exámenes de las materias de español, matemáticas, ciencias naturales, geografía, historia y formación cívica y ética. 
          Para secundaria, las materias de español, matemáticas, ciencias (biología, física y química), geografía, historia y formación cívica y ética.
          <br/><br>
            <!--<a class="ver-mas text-right show" href="#" onclick="return false;" id="abrirTodo">
                Saber más&nbsp;<i class="fa fa-plus"></i>
            </a>-->
            <a id="colabora2" style="position: right;" class="button small primary" href="http://www.certificacionestics.com/examenes/examen/34" target="new"><i class="fa fa-file-text" aria-hidden="true"></i> Ver Exámen Demo</a>
        </div>
</div>

<!--termina página de inicio-->
<!--Colabora como autor-->
<hr style="width: 80%; align-content: center; margin-left: auto; margin-right: auto;" class="hr-dash">
<div class="row" id="colabora_Container" style="display: none;">
<div class="row" >
    <div class="large-12 columns">
        <h1 class="text-center hTitle"> Autores</h1>
    </div>
</div> 
<div class="row">
    <div class="large-12 columns queDE">
    Diagnósticos Educativos es una plataforma "viva" que con el tiempo va creciendo en evaluaciones, test y encuestas. 
    Te invitamos a formar parte del equipo de autores de la plataforma. <br><br>
    Si eres autor de alguna evaluación, test o encuesta probada, contáctanos para negociar el esquema que más convenga a ambos.
<br><br>
    
    Opciones de adquirir evaluaciones: <br><br>
    
    Compra de los derechos. <br>
    <span class="queDE">
      Negociamos un precio de la evaluación dependiendo del número de reactivos, complejidad de éstos y la oferta existente en el mercado.
    </span><br><br>
    Renta de los derechos <br>
    <span class="queDE">
        Si tu deseo es no deshacerte de los derechos de la evaluación y deseas comercializar personalmente o rentarla a otras empresas o personas,
        ésta es una buena opción para tí. Negociamos una renta anual que nos dará
        el derecho de usarla tantas veces requiramos y tú conservas los derechos y la posibilidad de rentarla o licenciarla a otras personas o empresas.
    </span><br><br>
   Obra por encargo<br>
   <span class="queDE">
       Si eres una persona con capacidades para desarrollar una evaluación te contratamos para desarrollarla, pilotearla y estandarizarla. 
       Los derechos serán nuestros y recibirás un pago por tu trabajo.
   </span><br><br>
   Pago de comisión<br>
   <span class="queDE">
       Si tienes una evaluación estandarizada y reconocida en el medio y consideras que puede representar muchas ventas, podemos 
       colocarla en nuestra plataforma en la sección de evaluaciones individuales y pagarte comisiones cada vez que se adquiera. 
       En este modelo nosotros fungimos como promotores y comercializadores aprovechando nuestra red de distribuidores que atienden a 
       más de 2 mil colegios particulares en México, Centro y Sur de América.
    </span>
   <span class="queDE"> 
   Si tienes dudas o deseas más información, contáctanos. Es una gran oportunidad de obtener ingresos residuales.
   </span>
   
    </div>
</div>
</div>
<!--Colabora-->
<div class="row" id="colabora_Container2" style="display: block;">
<div class="row" >
    <div class="large-12 columns">
        <h1 class="text-center hTitle"><i class="fa fa-book" aria-hidden="true"  style="color:#215e93;"></i> Colabora como autor</h1>
    </div>
</div> 
<div class="row">
    <div class="large-12 columns queDE">
    Si eres autor de alguna evaluación, test o encuesta probada, o sabes cómo hacerlas, contáctanos, te ofrecemos los siguientes esquemas:
    <br><br>
    <i class="fa fa-check" aria-hidden="true"></i> Compra de los derechos. <br>
    <i class="fa fa-check" aria-hidden="true"></i> Renta de los derechos. <br>
    <i class="fa fa-check" aria-hidden="true"></i> Obra por encargo. <br>
    <i class="fa fa-check" aria-hidden="true"></i> Pago de comisión.<br><br>

    <!--<a class="ver-mas" href="#" id="masColaboora">Saber más<i class="fa fa-plus"></i> </a>-->
    <a style="position: right;" class="button small primary" href="#">Saber más <i class="fa fa-plus"></i></a>
    </div>
</div>
</div>
<!--Fin Colabora-->

<!--página antecedentes-->
<div id="antecedentes_Container" style="display: none;">
<div class="row">
    <div class="large-12 columns">
        <h1 class="text-center hTitle"> Las evaluaciones educativas son herramientas que nos permiten</h1>
    </div>
</div> 
<br>
<div class="row fullWidth small-up-2 large-12">
    <div class="large-4 text-center column">
    <img class="thumbnail" src="<?php echo $this->basePath('img/home/ni1.png');?>">
    <br><hr>
    <span class="queDE" style="padding: 16px">Conocer los estilos de aprendizaje de los alumnos. </span>
    </div>
    <div class=" large-4 text-center column">
    <img class="thumbnail" src="<?php echo $this->basePath('img/home/ni2.png');?>">
     <br><hr>
    <span class="queDE" style="padding: 16px"> Identificar la capacidad de los alumnos para afrontar situaciones o problemas reales aprovechando lo aprendido en la escuela.</span>
    </div>
    <div class="large-4 text-center column">
    <img class="thumbnail" src="<?php echo $this->basePath('img/home/ni3.png');?>">
   <br><hr>
    <span class="queDE" style="padding: 16px"> Medir y comparar el rendimiento de los estudiantes para evaluar el impacto de las decisiones en la estrategia educativa.</span>
    </div>
</div>
<br><br>
<div class="row fullWidth small-up-2 large-12">
    <div class="large-6 text-center column">
    <img class="thumbnail" src="<?php echo $this->basePath('img/home/ni4.png');?>">
    <br><hr>
    <span class="queDE" style="padding: 16px">Ofrecer información detallada que permita a la institución adoptar las decisiones y estrategias necesarias para mejorar su nivel educativo. </span>
    </div>
    <div class=" large-6 text-center column">
    <img class="thumbnail" src="<?php echo $this->basePath('img/home/ni5.png');?>">
   <br><hr>
    <span class="queDE" style="padding: 16px">Proporcionar datos fidedignos para estudios de investigación que permitan el análisis de estos resultados para proponer mejores estrategias en el campo educativo.</span>
</div>
</div>
<br>

<div class="row titleSubtitulo">
    <div class="large-12 columns textResaltar" style="font-style: italic; text-align: center; margin-top: 24px!important;">
       "La megatendencia del uso de tecnología en la educación ha hecho costumbre que las evaluaciones se realicen en computadoras o dispositivos 
       conectados a Internet debido a las ventajas que esto ofrece como obtener los resultados en tiempo real, llevar una mejor administración de 
       las evaluaciones, menor uso del papel, acelerar el tiempo de las interpretaciones y poder entregar resultados más rápido.”
        <br/><br/>
       Obtener información, analizarla, interpretarla, generar reportes y estrategias de mejora,  todo es posible con Diagnósticos Educativos.
    </div>
</div>  
<br><br>

</div>
<!-- termina página antedecedentes-->

<!--Pagina pruebas disponibles-->
<div id="pruebas_Container" style="display: none;">
    <div class="row large-8 columns large-centered">
       <div style="text-align: center;">
                    <i class="fa fa-child fa-2x" aria-hidden="true" style="color:#4c4c4c;"></i>
                    <span class="hTitle">Pruebas disponibles</span>
        </div> 
        <br>
        <div class="large-12 columns titleSubtitulo">
           <br>
            <span class="queDE">
               Diagnósticos Educativos es una plataforma “viva” que va creciendo con el tiempo en evaluaciones, test y encuestas. 
               Se encuentran disponibles en el sitio las siguientes:
            </span>
        </div>
        <div class="large-12 columns titleSubtitulo">
           <br>

                Evaluaciones diagnósticas de razonamiento lingüístico y lógico-matemático. <br>
            <span class="queDE">
    Se trata de una variedad de pruebas digitales que se aplican a cada alumno de preescolar, primaria, secundaria y bachillerato, 
    éstas buscan obtener información previa sobre el nivel de desarrollo de sus procesos mentales, a la luz del razonamiento lingüístico
    y del razonamiento lógico-matemático para que el maestro pueda realizar un trabajo pedagógico y de mediación pertinente con cada alumno durante el ciclo escolar.
    <br><br> 	    
    Estas pruebas se aplican al inicio del ciclo escolar en un salón con computadoras o dispositivos móviles (Tabletas) .
    A cada alumno se le asigna una clave con la cual se registran y tienen acceso a las pruebas, éste accede a la prueba que le corresponde 
    y contesta la evaluación de manera individual. En el caso de preescolar y primero de primaria, la aplicación puede ser dirigida por el maestro.
    <br> <br> 
    Los resultados se procesan de manera automática de tal forma que los alumnos tienen una calificación inmediata y, a partir de los resultados obtenidos,
    el sistema genera las gráficas comparativas entre alumnos, grupos y grados que pueden ser consultados por maestros y personal directivo.
    <br> <br> 
    Los indicadores que se evalúan en las pruebas en función del área de desarrollo son:

            </span>
        </div>
    </div>
<br><br>
<div class="row fullWidth"  class="DivPattern" style="padding: 8px;">
<div class="row centered">
    <table style="margin-left: auto;margin-right: auto; font-family: 'Lato', sans-serif !important; ">
  <thead>
    <tr>
      <th>Categorías/Áreas de desarrollo</th>
      <th>Subcategorías</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Razonamiento Verbal</td>
      <td>
          <ul>
              <li> Absurdos</li>
              <li> Analogías</li>
              <li> Significados de palabras</li>
              <li> Antónimos y sinónimos</li>
              <li> Campos semánticos</li>
          </ul>
      </td>
      
    </tr>
    <tr>
      <td>Razonamiento lógico matemático</td>
      <td>
          <ul>
              <li> Orientación espacial</li>
              <li> Cálculo matemático</li>
              <li> Resolución de problemas</li>
              <li> Analogías numéricas</li>
              <li> Secuencias gráficas, alfabéticas y numéricas</li>
          </ul>
      </td>
      
    </tr>
   <tr>
      <td>Lectura de comprensión literaria y científica</td>
      <td>
           <ul>
              <li> Vocabulario en contexto</li>
              <li> Identificar ideas claveálculo matemático</li>
              <li> Comprender argumentaciones</li>
              <li> Hacer conclusiones</li>
              <li> Identificar intenciones comunicativas</li>
          </ul>
      </td>
      
    </tr>
  </tbody>
</table>
</div>
</div>
<br><br>
<div class="row">
    <div class="large-12 columns titleSubtitulo">
       <br>
      Evaluaciones Bimestrales de materias curriculares.<br>
        <span class="queDE">
Exámenes bimestrales de las materias curriculares de 4° de primaria a 3° de secundaria elaborados para desarrollar competencias y habilidades de pensamiento.
Para primaria 4°, 5° y 6°, contamos con los exámenes de las materias de español, matemáticas, ciencias naturales, geografía, historia y formación cívica y ética. 
Para secundaria, las materias de español, matemáticas, ciencias (biología, física y química), geografía, historia y formación cívica y ética. 
<br><br> 	    
En un modelo por competencias se debe evitar la práctica de evaluar contenidos. No obstante, la necesidad de verificar el logro de los aprendizajes 
esperados a través de un examen de respuesta única sigue vigente por la objetividad del instrumento y por la necesidad que tienen las instituciones
educativas de contar con exámenes independientes que permitan verificar el perfil de egreso. Es por ello que Grupo Educare pone a disposición de los 
docentes y coordinadores académicos una plataforma donde se puede acceder a exámenes bimestrales interactivos y de retroalimentación inmediata.

<br> <br> 
Estos exámenes han sido preparados por expertos en cada materia curricular quienes se alejan de la práctica de evaluar conocimientos y preparan exámenes
donde los alumnos utilizan grados superiores en la taxonomía como el análisis, la síntesis y la evaluación de los contenidos.

<br> <br> 
Los reactivos han sido cuidadosamente elaborados para desarrollar competencias y habilidades de pensamiento. Los alumnos enfrentarán situaciones de la vida real
y para solucionarlas deberán utilizar los conocimientos y no solo recordarlos.

        </span>
    </div>
    <div class="large-12 columns titleSubtitulo">
       <br>
      ¿Cada cuando se aplican y para qué propósitos?
<br>
        <span class="queDE">
            Las evaluaciones bimestrales de materias curriculares pueden ser utilizadas de acuerdo a los objetivos de evaluación que se persiguen.<br>

Como evaluación formativa, cuando el profesor programa el examen en fechas previas al fin de cada bimestre con el propósito de identificar 
hasta qué punto sus alumnos han alcanzado los objetivos de aprendizaje. A partir de los resultados alcanzados por los alumnos, 
el profesor puede llevar a cabo acciones remediales como volver a enseñar el tema en que la mayoría de los alumnos alcanzaron un grado de precisión deficiente.<br>	    
Como evaluación sumativa, donde la institución establece el examen como parte integrante de la calificación bimestral.
Este examen por lo regular, se mantiene secreto a los alumnos y en ocasiones a los mismos profesores, para cuidar su validez y 
confiabilidad como instrumento de medición del logro de los objetivos de aprendizaje.
<br> <br> 
<span class="titleSubtitulo">Disponibilidad</span>

<br> <br> 

Los exámenes están disponibles en la plataforma Diagnósticos Educativos. Los maestros son asesorados para formar grupos 
y programar exámenes que no tendrán que calificar ellos mismos gracias a que aprovechando la tecnología aplicada a la educación, 
cada alumno ingresa con usuario y contraseña que lo identifica; presenta un examen con una combinación de respuestas diferente a 
la de sus compañeros aunque con el mismo reactivo y grado de dificultad para guardar objetividad.
<br> <br>

A solicitud del colegio, estos exámenes están disponibles para su descarga en formato pdf.
De esta manera el instrumento puede ser utilizado de la forma tradicional impresa. 
El profesor contará con una hoja de respuestas para facilitar el proceso de calificado.

Las evaluaciones bimestrales de materias curriculares ofrecen un estándar de logro. 
De igual manera que las pruebas censales como PLANEA de la SEP, estos exámenes pueden ser utilizados 
por escuelas asociadas para comparar el logro de sus alumnos frente a aquél de los alumnos de la escuela hermana 
gracias a que son exámenes objetivos y estandarizados. El número de reactivos varía dependiendo de la materia en cuestión. 
Cuando la carga horaria es elevada como es el caso de español y matemáticas, los exámenes aumentarán en extensión.
        </span>
    </div>
</div>
<!-- termina pruebas disponibles-->
</div>
<!--<div class="row fullWidth large-12 videoTestimoniales">
   
    <div class="large-8 columns large-centered">
        <div class="large-5 medium-6 small-12 columns titleSubtitulo">
            <div style="float:left;">
                <i class="fa fa-child" aria-hidden="true" style="color:#FFFFFF;"></i>
                <span class="hTitleImg">¿Qué es?</span>
            </div> 
            <br>
             <i class="fa fa-youtube-play fa-3x margen-video" aria-hidden="true" style="color:#FFFFFF;" id="abrirModalVideo" style="float:left;"></i>
            
         </div>
        <div class="large-7 medium-6 small-12 columns titleSubtitulo separador-lateral">
            <i class="fa fa-comments" aria-hidden="true" style="color:#FFFFFF;"></i>
            <span class="hTitleImg">Testimoniales</span>
            <br>
                <h4 class="textQuees">Con Diagnósticos Educativos me percaté que mi hijo tiene talentos que no conocía. Ahora puedo ayudarle a desarrollar esos talentos. El conocer cuál es nuestro estilo de crianza nos ayudó a mejorar aspectos familiares y eso es de gran valor para nosotros.
 <br>Rosalba Juarez | mamá de alumno 6° de primaria.
                </h4><hr class="hr-dash">
                <h4 class="textQuees">El conocer los estilos de aprendizaje de cada uno de los alumnos me ayuda a orientar mis esfuerzos 
                      de enseñanza para apoyarlos en su aprendizaje. 
                      Utilizando estrategias diferenciadas he visto un avance en el aprovechamiento en el grupo.
 <br>Roberto Astuniano | profesor de grupo.
                </h4><hr class="hr-dash">
                <h4 class="textQuees">Con las encuestas y evaluaciones hemos conocido las razones que motivan a los papás a seguir en el colegio,
                       hemos detectado que servicios son los que más les llama la atención y de esta forma vamos a destinar los recursos
                       de una forma más certera para lograr retener alumnos y aumentar la matrícula.
 <br>Jacaranda Pineda | directora general.
                </h4>
        </div>
        
    
        </div>
</div>-->


<!--<div class="row fullWidth large-12 background-footer">
    
    <div class="large-3 small-12 column">
    
        <h5 class="titleFooter"><i class="fa fa-child fa-2x" aria-hidden="true" style="color:#FFFFFF !important;"></i>&nbsp;&nbsp;&nbsp;Empresa</h5><hr>
    
     <ul class="textFooter">
                 <li>
                     <a class="foot spacer"  href="http://grupoeducare.com/web/empresa.html" target="_blank">
             ¿Quiénes somos?
             </a>
            
        </li>
        <li>
            <a class="foot spacer"  href="http://grupoeducare.com/web/empresa.html#bloc-alianzas" target="_blank">
            Alianzas
            </a>
        </li>
        <li>
            <a class="foot spacer" href="http://grupoeducare.com/web/empresa.html#bloc-vision" target="_blank">
            Visión, Misión y Valores
            </a>
        </li>
        <li>
            <a class="foot" href="http://grupoeducare.com/web/empresa.html#bloc-presencia" target="_blank">
            Presencia Internacional
            </a>
        </li>
        <li>
       
            <a class="foot" href="http://grupoeducare.com/web/empresa.html#bloc-testimoniales" target="_blank">
            Testimoniales
            </a>
        </li>
        <li>
       
             <a class="foot" href="http://www.portalge.grupoeducare.com/dist_autorizados.aspx" target="_blank">
            Distribuidores Autorizados
            </a>
        </li>
        
    </ul>
    </div>
    <div class="large-2 small-12 column">
   
    <h5 class="titleFooter"><i class="fa fa-globe fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Sitios</h5><hr>
    <ul class="textFooter">
        <li>
            <a class="foot" href="http://ondemand.grupoeducare.com/index.php" target="_blank">
           On Demand
            </a>
        </li>
        <li>
            <a class="foot" href="http://www.edutype.com/website/" target="_blank">
            Edutype
            </a>
        </li>
        <li>
            <a class="foot" href="http://pdp.grupoeducare.com/" target="_blank">
            PDP
            </a>
        </li>
        <li>
            <a class="foot" href="http://huevokids.com/" target="_blank">
          Huevokids
            </a>
        </li>
        <li>
            <a class="foot" href="http://www.swo.educaredigital.com/" target="_blank">
            SwOnline
            </a>
        </li>
        <li>
            <a class="foot" href="http://educarespadre.com/" target="_blank">
          Educar es Padre
            </a>
        </li>
        <li>
            <a class="foot" href="http://ecampuseducare.com/" target="_blank">
          e-Campus
            </a>
        </li>
        <li>
            <a class="foot" href="http://www.certificacionestics.com/" target="_blank">
          Diagnósticos Educativos
            </a>
        </li>
        <li>
            <a class="foot" href="https://www.testingprogram.com.mx/" target="_blank">
          Testing Program
            </a>
        </li>
        <li>
            <a class="foot" href="http://portalge.grupoeducare.com/" target="_blank">
          Portal GED
            </a>
        </li>
        <li>
            <a class="foot" href="http://hubbleged.educaredigital.com/recursos_distribuidores/" target="_blank">
          Zona de Recursos
            </a>
        </li>
        <li>
            <a class="foot" target="_blank">
          e-commerce TODO
            </a>
        </li>
        <li>
            <a class="foot" href="http://nimbusged.com/" target="_blank">
          Nimbus GED
            </a>
        </li>
        
    </ul>
    </div>
    <div class=" large-2 small-12 column">
 
        <h5 class="titleFooter"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Síguenos</h5><hr>
    <ul class="textFooter">
        <li>
            <a class="foot" href="https://twitter.com/GrupoEducare" target="_blank">
            Twitter
            </a>
        </li>
        <li>
            <a class="foot" href="https://www.facebook.com/GrupoEducare" target="_blank">
          Facebook
            </a>
        </li>
        <li>
            <a class="foot" href="https://www.youtube.com/user/GrupoEducare" target="_blank">
            Youtube
            </a>
        </li>
        <li>
            <a class="foot" href="https://www.instagram.com/grupoeducare/" target="_blank">
            Instagram
            </a>
        </li>
        
    </ul>
    </div>
    <div class=" large-2 small-12 column">
 
    <h5 class="titleFooter"><i class="fa fa-comments fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Asistencia técnica </h5><hr>
    <ul class="textFooter">
                <li> 
                    <a  class="foot" href="http://soporte.grupoeducare.com/main/" target=_blank>
            Soporte
            </a>
            
        </li>
        <li>
            <a class="foot" href="mailto:soporte@grupoeducare.com" target=_blank>
           Contacto
            </a>
        </li>
        <li>
            <a class="foot" href="http://ecampuseducare.com/"target=_blank>
            Capacitación
            </a>
        </li>
        <li>
            <a class="foot" href="" target=_blank>
            Blog Chanel Update
            </a>
        </li>
        <li>
            <a class="foot" href="" target=_blank>
            Blog Prensa
            </a>
        </li>
    </ul>
    </div>
        
   <div class=" large-3 small-12 column">
 
    <h5 class="titleFooter"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Colabora con nosotros </h5><hr>
    <ul class="textFooter">
                <li> 
                    <a  class="foot" href="http://grupoeducare.com/colabora#bolsa" target="_blank">
            Bolsa de trabajo
            </a>
            
        </li>
        <li>
            <a  class="foot" href="http://grupoeducare.com/colabora#cont" target="_blank">
          Oportunidad para Freelancer
            </a>
        </li>
        <li>
            <a class="foot" href="http://grupoeducare.com/colabora#dist" target="_blank">
            Oportunidad de distribución
            </a>
        </li>
       
    </ul>
    </div>     
    </div>    -->
<div class="row fullWidth">
    <iframe style="border-width: inherit; overflow: hidden;" class="embed-responsive-item" src="http://grupoeducare.com/web/footer.html" name="footer" width="100%" height="445px" framedorber="0" scrolling="no"></iframe>
    
</div>
<!--fin footer pasado-->
<!--inicio Footer - bloc-5-->
<!--<div class="bloc  d-bloc" id="bloc-4">
    <iframe class="embed-responsive-item" src="../index/footer.html" name="footer" width="100%" height="390px" framedorber="0"></iframe>
</div>-->
<!-- Footer - bloc-5 END -->
	<!-- Formulario para iniciar sesion -->
	<div id="modalLogin" class='reveal-modal tiny radius' data-reveal>
		<div class="row text-center">
                    <h2 class="hTitleLogin">Bienvenido</h2>  
                    <h4 class="textGral">Inicia sesión</h4>
	               <?php
		               $columnas  = $usuario->obtenerColumnasUsuario();
		               $formLogin = $this->formLogin;
		               $formLogin->setAttribute('action', $this->url('login',array('controller'=>'login','action'=>'iniciarsesion')));
		               $formLogin->prepare();
		               echo $this->form()->openTag($formLogin);
		               
		               echo $this->formRow($formLogin->get($columnas[3]));
		               echo $this->formRow($formLogin->get($columnas[4]));
		               echo $this->formSubmit($formLogin->get('submit'));
		               echo $this->formRow($formLogin->get('resetcontrasena'));
		            //   echo $this->formRow($formLogin->get('logeoPortalGE'));
		               ?>
                    <div class="hidden-for-small large-8 centered columns text-center" style="float: none !important;">
			               <?php 
			               echo $this->formRow($formLogin->get('logeoFacebook')
                                                ->setAttribute('class','fa fa-facebook-official fa-2x large-4 columns circleRedes'));
			               echo $this->formRow($formLogin->get('logeoTwitter')
                                               ->setAttribute('class','fa fa-twitter-square fa-2x large-4 columns circleRedes'));
			               echo $this->formRow($formLogin->get('logeoGoogle')
                                               ->setAttribute('class','fa fa-google-plus fa-2x large-4 columns circleRedes'));
			               ?>
			           </div>
		               <div class="show-for-small">
		               	   <?php 
			               echo $this->formRow($formLogin->get('logeoFacebook')
                                                    ->setAttribute('class','fa fa-facebook-official fa-1x small-4 columns small'));
			               echo $this->formRow($formLogin->get('logeoTwitter')
                                                    ->setAttribute('class','fa fa-twitter-square fa-1x small-4 columns small info'));
			               echo $this->formRow($formLogin->get('logeoGoogle')
                                                    ->setAttribute('class','fa fa-google-plus fa-1x small-4 columns small alert'));
			               ?>
		               </div>
            	<?php echo $this->form()->closeTag(); ?>
	    </div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	<!-- Formulario para iniciar sesion -->
	
	<!-- Formulario para validar licencias -->
	<div id="modalValidacion" class='reveal-modal tiny radius' data-reveal>
	      <div class="large-12 small-12 columns text-center">
	      	<h2 class="hTitleLogin">Registro</h2>
              <?php
                 $form = $this->form;
                 $form->setAttribute('id', 'frmLicencias');
                 $form->prepare();
                 echo $this->form()->openTag($form);
                 echo $this->formRow($form->get('codigogrupo'));
                 echo $this->formRow($form->get('licenciaexamen'));
                 echo $this->formRow($form->get('validarcodigos'));
                 echo $this->formRow($form->get('urlValidarCodigos')
						   ->setAttribute('value', $this->url('login',array('controller'=>'login','action'=>'validarcodigos'))));
                 echo $this->form()->closeTag();
               ?>
          
                <input type="checkbox" class="large-12 small-12 columns" style="float: none !important;" name="checkboxprofesor"> Soy profesor<br>
	      </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
        
        <!-- Formulario recuperar contraseña-->
        <div id="modalRecuperaContrasena" class='reveal-modal tiny radius' data-reveal>
	      <div class="large-12 small-12 columns text-center">
	      	<h4>Recupera contraseña</h4>
              <?php
                 $form = $this->form;
                 $form->setAttribute('id', 'frmRecuperaContrasena');
                 $form->prepare();
                 echo $this->form()->openTag($form);
                 echo $this->formRow($form->get('contrasenarecupera'));
                 echo $this->formRow($form->get('recuperacontrasena'));
               //  echo $this->formRow($form->get('recuperacambialic'));
//                 echo $this->formRow($form->get('urlRecuperaContrasena')
//						   ->setAttribute('value', $this->url('login',array('controller'=>'login','action'=>'validarcodigos'))));
               echo $this->form()->closeTag();
               ?>
              
                <input type="hidden" id="urlRecuperaPass" value="<?php echo $this->url('login',array('controller'=>'login','action'=>'recupera-pass'));?>" />
                 <input type="hidden" id="urlRecuperaPass" value="<?php echo $this->url('login',array('controller'=>'login','action'=>'recupera-pass-lic'));?>" />
	      </div>
                            <!--
        /*/*/*/
        
        -->
         <div id="imgLoadingRecuperar"
                         style="display: none; text-align: center;">
                        <img alt="Procesando..."
                             src="<?php echo $this->basePath();?>/images/loader_back.gif" />Procesando...
                    </div>
                 <div class="modal-body">
                <div id="_Msg"></div>
                </div>

						
            <!--
        /*/*/*/
        
        -->
                   
	    <a class="close-reveal-modal">&#215;</a>
	</div>

        <!-- Formulario recuperar contraseña por licencia-->
        <div id="modalRecuperaContrasenaLic" class='reveal-modal tiny radius' data-reveal>
	      <div class="large-12 small-12 columns text-center">
	      	<h4>Recupera contraseña</h4>
              <?php
                 $form = $this->form;
                 $form->setAttribute('id', 'frmRecuperaContrasenalic');
                 $form->prepare();
                 echo $this->form()->openTag($form);
                 echo $this->formRow($form->get('contrasenarecuperalic'));
                 echo $this->formRow($form->get('recuperacontrasenalic'));
              //   echo $this->formRow($form->get('recuperacambiaCorreo'));
//                 echo $this->formRow($form->get('urlRecuperaContrasena')
//						   ->setAttribute('value', $this->url('login',array('controller'=>'login','action'=>'validarcodigos'))));
                echo $this->form()->closeTag();
               ?>
                <input type="hidden" id="urlRecuperaPass" value="<?php echo $this->url('login',array('controller'=>'login','action'=>'recupera-pass'));?>" />
                 <input type="hidden" id="urlRecuperaPasslic" value="<?php echo $this->url('login',array('controller'=>'login','action'=>'recupera-passlic'));?>" />
	      </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
        
        
	<!-- Formulario para validar licencias -->
        <!-- vista de infografias -->
	<div id="modalIntellectus" class='reveal-modal large' data-reveal>
	      <div class="large-12 small-12 columns text-center">
                 <img src="<?php echo $this->basePath('img/home/infogIntellectus.jpg');?>" alt="" />
                 <hr class="hr-dash"/><br/>
                <div class="row">
                    <div class="large-4 columns">
                        <a href="examenes/examen/36" class="button round" id="btnMostrarExamenDemo">ver examen demo</a>
                    </div>
                    <div class="large-4 columns">
                        <input type="button" class="button round" id="" value="ver reporte individual" />
                    </div>
                    <div class="large-4 columns">
                        <input type="button" class="button round" id="" value="ver reporte grupal" />
                    </div>
                 </div>
              </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
        <div id="modalIC" class='reveal-modal large' data-reveal>
	      <div class="large-12 small-12 columns text-center">
	      	<img src="<?php echo $this->basePath('img/home/infogTODO.jpg');?>" alt="" />
                <hr class="hr-dash"/><br/>
                <div class="row">
                    <div class="large-4 columns">
                        <a href="examenes/examen/35" class="button round" id="btnMostrarExamenDemo">ver examen demo</a>
                    </div>
                    <div class="large-4 columns">
                        <input type="button" class="button round" id="" value="ver reporte individual" />
                    </div>
                    <div class="large-4 columns">
                        <input type="button" class="button round" id="" value="ver reporte grupal" />
                    </div>
                 </div>
	      </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
	<!-- vista de infografias -->
        <!--Vista para PyM-->
        <div id="modalPyMDE" class='reveal-modal tiny radius' data-reveal>
	      <div class="large-12 small-12 columns text-center">
                 <iframe class="iframeVideoHome" src="https://www.youtube.com/embed/dp1oGCP7CTo" frameborder="0" allowfullscreen=""></iframe>
              </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
        <!-- fin de PyM-->
	
	<!-- MsgModal para los mensajes flash o para los mensajes desde javascript-->
    <div id="msgModal" class="reveal-modal" data-reveal>
		<?php 
			if ($this->flashMessenger()->hasMessages()) 
			{
			    $messages = $this->flashMessenger()->getMessages();
			    foreach($messages as $message) 
			    {
			        echo '<h3>'.$message.'</h3>';
			    }
			}
		?>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	<!-- MsgModal para los mensajes flash o para los mensajes desde javascript-->
	
	
	<!-- Formulario para registrar usuarios-->
	<div id="modalRegistro" class='reveal-modal tiny radius' data-reveal>
	      <div class="large-12 small-12 columns text-center">
	      	<h4>Registro</h4>
              <?php
                 $columns	= $usuario->obtenerColumnasUsuario();
                 $formReg 	= $this->form;
                 $formReg->setAttribute('id'	, 'frmUsuarios');
                 $formReg->setAttribute('action', $this->url('login',array('controller'=>'login','action'=>'registrarusuario')));
                 $formReg->prepare();
                 
                 echo $this->form()->openTag($formReg);
                 echo $this->formRow($formReg->get('verlicenciaexamen'));
                 echo $this->formRow($formReg->get('vercodigogrupo'));
                 echo $this->formHidden($formReg->get('idPaquete'));
                 echo $this->formRow($formReg->get($columns[1]));
                 echo $this->formRow($formReg->get($columns[2]));
                 echo $this->formRow($formReg->get($columns[3]));
                 echo $this->formRow($formReg->get($columns[4]));
                 echo $this->formRow($formReg->get($columns[7]));
                 echo $this->formRow($formReg->get($columns[8]));
                 echo $this->formRow($formReg->get($columns[13]));
                 echo $this->formRow($formReg->get('confPass'));
                 echo $this->formRow($formReg->get('registrate')); 
                 echo $this->formRow($formReg->get('yatengocorreo')); 
                 echo $this->formRow($formReg->get('botonCancelar'));
               
                 ?>
                 <div id="redes-sociales">
	                  <div class="hidden-for-small">
				           <?php 
                                        echo $this->formRow($formReg->get('registroFacebook'));
			                echo $this->formRow($formReg->get('registroTwitter'));
			                echo $this->formRow($formReg->get('registroGoogle'));
				           ?>	               			
			           </div>
		               <div class="show-for-small">
		               	   <?php 
                                   
                                   
			               	echo $this->formRow($formReg->get('registroFacebook')->setAttribute('class','fa fa-facebook-official fa-1x small-4 columns small'));
			               	echo $this->formRow($formReg->get('registroTwitter')->setAttribute('class','fa fa-twitter-square fa-1x    small-4 columns small info'));
			               	echo $this->formRow($formReg->get('registroGoogle')->setAttribute('class','fa fa-google-plus fa-1x 	  small-4 columns small alert'));
			               	?>
		               </div>
                 </div>
                 		            
             <?php 
                 echo $this->form()->closeTag();
              ?>
	      </div>
	    <a class="close-reveal-modal">&#215;</a>
	</div>
	<!--fin formulario para registrar usuarios-->
       <script>
  $(document).foundation({
    accordion: {
      callback : function (accordion) {
        console.log(accordion);
      }
    }
  });
</script>
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//cdn.zopim.com/?1BsbfJ4c9m7EPwVGSXTxHmVJz0dcOhXB';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>

<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37854201-1']);
        _gaq.push(['_trackPageview']);
        (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
</script>





	</body>
</html>
